{% comment %}
    Renders an article card for a given blog with settings to either show the image or not.

    Accepts:
    - article: {Object} Article object
    - show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default
    - date_classes: {String} Tailwind CSS classes
    - author_classes: {String} Tailwind CSS classes
    - card_classes: {String} Tailwind CSS classes
    - image_classes: {String} Tailwind CSS classes
    - title_classes: {String} Tailwind CSS classes
    - tag_classes: {String} Tailwind CSS classes
    - excerpt_classes: {String} Tailwind CSS classes
    - link_classes: {String} Tailwind CSS classes
    - exceprt_length: {Number} Length to truncate exceprt to, default: 20

    Usage:
    {% render 'article-card', article: article, show_image: section.settings.show_image %}
{% endcomment %}

<article class="article-card{% if card_classes != blank %} {{ card_classes }}{% endif %}" aria-labelledby="Article-{{ article.id }}">
  {%- if show_image == true and article.image -%}
    <a href="{{ article.url }}" class="block">
      <img
        srcset="{{ article.image.src | image_url: width: 200 }} 1x, {{ article.image.src | image_url: width: 400 }} 2x"
        src="{{ article.image.src | image_url: width: 400 }}"
        alt="{{ article.image.src.alt | escape }}"
        width="{{ article.image.width }}"
        height="{{ article.image.height }}"
        loading="lazy"
        class="{{ image_classes }}"
      >
    </a>
  {%- endif -%}

    <div>
      <header>
        <span class="{{ tag_classes }}">
          {{ article.tags | join: ', ' }}
        </span>
        <h2 class="{{ title_classes }}" id="Article-{{ article.id }}">
          {{ article.title | escape }}
        </h2>
        <span class="{{ date_classes }}">
          {{- article.published_at | time_tag: format: 'abbreviated_date' -}}
        </span>
        <span class="{{ author_classes }}">{{ article.author -}}</span>
      </header>
      {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
        <p class="{{ excerpt_classes }}">
          {%- liquid
            if exceprt_length == blank
              assign truncate_length = 20
            else
              assign truncate_length = exceprt_length
            endif
          -%}
          {%- if article.excerpt.size > 0 -%}
            {{ article.excerpt | strip_html | truncatewords: truncate_length }}
          {%- else -%}
            {{ article.content | strip_html | truncatewords: truncate_length }}
          {%- endif -%}
        </p>
      {%- endif -%}
      <a class="{{ link_classes }}" href="{{ article.url }}">Read more</a>
    </div>
</article>
