{% comment %}
    Renders an article card for a given blog with settings to either show the image or not.

    Accepts:
    - article: {Object} Article object
    - unique_id: {String} Additional unique id for use when multiple of the same article block appear on a page (optional)
    - show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default
    - large_image: {Boolean} Show a larger image (for main featured article)
    - date_classes: {String} Tailwind CSS classes
    - author_classes: {String} Tailwind CSS classes
    - card_classes: {String} Tailwind CSS classes
    - image_classes: {String} Tailwind CSS classes
    - image_aspect: {String} Percent-based (in X:X format, divide 2nd value by 1st)
    - title_classes: {String} Tailwind CSS classes
    - tag_classes: {String} Tailwind CSS classes
    - excerpt_classes: {String} Tailwind CSS classes
    - link_classes: {String} Tailwind CSS classes
    - text_wrapper_classes: {String} Tailwind CSS classes
    - image_wrapper_classes: {String} Tailwind CSS classes
    - exceprt_length: {Number} Length to truncate exceprt to, default: 20

    Usage:
    {% render 'article-card', article: article, show_image: section.settings.show_image %}
{% endcomment %}

<article class="article-card{% if card_classes != blank %} {{ card_classes }}{% endif %}" aria-labelledby="Article-{{ article.id }}{{ unique_id }}">
  {%- if show_image == true and article.image -%}
    <a
      href="{{ article.url }}"
      class="cursor-pointer hover:opacity-80 motion-safe:transition-opacity block{% if image_aspect != blank %} w-full relative {{ image_aspect }}{% endif %}{% if image_wrapper_classes != blank %} {{ image_wrapper_classes }}{% endif %}"
    >
      {%- liquid
        if large_image
          assign image_2x_size = 1200
          assign image_1x_size = 600
        else
          assign image_2x_size = 600
          assign image_1x_size = 300
        endif
      -%}
      <img
        srcset="{{ article.image.src | image_url: width: image_1x_size }} 1x, {{ article.image.src | image_url: width: image_2x_size }} 2x"
        src="{{ article.image.src | image_url: width: image_2x_size }}"
        alt="{{ article.image.src.alt | escape }}"
        width="{{ article.image.width }}"
        height="{{ article.image.height }}"
        loading="lazy"
        class="{{ image_classes }}{% if image_aspect != blank %} absolute inset-0 object-cover{% unless image_classes contains 'object-' %} object-center{% endunless %} min-w-full min-h-full{% endif %}"
      >
    </a>
  {%- endif -%}

    <div class="{{ text_wrapper_classes }}">
      <header>
        <strong class="{{ tag_classes }}">
          {{ article.tags | join: ', ' }}
        </strong>
        <h2 class="{{ title_classes }}" id="Article-{{ article.id }}{{ unique_id }}">
          {{ article.title | escape }}
        </h2>
        <span class="{{ date_classes }}">
          {{- article.published_at | time_tag: format: 'abbreviated_date' -}}
        </span>
        <span class="{{ author_classes }}">{{ article.author -}}</span>
      </header>
      {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
        <p class="{{ excerpt_classes }}">
          {%- liquid
            if exceprt_length == blank
              assign truncate_length = 20
            else
              assign truncate_length = exceprt_length
            endif
          -%}
          {%- if article.excerpt.size > 0 -%}
            {{ article.excerpt | strip_html | truncatewords: truncate_length }}
          {%- else -%}
            {{ article.content | strip_html | truncatewords: truncate_length }}
          {%- endif -%}
        </p>
      {%- endif -%}
      <a class="{{ link_classes }}" href="{{ article.url }}" aria-label="Read more of {{ article.title }} blog">Read more</a>
    </div>
</article>
