{% comment %}
    Renders an article card for a given blog with settings to either show the image or not.

    Accepts:
    - article: {Object} Article object
    - show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default
    - date_classes: {String} Tailwind CSS classes
    - author_classes: {String} Tailwind CSS classes
    - card_classes: {String} Tailwind CSS classes
    - image_classes: {String} Tailwind CSS classes
    - title_classes: {String} Tailwind CSS classes
    - excerpt_classes: {String} Tailwind CSS classes

    Usage:
    {% render 'article-card', article: article, show_image: section.settings.show_image %}
{% endcomment %}

<article class="article-card{% if card_classes != blank %} {{ card_classes }}{% endif %}" aria-labelledby="Article-{{ article.id }}">
  <a href="{{ article.url }}" class="block">
    {%- if show_image == true and article.image -%}
      <img
        srcset="{%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
          {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
          {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
          {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
          {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
          {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
          {{ article.image.src | image_url: width: 5760 }} {{ article.image.src.width }}w"
        src="{{ article.image.src | image_url: width: 533 }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
        alt="{{ article.image.src.alt | escape }}"
        width="{{ article.image.width }}"
        height="{{ article.image.height }}"
        loading="lazy"
        class="{{ image_classes }}"
      >
    {%- endif -%}

    <div class="article-card__info">
      <header class="article-card__header">
        <h2 class="{{ title_classes }}" id="Article-{{ article.id }}">
          {{ article.title | escape }}
        </h2>
        <span class="{{ date_classes }}">
          {{- article.published_at | time_tag: format: 'abbreviated_date' -}}
        </span>
        <span class="{{ author_classes }}">{{ article.author -}}</span>
      </header>
      {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
        <p class="{{ excerpt_classes }}">
          {%- if article.excerpt.size > 0 -%}
            {{ article.excerpt | strip_html | truncatewords: 30 }}
          {%- else -%}
            {{ article.content | strip_html | truncatewords: 30 }}
          {%- endif -%}
        </p>
      {%- endif -%}
    </div>
  </a>
</article>
