{% comment %}
  Renders a product card for the bundle builder

  Accepts:
  - product: {Object} Product Liquid object (required)
  - variant: {Object} Override default variant (optional)
  - name: {String} Card type name (required)

  Usage:
  {% render 'bundle-card', product: section.settings.product %}
{% endcomment %}

{%- liquid
  if variant != blank
    assign card_product = variant
    assign variant_id = variant.id
  elsif product.variants.size == 1
    assign card_product = product
    assign variant_id = product.selected_or_first_available_variant.id
  else
    assign card_product = product.selected_or_first_available_variant
    assign variant_id = product.selected_or_first_available_variant.id
  endif

  assign default_image_src = card_product.featured_media | image_url: width: 328
  assign default_image_src_2x = card_product.featured_media | image_url: width: 656
-%}

<div
  class="bundle-card flex"
  data-variant-id="{{ variant_id }}"
  data-product-handle="{{ product.handle }}"
  data-price="{{ card_product.price }}"
>
  <input type="radio" id="Input-{{ variant_id }}" class="hidden peer" name="{{ name }}">
  <div class="group flex flex-col bg-white rounded-md relative z-0 p-1 transition-all peer-checked:shadow-seaweed-700/10 border border-transparent peer-checked:shadow-lg peer-checked:border-seaweed-400 peer-checked:z-10">
    <modal-opener data-modal="#ByobModal">
      <button class="flex flex-col relative" aria-haspopup="dialog">
        {% comment %} theme-check-disable RemoteAsset {% endcomment %}
        <img
          srcset="{% render 'imgix', src: default_image_src %} 1x, {% render 'imgix', src: default_image_src_2x %} 2x"
          src="{% render 'imgix', src: default_image_src_2x %}"
          alt="{{ product.featured_media.alt | escape }}"
          loading="lazy"
          width="{{ product.featured_media.width }}"
          height="{{ product.featured_media.height }}"
          id="ByobImage-{{ product.id }}"
          class="block bg-wave-100"
        >
        {% comment %} theme-check-enable RemoteAsset {% endcomment %}
        <svg class="h-5 w-5 text-wave-100 absolute bottom-1 left-1" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <circle fill="#D4E1DE" cx="12" cy="12" r="10" />
          <line x1="12" y1="16" x2="12" y2="12" />
          <line x1="12" y1="8" x2="12.01" y2="8" />
        </svg>
      </button>
    </modal-opener>
    <div class="info small:hidden mt-1 text-left">
      <div class="rating flex items-center mb-1">
        {% render 'product-rating', product: product, hide_count: true, classes: 'h-5' %}
        <span aria-hidden="true" class="text-xs ml-1 font-book">({{ review_count }})</span>
      </div>
      <h3 class="leading-none mb-1 font-book tracking-wide">{{ product.title }}</h3>
      <small class="block leading-none mt-1.5">{{ product.metafields.custom_fields.short_description }}</small>
    </div>
    {% render 'price', product: card_product, bundle: true, price_class: "mt-auto mb-1 font-medium tracking-wide" %}
    <label for="Input-{{ variant_id }}" data-name="{{ name }}" class="byob-add-to-bundle button button-sm button-tertiary w-full group-peer-checked:bg-seafoam-200">
      <span class="group-peer-checked:hidden">Add</span>
      <span class="hidden group-peer-checked:inline">Added!</span>
    </label>
  </div>
</div>