{% comment %}
  Accepts:
  - promo_tile_image: {ImageDrop} Liquid image object
  - promo_tile_url: {String} Link to promo tile destination (optional)
  - promo_tile_video: {VideoDrop} Liquid video object (optional)

  Usage:
  {% render 'collection-promo-tile', promo_tile_image: collection.metafields.image.url %}
{% endcomment %}

{%- if promo_tile_image != blank -%}
  {%- liquid
    assign promo_tile_image_master = promo_tile_image | image_url
    assign promo_tile_sizes = '(min-width: 1024px) 20vw, (min-width: 640px) 33vw, 50vw'
  -%}
  {%- if promo_tile_url != blank -%}
    <a href="{{ promo_tile_url }}" class="block absolute inset-0 plp-tile-clickarea">
  {%- else -%}
    <div>
  {%- endif -%}
  {% comment %}theme-check-disable RemoteAsset {% endcomment %}
  <img
    srcset="
      {% render 'imgix', src: promo_tile_image_master, w: 320 %} 320w,
      {% render 'imgix', src: promo_tile_image_master, w: 480 %} 480w,
      {% render 'imgix', src: promo_tile_image_master, w: 640 %} 640w,
      {% render 'imgix', src: promo_tile_image_master, w: 960 %} 960w,
      {% render 'imgix', src: promo_tile_image_master, w: 1200 %} 1200w
    "
    src="{% render 'imgix', src: promo_tile_image_master, w: 480 %}"
    sizes="{{ promo_tile_sizes }}"
    alt="{{ promo_tile_image.alt }}"
    width="{{ promo_tile_image.width }}"
    height="{{ promo_tile_image.width | divided_by: promo_tile_image.aspect_ratio | round }}"
    class="absolute inset-0 object-cover object-center h-full w-full"
  >
  {% comment %}theme-check-enable RemoteAsset {% endcomment %}
  {%- if promo_tile_url != blank -%}
    </a>
  {%- else -%}
    </div>
  {%- endif -%}
{%- endif -%}

{%- if promo_tile_video != blank -%}
  <div class="h-full relative promo-tile-video">
    <video class="h-full w-full object-cover" playsinline autoplay muted loop controls poster="{{ promo_tile_video.value.preview_image | image_url: width: 480 }}">
      {%- for source in promo_tile_video.sources -%}
        {% comment %} theme-check-disable RemoteAsset {% endcomment %}
        <source src="{{ source.url }}" type="video/{{ source.format }}" />
        {% comment %} theme-check-enable RemoteAsset {% endcomment %}
      {%- endfor -%}
      <img
        src="{{ promo_tile_video.preview_image | image_url: width: 480 }}"
        alt=""
        width="{{ promo_tile_video.preview_image.width }}"
        height="{{ promo_tile_video.preview_image.width | divided_by: promo_tile_video.value.preview_image.aspect_ratio | round }}"
        loading=lazy
      >
    </video>
    {%- if promo_tile_url != blank -%}
      <a href="{{ promo_tile_url }}" class="button button-white py-1.5 absolute bottom-2 xs:bottom-4 w-36 left-1/2 -translate-x-1/2 plp-tile-clickarea">
        {{- 'Shop now' -}}
      </a>
    {%- endif -%}
  </div>
{%- endif -%}
