{% comment %}
  Accepts:
  - promo_tile_image: {ImageDrop} Liquid image object
  - promo_tile_url: {String} Link to promo tile destination (optional)
  - promo_tile_video: {VideoDrop} Liquid video object (optional)

  Usage:
  {% render 'collection-promo-tile', promo_tile_image: collection.metafields.image.url %}
{% endcomment %}

{%- if promo_tile_image != blank -%}
  {%- if promo_tile_url != blank -%}
    <a href="{{ promo_tile_url }}" class="block absolute inset-0 plp-tile-clickarea">
  {%- else -%}
    <div>
  {%- endif -%}
  <img
    srcset="{{ promo_tile_image | image_url: width: 300 }} 1x, {{ promo_tile_image | image_url: width: 600 }} 2x"
    src="{{ promo_tile_image | image_url: width: 600 }}"
    alt="{{ promo_tile_image.alt }}"
    width="{{ promo_tile_image.width }}"
    height="{{ promo_tile_image.width | divided_by: promo_tile_image.aspect_ratio | round }}"
    class="absolute inset-0 object-cover object-center h-full w-full"
  >
  {%- if promo_tile_url != blank -%}
    </a>
  {%- else -%}
    </div>
  {%- endif -%}
{%- endif -%}

{%- if promo_tile_video != blank -%}
  <div class="h-full relative promo-tile-video">
    <video class="h-full w-full object-cover" playsinline autoplay muted loop controls poster="{{ promo_tile_video.value.preview_image | image_url: width: 480 }}">
      {%- for source in promo_tile_video.sources -%}
        {% comment %} theme-check-disable RemoteAsset {% endcomment %}
        <source src="{{ source.url }}" type="video/{{ source.format }}" />
        {% comment %} theme-check-enable RemoteAsset {% endcomment %}
      {%- endfor -%}
      <img
        src="{{ promo_tile_video.preview_image | image_url: width: 480 }}"
        alt=""
        width="{{ promo_tile_video.preview_image.width }}"
        height="{{ promo_tile_video.preview_image.width | divided_by: promo_tile_video.value.preview_image.aspect_ratio | round }}"
        loading=lazy
      >
    </video>
    {%- if promo_tile_url != blank -%}
      <a href="{{ promo_tile_url }}" class="button button-white py-1.5 absolute bottom-2 xs:bottom-4 w-36 left-1/2 -translate-x-1/2 plp-tile-clickarea">
        {{- 'Shop now' -}}
      </a>
    {%- endif -%}
  </div>
{%- endif -%}