{% comment %}
  Accepts:
  - promo_tile_image: {ImageDrop} Liquid image object
  - promo_tile_url: {String} Link to promo tile destination (optional)

  Usage:
  {% render 'collection-promo-tile', promo_tile_image: collection.metafields.image.url %}
{% endcomment %}

{%- if promo_tile_image != blank -%}
  {%- if promo_tile_url != blank -%}
    <a href="{{ promo_tile_url }}" class="block absolute inset-0 plp-tile-clickarea">
  {%- else -%}
    <div>
  {%- endif -%}
  <img
    srcset="{{ promo_tile_image | image_url: width: 300 }} 1x, {{ promo_tile_image | image_url: width: 600 }} 2x"
    src="{{ promo_tile_image | image_url: width: 600 }}"
    alt="{{ promo_tile_image.value.alt }}"
    width="{{ promo_tile_image.value.width }}"
    height="{{ promo_tile_image.value.width | divided_by: promo_tile_image.value.aspect_ratio | round }}"
    loading=lazy
    class="absolute inset-0 object-cover object-center h-full w-full"
  >
  {%- if promo_tile_url != blank -%}
    </a>
  {%- else -%}
    </div>
  {%- endif -%}
{%- endif -%}
