{% comment %}
  Renders product grid for collection page

  Accepts:
  - collection: {Object} Collection or Search object (required)
  - products_per_page: {Number} Number of products to display before paginating (required)
  - is_subcollection: {Boolean} Default: false, Is this a subcollection (optional)
  - is_first_subcollection: {Boolean} Default: false, Is this the first subcollection (optional)
  - parent_collection: {Boolean} Default: blank, If is subcollection, what is parent collection (optional)

  Usage:
  {% render 'collection-product-grid', collection: collection %}
{% endcomment %}

{%- paginate collection.products by products_per_page -%}
  {%- if collection.products.size == 0 -%}
    <div class="collection collection--empty relative" id="product-grid-{{ collection.id }}" data-id="{{ collection.id }}">
      <div class="title-wrapper center">
        <h2 class="title title--primary">
          {{ 'sections.collection_template.empty' | t }}<br>
          {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underline" }}
        </h2>
      </div>
    </div>
  {%- else -%}
    <div class="collection relative">
      <div id="product-grid-{{ collection.id }}" data-id="{{ collection.id }}">
        <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-x-2 gap-y-8 sm:gap-x-4">
          {%- liquid
            if parent_collection.metafields.my_fields.featured_products != blank
              assign no_featured_products = false
            else
              assign no_featured_products = true
            endif

            if is_subcollection and is_first_subcollection == false
              assign is_first_grid = false
            else
              assign is_first_grid = true
            endif

            if is_subcollection
              assign promo_tile_image = parent_collection.metafields.custom.promo_tile_image
              assign promo_tile_video_portrait = parent_collection.metafields.custom.promo_tile_video_portrait
              assign promo_tile_video_landscape = parent_collection.metafields.custom.promo_tile_video_landscape
              assign promo_tile_url = parent_collection.metafields.custom_fields.promo_tile_url
            else
              assign promo_tile_image = collection.metafields.custom.promo_tile_image
              assign promo_tile_video_portrait = collection.metafields.custom.promo_tile_video_portrait
              assign promo_tile_video_landscape = collection.metafields.custom.promo_tile_video_landscape
              assign promo_tile_url = collection.metafields.custom_fields.promo_tile_url
            endif
          -%}
          {%- if promo_tile_image != blank and no_featured_products and is_first_grid -%}
            <li class="relative overflow-hidden">
              {%- if promo_tile_url != blank -%}
                <a href="{{ promo_tile_url }}" class="block h-full">
              {%- else -%}
                <div>
              {%- endif -%}
              {%- if promo_tile_video_portrait != blank -%}
                {% assign video_poster_url = promo_tile_image | image_url: width: 480 %}
                <collection-video class="block h-full video:h-full video:object-cover">
                  <div class="vertical-video h-full video:h-full video:w-full video:object-cover">
                    {{ promo_tile_video_portrait.value | video_tag: image_size: '480x', autoplay: true, loop: true, muted: true, defaultMuted: true, controls: true }}
                  </div>
                  <div class="horizontal-video invisible fixed z-20 rounded-lg bottom-2 left-2 w-64 md:w-80 lg:w-96 overflow-hidden opacity-0 motion-safe:transition-visibility shadow-lg shadow-seaweed-700/20">
                    <button class="video-close absolute z-30 right-1 top-1 rounded-full bg-white/75 border border-seaweed-700 before:block before:absolute before:w-10 before:h-10 before:-left-2.5 before:-top-2.5">
                      {%- render 'icon-close', classes: 'w-5 h-5', stroke_width: 2 -%}
                    </button>
                    {{ promo_tile_video_landscape.value | video_tag: image_size: '768x', autoplay: true, loop: true, muted: true, defaultMuted: true, controls: true }}
                  </div>
                </collection-video>
              {%- else -%}
                <img
                  srcset="{{ promo_tile_image | image_url: width: 300 }} 1x, {{ promo_tile_image | image_url: width: 600 }} 2x"
                  src="{{ promo_tile_image | image_url: width: 600 }}"
                  alt="{{ promo_tile_image.value.alt }}"
                  width="{{ promo_tile_image.value.width }}"
                  height="{{ promo_tile_image.value.width | divided_by: promo_tile_image.value.aspect_ratio | round }}"
                  loading=lazy
                  class="absolute inset-0 object-cover object-center min-h-full"
                >
              {%- endif -%}
              {%- if promo_tile_url != blank -%}
                </a>
              {%- else -%}
                </div>
              {%- endif -%}
            </li>
          {%- endif -%}
          {%- for product in collection.products -%}
            <li>
              {% render 'product-card',
                card_product: product,
                section_id: collection.id,
                image_class: 'pt-2',
                button_class: 'h-10 sm:h-auto flex-col sm:flex-row py-1 sm:py-2 button-sm sm:button-md leading-none sm:leading-normal md:px-3 md:tracking-wider lg:px-4'
                default_to_mini: collection.metafields.my_fields.default_to_mini
              %}
            </li>
          {%- endfor -%}
        </ul>
      </div>

      {%- if paginate.pages > 1 -%}
        {% render 'pagination', paginate: paginate, anchor: '' %}
      {%- endif -%}
    </div>
  {%- endif -%}
{%- endpaginate -%}
