{% comment %}
  Renders product grid for collection page

  Accepts:
  - collection: {Object} Collection or Search object (required)
  - products_per_page: {Number} Number of products to display before paginating (required)
  - is_subcollection: {Boolean} Default: false, Is this a subcollection (optional)
  - is_first_subcollection: {Boolean} Default: false, Is this the first subcollection (optional)
  - parent_collection: {Boolean} Default: blank, If is subcollection, what is parent collection (optional)
  - show_reviews: {Boolean} Default: false, Enables reviews badge on product tiles

  Usage:
  {% render 'collection-product-grid', collection: collection %}
{% endcomment %}

{%- paginate collection.products by products_per_page -%}
  {%- if collection.products.size == 0 -%}
    <div class="collection collection--empty relative" id="product-grid-{{ collection.id }}" data-id="{{ collection.id }}">
      <div class="title-wrapper center">
        <h2 class="title title--primary">
          {{ 'sections.collection_template.empty' | t }}<br>
          {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underline" }}
        </h2>
      </div>
    </div>
  {%- else -%}
    <div class="collection relative">
      <div id="product-grid-{{ collection.id }}" data-id="{{ collection.id }}">
        <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-x-2 gap-y-8 sm:gap-x-4">
          {%- liquid
            if collection.handle == 'exclude-from-site'
              assign hide_atc = true
              assign remove_linking = true
            else
              assign hide_atc = false
              assign remove_linking = false
            endif

            if parent_collection.metafields.my_fields.featured_products != blank
              assign no_featured_products = false
            else
              assign no_featured_products = true
            endif

            if is_subcollection and is_first_subcollection == false
              assign is_first_grid = false
            else
              assign is_first_grid = true
            endif

            if is_subcollection
              assign promo_tile_image = parent_collection.metafields.custom.promo_tile_image
              assign promo_tile_video_portrait = parent_collection.metafields.custom.promo_tile_video_portrait
              assign promo_tile_video_landscape = parent_collection.metafields.custom.promo_tile_video_landscape
              assign promo_tile_url = parent_collection.metafields.custom_fields.promo_tile_url
            else
              assign promo_tile_image = collection.metafields.custom.promo_tile_image
              assign promo_tile_video_portrait = collection.metafields.custom.promo_tile_video_portrait
              assign promo_tile_video_landscape = collection.metafields.custom.promo_tile_video_landscape
              assign promo_tile_url = collection.metafields.custom_fields.promo_tile_url
            endif

            if promo_tile_image != blank or promo_tile_video_portrait != blank
              assign has_promo_content = true
            else
              assign has_promo_content = false
            endif
          -%}
          {%- if has_promo_content and no_featured_products and is_first_grid -%}
            <li class="relative overflow-hidden">
              {%- render 'collection-promo-tile',
                promo_tile_image: promo_tile_image,
                promo_tile_video_portrait: promo_tile_video_portrait,
                promo_tile_video_landscape: promo_tile_video_landscape,
                promo_tile_url: promo_tile_url
              -%}
            </li>
          {%- endif -%}
          {%- for product in collection.products -%}
            <li>
              {%- render 'product-card',
                card_product: product,
                section_id: collection.id,
                image_class: 'pt-2',
                button_class: 'h-10 sm:h-auto flex-col sm:flex-row py-1 sm:py-2 button-sm sm:button-md leading-none sm:leading-normal md:px-3 md:tracking-wider lg:px-4'
                default_to_mini: collection.metafields.my_fields.default_to_mini,
                subscription: collection.metafields.custom.default_to_subscription,
                show_reviews: show_reviews,
                hide_atc: hide_atc,
                remove_linking: remove_linking
              -%}
            </li>
          {%- endfor -%}
        </ul>
      </div>

      {%- if paginate.pages > 1 -%}
        {% render 'pagination', paginate: paginate, anchor: '' %}
      {%- endif -%}
    </div>
  {%- endif -%}
{%- endpaginate -%}
