{% comment %}
    Accepts:
    - level: {Number} 1, 2, 3, 4, 5, 6
    - text: {String} text to display in the header
    - classes: {String} (optional) string of TailwindCSS classnames

    Usage:
    {% render 'header', product: product %}
{% endcomment %}

{% case level %}
  {% when 1 %}
    <h1 class="{{ classes }}">{{ text }}</h1>
  {% when 2 %}
    <h2 class="{{ classes }}">{{ text }}</h2>
  {% when 3 %}
    <h3 class="{{ classes }}">{{ text }}</h3>
  {% when 4 %}
    <h4 class="{{ classes }}">{{ text }}</h4>
  {% when 5 %}
    <h5 class="{{ classes }}">{{ text }}</h5>
  {% when 6 %}
    <h6 class="{{ classes }}">{{ text }}</h6>
{% endcase %}