{% comment %}
  Renders facets (filtering and sorting)

  Accepts:
  - results: {Object} Collection or Search object
  - enable_filtering: {Boolean} Show filtering when true
  - enable_sorting: {Boolean} Show sorting when true
  - filter_type_mobile: {String} 'inline' or 'drawer' style for mobile
  - filter_type_desktop: {String} 'inline' or 'drawer' style for desktop
  - paginate: {Object}

  Usage:
  {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, paginate: paginate %}
{% endcomment %}

{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}

<div class="relative mb-4">  
  {%- if filter_type_mobile == 'inline' or filter_type_desktop == 'inline' -%}
    {% comment %}  Inline filter {% endcomment %}
    <facet-filters-form class="inline-facets facets transition-opacity{% if filter_type_mobile == 'drawer' %} hidden{% endif %}{% if filter_type_desktop == 'inline' %} sm:block{% endif %}">
      <form id="FacetFiltersForm" class="flex flex-wrap gap-2 sm:gap-6 justify-between">
        {%- if results.terms -%}
          <input type="hidden" name="q" value="{{ results.terms | escape }}">
          <input name="options[prefix]" type="hidden" value="last">
        {%- endif -%}

        {% if enable_filtering %}
          {% comment %} Heading is the first tabbable element on filter type inline {% endcomment %}
          <div id="FacetsWrapperInline" class="flex flex-wrap items-center gap-1 relative">
            {%- if results.filters != empty -%}
              <h2 class="text-sm font-medium sr-only xs:not-sr-only" id="verticalTitle" tabindex="-1">
                {{- 'products.facets.filter_by_label' | t -}}
              </h2>
            {%- endif -%}

            {% comment %} Filters {% endcomment %}
            {%- for filter in results.filters -%}
              {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
              <details
                id="Details-{{ filter.param_name | escape }}-{{ section.id }}"
                class="js-filter group"
                data-index="{{ forloop.index }}"
              >
                <summary
                  class="facets__summary flex justify-between items-center gap-1 input input-sm tracking-normal whitespace-nowrap pr-1 xs:pr-1.5 cursor-pointer group-open:before:content-[''] group-open:before:fixed group-open:before:inset-0 group-open:before:z-10"
                  aria-label="{{ filter.label | escape }} ({{ 'products.facets.filters_selected.one' | t: count: filter.active_values.size }})"
                >
                  <span class="leading-4 text-sm font-book">{{ filter.label | escape }}</span>
                  {% render 'icon-chevron', aria_hidden: true, classes: 'w-4 h-4 -rotate-90 -mb-px', stroke_width: 2 %}
                </summary>
                <div
                  id="Facet-{{ forloop.index }}-{{ section.id }}"
                  class="absolute z-20 pt-1 min-w-40"
                >
                  <div class="bg-white border border-seaweed-400 rounded">
                    {% case filter.type %}
                      {% when 'boolean', 'list' %}
                        <div class="flex justify-between items-center p-2 border-b border-seaweed-400">
                          <span class="font-medium whitespace-nowrap">
                            {{- 'products.facets.filters_selected' | t: count: filter.active_values.size -}}
                          </span>
                          <facet-remove>
                            <a href="{{ filter.url_to_remove }}" class="link">
                              {{ 'products.facets.reset' | t }}
                            </a>
                          </facet-remove>
                        </div>
                        <fieldset class="facets-wrap p-2 max-h-72 overflow-y-auto">
                          <legend class="sr-only">{{ filter.label | escape }}</legend>
                          {%- liquid
                            assign sorted_values = filter.values
                            # Keep the selected values grouped together when operator is AND
                            if filter.operator == 'AND'
                              assign active_filter_values = filter.values | where: 'active', true
                              assign inactive_filter_values = filter.values | where: 'active', false
                              assign sorted_values = active_filter_values | concat: inactive_filter_values
                            endif
                          -%}
                          <ul role="list">
                            {%- for value in sorted_values -%}
                              {% liquid
                                assign input_id = 'Filter-' | append: filter.param_name | escape | append: '-' | append: forloop.index
                                assign is_disabled = false
                                if value.count == 0 and value.active == false
                                  assign is_disabled = true
                                endif
                              %}

                              {%- capture text_value -%}
                                <span aria-hidden="true" class="whitespace-nowrap">
                                  <span>{{- value.label | escape }}</span> ({{- value.count -}})
                                </span>
                                <span class="sr-only">
                                  {{- value.label | escape }} (
                                  {%- if value.count == 1 -%}
                                    {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
                                  {%- else -%}
                                    {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
                                  {%- endif -%}
                                  )
                                </span>
                              {%- endcapture -%}

                              <li>
                                <label for="{{ input_id }}" class="flex gap-2 py-1 items-center{% if is_disabled %} pointer-events-none opacity-50{% endif %}{% if value.active %} active{% endif %}">
                                  <input
                                    type="checkbox"
                                    name="{{ value.param_name }}"
                                    value="{{ value.value }}"
                                    id="{{ input_id }}"
                                    {% if value.active %}
                                      checked
                                    {% endif %}
                                    {% if is_disabled %}
                                      disabled
                                    {% endif %}
                                  >
                                  {{ text_value }}
                                </label>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </fieldset>
                      {% when 'price_range' %}
                        <div class="flex justify-between items-center p-2 border-b border-seaweed-400">
                          {%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}
                          <span class="font-medium leading-tight">
                            {{- 'products.facets.max_price' | t: price: max_price_amount -}}
                          </span>
                          <facet-remove>
                            <a href="{{ filter.url_to_remove }}" class="link">
                              {{ 'products.facets.reset' | t }}
                            </a>
                          </facet-remove>
                        </div>
                        <price-range class="block px-2 py-4">
                          {% render 'price-facet', filter: filter, id_prefix: 'Filter-' %}
                        </price-range>
                    {% endcase %}
                  </div>
                </div>
              </details>
            {%- endfor -%}
          </div>
        {% endif %}

        {% comment %} Sorting {% endcomment %}
        {%- if enable_sorting -%}
          <div class="sorting">
            <div class="flex items-center gap-1">
              <label for="SortBy" class="text-sm font-medium">Sort:</label>
              <div class="select">
                {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
                <select
                  name="sort_by"
                  class="input input-sm max-w-28 sm:max-w-full tracking-normal"
                  id="SortBy"
                  aria-describedby="a11y-refresh-page-message"
                >
                  {%- for option in results.sort_options -%}
                    <option
                      value="{{ option.value | escape }}"
                      {% if option.value == sort_by %}
                        selected="selected"
                      {% endif %}
                    >
                      {{- option.name | escape -}}
                    </option>
                  {%- endfor -%}
                </select>
              </div>
            </div>
          </div>
        {%- endif -%}

        {% if results.current_vendor or results.current_type %}
          <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
        {% endif %}
      </form>
    </facet-filters-form>
  {%- endif -%}

  {% comment %} Count {% endcomment %}
  <div class="product-count pt-2 flex items-center gap-1" role="status">
    <h2 class="text-sm">
      <span id="ProductCount" class="transition-opacity">
        {%- if results.results_count -%}
          {{ 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count }}
        {%- elsif results.products_count == results.all_products_count -%}
          {{ 'products.facets.product_count_simple' | t: count: results.products_count }}
        {%- else -%}
          {{
            'products.facets.product_count'
            | t: product_count: results.products_count, count: results.all_products_count
          }}
        {%- endif -%}
      </span>
    </h2>
    {%- render 'loading-spinner', classes: 'w-4 h-4 text-seaweed-700' -%}
  </div>

  {%- if filter_type_mobile == 'drawer' or filter_type_desktop == 'drawer' -%}
    {% comment %}  Drawer filter {% endcomment %}
    <menu-drawer
      class="mobile-facets flex ml-0 pb-5{% if filter_type_mobile == 'inline' %} hidden{% endif %}{% if filter_type_desktop == 'inline' %} sm:hidden{% endif %}"
      data-breakpoint="mobile"
    >
      <details class="flex">
        <summary class="inline-block">
          <span class="mobile-facets__open flex items-center gap-2 py-2 w-full font-book">
            {% render 'icon-filter', classes: 'h-4 w-4', aria_hidden: true, stroke_width: 2 %}
            <span class="sm:hidden link">
              {%- if enable_filtering and enable_sorting -%}
                {{ 'products.facets.filter_and_sort' | t }}
              {%- elsif enable_filtering -%}
                {{ 'products.facets.filter_button' | t }}
              {%- elsif enable_sorting -%}
                {{ 'products.facets.sort_button' | t }}
              {%- endif -%}
            </span>
            <span class="hidden sm:block link">
              {%- if enable_filtering -%}
                {{ 'products.facets.filter_button' | t }}
              {%- endif -%}
            </span>
          </span>
        </summary>
        {% comment %} Scrim - closes menu on click {% endcomment %}
        <div class="menu-scrim block fixed inset-x-0 top-[72px] md:top-24 bottom-0 bg-seaweed-800/50 opacity-0 z-10 motion-safe:transition-opacity"></div>
        <facet-filters-form class="menu-drawer fixed z-20 right-0 bottom-0 top-[72px] md:top-24 w-11/12 sm:w-10/12 translate-x-full bg-seafoam-200 overflow-y-auto">
          <form id="FacetFiltersFormMobile">
            <div class="flex flex-col">
              <div class="flex justify-between sticky top-0 z-20 bg-seafoam-200 py-2 px-6">
                <div class="relative flex flex-col pt-2">
                  <h2 class="font-medium text-lg leading-none">
                    {%- if enable_filtering and enable_sorting -%}
                      {{ 'products.facets.filter_and_sort' | t }}
                    {%- elsif enable_filtering -%}
                      {{ 'products.facets.filter_button' | t }}
                    {%- elsif enable_sorting -%}
                      {{ 'products.facets.sort_button' | t }}
                    {%- endif -%}
                  </h2>
                  <p class="mobile-facets__count text-sm leading-tight">
                    {%- if results.results_count -%}
                      {{ 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count }}
                    {%- elsif results.products_count == results.all_products_count -%}
                      {{ 'products.facets.product_count_simple' | t: count: results.products_count }}
                    {%- else -%}
                      {{
                        'products.facets.product_count'
                        | t: product_count: results.products_count, count: results.all_products_count
                      }}
                    {%- endif -%}
                  </p>
                </div>
                {% render 'icon-close', classes: 'menu-close h-10 w-10 block p-2 -mr-4', aria-hidden: true, stroke_width: 1.75 %}
              </div>
              <div
                id="FacetsWrapperDrawer"
                class="flex flex-col overflow-y-auto grow px-6 pt-4"
              >
                {%- if enable_filtering -%}
                  {%- for filter in results.filters -%}
                    {% case filter.type %}
                      {% when 'boolean', 'list' %}
                        <details
                          id="Details-Mobile-{{ filter.param_name | escape }}-{{ section.id }}"
                          class="mobile-facets__details js-filter group"
                          data-index="mobile-{{ forloop.index }}"
                        >
                          <summary class="flex justify-between py-2">
                            <span>{{ filter.label | escape }}</span>
                            {% render 'icon-arrow', variant: 'long', aria_hidden: true, classes: 'block w-5 h-5', stroke_width: 2 %}
                          </summary>
                          <div
                            id="FacetMobile-{{ forloop.index }}-{{ section.id }}"
                            class="absolute inset-y-0 left-0 w-full z-30 translate-x-full invisible flex flex-col transition-transform-visibility group-open:translate-x-0 group-open:visible bg-sand-200"
                          >
                            <button
                              class="mobile-facets__close-button link flex items-center gap-1"
                              aria-expanded="true"
                              type="button"
                            >
                              {% render 'icon-arrow', variant: 'long', aria_hidden: true, classes: 'w-4 h-4 rotate-180', stroke_width: 2 %}
                              {{ filter.label | escape }}
                            </button>
                            <ul class="mobile-facets__list overflow-y-auto" role="list">
                              {%- liquid
                                assign sorted_values = filter.values
                                # Keep the selected values grouped together when operator is AND
                                if filter.operator == 'AND'
                                  assign active_filter_values = filter.values | where: 'active', true
                                  assign inactive_filter_values = filter.values | where: 'active', false
                                  assign sorted_values = active_filter_values | concat: inactive_filter_values
                                endif
                              -%}
                              {%- for value in sorted_values -%}
                                {% liquid
                                  assign input_id = 'Filter-' | append: filter.param_name | escape | append: '-mobile-' | append: forloop.index
                                  assign is_disabled = false
                                  if value.count == 0 and value.active == false
                                    assign is_disabled = true
                                  endif
                                %}

                                {%- capture text_value -%}
                                  <span aria-hidden="true">
                                    <span>{{- value.label | escape }}</span> ({{- value.count -}})
                                  </span>
                                  <span class="sr-only">
                                    {{- value.label | escape }} (
                                    {%- if value.count == '1' -%}
                                      {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
                                    {%- else -%}
                                      {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
                                    {%- endif -%}
                                    )
                                  </span>
                                {%- endcapture -%}

                                <li class="relative">
                                  <label for="{{ input_id }}" class="flex{% if is_disabled %} pointer-events-none opacity-50{% endif %}{% if value.active %} active{% endif %}">
                                    <input
                                      class="mobile-facets__checkbox"
                                      type="checkbox"
                                      name="{{ value.param_name }}"
                                      value="{{ value.value }}"
                                      id="{{ input_id }}"
                                      {% if value.active %}
                                        checked
                                      {% endif %}
                                      {% if is_disabled %}
                                        disabled
                                      {% endif %}
                                    >
                                    {{ text_value }}
                                  </label>
                                </li>
                              {%- endfor -%}
                            </ul>

                            <div class="border-t border-seaweed-400 p-4 bottom-0 sticky flex z-20 mt-auto">
                              <facet-remove>
                                <a href="{{ filter.url_to_remove }}" class="mobile-facets__clear link">
                                  {{- 'products.facets.clear' | t -}}
                                </a>
                              </facet-remove>
                              <button
                                type="button"
                                class="button button--primary"
                                onclick="this.closest('.mobile-facets').querySelector('summary').click()"
                              >
                                {{ 'products.facets.apply' | t }}
                              </button>
                            </div>
                          </div>
                        </details>
                      {% when 'price_range' %}
                        <details
                          id="Details-Mobile-{{ filter.param_name | escape }}-{{ section.id }}"
                          class="mobile-facets__details js-filter group"
                          data-index="mobile-{{ forloop.index }}"
                        >
                          <summary class="flex justify-between py-2">
                            <span>{{ filter.label | escape }}</span>
                            {% render 'icon-arrow', variant: 'long', aria_hidden: true, classes: 'block w-5 h-5', stroke_width: 2 %}
                          </summary>
                          <div
                            id="FacetMobile-{{ forloop.index }}-{{ section.id }}"
                            class="absolute inset-y-0 left-0 w-full z-30 translate-x-full invisible flex flex-col transition-transform-visibility group-open:translate-0 group-open:visible bg-sand-200 gradient"
                          >
                            <button
                              class="mobile-facets__close-button link flex items-center gap-1"
                              aria-expanded="true"
                              type="button"
                            >
                              {% render 'icon-arrow', variant: 'long', aria_hidden: true, classes: 'w-4 h-4 rotate-180', stroke_width: 2 %}
                              {{ filter.label | escape }}
                            </button>

                            {%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}
                            <p>
                              {{ 'products.facets.max_price' | t: price: max_price_amount }}
                            </p>

                            <price-range>
                              {% render 'price-facet', filter: filter, id_prefix: 'Mobile-Filter-' %}
                            </price-range>
                            <div class="border-t border-seaweed-400 p-4 bottom-0 sticky flex z-20 mt-auto">
                              <facet-remove>
                                <a href="{{ filter.url_to_remove }}" class="mobile-facets__clear link">
                                  {{- 'products.facets.clear' | t -}}
                                </a>
                              </facet-remove>
                              <button
                                type="button"
                                class="button button--primary"
                                onclick="this.closest('.mobile-facets').querySelector('summary').click()"
                              >
                                {{ 'products.facets.apply' | t }}
                              </button>
                            </div>
                          </div>
                        </details>
                    {% endcase %}
                  {%- endfor -%}
                {%- endif -%}

                {%- if enable_sorting -%}
                  <div
                    id="Details-Mobile-SortBy-{{ section.id }}"
                    class="mobile-facets__details js-filter"
                    data-index="mobile-{{ forloop.index }}"
                  >
                    <div>
                      <div class="flex justify-between">
                        <label for="SortBy-mobile" class="shrink-0">{{ 'products.facets.sort_by_label' | t }}</label>
                        <div class="select">
                          <select
                            name="sort_by"
                            id="SortBy-mobile"
                            aria-describedby="a11y-refresh-page-message"
                            class="w-auto"
                          >
                            {%- for option in results.sort_options -%}
                              <option
                                value="{{ option.value | escape }}"
                                {% if option.value == sort_by %}
                                  selected="selected"
                                {% endif %}
                              >
                                {{ option.name | escape }}
                              </option>
                            {%- endfor -%}
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                {%- endif -%}

                <div class="border-t border-seaweed-400 px-4 pt-4 pb-16 bottom-0 inset-x-0 absolute flex justify-between items-center z-20 mt-auto">
                  <facet-remove>
                    <a href="{{ results_url }}" class="mobile-facets__clear link">
                      {{- 'products.facets.clear_all' | t -}}
                    </a>
                  </facet-remove>
                  <button
                    type="button"
                    class="button button-primary"
                    onclick="this.closest('.mobile-facets').querySelector('summary').click()"
                  >
                    {{ 'products.facets.apply' | t }}
                  </button>
                </div>
              </div>

              {% if results.current_vendor or results.current_type %}
                <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
              {% endif %}

              {%- if results.terms -%}
                <input type="hidden" name="q" value="{{ results.terms | escape }}">
                <input name="options[prefix]" type="hidden" value="last">
              {%- endif -%}
            </div>
          </form>
        </facet-filters-form>
      </details>
    </menu-drawer>
  {%- endif -%}

  {% comment %} Active facet pills {% endcomment %}
  {% comment %} <div class="flex flex-wrap w-full active-facets">
    {%- for filter in results.filters -%}
      {%- unless filter.label == 'Skin Type' -%}
        {%- for value in filter.active_values -%}
          <facet-remove>
            <a href="{{ value.url_to_remove }}" class="block p-1">
              <span class="button button-xs button-tertiary normal-case tracking-wide rounded-full pr-2">
                <span class="sr-only">{{ filter.label | escape }}: </span>{{ value.label | escape }}
                {% render 'icon-close', stroke_width: 2, aria_hidden: true, classes: 'w-4 h-4 self-center shrink-0 pointer-events-none' %}
                <span class="sr-only">{{ 'products.facets.clear_filter' | t }}</span>
              </span>
            </a>
          </facet-remove>
        {%- endfor -%}
      {%- endunless -%}

      {%- if filter.type == 'price_range' -%}
        {% assign min = filter.min_value.value %}
        {% assign max = filter.max_value.value %}
        {%- if min != null or max != null -%}
          <facet-remove>
            <a href="{{ filter.url_to_remove }}" class="block p-1">
              <span class="button button-xs button-tertiary normal-case tracking-wide rounded-full pr-2">
                {{ min | default: 0 | money }} - {{ max | default: filter.range_max | money }}
                {% render 'icon-close', stroke_width: 2, aria_hidden: true, classes: 'w-4 h-4 self-center shrink-0 pointer-events-none' %}
                <span class="sr-only">{{ 'products.facets.clear_filter' | t }}</span>
              </span>
            </a>
          </facet-remove>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
    <facet-remove class="flex items-center">
      <a href="{{ results_url }}" class="link text-xs font-book p-1 block">
        <span>{{ 'products.facets.clear_all' | t }}</span>
      </a>
    </facet-remove>
  </div> {% endcomment %}
</div>
