<modal-dialog id="GwpUrlModal">
  <div
    role="dialog"
    aria-label="Your free gift will be added when you meet the ${{ settings.gwp_tier1_threshold }} threshold"
    aria-modal="true"
    tabindex="-1"
    class="!p-0 sm:!max-w-lg"
  >
    <button id="ModalClose-GwpUrlModal" type="button" aria-label="{{ 'accessibility.close' | t }}" class="bg-white rounded-full p-0.5 sm:p-0">
      {%- render 'icon-close', classes: 'w-8 h-8', stroke_width: 1.5, aria_hidden: true -%}
    </button>
    <div class="w-full flex flex-col sm:flex-row">
      {%- liquid
        assign formatted_threshold = settings.gwp_tier1_threshold | prepend: '$'
        assign mobile_image_src = settings.gwp_urlmodal_image_mobile | image_url: width: 400
        assign mobile_image_src_2x = settings.gwp_urlmodal_image_mobile | image_url: width: 800
        assign desktop_image_src = settings.gwp_urlmodal_image_desktop | image_url: width: 400
        assign desktop_image_src_2x = settings.gwp_urlmodal_image_desktop | image_url: width: 800
      -%}
      <picture>
        <source
          srcset="{% render 'imgix', src: desktop_image_src %} 1x, {% render 'imgix', src: desktop_image_src_2x %} 2x"
          media="(min-width: 640px)"
        >
        <source
          srcset="{% render 'imgix', src: mobile_image_src %} 1x, {% render 'imgix', src: mobile_image_src_2x %} 2x"
          media="(min-width: 0px)"
        >
        <img
          srcset="{% render 'imgix', src: mobile_image_src %} 1x, {% render 'imgix', src: mobile_image_src_2x %} 2x"
          src="{% render 'imgix', src: mobile_image_src %}"
          alt="{{ settings.gwp_urlmodal_image_mobile.alt }}"
          height="{{ settings.gwp_urlmodal_image_mobile.height }}"
          width="{{ settings.gwp_urlmodal_image_mobile.width }}"
          class="rounded-t-sm sm:h-full object-cover sm:rounded-l-sm sm:rounded-tr-none"
        >
      </picture>
      <div class="p-6 sm:flex sm:flex-col sm:justify-center">
        <h1 class="font-serif text-3xl tracking-tight mb-2">{{ settings.gwp_urlmodal_title | replace: 'threshold_amount', formatted_threshold}}</h1>
        <p class="mb-4">{{ settings.gwp_urlmodal_body | replace: 'threshold_amount', formatted_threshold}}</p>
        <button class="button button-primary close-modal" aria-label="Close this modal and start shopping">Start shopping</button>
      </div>
    </div>
  </div>
</modal-dialog>