{% comment %}
    Renders a set of links for paginated results. Must be used within paginate tags.

    Usage:
    {% paginate results by 2 %}
      {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
    {% endpaginate %}

    Accepts:
    - paginate: {Object}
    - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
{% endcomment %}

<link rel="stylesheet" href="{{ 'component-pagination.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-pagination.css' | asset_url | stylesheet_tag }}</noscript>

{%- if paginate.parts.size > 0 -%}
  <nav class="pagination mt-6" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
    <ul role="list" class="flex justify-center gap-2">
      <li>
        <a
          class="button button-sm button-white w-8 h-8 pr-1.5 pl-0.5 mr-2{% unless paginate.previous %} opacity-50 cursor-not-allowed{% endunless %}"
          {% if paginate.previous %} href="{{ paginate.previous.url }}{{ anchor }}"{% endif %}
          aria-label="{{ 'general.pagination.previous' | t }}"
        >
          {% render 'icon-chevron', classes: 'w-6 h-6', stroke_width: 2, aria_hidden: true %}
        </a>
      </li>

      {%- for part in paginate.parts -%}
        <li>
          {%- if part.is_link -%}
            <a class="button button-sm button-tertiary w-8 h-8" href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
          {%- else -%}
            {%- if part.title == paginate.current_page -%}
              <b class="button button-sm button-primary w-8 h-8" aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</b>
            {%- else -%}
              <b class="button button-sm button-tertiary w-8 h-8">{{ part.title }}</b>
            {%- endif -%}
          {%- endif -%}
        </li>
      {%- endfor -%}

      <li>
        <a
          class="button button-sm button-white w-8 h-8 pr-0.5 pl-1.5 ml-2{% unless paginate.next %} opacity-50 cursor-not-allowed{% endunless %}"
          {% if paginate.next %} href="{{ paginate.next.url }}{{ anchor }}"{% endif %}
          aria-label="{{ 'general.pagination.next' | t }}"
        >
          {% render 'icon-chevron', classes: 'w-6 h-6 rotate-180', stroke_width: 2, aria_hidden: true %}
        </a>
      </li>
    </ul>
  </nav>
{%- endif -%}
