{% comment %}
    Renders a list of product's price (regular, sale)

    Accepts:
    - product: {Object} Product Liquid object (optional)
    - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
    - price_id: {String} Id to be applied to outer span (optional)
    - price_class: {String} Adds a price class to the price element (optional)
    - show_price_range: {Boolean} Displays variants as a price range, does not show sale strikeout (optional)
    - subscription: {Boolean} Displays subscription price with strikeout on compare at price (optional)
    - bundle: {Boolean} Displays bundle price with strikeout on compare at price (optional)
    - default_to_mini: {Boolean} Default variant selection to smallest size (optional)

    Usage:
    {% render 'price', product: product %}
{% endcomment %}
{%- liquid
  if default_to_mini
    assign mini_index = product.variants.size | minus: 1
    if product.options.size > 1 or product.options contains 'Amount:'
      assign travel_sizes = '1.7 oz, 1 oz, 0.6 oz, 0.22 oz, Scented / 1 oz, $25' | split: ', '
      for variant in product.variants
        assign normalized_variant_title = variant.title | replace: 'fl ', ''
        if travel_sizes contains normalized_variant_title
          assign mini_index = forloop.index0
        endif
      endfor
    endif
    assign target = product.variants[mini_index]
  elsif use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif

  assign min_price = product.price_min
  assign max_price = product.price_max

  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign money_price = price | money_without_trailing_zeros
  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
  endif
-%}

<span class="price whitespace-nowrap flex flex-row{% if price_class %} {{ price_class }}{% endif %}"{% if price_id != blank %} id="{{ price_id }}"{% endif %}>
  {%- if subscription -%}
    <span class="sr-only">{{ 'products.product.price.regular_price' | t }}: </span>
    <s class="text-[gainsboro] mr-1">{{ product.selected_or_first_available_selling_plan_allocation.compare_at_price | money_without_trailing_zeros }}</s>
    <span class="sr-only">{{ 'products.product.price.sale_price' | t }}: </span>
    <span>{{ product.selected_or_first_available_selling_plan_allocation.price | money }}</span>
  {%- elsif bundle -%}
    <span class="sr-only">{{ 'products.product.price.regular_price' | t }}: </span>
    <s class="text-[gainsboro] mr-1">{{ money_price }}</s>
    <span class="sr-only">{{ 'products.product.price.sale_price' | t }}: </span>
    <span>{{ price | times: 0.8 | money }}</span>
  {%- elsif show_price_range and default_to_mini != true -%}
    <span class="sr-only">Price: </span>
    <span>{% if product.price_varies %}{{ min_price | money_without_trailing_zeros }}-{{ max_price | money_without_trailing_zeros }}{% else %}{{ money_price }}{% endif %}</span>
  {%- else -%}
    {%- if compare_at_price > price -%}
      {%- unless product.price_varies == false and product.compare_at_price_varies %}
        <span class="sr-only">{{ 'products.product.price.regular_price' | t }}: </span>
        <s class="text-white mr-1">{{ compare_at_price | money_without_trailing_zeros }}</s>
      {%- endunless -%}
      <span class="sr-only">{{ 'products.product.price.sale_price' | t }}: </span>
      <span>{{ money_price }}</span>
    {%- else -%}
      <span class="sr-only">{{ 'products.product.price.regular_price' | t }}: </span>
      <span>{{ money_price }}</span>
    {%- endif -%}
  {%- endif -%}
</span>
