{% comment %}
This is the variant picker snippet.
It is used to display the product variants in the product page.
  
Accepts:
  - block: The block object
  - section: The section object
  - product: The product object
  - set_products: The set products object
  - mini_size_array: The mini size array
  - jumbo_size_array: The jumbo size array
  - product_form_id: The product form id
  
  Usage:
  {% render 'variant-picker',
    section: section,
    product: product,
    set_products: set_products,
    mini_size_array: mini_size_array,
    jumbo_size_array: jumbo_size_array,
    product_form_id: product_form_id,
  %}
{% endcomment %}

{%- unless set_products contains product.handle -%}
  <div class="{{ block.settings.variant_classes }}">
    {%- unless product.has_only_default_variant -%}
      {%- if product.variants.size == 1 -%}
        {%- for option in product.options_with_values -%}
          <strong class="block font-medium tracking-wide text-sm{% if block.settings.hide_label %} sr-only{% endif %}">{{ option.name }}</strong>
          {%- for value in option.values -%}
            <div class="mr-2 mb-2 lowercase rounded-full button button-xs button-secondary bg-wave-200">
              {{ value }}
            </div>
          {%- endfor -%}
        {%- endfor -%}
      {%- else -%}
        <variant-radios
          class="block no-js-hidden"
          data-section="{{ section.id }}"
          data-url="{{ product.url }}"
          data-is-main-pdp="true"
          data-mini-sizes="{{ mini_size_array | join: ',' }}"
        >
          {%- assign small_products = 'dayglow-face-oil, essential-hydrating-oil-1' | split: ', ' -%}
          {%- for option in product.options_with_values -%}
            <fieldset class="js group">
              <legend class="font-medium text-sm mb-1{% if block.settings.hide_label and product.options_with_values.size < 2 %} sr-only{% endif %}">Select {{ option.name | downcase }}:</legend>
              <div class="flex flex-wrap items-center mb-2 group-last-of-type:mb-0">
                {%- for value in option.values -%}
                  {%- liquid
                    assign mini_variant = false
                    assign jumbo_variant = false
                    assign duo_variant = false
                    assign normalized_value = value | replace: 'fl ', ''
                    assign is_small_product = false
                    if small_products contains product.handle
                      assign is_small_product = true
                    endif

                    if is_small_product and normalized_value == '0.34 oz'
                      assign mini_variant = true
                    elsif mini_size_array contains normalized_value and is_small_product == false
                      assign mini_variant = true
                    elsif jumbo_size_array contains normalized_value
                      assign jumbo_variant = true
                    elsif value contains 'Duo'
                      assign duo_variant = true
                    endif
                  -%}
                  <div>
                    {%- assign normalized_option_value = value | replace: 'fl ', '' -%}
                    <input type="radio"
                      id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                      class="peer hidden{% if mini_size_array contains normalized_option_value %} travel-input{% endif %}"
                      name="{{ option.name }}"
                      value="{{ value | escape }}"
                      form="{{ product_form_id }}"
                      aria-hidden="true"
                      tabindex="-1"
                      {% if option.selected_value == value %}checked{% endif %}
                    >

                    <label
                      class="flex-col gap-0.5 px-4 {% if option.name == 'Size' %}py-1{% else %}py-2.5{% endif %} button button-xs button-secondary rounded-full peer-checked:bg-wave-200 peer-checked:border-seaweed-700 mr-2 mb-1 peer-disabled:opacity-50"
                      for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                    >
                      {%- if option.name == 'Size' -%}
                        {%- if mini_variant -%}
                          <b class="tracking-normal leading-none capitalize">Travel</b>
                        {%- elsif jumbo_variant -%}
                          <b class="tracking-normal leading-none capitalize">Jumbo</b>
                        {%- elsif duo_variant -%}
                          <b class="tracking-normal leading-none capitalize">Duo</b>
                        {%- else -%}
                          <b class="tracking-normal leading-none capitalize">Standard</b>
                        {%- endif -%}
                      {%- endif -%}
                      <span class="leading-none {% if option.name == 'Scent' %}normal-case tracking-normal{% else %}lowercase tracking-wide{% endif %}">{{ value }}</span>
                    </label>
                  </div>
                {%- endfor -%}
              </div>
            </fieldset>
          {%- endfor -%}
          <script type="application/json" class="variant-data">
            {{ product.variants | json }}
          </script>
        </variant-radios>
      {%- endif -%}
    {%- endunless -%}

    <noscript class="product-form__noscript-wrapper-{{ section.id }}">
      <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
        <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
        <div class="select">
          <select name="id" id="Variants-{{ section.id }}" form="{{ product_form_id }}">
            {%- for variant in product.variants -%}
              <option
                {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                {% if variant.available == false %}disabled{% endif %}
                value="{{ variant.id }}"
              >
                {{ variant.title }}
                {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                - {{ variant.price | money | strip_html }}
              </option>
            {%- endfor -%}
          </select>
          {% render 'icon-caret', classes: 'w-4 h-4' %}
        </div>
      </div>
    </noscript>
  </div>
{%- endunless -%}

{% if product.type contains 'Gift Card' %}
  <!-- ShopKeeper Gift Card -->
  <gift-card-fields class="col-span-12">
    <div id="skt-fields">
      <div>
        <label for="gc_to" class="text-sm font-medium">To Name:</label>
        <input id="gc_to" type="text" value="" class="mb-2 w-full input" />
      </div>
      <div>
        <label for="gc_from" class="text-sm font-medium">From Name:</label>
        <input id="gc_from" type="text" value="" class="mb-2 w-full input" />
      </div>
      <div class="mb-2">
        <label for="gc_msg" class="text-sm font-medium">Message:</label>
        <textarea id="gc_msg" class="block w-full input" maxlength="400"></textarea>
        <small class="block text-right">Max characters: 400</small>
      </div>
    </div>
  </gift-card-fields>
  <!-- End ShopKeeper -->
{% endif %}