<div class="w-full bg-wave-200 rounded-lg px-2 py-1">
  <div class="flex items-center gap-2">
    {%- liquid
      assign gift_image_src = product.featured_image | image_url: width: 192
      assign gift_image_src_2x = product.featured_image | image_url: width: 252
    -%}
    {% comment %} theme-check-disable RemoteAsset {% endcomment %}
    <img
      srcset="{% render 'imgix', src: gift_image_src %} 1x, {% render 'imgix', src: gift_image_src_2x %} 2x"
      src="{% render 'imgix', src: gift_image_src_2x %}"
      loading="lazy"
      alt="{{ product.featured_image.alt | escape }}"
      width="{{ product.featured_image.width }}"
      height="{{ product.featured_image.height }}"
      class="w-12 object-cover rounded"
    >
    {% comment %} theme-check-enable RemoteAsset {% endcomment %}
    <div class="flex flex-col">
      <p class="text-sm font-bold uppercase tracking-wider">Free Gift with orders {{ threshold | times: 100 | money_without_trailing_zeros }}+</p>
      <p class="text-sm leading-tight">Claim your free {{ product.title | replace: 'Free Gift - ', '' }} with orders over {{ threshold | times: 100 | money_without_trailing_zeros }}!</p>
    </div>
  </div>
</div>