{% comment %}
    Renders a product card

    Accepts:
    - card_product: {Object} Product Liquid object (required)
    - custom_default_image: {Boolean} Make the secondary image appear first. Default: false (optional)
    - card_class: {String} Tailwind styling classes (optional)
    - button_class: {String} Tailwind styling classes (optional)
    - hide_price: {Boolean} Removes price from button element. Default: false (optional)
    - section_id: {String} Unique id of section that card is in (required),
    - disable_links: {Boolean} remove link on image / title. Default: false (optional)

    Usage:
    {% render 'product-card-mini', card_product: section.settings.product %}
{% endcomment %}

<li class="flex flex-col relative grow h-full {{ card_class }}">
  <div class="w-full order-1 grow flex flex-col">
    {%- if disable_links == false or disable_links == nil -%}<a href="{{ card_product.url | default: '#' }}" class="group">{%- endif -%}
      <h4 class="text-xs font-book group-hover:underline underline-offset-1 decoration-1 tracking-wide text-center {% if card_product.title.size >= 28 %}leading-none{% else %}leading-tight{% endif %}">
        {{ card_product.title | replace: ' - Sample', '' | escape }}
      </h4>
    {%- if disable_links == false or disable_links == nil -%}</a>{%- endif -%}

    <div class="mt-auto">
      {%- assign product_form_id = 'product-form-' | append: card_product.id | append: '-' | append: section_id -%}
      <product-form data-cart-type="{{ settings.cart_type }}">
        {%- form 'product', card_product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
          <input type="hidden" name="id" value="{{ card_product.selected_or_first_available_variant.id }}" {% if card_product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
          <button
            type="submit"
            name="add"
            class="button button-xs w-full transition flex mt-1 {% if hide_price %}justify-center{% else %}justify-between{% endif %} {{ button_class }}"
            {% if card_product.selected_or_first_available_variant.available == false %}disabled{% endif %}
          >
            <span class="sr-only">{{ card_product.title }} - </span>
            {%- if card_product.selected_or_first_available_variant.available -%}
              <span>Add</span>
              <span class="sr-only"> - </span>
              {%- unless hide_price -%}
                {%- assign price_id = 'price-' | append: card_product.id | append: '-' | append: section_id -%}
                {% render 'price',
                  product: card_product,
                  show_price_range: false,
                  use_variant: true,
                  price_id: price_id
                %}
              {%- endunless -%}
            {%- else -%}
              {{ 'products.product.sold_out' | t }}
            {%- endif -%}
          </button>
        {%- endform -%}
      </product-form>
    </div>
  </div>

  <div class="relative block overflow-hidden no-underline" tabindex="-1">
    {%- if card_product.featured_media -%}
      {%- if disable_links == false or disable_links == nil -%}
        <a
          aria-label="{{ card_product.title | escape }}"
          href="{{ card_product.url | default: '#' }}"
          class="group block mx-auto"
          tabindex="-1"
        >
      {%- endif -%}
        {%- liquid
          if custom_default_image != nil
            assign default_image = custom_default_image
          else
            assign default_image = card_product.featured_media
          endif

          assign default_image_src = default_image | image_url: width: 72
          assign default_image_src_2x = default_image | image_url: width: 144
        -%}
        {% comment %} theme-check-disable RemoteAsset {% endcomment %}
        <img
          srcset="{{ default_image_src_2x }} 2x, {{ default_image_src }} 1x"
          src="{{ default_image_src_2x }}"
          alt="{{ default_image.alt | escape }}"
          loading="lazy"
          width="72"
          height="72"
          class="mx-auto"
        >
        {% comment %} theme-check-enable RemoteAsset {% endcomment %}
      {%- if disable_links == false or disable_links == nil -%}
        </a>
      {%- endif -%}
    {%- endif -%}
  </div>
</li>
