{% comment %}
    Renders a product card

    Accepts:
    - card_product: {Object} Product Liquid object (required)
    - section_id: {String} Unique id of section that card is in (required)
    - show_secondary_image_on_hover: {Boolean} Show the secondary image on hover. Default: false (optional)
    - custom_default_image: {Boolean} Make the secondary image appear first. Default: false (optional)
    - variant_picker_type: {'button', 'dropdown', or 'none'} Display mode of variant options, default: 'button' (optional)
    - variant_picker_classes: {String} Tailwind styling classes (optional)
    - card_class: {String} Tailwind styling classes (optional)
    - button_class: {String} Tailwind styling classes (optional)
    - image_class: {String} Tailwind styling classes (optional)
    - image_element_class: {String} Tailwind styling classes (optional)
    - badge_class: {String} Tailwind styling classes (optional)
    - name_class: {String} Tailwind styling classes (optional)
    - description_class: {String} Tailwind styling classes (optional)
    - hide_badge: {Boolean} Hide badge in upper left corner of tile (optional)
    - show_reviews: {Boolean} Show star review and review count. Default: false (optional)
    - show_benefits: {Boolean} Show benefits icons. Default: false (optional)
    - subscription: {Boolean} Deafult to subscription selection insead of variants (optional)
    - default_to_mini: {Boolean} Default variant selection to travel-sized (optional)
    - percent_discount: {Boolean} Show % off instead of $ off in savings badge (optional)
    - is_pdp_link: {Boolean} Replace ATC button with static button that leads to PDP. For use with products that require input on PDP (optional)
    - pdp_link_label: {Boolean} For use with PDP link, changes button label (optional)
    - hide_atc: {Boolean} Hide add to cart button, default: false (optional)
    - remove_linking: {Boolean} Remove linking from product title, default: false (optional)
    - remove_lazy_loading: {Boolean} Remove lazy loading from images, default: false (optional)
    - plp_card: {Boolean} Renders card in two column layout, makes image smaller default: false (optional)

    Usage:
    {% render 'product-card', card_product: section.settings.product, section_id: section.id %}
{% endcomment %}

<div class="{% if card_class == blank %}flex flex-col relative grow h-full{% else %}{{ card_class }}{% endif %}">
  <div class="product-info w-full order-1 grow flex flex-col">
    <div>
      {%- if show_reviews -%}
        {% render 'product-rating', product: card_product, compact: true, classes: 'product-rating h-4 float-right 2xs:mt-px' %}
      {%- endif -%}
      {% unless remove_linking %}<a href="{{ card_product.url | default: '#' }}">{% endunless %}
        {%- assign tight_title_products = 'vitamin-c-enzyme-polish, bestsellers-bodycare-set, best-sellers-discovery-set, undaria-body-bestsellers' | split: ', ' -%}
        <h3 class="text-sm 2xs:text-base font-bold 2xs:font-medium !leading-[1.1] hover:underline mb-1{% if tight_title_products contains card_product.handle %} -tracking-[0.001em]{% endif %}{% if name_class != blank %} {{ name_class }}{% endif %}">
          {{- card_product.title | replace: '™', '<sup class="-top-0.5 -mr-0.5 -left-px">™</sup>' | replace: '®', '<sup class="-top-1 -mr-px">®</sup>' -}}
        </h3>
      {% unless remove_linking %}</a>{% endunless %}
    </div>

    <p class="text-sm !leading-[1.1]{% if description_class != blank %} {{ description_class }}{% endif %}">
      {{- card_product.metafields.custom_fields.short_description | escape -}}
    </p>
    
    {%- liquid
      assign product_collections_handles = card_product.collections | map: 'handle'
      if product_collections_handles contains 'exclude-from-site'
        assign excluded_from_site = true
      else
        assign excluded_from_site = false
      endif
    -%}
    {%- if is_pdp_link -%}
      <div class="mt-auto overflow-hidden px-1 pb-1 -mb-1 -mx-1">
        <a class="button button-tertiary w-full motion-safe:transition flex mt-2 disabled:opacity-50" href="{{ card_product.url }}">
          {{- pdp_link_label -}}
        </a>
      </div>
    {%- elsif excluded_from_site == false and hide_atc != true and card_product.handle != 'studio-gift-card' -%}
      {%- liquid
        if default_to_mini
          assign mini_index = card_product.variants.size | minus: 1
          if card_product.options.size > 1 or card_product.options contains 'Amount:'
            assign travel_sizes = '1.7 oz, 1 oz, 0.6 oz, 0.22 oz, Scented / 1 oz, $25' | split: ', '
            for variant in card_product.variants
              assign normalized_variant_title = variant.title | replace: 'fl ', ''
              if travel_sizes contains normalized_variant_title
                assign mini_index = forloop.index0
              endif
            endfor
          endif
        endif
      -%}
      <div class="mt-auto overflow-hidden px-1 pb-1 -mb-1 -mx-1">
        {%- liquid
          assign product_form_id = 'product-form-' | append: card_product.id | append: '-' | append: section_id
          assign subscription_group = nil
          for group in card_product.selling_plan_groups
            if group.name == 'Subscribe and Save'
              assign subscription_group = group
            endif
          endfor
        -%}
        {%- if subscription and card_product.selected_or_first_available_variant.selling_plan_allocations.size > 0 and subscription_group -%}
          {%- liquid
            assign default_option = subscription_group.selling_plans[1].id
            if card_product.metafields.custom.subscription_interval != blank
              for plan in subscription_group.selling_plans
                if plan.name contains card_product.metafields.custom.subscription_interval
                  assign default_option = plan.id
                endif
              endfor
            endif
          -%}
          {%- if variant_picker_type == 'button' -%}
            <fieldset class="js flex">
              <legend class="sr-only">Ship every:</legend>
              <div class="overflow-x-auto flex">
                {%- for option in subscription_group.selling_plans -%}
                  <div class="flex-grow{% unless forloop.last %} mr-0.5{% endunless %}">
                    <input type="radio"
                      id="SubscriptionOption-{{ card_product.id }}-{{ forloop.index0 }}-{{ section_id }}"
                      class="peer hidden"
                      name="selling_plan"
                      value="{{ option.id }}"
                      form="{{ product_form_id }}"
                      {%- if option.id == default_option -%}checked{%- endif -%}
                    >
                    <label
                      class="button button-xs lowercase button-secondary peer-checked:border-seaweed-4 peer-checked:bg-wave-200 px-1 tracking-normal w-full text-left"
                      for="{{ card_product.id }}-{{ forloop.index0 }}-{{ section_id }}"
                      tabindex="0"
                    >
                      {{- option.name -}}
                    </label>
                  </div>
                {%- endfor -%}
              </div>
            </fieldset>
          {%- else -%}
            <div class="relative block mt-0.5 tracking-wide">
              <label class="absolute top-px left-2 xs:left-3 z-10 text-xs font-medium block leading-5 tracking-wide pointer-events-none" for="SubscriptionOption-{{ card_product.id }}-{{ forloop.index0 }}-{{ section_id }}">
                Ship every:
              </label>
              <select id="SubscriptionOption-{{ card_product.id }}-{{ forloop.index0 }}-{{ section_id }}"
                class="block input input-xs w-full pl-[76px] xs:pl-20 !pr-6"
                name="selling_plan"
                form="{{ product_form_id }}"
              >
                {%- for option in subscription_group.selling_plans -%}
                  <option
                    value="{{ option.id }}"
                    {%- if option.id == default_option -%}selected{%- endif -%}
                  >
                    {{- option.name -}}
                  </option>
                {%- endfor -%}
              </select>
            </div>
          {%- endif -%}
        {%- elsif card_product.variants.size > 1 and variant_picker_type != 'none' -%}
          {%- assign dropdown_product_handles = 'gift-card' | split: ', ' -%}
          {%- if variant_picker_type == 'dropdown' or dropdown_product_handles contains card_product.handle -%}
            <variant-selects
              class="no-js-hidden block mt-1"
              data-section="{{ card_product.id }}-{{ section_id }}"
              data-url="{{ card_product.url }}"
              data-update-url="false"
            >
              {%- for option in card_product.options_with_values -%}
                <div class="relative block">
                  <label class="absolute top-0 sm:top-px left-3 z-10 text-xs font-medium block leading-5" for="Option-{{ card_product.id }}-{{ forloop.index0 }}-{{ section_id }}">
                    {{- option.name -}}
                  </label>
                  <select id="Option-{{ card_product.id }}-{{ forloop.index0 }}-{{ section_id }}"
                    class="block input input-xs rounded-full w-full py-px sm:py-0.5 {% if option.name == 'Size' %}pl-10{% else %}pl-16{% endif %}{% if section.settings.variant_picker_classes != blank %} {{ variant_picker_classes }}{% endif %}"
                    name="options[{{ option.name | escape }}]"
                    form="{{ product_form_id }}"
                  >
                    {%- for value in option.values -%}
                      <option
                        value="{{ value | escape }}"
                        {% if default_to_mini and forloop.index0 == mini_index %}
                          selected="selected"
                        {% elsif default_to_mini != true and option.selected_value == value %}
                          selected="selected"
                        {% endif %}
                      >
                        {{ value }}
                      </option>
                    {%- endfor -%}
                  </select>
                </div>
              {%- endfor -%}

              <script type="application/json" class="variant-data">
                {{ card_product.variants | json }}
              </script>
            </variant-selects>
          {%- else -%}
            <variant-radios
              class="no-js-hidden block mt-1.5"
              data-section="{{ card_product.id }}-{{ section_id }}"
              data-url="{{ card_product.url }}"
              data-update-url="false"
            >
              {%- for option in card_product.options_with_values -%}
                <fieldset class="js flex{% if option.name == 'Scent' %} sr-only{% endif %}">
                  <legend class="sr-only">{{ option.name }}</legend>
                  {%- for value in option.values -%}
                    <div>
                      <input type="radio"
                        id="{{ card_product.id }}-{{ option.position }}-{{ forloop.index0 }}-{{ section_id }}"
                        class="peer hidden"
                        name="{{ option.name }}"
                        value="{{ value | escape }}"
                        form="{{ product_form_id }}"
                        {% if option.name == 'Scent' and value == 'Scented' %}
                          checked
                        {% elsif option.name == 'Size' and default_to_mini and forloop.last %}
                          checked
                        {% elsif default_to_mini != true and option.selected_value == value %}
                          checked
                        {% endif %}
                      >
                      <label
                        class="button button-xs block button-secondary rounded-full lowercase tracking-wide peer-checked:bg-wave-200 py-px sm:py-0.5 mr-1 xs:mr-2{% if option.values.size > 2 %} px-1.5 2xs:px-2 xs:px-3{% else%} px-2.5 xs:px-3{% endif %}{% if section.settings.variant_picker_classes != blank %} {{ variant_picker_classes }}{% endif %}"
                        for="{{ card_product.id }}-{{ option.position }}-{{ forloop.index0 }}-{{ section_id }}"
                        tabindex="0"
                      >
                        {{ value }}
                      </label>
                    </div>
                  {%- endfor -%}
                </fieldset>
              {%- endfor -%}

              <script type="application/json" class="variant-data">
                {{ card_product.variants | json }}
              </script>
            </variant-radios>
          {%- endif -%}
        {%- endif -%}
        <product-form data-cart-type="{{ settings.cart_type }}" class="relative">
          <div class="product-form__error-message-wrapper hidden items-center mb-1" role="alert">
            {% render 'icon-error-circle', classes: 'w-4 h-4 mr-1 text-coral-800', aria_hidden: true, stroke_width: 2 %}
            <span class="product-form__error-message text-coral-800 tracking-wide text-sm font-book"></span>
          </div>

          {%- form 'product', card_product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
            {%- liquid
              if default_to_mini
                assign default_id = card_product.variants[mini_index].id
              else 
                assign default_id = card_product.selected_or_first_available_variant.id
              endif
            -%}
            <input type="hidden" name="id" value="{{ default_id }}" disabled />
            <input type="hidden" name="properties[_is_subscription]" value="{% if subscription %}true{% else %}false{% endif %}" />
            <button
              id="{{ product_form_id }}-submit"
              type="submit"
              name="add"
              aria-haspopup="dialog"
              aria-live="polite"
              class="button button-tertiary w-full motion-safe:transition flex mt-2 disabled:opacity-50 {% if card_product.selected_or_first_available_variant.available %}justify-between{% else %}justify-center{% endif %} {{ button_class }}"
              {% if card_product.selected_or_first_available_variant.available == false %}disabled{% endif %}
            >
              <span class="sr-only">{{ card_product.title }} - </span>
              {%- if card_product.selected_or_first_available_variant.available -%}
                <span class="label">{% if subscription %}Subscribe{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}</span>
                <span class="sr-only"> - </span>
                {%- liquid
                  assign price_id = 'price-' | append: card_product.id | append: '-' | append: section_id
                  assign set_products = collections['skincare-sets-1'].products | map: 'handle'
                  assign is_set = false
                  assign show_range = true
                  assign price_class = 'tracking-wide'
                  if set_products contains card_product.handle
                    assign is_set = true
                  endif
                  if is_set
                    assign show_range = false
                    assign price_class = 'tracking-wide set-price'
                  endif
                -%}
                {%- render 'price',
                  product: card_product,
                  price_id: price_id,
                  price_class: price_class,
                  show_price_range: show_range,
                  use_variant: true,
                  subscription: subscription,
                  default_to_mini: default_to_mini
                -%}
              {%- else -%}
                <span class="label">{{ 'products.product.sold_out' | t }}</span>
              {%- endif -%}
            </button>
            {%- if card_product.selected_or_first_available_variant.available == false -%}
              <div class="absolute z-10 inset-x-0 bottom-0 h-10 sm:h-[42px]">
                <div
                  class="klaviyo-product-container"
                  data-klaviyo-handle="{{ card_product.handle }}"
                  id="klaviyo-data-handle-{{ card_product.handle }}-{{ section_id }}"
                >
                  <div class="klaviyo-button-container !inset-0 !w-full !opacity-100 !-ml-0"></div>
                </div>
              </div>
            {%- endif -%}
          {%- endform -%}
        </product-form>
      </div>
    {%- endif -%}
  </div>

  <div class="relative block overflow-hidden no-underline mb-2" tabindex="-1">
    {%- if card_product.featured_media -%}
      {%- if remove_linking -%}
        <div class="group block bg-wave-100{% if image_class != blank %} {{ image_class }}{% endif %}" tabindex="-1">
      {%- else -%}
        <a
          aria-label="{{ card_product.title | escape }}"
          href="{{ card_product.url | default: '#' }}"
          class="group block bg-wave-100{% if image_class != blank %} {{ image_class }}{% endif %}"
          tabindex="-1"
        >
      {%- endif -%}
        {%- liquid
          if custom_default_image != nil
            assign default_image = custom_default_image
          elsif default_to_mini and card_product.variants.size > 1 and is_set == false and card_product.title != 'Digital Gift Card'
            assign default_image = card_product.variants[mini_index].featured_media
          elsif card_product.selected_or_first_available_variant.featured_media != nil
            assign default_image = card_product.selected_or_first_available_variant.featured_media
          else
            assign default_image = card_product.featured_media
          endif

          assign default_image_src_390 = default_image | image_url: width: 175
          assign default_image_src_390_2x = default_image | image_url: width: 350
          assign default_image_src_472 = default_image | image_url: width: 208
          assign default_image_src_472_2x = default_image | image_url: width: 416
          assign default_image_src_640 = default_image | image_url: width: 288
          assign default_image_src_640_2x = default_image | image_url: width: 576
          assign default_image_src_768 = default_image | image_url: width: 232
          assign default_image_src_768_2x = default_image | image_url: width: 464

          assign default_image_src = default_image | image_url: width: 328
          assign default_image_src_2x = default_image | image_url: width: 656
          assign hover_image_src = card_product.media[1] | image_url: width: 328
          assign hover_image_src_2x = card_product.media[1] | image_url: width: 656
        -%}
        {% comment %} theme-check-disable RemoteAsset {% endcomment %}
        {%- if plp_card -%}
          <picture>
            <source
              srcset="{% render 'imgix', src: default_image_src_472 %} 1x, {% render 'imgix', src: default_image_src_472_2x %} 2x"
              media="(min-width: 472px)"
            >
            <source
              srcset="{% render 'imgix', src: default_image_src_640 %} 1x, {% render 'imgix', src: default_image_src_640_2x %} 2x"
              media="(min-width: 640px)"
            >
            <source
              srcset="{% render 'imgix', src: default_image_src_768 %} 1x, {% render 'imgix', src: default_image_src_768_2x %} 2x"
              media="(min-width: 768px)"
            >
            <source srcset="{% render 'imgix', src: default_image_src_390 %} 1x, {% render 'imgix', src: default_image_src_390_2x %} 2x">
            <img
              src="{% render 'imgix', src: default_image_src_390 %}"
              alt="{{ default_image.alt | escape }}"
              width="{{ default_image.width }}"
              height="{{ default_image.height }}"
              id="ProductCard-DefaultImage-{{ card_product.id }}-{{ section_id }}"
              {% unless remove_lazy_loading %}loading="lazy"{% endunless %}
              {% if image_element_class != blank %}class="{{ image_element_class }}"{% endif %}
            >
          </picture>
        {%- else -%}
          <img
            srcset="{% render 'imgix', src: default_image_src %} 1x, {% render 'imgix', src: default_image_src_2x %} 2x"
            src="{% render 'imgix', src: default_image_src %}"
            alt="{{ default_image.alt | escape }}"
            width="{{ default_image.width }}"
            height="{{ default_image.height }}"
            id="ProductCard-DefaultImage-{{ card_product.id }}-{{ section_id }}"
            {% unless remove_lazy_loading %}loading="lazy"{% endunless %}
            {% if image_element_class != blank %}class="{{ image_element_class }}"{% endif %}
          >
        {%- endif -%}
        {%- if card_product.media[1] != nil and show_secondary_image_on_hover -%}
          <img
            srcset="{% render 'imgix', src: hover_image_src %} 1x, {% render 'imgix', src: hover_image_src_2x %} 2x"
            src="{% render 'imgix', src: hover_image_src %}"
            alt="{{ card_product.media[1].alt | escape }}"
            loading="lazy"
            class="{% if show_secondary_image_on_hover %}absolute min-h-full inset-x-0 top-1/2 -translate-y-1/2 bg-cover bg-center bg-wave-100 opacity-0 group-hover:opacity-100 motion-safe:transition-opacity{% endif %} duration-300"
            width="{{ card_product.media[1].width }}"
            height="{{ card_product.media[1].height }}"
            class="object-cover"
          >
        {%- endif -%}
        {% comment %} theme-check-enable RemoteAsset {% endcomment %}
        {% if remove_linking %}</div>{% else %}</a>{% endif %}
    {%- else -%}
      <h2 class="h3">
        <a href="{{ card_product.url | default: '#' }}">
          {{ card_product.title }}
        </a>
      </h2>
    {%- endif -%}

    {% if hide_badge != true %}
      {% render 'product-badge', product: card_product, classes: badge_class, percent_discount: percent_discount %}
    {% endif %}
  </div>
</div>
