{% comment %}
    Renders a product card

    Accepts:
    - card_product: {Object} Product Liquid object (required)
    - section_id: {String} Unique id of section that card is in (required)
    - show_secondary_image_on_hover: {Boolean} Show the secondary image on hover. Default: false (optional)
    - custom_default_image: {Boolean} Make the secondary image appear first. Default: false (optional)
    - variant_picker_type: {'button', 'dropdown', or 'none'} Display mode of variant options, default: 'button' (optional)
    - card_class: {String} Tailwind styling classes (optional)
    - button_class: {String} Tailwind styling classes (optional)
    - image_class: {String} Tailwind styling classes (optional)
    - badge_class: {String} Tailwind styling classes (optional)
    - name_class: {String} Tailwind styling classes (optional)
    - description_class: {String} Tailwind styling classes (optional)
    - hide_badge: {Boolean} Hide badge in upper left corner of tile (optional)
    - show_benefits: {Boolean} Show benefits icons. Default: false (optional)
    - default_to_mini: {Boolean} Default variant selection to travel-sized (optional)

    Usage:
    {% render 'product-card', card_product: section.settings.product, section_id: section.id %}
{% endcomment %}

<div class="{% if card_class == blank %}flex flex-col relative grow h-full{% else %}{{ card_class }}{% endif %}">
  <div class="product-info w-full order-1 grow flex flex-col">
    <div>
      <a href="{{ card_product.url | default: '#' }}">
        {%- assign tight_title_products = 'vitamin-c-enzyme-polish, bestsellers-bodycare-set, best-sellers-discovery-set, undaria-body-bestsellers' | split: ', ' -%}
        <h3 class="text-sm 2xs:text-base font-bold 2xs:font-medium !leading-[1.1] hover:underline mb-1{% if tight_title_products contains card_product.handle %} -tracking-[0.001em]{% endif %}{% if name_class != blank %} {{ name_class }}{% endif %}">
          {{- card_product.title | replace: '™', '<sup class="-top-0.5 -mr-0.5 -left-px">™</sup>' | replace: '®', '<sup class="-top-1 -mr-px">®</sup>' -}}
        </h3>
      </a>
    </div>

    <p class="text-sm !leading-[1.1]{% if description_class != blank %} {{ description_class }}{% endif %}">
      {{- card_product.metafields.custom_fields.short_description | escape -}}
    </p>

    <div class="mt-auto overflow-hidden px-1 -mx-1">
      {%- assign product_form_id = 'product-form-' | append: card_product.id | append: '-' | append: section_id -%}
      {%- if card_product.variants.size > 1 and variant_picker_type != 'none' -%}
        {%- assign dropdown_product_handles = 'undaria-algae-oil, anti-aging-body-balm' | split: ', ' -%}
        {%- if variant_picker_type == 'dropdown' or dropdown_product_handles contains card_product.handle -%}
          <variant-selects
            class="no-js-hidden block mt-1"
            data-section="{{ card_product.id }}-{{ section_id }}"
            data-url="{{ card_product.url }}"
            data-update-url="false"
          >
          {%- for option in card_product.options_with_values -%}
            <div class="relative block">
              <label class="absolute top-0 sm:top-px left-3 z-10 text-xs font-medium block leading-5" for="Option-{{ card_product.id }}-{{ forloop.index0 }}-{{ section_id }}">
                {{- option.name -}}
              </label>
              <select id="Option-{{ card_product.id }}-{{ forloop.index0 }}-{{ section_id }}"
                class="block input input-xs rounded-full w-full py-px sm:py-0.5 {% if option.name == 'Size' %}pl-10{% else %}pl-16{% endif %}"
                name="options[{{ option.name | escape }}]"
                form="{{ product_form_id }}"
              >
                {%- for value in option.values -%}
                  <option
                    value="{{ value | escape }}"
                    {% if default_to_mini and forloop.last %}
                      selected="selected"
                    {% elsif default_to_mini != true and option.selected_value == value %}
                      selected="selected"
                    {% endif %}
                  >
                    {{ value }}
                  </option>
                {%- endfor -%}
              </select>
            </div>
          {%- endfor -%}

            <script type="application/json">
              {{ card_product.variants | json }}
            </script>
          </variant-selects>
        {%- else -%}
          <variant-radios
            class="no-js-hidden block mt-1.5"
            data-section="{{ card_product.id }}-{{ section_id }}"
            data-url="{{ card_product.url }}"
            data-update-url="false"
          >
            {%- for option in card_product.options_with_values -%}
              <fieldset class="js flex{% if option.name == 'Scent' %} sr-only{% endif %}">
                <legend class="sr-only">{{ option.name }}</legend>
                {%- for value in option.values -%}
                  <div>
                    <input type="radio"
                      id="{{ card_product.id }}-{{ option.position }}-{{ forloop.index0 }}-{{ section_id }}"
                      class="peer hidden"
                      name="{{ option.name }}"
                      value="{{ value | escape }}"
                      form="{{ product_form_id }}"
                      {% if default_to_mini and forloop.last %}
                        checked
                      {% elsif default_to_mini != true and option.selected_value == value %}
                        checked
                      {% endif %}
                    >
                    <label
                      class="button button-xs block button-secondary rounded-full lowercase peer-checked:bg-wave-200 py-px sm:py-0.5 mr-1 xs:mr-2{% if option.values.size > 2 %} px-2 2xs:px-2.5 xs:px-3{% else%} px-2.5 xs:px-3{% endif %}"
                      for="{{ card_product.id }}-{{ option.position }}-{{ forloop.index0 }}-{{ section_id }}"
                      tabindex="0"
                    >
                      {{ value }}
                    </label>
                  </div>
                {%- endfor -%}
              </fieldset>
            {%- endfor -%}

            <script type="application/json">
              {{ card_product.variants | json }}
            </script>
          </variant-radios>
        {%- endif -%}
      {%- endif -%}
      <product-form data-cart-type="{{ settings.cart_type }}" class="relative">
        <div class="product-form__error-message-wrapper hidden items-center mb-1" role="alert">
          {% render 'icon-error-circle', classes: 'w-4 h-4 mr-1 text-coral-800', aria_hidden: true, stroke_width: 2 %}
          <span class="product-form__error-message text-coral-800 tracking-wide text-sm font-book"></span>
        </div>

        {%- form 'product', card_product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
          {%- liquid
            if default_to_mini
              assign mini_index = card_product.variants.size | minus: 1
              assign default_id = card_product.variants[mini_index].id
            else 
              assign default_id = card_product.selected_or_first_available_variant.id
            endif
          -%}
          <input type="hidden" name="id" value="{{ default_id }}" disabled />
          <button
            id="{{ product_form_id }}-submit"
            type="submit"
            name="add"
            aria-haspopup="dialog"
            aria-live="polite"
            class="button button-tertiary w-full motion-safe:transition flex mt-2 disabled:opacity-50 {% if card_product.selected_or_first_available_variant.available %}justify-between{% else %}justify-center{% endif %} {{ button_class }}"
            {% if card_product.selected_or_first_available_variant.available == false %}disabled{% endif %}
          >
            <span class="sr-only">{{ card_product.title }} - </span>
            {%- if card_product.selected_or_first_available_variant.available -%}
              <span class="label">{{ 'products.product.add_to_cart' | t }}</span>
              <span class="sr-only"> - </span>
              {%- liquid
                assign price_id = 'price-' | append: card_product.id | append: '-' | append: section_id
                assign set_products = collections['skincare-sets-1'].products | map: 'handle'
                assign is_set = false
                assign show_range = true
                assign price_class = 'tracking-wide'
                if set_products contains card_product.handle
                  assign is_set = true
                endif
                if is_set
                  assign show_range = false
                  assign price_class = 'tracking-wide set-price'
                endif
              -%}
              {%- render 'price',
                product: card_product,
                price_id: price_id,
                price_class: price_class,
                show_price_range: show_range,
                use_variant: true,
                default_to_mini: default_to_mini
              -%}
            {%- else -%}
              <span class="label">{{ 'products.product.sold_out' | t }}</span>
            {%- endif -%}
          </button>
          {%- if card_product.selected_or_first_available_variant.available == false -%}
            <div class="absolute z-10 inset-x-0 bottom-0 h-10 sm:h-[42px]">
              <div
                class="klaviyo-product-container"
                data-klaviyo-handle="{{ card_product.handle }}"
                id="klaviyo-data-handle-{{ card_product.handle }}-{{ section_id }}"
              >
                <div class="klaviyo-button-container !inset-0 !w-full !opacity-100 !-ml-0"></div>
              </div>
            </div>
          {%- endif -%}
        {%- endform -%}
      </product-form>
    </div>
  </div>

  <div class="relative block overflow-hidden no-underline mb-2" tabindex="-1">
    {%- if card_product.featured_media -%}
      <a
        aria-label="{{ card_product.title | escape }}"
        href="{{ card_product.url | default: '#' }}"
        class="group block bg-wave-100{% if image_class != blank %} {{ image_class }}{% endif %}"
        tabindex="-1"
      >
        {%- liquid
          if custom_default_image != nil
            assign default_image = custom_default_image
          elsif default_to_mini
            assign mini_index = card_product.variants.size | minus: 1
            assign default_image = card_product.variants[mini_index].featured_media
          elsif card_product.selected_or_first_available_variant.featured_media != nil
            assign default_image = card_product.selected_or_first_available_variant.featured_media
          else
            assign default_image = card_product.featured_media
          endif

          assign default_image_src = default_image | image_url: width: 328
          assign default_image_src_2x = default_image | image_url: width: 656
          assign hover_image_src = card_product.media[1] | image_url: width: 328
          assign hover_image_src_2x = card_product.media[1] | image_url: width: 656
        -%}
        {% comment %} theme-check-disable RemoteAsset {% endcomment %}
        <img
          srcset="{{ default_image_src }} 1x, {{ default_image_src_2x }} 2x"
          src="{{ default_image_src }}"
          alt="{{ default_image.alt | escape }}"
          loading="lazy"
          width="{{ default_image.width }}"
          height="{{ default_image.height }}"
          id="ProductCard-DefaultImage-{{ card_product.id }}-{{ section_id }}"
        >
        {%- if card_product.media[1] != nil and show_secondary_image_on_hover -%}
          <img
            srcset="{{ hover_image_src }} 1x, {{ hover_image_src_2x }} 2x"
            src="{{ hover_image_src }}"
            alt="{{ card_product.media[1].alt | escape }}"
            loading="lazy"
            class="{% if show_secondary_image_on_hover %}absolute min-h-full inset-x-0 top-1/2 -translate-y-1/2 bg-cover bg-center bg-wave-100 opacity-0 group-hover:opacity-100 motion-safe:transition-opacity{% endif %} duration-300"
            width="{{ card_product.media[1].width }}"
            height="{{ card_product.media[1].height }}"
            class="object-cover"
          >
        {%- endif -%}
        {% comment %} theme-check-enable RemoteAsset {% endcomment %}
      </a>
    {%- else -%}
      <a href="{{ card_product.url | default: '#' }}" class="block bg-wave-100 h-full">
        <h2 class="sr-only">{{ card_product.title }}</h2>
        <svg class="mx-auto h-10 w-20 text-seaweed-700/25" width="316" height="156" viewBox="0 0 316 156" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M76.6855 156L75.5465 145.173C77.7705 144.941 80.0971 144.015 82.5641 143.035C83.4439 142.683 84.3562 142.321 85.2631 141.953C108.254 133.584 114.289 121.095 116.529 103.675C117.824 93.666 116.691 81.9679 115.59 70.6542C112.891 42.9165 109.851 11.4816 144.038 -0.00543213L147.482 10.3123C121.484 19.0493 123.757 42.4726 126.386 69.5986C127.546 81.5078 128.739 93.8393 127.282 105.077C124.945 123.136 118.688 141.346 89.004 152.173C88.2105 152.465 87.3846 152.785 86.5587 153.126C83.6653 154.273 80.3832 155.578 76.6855 155.973"/>
          <path d="M13.3873 103.865C21.4953 110.938 30.6433 114.475 40.8313 114.475C52.3473 114.475 62.1754 110.494 70.3158 102.533C78.4561 94.572 82.5101 84.9219 82.4777 73.5829C82.4777 62.2727 78.4417 52.5865 70.3698 44.5244C62.2978 36.4622 52.6568 32.4311 41.4467 32.4311C30.0639 32.4311 20.3185 36.4279 12.2105 44.4215C4.10256 52.4151 0.0323887 61.9786 0 73.1119C0 85.7898 4.46244 96.039 13.3873 103.859V103.865ZM20.4912 52.2545C26.1484 46.5164 33.0814 43.6474 41.2901 43.6474C49.4989 43.6474 56.4157 46.5164 62.0405 52.2545C67.6581 57.9637 70.4687 65.0371 70.4723 73.4746C70.4723 81.8111 67.6275 88.8826 61.9379 94.6893C56.2483 100.427 49.2632 103.296 40.9825 103.296C33.3495 103.296 26.6217 100.478 20.7989 94.8408C14.9762 89.2038 12.0468 82.0132 12.0108 73.2689C12.0108 64.9324 14.8376 57.9276 20.4912 52.2545Z" />
          <path d="M168.848 34.185V113.311H212.389V102.089H180.756V79.2614H211.466V68.0397H180.756V45.4067H212.389V34.185H168.848Z" />
          <path d="M278.138 57.1102L289.835 82.8667H265.873L278.138 57.1102ZM239.298 113.311H252.124L260.912 94.0938H294.694L302.969 113.311H316L278.391 34.185L239.298 113.311Z" />
        </svg>
      </a>
    {%- endif -%}

    {% if hide_badge != true %}{% render 'product-badge', product: card_product, classes: badge_class %}{% endif %}
  </div>
</div>
