{%- comment -%}
  Simple Product Add to Cart Snippet
  Renders a basic add to cart button for simple product forms
  
  Parameters:
  - product: The product object
  - product_form_id: The form ID for the product
  - button_classes: Additional CSS classes for the button (optional)
{%- endcomment -%}

<product-form class="product-form plp-matrix-form relative" data-cart-type="{{ settings.cart_type }}">
  {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
    <input type="hidden" name="properties[_is_subscription]" value="false">
    <div class="product-form__buttons relative" id="AddToCart">
      <button
        type="submit"
        name="add"
        class="product-form__submit relative button button-neon button-xs disabled:opacity-50 disabled:bg-wave-700 disabled:border-wave-700 disabled:text-white {{ button_classes | default: '' }}"
        {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
      >
          <span class="loading-spinner absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 hidden">
            {% render 'icon-spinner', classes: 'h-4 w-4 mr-2 text-white' %}
          </span>
          <span class="label">
            {%- if product.selected_or_first_available_variant.available -%}
              {{ 'products.product.add_to_cart' | t }}
            {%- else -%}
              {{ 'products.product.sold_out' | t }}
            {%- endif -%}
          </span>
      </button>
    </div>
  {%- endform -%}
  <div class="product-form__error-message-wrapper absolute left-0 mt-1 text-sm" role="alert" hidden>
    <mark class="bg-white text-coral-800">
      {% render 'icon-error-circle', classes: 'icon icon-error w-4 h-4 inline mr-1', aria_hidden: true, stroke_width: 2 %}
      <span class="product-form__error-message leading-4 align-bottom"></span>
    </mark>
  </div>
</product-form> 