{%- case block.settings.heading -%}
  {%- when 'More info' -%}
    {%- capture more_info_html -%}
      <div class="mb-4">
        {%- if product.metafields.custom.skin_types_list != blank -%}
          <p class="!mb-1"><b>Skin types:</b> {{ product.metafields.custom.skin_types_list.value | join: ', ' }}</p>
        {%- endif -%}
        {%- if product.metafields.custom.scent_profile != blank -%}
          <p><b>Scent profile:</b> {{ product.metafields.custom.scent_profile | strip_html }}</p>
        {%- elsif product.metafields.custom.scent_profile_short != blank -%}
          <p><b>Scent profile:</b> {{ product.metafields.custom.scent_profile_short | strip_html }}</p>
        {%- endif -%}
        {{ block.settings.content }}
      </div>
    {%- endcapture -%}
    {%- if block.settings.content != blank -%}
      {%- assign content = more_info_html -%}
    {%- endif -%}
  {%- when 'Benefits' -%}
    {%- liquid
      assign hide_benefit_icons = true
      assign benefit_tag_classes = 'flex items-center badge bg-p-surface text-p-inverse-d3 gap-1'
      assign normalized_variant_title = product.selected_or_first_available_variant.title | replace: 'fl ', ''
      assign is_fragrance_free = false
      if product.options contains 'Scent' and normalized_variant_title contains 'Fragrance free'
        assign is_fragrance_free = true
      endif
      assign is_mini = false
      if mini_size_array contains normalized_variant_title
        assign is_mini = true
      endif
    -%}
    {%- capture benefits_html -%}
      {%- if product.metafields.custom.benefits != blank -%}
        <ul class="mb-2 flex gap-2 flex-wrap">
          {%- if hide_benefit_icons -%}
            <li class="scent-fragrance-free {{ benefit_tag_classes }}{% unless is_fragrance_free %} hidden{% endunless %}">Fragrance free</li>
          {%- else -%}
            <li class="scent-fragrance-free {{ benefit_tag_classes }}{% unless is_fragrance_free %} hidden{% endunless %}">
              {%- render 'icon-benefit-mini', icon: 'fragrance-free', stroke_width: 10, classes: 'w-3.5 h-3.5 block', aria_hidden: true -%}
              <span class="text-sm font-book leading-none">Fragrance Free</span>
            </li>
          {%- endif -%}
          {%- if hide_benefit_icons -%}
            <li class="size-mini {{ benefit_tag_classes }}{% unless is_mini %} hidden{% endunless %}">Fragrance free</li>
          {%- else -%}
            <li class="size-mini {{ benefit_tag_classes }}{% unless is_mini %} hidden{% endunless %}">
              {%- render 'icon-benefit-mini', icon: 'tsa-friendly', stroke_width: 10, classes: 'w-3.5 h-3.5 block', aria_hidden: true -%}
              <span class="text-sm font-book leading-none">TSA Friendly</span>
            </li>
          {%- endif -%}
          {%- for benefit in product.metafields.custom.benefits.value -%}
            {%- if hide_benefit_icons -%}
              <li class="{{ benefit_tag_classes }}">{{ benefit }}</li>
            {%- else -%}
              {%- assign benefit_icon = benefit | handle -%}
              <li class="{{ benefit_tag_classes }}">
                {%- render 'icon-benefit-mini', icon: benefit_icon, stroke_width: 10, classes: 'w-3.5 h-3.5 block', aria_hidden: true -%}
                <span class="text-sm font-book leading-none{% unless benefit.size > 12 %} tracking-wide{% endunless %} whitespace-nowrap">
                  {{- benefit -}}
                </span>
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      {%- endif -%}
      {%- if product.metafields.custom.key_benefits != blank -%}
        <ul class="li:mb-1 mb-2 icon-list bullet">
          {%- for benefit in product.metafields.custom.key_benefits.value -%}
            <li>{{ benefit }}</li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    {%- endcapture -%}
    {%- if benefits_html != blank -%}
      {%- assign content = benefits_html -%}
    {%- endif -%}
  {%- when 'How to use' -%}
    {%- capture how_to_html -%} 
      {%- if product.metafields.custom.how_to_use != blank -%}
        {%- assign how_to_use = product.metafields.custom.how_to_use.value -%}
        <table class="mb-4">
          <tr class="align-top td:pb-2">
            <th scope="row" class="text-left"><b class="mr-1">How:</b></th>
            <td>{{ how_to_use.how }}</td>
          </tr>
          <tr class="align-top td:pb-2">
            <th scope="row" class="text-left"><b class="mr-1">When:</b></th>
            <td>{{ how_to_use.when }}</td>
          </tr>
          {%- if how_to_use.pro_tip != nil -%}
            <tr class="align-top{% if how_to_use.warnings.size > 0 %} td:pb-2{% endif %}">
              <th scope="row" class="text-left"><b class="mr-1 whitespace-nowrap">Pro tip:</b></th>
              <td>{{ how_to_use.pro_tip }}</td>
            </tr>
          {%- endif -%}
          {%- if how_to_use.warnings.size > 0 -%}
            <tr class="align-top">
              <th scope="row" class="text-left"><b class="sr-only">Warnings:</b></th>
              <td>
                <ul class="text-sm">
                  {%- for warning in how_to_use.warnings -%}
                    <li class="mb-2 last:mb-0"><em>{{ warning }}</em></li>
                  {%- endfor -%}
                </ul>
              </td>
            </tr>
          {%- endif -%}
        </table>
      {%- elsif product.metafields.custom_fields.how_it_works != blank -%}
        <div class="p:mb-3">{{ product.metafields.custom_fields.how_it_works }}</div>
      {%- endif -%}
    {%- endcapture -%}
    {%- assign content = how_to_html -%}
  {%- when 'Skin types' -%}
    {%- capture skin_types_html -%}
      {%- if product.metafields.custom.skin_types_list != blank or product.metafields.custom_fields.skin_types != blank -%}
        <div class="{% if product.metafields.custom.scent_profile == blank and product.metafields.custom.scent_profile_short == blank %} -mr-4{% endif %}">
          {%- if product.metafields.custom.skin_types_list != blank -%}
            <ul class="mb-4 {% if product.metafields.custom.skin_types_list.value.size > 1 %}icon-list bullet li:mb-1{% endif %}{% if product.options contains 'Scent' %} scent-scented{% if product.selected_or_first_available_variant.options contains 'Fragrance free' %} hidden{% endif %}{% endif %}">
              {%- for skin_type in product.metafields.custom.skin_types_list.value -%}
                {%- if skin_type == 'Not for sensitive' -%}
                  <li class="flex items-start before:!hidden">
                    {% render 'icon-close', classes: 'w-4 h-4 mr-3 -ml-7 shrink-0', stroke_width: 2 %}
                    <span>{{ skin_type }}</span>
                  </li>
                {%- else -%}
                  <li>{{ skin_type }}</li>
                {%- endif -%}
              {%- endfor -%}
            </ul>
            {%- if product.options contains 'Scent' -%}
              <ul class="icon-list bullet !pl-5 scent-fragrance-free{% unless product.selected_or_first_available_variant.options contains 'Fragrance free' %} hidden{% endunless %} {{ block.settings.skin_types_content_classes }}">
                <li>All Skin Types</li>
              </ul>
            {%- endif -%}
          {%- elsif product.metafields.custom_fields.skin_types != blank -%}
            <p class="mb-4">{{ product.metafields.custom_fields.skin_types }}</p>
          {%- endif -%}
        </div>
      {%- endif -%}
    {%- endcapture -%}
    {%- if skin_types_html != blank -%}
      {%- assign content = skin_types_html -%}
    {%- endif -%}
  {%- when 'Recycling' -%}
    {%- capture recycling_html -%}
      <div class="recycling mb-4">
        <table>
          {%- if product.metafields.custom.recycling.value.packaging != nil -%}
            <tr class="align-top">
              <td><b class="mr-1 whitespace-nowrap">Packaging:</b></td>
              <td>{{ product.metafields.custom.recycling.value.packaging }}</td>
            </tr>
          {%- endif -%}
          {%- if product.metafields.custom.recycling.value.recycling != nil -%}
            <tr class="align-top">
              <td><b class="mr-1 whitespace-nowrap">Recycling:</b></td>
              <td>{{ product.metafields.custom.recycling.value.recycling }}</td>
            </tr>
          {%- endif -%}
        </table>
        {%- if product.metafields.custom.recycling.value.disclaimer != nil -%}
          <small class="block leading-tight mt-2">{{ product.metafields.custom.recycling.value.disclaimer }}</small>
        {%- endif -%}
      </div>
    {%- endcapture -%}
    {%- if product.metafields.custom.recycling != blank -%}
      {%- assign content = recycling_html -%}
    {%- endif -%}
  {%- when 'Related blogs' -%}
    {%- capture related_blogs_html -%}
      <div class="articles flex flex-wrap gap-2">
        {%- for article_handle in product.metafields.custom.related_articles.value -%}
          {%- render 'article-card',
            article: articles[article_handle],
            unique_id: '-pdp_featured',
            show_image: true,
            card_classes: 'flex flex-row bg-wave-200 rounded-md w-full',
            image_classes: 'rounded-l-md block h-full object-cover absolute inset-0',
            title_classes: 'tracking-wide font-medium mb-0.5 text-sm leading-tight mb-1',
            tag_classes: 'sr-only',
            date_classes: 'sr-only',
            author_classes: 'sr-only',
            excerpt_classes: 'text-sm leading-tight mb-2',
            link_classes: 'link font-bold uppercase tracking-widest text-xs',
            text_wrapper_classes: 'w-2/3 p-2',
            image_wrapper_classes: 'w-1/3 h-full relative',
            exceprt_length: 10
          -%}
        {%- endfor -%}
      </div>
    {%- endcapture -%}
    {%- if product.metafields.custom.related_articles.value.size > 0 -%}
      {%- assign content = related_blogs_html -%}
    {%- endif -%}
  {%- else -%}
    {%- capture else_html -%}
      <div class="mb-4">{{ block.settings.content }}</div>
    {%- endcapture -%}
    {%- if block.settings.content != blank -%}
      {%- assign content = else_html -%}
    {%- endif -%}
{%- endcase -%}

{%- if content != blank -%}
  <div class="{{ block.settings.tab_classes }}">
    {%- assign tab_id = "Details-" | append: block.id | append: "-" | append: section.id -%}
    {%- render 'accordion-item',
      id: tab_id,
      summary: block.settings.heading,
      content: content,
      default_open: block.settings.default_open,
      content_classes: 'max-h-80 overflow-y-auto a:link b:font-bold p:mb-4 xl:pb-4',
      summary_classes: 'text-lg xl:text-xl py-2 lg:py-3'
    -%}
  </div>
{%- endif -%}