{%- comment -%}
  Product Buy Buttons Snippet
  Renders the add to cart button and related functionality for product pages
  
  Parameters:
  - product: The product object
  - product_form_id: The form ID for the product
  - block: The block object containing settings
  - excluded_from_site: Boolean to exclude from site
{%- endcomment -%}

{%- unless excluded_from_site -%}
  <div class="w-full grow {{ block.settings.atc_classes }}" {{ block.shopify_attributes }}>
    <product-form class="product-form pdp-product-form" data-cart-type="{{ settings.cart_type }}">
      {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
        <input type="hidden" name="properties[_is_subscription]" value="false">
        {% if product.type contains 'Gift Card' %}
          <input type="hidden" id="sktcgc_to" name="properties[To]" value="" />
          <input type="hidden" id="sktcgc_from" name="properties[_From]" value="" />
          <input type="hidden" id="sktcgc_msg" name="properties[_Msg]" value="" />
        {%- endif -%}
        <div class="grid relative grid-cols-2 gap-2 product-form__buttons" id="AddToCart">
          <button
            type="submit"
            name="add"
            class="relative col-span-2 w-full product-form__submit button button-neon md:button-primary button-md disabled:opacity-50 disabled:bg-wave-700 disabled:border-wave-700 disabled:text-white"
            {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
          >
              <span class="hidden absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 loading-spinner">
                {% render 'icon-spinner', classes: 'h-4 w-4 mr-2 text-white' %}
              </span>
              <span class="label">
                {%- if product.selected_or_first_available_variant.available -%}
                  {{ 'products.product.add_to_cart' | t }}
                {%- else -%}
                  {{ 'products.product.sold_out' | t }}
                {%- endif -%}
              </span>
              {%- if block.settings.atc_show_price -%}
                {%- render 'price', product: product, use_variant: true, price_class: 'main-price ml-auto', slashed_price_color: 'text-seaweed-800 md:text-white' -%}
              {%- endif -%}
          </button>
          {%- unless product.selected_or_first_available_variant.available -%}
            {%- if product.handle == 'ocean-glow-body-trio' %}
              <a class="button button-md gap-4 w-full col-span-2 bg-[#F37830] border-[#F37830] z-20 h-11" target="_blank" href="https://www.ulta.com/p/ocean-glow-body-trio-pimprod2051657?sku=2638931">
                <span class="text-white">Shop now on ULTA</span>
              </a>
            {%- else -%}
              <div class="z-0 w-full h-11 rounded-md skeleton bg-wave-400"></div>
              <div class="z-0 w-full h-11 rounded-md skeleton bg-wave-400"></div>
            {%- endif -%}
          {%- endunless -%}
        </div>
        {%- if product.selected_or_first_available_variant.available -%}
          {%- if product.metafields.custom.limited_availability_badge or product.selected_or_first_available_variant.inventory_quantity <= settings.low_stock_threshold -%}
            <div class="my-1 font-bold tracking-wide text-center text-coral-800">Limited stock available!</div>
          {%- else -%}
            <div class="my-1 text-sm font-book">
              <ul>
              <li>+ 30 Day Money Back Guarantee</li>
              <li>+ Free Shipping{% if settings.shipping_countdown_threshold > 0 %} on Orders {{ settings.shipping_countdown_threshold | times: 100 | money_without_trailing_zeros }}+{% endif %}</li>
              </ul>
            </div>
          {%- endif -%}
        {%- endif -%}
      {%- endform -%}
      <div class="absolute left-0 mt-1 text-sm product-form__error-message-wrapper text-coral-800" role="alert" hidden>
        {% render 'icon-error-circle', classes: 'icon icon-error w-4 h-4 inline mr-1', aria_hidden: true, stroke_width: 2 %}
        <span class="leading-4 align-bottom product-form__error-message"></span>
      </div>
    </product-form>
  </div>
  <div class="hidden col-span-12 mt-4 shipping-calculator">
    <shipping-calculator class="flex gap-2 items-end">
      <form class="relative">
        <label for="shippingzip" class="font-medium">Estimated shipping time:</label><br/>
        <input class="py-2 w-60 input input-sm" id="shippingzip" name="shippingzip" type="text" placeholder="Zipcode">
        <input class="absolute right-1 bottom-1 px-2 py-0.5 button button-tertiary button-sm" type="submit" value="Submit">
      </form>
      <div
        id="transitTimeOutput"
        data-transition-end="opacity-100 translate-x-0"
        data-transition-start="-translate-x-4 opacity-0"
        class="inline-flex px-2 mt-2 mb-px font-bold leading-8 rounded-lg opacity-0 duration-300 -translate-x-4 pointer-events-none transition-transform-opacity bg-seafoam-300"></div>
    </shipping-calculator>
  </div>
{%- endunless -%} 