{% comment %}
    Renders a product card

    Accepts:
    - product: {Object} Product Liquid object (required)
    - classes: {String} Tailwind styling classes (optional)

    Usage:
    {% render 'product-in-set', product: section.settings.product %}
{% endcomment %}

{%- liquid
  if product.metafields.custom.parent_product != blank
    assign product_url = product.metafields.custom.parent_product.value.url
    assign product = product.metafields.custom.parent_product.value
  else
    assign product_url = product.url
  endif
-%}
<div class="relative bg-white px-3 pt-3 items-center mb-4 last:mb-0 border border-seaweed-300 rounded-lg {{ classes }}">
  <div class="flex flex-row gap-4">
    <div class="w-full order-1 grow flex flex-col items-start pt-1 pb-6">
      <a href="{{ product_url | default: '#' }}" class="group text-sm tracking-wide leading-tight no-underline">
        <h4 class="font-medium group-hover:underline mb-0.5">
          {{ product.title | replace: 'Deluxe Sample ', '' | escape }}
        </h4>
        <p class="group-hover:underline mb-0.5">{{ product.metafields.custom_fields.short_description }}</p>
        <p class="group-hover:underline mb-1">{{ product.metafields.my_fields.size }}</p>
      </a>
    </div>

    {%- liquid
      if product.metafields.custom.product_image_transparent != blank
        assign image_object = product.metafields.custom.product_image_transparent
      elsif product.featured_media
        assign image_object = product.featured_media
      endif
      assign main_image_src = image_object | image_url: width: 80, height: 80, crop: 'center'
      assign main_image_src_2x = image_object | image_url: width: 160, height: 160, crop: 'center'
    -%}
    {%- if image_object -%}
      <a
        aria-label="{{ product.title | escape }}"
        href="{{ product_url | default: '#' }}"
        class="group relative block mx-auto no-underline shrink-0 w-24 bg-wave-100 rounded-l-lg"
        tabindex="-1"
      >
        {% comment %} theme-check-disable RemoteAsset {% endcomment %}
        <img
          srcset="{% render 'imgix', src: main_image_src %} 1x, {% render 'imgix', src: main_image_src_2x %} 2x"
          src="{% render 'imgix', src: main_image_src_2x %}"
          alt="{{ product.featured_media.alt | escape }}"
          loading="lazy"
          width="72"
          height="72"
          class="mx-auto"
        >
        {% comment %} theme-check-enable RemoteAsset {% endcomment %}
      </a>
    {%- endif -%}
  </div>
  <details
    class="accordion group-accordion relative -top-6 -mb-3"
    id="Details-SetIncludes"
    data-duration="400"
  >
    <summary class="flex items-center gap-2 ml-24 pl-3">
      <svg class="h-4 w-4 text-seaweed-700 shrink-0" aria-hidden="true" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line class="group-accordion-open:rotate-90 origin-center motion-safe:transition-transform duration-300" x1="12" y1="5" x2="12" y2="19" />
        <line x1="5" y1="12" x2="19" y2="12" />
      </svg>
      <span class="link">See <span class="group-accordion-open:hidden">more</span><span class="hidden group-accordion-open:inline">less</span> info</span>
    </summary>
    <div
      class="content tracking-wide py-3"
      tabindex="0"
    >
      <section class="mb-4">
        <h5 class="font-bold mb-2">Description</h5>
        <div class="p:text-sm">{{ product.metafields.custom_fields.description }}</div>
      </section>
      <section class="mb-4">
        <h5 class="font-bold mb-2">Key ingredients</h5>
        {%- if product.metafields.custom.key_ingredients_list -%}
          {%- for ingredient in product.metafields.custom.key_ingredients_list.value -%}
            <div class="text-sm mb-2 last:mb-0">
              <p class="text-sm">
                <b class="font-medium">{{ ingredient.name | split: ' [' | first }}</b>
                {%- if ingredient.scientific_name != blank -%}
                  {{ ' ' }}<em class="text-sm text-seaweed-600">({{ ingredient.scientific_name }})</em>
                {%- endif -%}
              </p>
              {%- if ingredient.description != blank -%}
                <p>{{ ingredient.description }}</p>
              {%- endif -%}
              {%- if ingredient.citation != blank -%}
                <cite>{{ ingredient.citation }}</cite>
              {%- endif -%}
            </div>
          {%- endfor -%}
        {%- elsif product.metafields.custom.key_ingredients_text != blank -%}
          <div class="li:text-sm">{{ product.metafields.custom.key_ingredients_text }}</div>
        {%- endif -%}
        <modal-opener class="no-js-hidden" data-modal="#SetIngredientsPopup-{{ product.handle }}">
          <button class="link text-sm mt-2 font-book">View all ingredients</button>
        </modal-opener>
        <modal-dialog id="SetIngredientsPopup-{{ product.handle }}">
          <div role="dialog" aria-label="Read full ingredients list" aria-modal="true" class="product-popup-modal__content max-h-screen overflow-y-auto" tabindex="-1">
            <button id="ModalClose-{{ product.handle }}" type="button" aria-label="{{ 'accessibility.close' | t }}">
              {%- render 'icon-close', classes: 'w-8 h-8', stroke_width: 1, aria_hidden: true -%}
            </button>
            <div class="w-full">
              <h2 class="font-bold mb-2">Ingredients</h2>
              <div class="p:text-sm p:mb-2">{{ product.metafields.custom_fields.ingredients }}</div>
            </div>
          </div>
        </modal-dialog>
      </section>
      {%- if product.metafields.custom.scent_profile != blank -%}
        <section>
          <h5 class="font-bold mb-2">Scent profile</h5>
          <div class="p:text-sm p:mb-2">{{ product.metafields.custom.scent_profile.value }}</div>
        </section>
      {%- endif -%}
      <a class="button button-xs button-tertiary" href="{{ product_url }}">View full product details</a>
    </div>
  </details>
</div>
