{% comment %}
    Renders image badges from metafields

    Accepts:
    - product: {Object} Product Liquid object
    - classes: {Object} Tailwind CSS classes
    - sizes: {String} sizes attribute for badge images (optional)
    - widths: {String} comma-separated width candidates for badge images (optional)
    - fallback_width: {Number} fallback src width for badge images (optional)
    
    Usage:
    {% render 'product-image-badge', product: product %}
{% endcomment %}

{%- liquid
  assign badge_sizes = sizes | default: '48px'
  assign badge_widths_csv = widths | default: '48,64,80,96,128'
  assign badge_widths = badge_widths_csv | split: ','
  assign badge_fallback_width = fallback_width | default: 64
-%}

{%- if product.metafields.custom.badge_image.value != blank and product.handle != 'gift-card' -%}
  <div class="flex flex-col absolute {{ classes }}">
    {%- for badge in product.metafields.custom.badge_image.value -%}
      {%- liquid
        assign badge_image_src = blank
        assign badge_alt = blank
        assign badge_classes = blank
      -%}
      {%- case badge -%}
        {%- when 'Eczema Approved' -%}
          {%- liquid
            assign badge_image_src = settings.shopifyCdnUrl | append: '/files/Eczema_Association_Accepted.png'
            assign badge_alt = 'National Eczema Association Accepted'
            assign badge_classes = 'px-1'
          -%}
        {%- when 'Allure 2025' -%}
          {%- liquid
            assign badge_image_src = settings.shopifyCdnUrl | append: '/files/Allure_BestofBeauty_2025.png'
            assign badge_alt = 'Allure Best of Beauty 2025'
          -%}
        {%- when 'Allure 2024' -%}
          {%- liquid
            assign badge_image_src = settings.shopifyCdnUrl | append: '/files/Allure_BestofBeauty_2024.png'
            assign badge_alt = 'Allure Best of Beauty 2024'
          -%}
        {%- when 'Allure 2023' -%}
          {%- liquid
            assign badge_image_src = settings.shopifyCdnUrl | append: '/files/Allure_BestofBeauty_2023.png'
            assign badge_alt = 'Allure Best of Beauty 2023'
          -%}
        {%- when 'Allure 2022' -%}
          {%- liquid
            assign badge_image_src = settings.shopifyCdnUrl | append: '/files/Allure_BestofBeauty_2022.png'
            assign badge_alt = 'Allure Best of Beauty 2022'
          -%}
        {%- endcase -%}
        {%- if badge_image_src != blank -%}
          {%- liquid
            assign badge_image_srcset = blank

            for badge_width in badge_widths
              assign badge_width = badge_width | strip

              if badge_width == blank
                continue
              endif

              capture badge_image_candidate
                render 'imgix', src: badge_image_src, w: badge_width
              endcapture

              if badge_image_srcset == blank
                assign badge_image_srcset = badge_image_candidate | append: ' ' | append: badge_width | append: 'w'
              else
                assign badge_image_srcset = badge_image_srcset | append: ', ' | append: badge_image_candidate | append: ' ' | append: badge_width | append: 'w'
              endif
            endfor
          -%}
          {% comment %}theme-check-disable RemoteAsset {% endcomment %}
          <img
            srcset="{{ badge_image_srcset }}"
            src="{% render 'imgix', src: badge_image_src, w: badge_fallback_width %}"
            sizes="{{ badge_sizes }}"
            alt="{{ badge_alt }}"
            class="{{ badge_classes }}"
          >
          {% comment %}theme-check-enable RemoteAsset {% endcomment %}
        {%- endif -%}
    {%- endfor -%}
  </div>
{%- endif -%}
