{% comment %}
    Renders a product card

    Accepts:
    - product: {Object} Product Liquid object (required)
    - classes: {String} Tailwind styling classes (optional)

    Usage:
    {% render 'product-in-set', product: section.settings.product %}
{% endcomment %}

{%- liquid
  if product.metafields.custom.parent_product != blank
    assign product_url = product.metafields.custom.parent_product.value.url
    assign short_description = product.metafields.custom.parent_product.value.metafields.custom_fields.short_description
  else
    assign product_url = product.url
    assign short_description = product.metafields.custom_fields.short_description
  endif
-%}
<div class="relative bg-white items-center mb-4 last:mb-0 border border-seaweed-300 rounded-lg {{ classes }}">
  <div class="flex flex-row gap-4 items-center">
    <div class="w-full order-1 grow flex flex-col items-start py-2">
      <a href="{{ product_url | default: '#' }}" class="group text-sm tracking-wide leading-tight no-underline">
        <h4 class="font-medium group-hover:underline mb-0.5">
          {{ product.title | replace: 'Deluxe Sample ', '' | escape }}
        </h4>
        <p class="group-hover:underline mb-0.5">{{ short_description }}</p>
        <p class="group-hover:underline mb-1">{{ product.metafields.my_fields.size }}</p>
      </a>
    </div>

    {%- liquid
      if product.metafields.custom.product_image_transparent != blank
        assign image_object = product.metafields.custom.product_image_transparent
      elsif product.featured_media
        assign image_object = product.featured_media
      endif
      assign main_image_src = image_object | image_url: width: 80, height: 80, crop: 'center'
      assign main_image_src_2x = image_object | image_url: width: 160, height: 160, crop: 'center'
    -%}
    {%- if image_object -%}
      <a
        aria-label="{{ product.title | escape }}"
        href="{{ product_url | default: '#' }}"
        class="group relative block mx-auto no-underline shrink-0 w-24 bg-wave-100 rounded-l-lg"
        tabindex="-1"
      >
        {% comment %} theme-check-disable RemoteAsset {% endcomment %}
        <img
          srcset="{% render 'imgix', src: main_image_src %} 1x, {% render 'imgix', src: main_image_src_2x %} 2x"
          src="{% render 'imgix', src: main_image_src_2x %}"
          alt="{{ product.featured_media.alt | escape }}"
          loading="lazy"
          width="72"
          height="72"
          class="mx-auto"
        >
        {% comment %} theme-check-enable RemoteAsset {% endcomment %}
      </a>
    {%- endif -%}
  </div>
</div>