{% comment %}
    Renders a product card

    Accepts:
    - product_card_product: {Object} Product Liquid object (optional)
    - show_secondary_image_on_hover: {Boolean} Show the secondary image on hover. Default: false (optional)
    - custom_default_image: {Boolean} Make the secondary image appear first. Default: false (optional)
    - variant_picker_type: {'button' or 'dropdown'} Display mode of variant options, default: 'button' (optional)
    - button_class: {String} Tailwind styling classes (optional)
    - price_class: {String} Tailwind styling classes (optional)
    - badge_class: {String} Tailwind styling classes (optional)
    - hide_badge: {Boolean}
    - subscription: {Boolean}

    Usage:
    {% render 'product-card', product_card_product: section.settings.product %}
{% endcomment %}

{% comment %} <script>console.log('product:', {{ product_card_product.selling_plan_groups | json }});</script> {% endcomment %}

<div class="flex flex-col relative grow h-full">
  <div class="w-full order-1 grow flex flex-col">
    <a href="{{ product_card_product.url | default: '#' }}" class="group">
      <div class="">
        {%- if product_card_product.metafields.reviews.rating.value != blank -%}
          {% render 'product-rating', product: product_card_product, compact: true, classes: 'h-5 float-right' %}
        {%- endif -%}

        <h3 class="text-lg font-medium leading-5 hover:underline tracking-wide{% if product_card_product.handle == 'undaria-algae-body-butter' %} xs:tracking-normal sm:tracking-wide{% endif %}">
          {{ product_card_product.title | escape }}
        </h3>
      </div>

      <p class="text-sm tracking-wide{% if product_card_product.handle == 'undaria-algae-oil' %} tracking-normal{% endif %} leading-tight">
        {%- if product_card_product.metafields.custom_fields.short_description == 'Daily moisturizer that creates a hydrating barrier' -%}
          Daily moisturizer for a hydrating barrier
        {%- else -%}
          {{ product_card_product.metafields.custom_fields.short_description | escape }}
        {%- endif -%}
      </p>
    </a>

    <div class="mt-auto">
      {%- liquid
        assign random_number = "now" | date: "%N"
        assign product_form_id = 'product-form-' | append: product_card_product.id | append: '-' | append: random_number
      -%}
      {%- if subscription and product_card_product.selling_plan_groups.size > 0 -%}
        <fieldset class="js flex">
          <legend class="sr-only">Deliver every:</legend>
          {%- for value in product_card_product.selling_plan_groups[0].selling_plans -%}
            <div class="flex-grow{% unless forloop.last %} mr-1 sm:mr-2{% endunless %}">
              <input type="radio"
                id="{{ product_card_product.id }}-{{ forloop.index0 }}-{{ random_number }}"
                class="peer hidden"
                name="selling_plan"
                value="{{ value.id | escape }}"
                form="{{ product_form_id }}"
                {% if option.selected_value == value %}checked{% endif %}
              >
              <label
                class="button button-xs lowercase button-secondary peer-checked:border-seaweed-4 peer-checked:bg-wave-200 px-1 tracking-normal w-full"
                for="{{ product_card_product.id }}-{{ forloop.index0 }}-{{ random_number }}"
                tabindex="0"
              >
                {{ value.name | replace: 'Delivery every ', '' }}
            </div>
          {%- endfor -%}
        </fieldset>
      {%- elsif product_card_product.has_only_default_variant == false -%}
        {%- if variant_picker_type == 'dropdown' -%}
          <variant-selects
            class="no-js-hidden block mt-2"
            data-section="{{ product_card_product.id }}-{{ random_number }}"
            data-url="{{ product_card_product.url }}"
            data-updateUrl="false"
          >
            {%- for option in product.options_with_values -%}
              <div>
                <label class="sr-only" for="Option-{{ product_card_product.id }}-{{ forloop.index0 }}-{{ random_number }}">
                  {{ option.name }}
                </label>
                <div class="select">
                  <select id="Option-{{ product_card_product.id }}-{{ forloop.index0 }}-{{ random_number }}"
                    class="select__select"
                    name="options[{{ option.name | escape }}]"
                    form="{{ product_form_id }}"
                  >
                    {%- for value in option.values -%}
                      <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                        {{ value }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              </div>
            {%- endfor -%}

            <script type="application/json">
              {{ product_card_product.variants | json }}
            </script>
          </variant-selects>
        {%- else -%}
          <variant-radios
            class="no-js-hidden block mt-1"
            data-section="{{ product_card_product.id }}-{{ random_number }}"
            data-url="{{ product_card_product.url }}"
            data-update-url="false"
          >
            {%- for option in product_card_product.options_with_values -%}
              <fieldset class="js flex">
                <legend class="sr-only">{{ option.name }}</legend>
                {%- for value in option.values -%}
                  <div>
                    <input type="radio"
                      id="{{ product_card_product.id }}-{{ option.position }}-{{ forloop.index0 }}-{{ random_number }}"
                      class="peer hidden"
                      name="{{ option.name }}"
                      value="{{ value | escape }}"
                      form="{{ product_form_id }}"
                      {% if option.selected_value == value %}checked{% endif %}
                    >
                    <label
                      class="button button-xs lowercase button-secondary peer-checked:border-seaweed-4 peer-checked:bg-wave-200 mr-1 xs:mr-2{% if option.values.size > 2 %} px-2 2xs:px-2.5 xs:px-3{% else%} px-2.5 xs:px-3{% endif %}"
                      for="{{ product_card_product.id }}-{{ option.position }}-{{ forloop.index0 }}-{{ random_number }}"
                      tabindex="0"
                    >
                      {{ value }}
                    </label>
                  </div>
                {%- endfor -%}
              </fieldset>
            {%- endfor -%}

            <script type="application/json">
              {{ product_card_product.variants | json }}
            </script>
          </variant-radios>
        {%- endif -%}
      {%- endif -%}

      <product-form data-cart-type="{{ settings.cart_type }}">
        <div class="product-form__error-message-wrapper hidden items-center mb-1" role="alert">
          <svg aria-hidden="true" focusable="false" role="presentation" class="w-4 h-4 mr-1 text-coral-800" viewBox="0 0 13 13">
            <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
            <circle cx="6.5" cy="6.5" r="5.5" fill="currentColor" stroke="currentColor" stroke-width="0.7"/>
            <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
            <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="currentColor" stroke-width="0.7">
          </svg>
          <span class="product-form__error-message text-coral-800 tracking-wide text-sm font-book"></span>
        </div>

        {%- form 'product', product_card_product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
          <input type="hidden" name="id" value="{{ product_card_product.selected_or_first_available_variant.id }}" disabled>
          <button
            type="submit"
            name="add"
            class="button button-tertiary w-full transition flex justify-between mt-2 disabled:opacity-50 {{ button_class }}"
            {% if product_card_product.selected_or_first_available_variant.available == false %}disabled{% endif %}
          >
            {%- if product_card_product.selected_or_first_available_variant.available -%}
              {%- if subscription -%}
                <span>Subscribe</span>
              {%- else -%}
                <span>{{ 'products.product.add_to_cart' | t }}</span>
              {%- endif -%}
              <span id="price-{{ product_card_product.id }}-{{ random_number }}" class="whitespace-nowrap {{ price_class }}">
                {% render 'price',
                  product: product_card_product,
                  show_price_range: true,
                  use_variant: true,
                  subscription: subscription
                %}
              </span>
            {%- else -%}
              {{ 'products.product.sold_out' | t }}
            {%- endif -%}
          </button>
        {%- endform -%}
      </product-form>
    </div>
  </div>

  <div class="relative block overflow-hidden no-underline" tabindex="-1">
    {%- if product_card_product.featured_media -%}
      <a
        aria-label="{{ product_card_product.title | escape }}"
        href="{{ product_card_product.url | default: '#' }}"
        class="group block bg-wave-100 mb-2"
        tabindex="-1"
      >
        {%- if custom_default_image != nil -%}
          {% assign default_image = custom_default_image %}
        {%- elsif product_card_product.selected_or_first_available_variant.featured_media != nil -%}
          {% assign default_image = product_card_product.selected_or_first_available_variant.featured_media %}
        {%- else -%}
          {% assign default_image = product_card_product.featured_media %}
        {%- endif -%}
        <img
          srcset="{{ default_image | image_url: width: 328 }} 1x,
            {{ default_image | image_url: width: 656 }} 2x"
          src="{{ default_image | image_url: width: 328 }}"
          alt="{{ default_image.alt | escape }}"
          loading="lazy"
          width="{{ default_image.width }}"
          height="{{ default_image.height }}"
          id="ProductCard-DefaultImage-{{ product_card_product.id }}"
        >
        {%- if product_card_product.media[1] != nil and show_secondary_image_on_hover -%}
          <img
            srcset="{{ product_card_product.media[1] | image_url: width: 328 }} 1x,
              {{ product_card_product.media[1] | image_url: width: 656 }} 2x"
            src="{{ product_card_product.media[1] | image_url: width: 328 }}"
            alt="{{ product_card_product.media[1].alt | escape }}"
            loading="lazy"
            class="{% if show_secondary_image_on_hover %}absolute inset-0 opacity-0 group-hover:opacity-100 motion-reduce:transition-none transition-opacity{% endif %} duration-300"
            width="{{ product_card_product.media[1].width }}"
            height="{{ product_card_product.media[1].height }}"
          >
        {%- endif -%}
      </a>
    {%- else -%}
      <h2 class="h3">
        <a href="{{ product_card_product.url | default: '#' }}">
          {{ product_card_product.title }}
        </a>
      </h2>
    {%- endif -%}

    {% if hide_badge != true %}{% render 'product-badge', product: product_card_product, classes: badge_class %}{% endif %}
  </div>
</div>
