<div class="account bg-seafoam-100 py-6 sm:py-12">
  <div class="container">
    <div class="flex items-center gap-4 mb-8">
      <h1 class="font-serif text-4xl tracking-tight leading-tight">
        {% if customer.first_name == blank %}Your Account{% else %}{{ customer.first_name }}'s Account{% endif %}
      </h1>
      <a href="{{ routes.account_logout_url }}" class="button button-xs">
        {%- render 'icon-account', classes: 'w-4 h-4 mr-1.5 -ml-1', aria_hidden: true, stroke_width: 2.5 -%}
        {{ 'customer.log_out' | t }}
      </a>
    </div>

    <nav>
      <ul class="flex justify-between md:justify-start md:gap-4 items-center">
        <li>
          <a
            class="button button-xs sm:button-sm button-white rounded-b-0 py-2 sm:py-3 px-2 xs:px-4 sm:px-6"
            aria-current="page"
            href="#"
          >
            Orders
          </a>
        </li>
        <li>
          <a
            class="button button-xs sm:button-sm button-tertiary bg-transparent border-transparent px-0 sm:px-2 md:px-4"
            href="{{ routes.account_addresses_url }}"
          >
            Address book
            <span class="sr-only 2xs:not-sr-only">&nbsp;({{ customer.addresses_count }})</span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="bg-white rounded-sm px-2 py-4 sm:p-4 md:p-6">
      <h2 class="font-serif text-3xl tracking-tight mb-4">{{ 'customer.orders.title' | t }}</h2>

      {% paginate customer.orders by 20 %}
        {%- if customer.orders.size > 0 -%}
          <table role="table" class="order-history w-full border-y sm:border-x border-seaweed-200 rounded-sm tracking-wide">
            <caption class="sr-only">{{ 'customer.orders.title' | t }}</caption>
            <thead role="rowgroup">
              <tr role="row" class="text-left th:py-2 sm:th:py-3 th:px-1 sm:th:px-2 md:th:px-4 th:border-b th:border-seaweed-200 th:leading-none sm:bg-wave-100 th:text-sm sm:th:text-base sm:th:leading-none">
                <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                <th id="ColumnPayment" scope="col" role="columnheader" class="hidden 2xs:table-cell">{{ 'customer.orders.payment_status' | t }}</th>
                <th id="ColumnFulfillment" scope="col" role="columnheader" class="tracking-normal sm:tracking-wide">{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th id="ColumnTotal" scope="col" role="columnheader" class="text-right">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody role="rowgroup">
              {%- for order in customer.orders -%}
                <tr role="row" class="td:py-3 td:px-2 2xs:td:px-1 sm:td:px-2 md:td:px-4 td:text-sm sm:td:text-base">
                  <td
                    id="RowOrder"
                    role="cell"
                    headers="ColumnOrder"
                    data-label="{{ 'customer.orders.order_number' | t }}"
                  >
                    <a
                      href="{{ order.customer_url }}"
                      aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                      class="button button-secondary button-xs sm:button-sm min-w-[68px] xs:min-w-[76px] md:min-w-[120px] px-1 xs:px-2 md:px-4 tracking-wider sm:tracking-widest"
                    >
                      {{ order.name }}
                    </a>
                  </td>
                  <td
                    headers="RowOrder ColumnDate"
                    role="cell"
                    data-label="{{ 'customer.orders.date' | t }}"
                    class="leading-tight whitespace-nowrap"
                  >
                    <span class="hidden sm:block">{{ order.created_at | time_tag: format: 'abbreviated_date' }}</span>
                    <span class="sm:hidden tracking-normal">{{ order.created_at | date: '%-m/%-d/%y' }}</span>
                  </td>
                  <td
                    headers="RowOrder ColumnPayment"
                    role="cell"
                    data-label="{{ 'customer.orders.payment_status' | t }}"
                    class="tracking-normal sm:tracking-wide hidden 2xs:table-cell"
                  >
                    {{ order.financial_status_label }}
                  </td>
                  <td
                    headers="RowOrder ColumnFulfillment"
                    role="cell"
                    data-label="{{ 'customer.orders.fulfillment_status' | t }}"
                    class="tracking-normal sm:tracking-wide"
                  >
                    {{ order.fulfillment_status_label }}
                  </td>
                  <td
                    headers="RowOrder ColumnTotal"
                    role="cell"
                    data-label="{{ 'customer.orders.total' | t }}"
                    class="text-right tracking-normal xs:tracking-wide"
                  >
                    {{ order.total_price | money }}
                  </td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
        {%- else -%}
          <p>{{ 'customer.orders.none' | t }}</p>
        {%- endif -%}

        {%- if paginate.pages > 1 -%}
          {%- render 'pagination', paginate: paginate -%}
        {%- endif -%}
      {% endpaginate %}

      <div class="sr-only mt-12">
        <h2 class="font-serif text-3xl tracking-tight mb-2">{{ 'customer.account.details' | t }}</h2>

        {{ customer.default_address | format_address }}
      </div>
    </div>
  </div>
</div>
