<div class="activate bg-seafoam-100 py-6 sm:py-12 px-6">
  <div class="container xs:max-w-screen-xs bg-white rounded-sm px-6 py-8 shadow-lg shadow-seaweed-700/10">
    <h1 class="text-center font-serif text-4xl tracking-tight">
      {{ 'customer.activate_account.title' | t }}
    </h1>
    <p class="text-center mb-6">
      {{ 'customer.activate_account.subtext' | t }}
    </p>
    {%- form 'activate_customer_password' -%}
      {%- if form.errors -%}
        <h2 class="flex text-coral-800 font-medium tracking-wide leading-tight gap-2 mb-4" tabindex="-1" autofocus>
          {% render 'icon-warning-circle', classes: 'w-5 h-5 shrink-0', stroke_width: 2, aria_hidden: true %}
          {{ 'templates.contact.form.error_heading' | t }}
        </h2>
        <ul class="sr-only text-coral-800 tracking-wide mb-4 pl-7">
          {%- for field in form.errors -%}
            <li>
              {%- if field == 'form' -%}
                {{ form.errors.messages[field] }}
              {%- else -%}
                <a href="#{{ field }}">
                  {{ form.errors.translated_fields[field] | capitalize }}
                  {{ form.errors.messages[field] }}
                </a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}

      <div class="field mb-4">
        <label for="password" class="label{% if form.errors contains 'password' %} text-coral-800{% endif %}">
          {{ 'customer.activate_account.password' | t }}
        </label>   
        <input
          type="password"
          name="customer[password]"
          id="password"
          autocomplete="new-password"
          {% if form.errors contains 'password' %}
            aria-invalid="true"
            aria-describedby="password-error"
          {% endif %}
          class="input{% if form.errors contains 'password' %} border-coral-400 bg-coral-100{% endif %}"
        >
        {%- if form.errors contains 'password' -%}
          <small id="password-error" class="flex text-coral-800 mb-4 font-book tracking-wide leading-tight gap-1.5 mt-1">
            {%- render 'icon-warning-circle', classes: 'w-4 h-4 shrink-0', stroke_width: 2.5, aria_hidden: true -%}
            {{- form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] -}}
          </small>
        {%- endif -%}
      </div>

      <div class="field mb-6">
        <label for="password_confirmation" class="label{% if form.errors contains 'password_confirmation' %} text-coral-800{% endif %}">
          {{ 'customer.activate_account.password_confirm' | t }}
        </label>   
        <input
          type="password"
          name="customer[password_confirmation]"
          id="password_confirmation"
          autocomplete="new-password"
          {% if form.errors contains 'password' %}
            aria-invalid="true"
            aria-describedby="password_confirmation-error"
          {% endif %}
          class="input{% if form.errors contains 'password_confirmation' %} border-coral-400 bg-coral-100{% endif %}"
        >
        {%- if form.errors contains 'password_confirmation' -%}
          <small id="password_confirmation-error" class="flex text-coral-800 mb-4 font-book tracking-wide leading-tight gap-1.5 mt-1">
            {%- render 'icon-warning-circle', classes: 'w-4 h-4 shrink-0', stroke_width: 2.5, aria_hidden: true -%}
            {{- form.errors.translated_fields['password_confirmation'] | capitalize }} {{ form.errors.messages['password_confirmation'] -}}
          </small>
        {%- endif -%}
      </div>

      <button class="button button-primary w-full mb-4">
        {{ 'customer.activate_account.submit' | t }}
      </button>
      <button name="decline" class="block w-full text-center underline font-bold uppercase tracking-widest">
        {{ 'customer.activate_account.cancel' | t }}
      </button>
    {%- endform -%}
  </div>
</div>
