<div class="login bg-seafoam-100 py-6 sm:py-12 px-6">
  <div class="container xs:max-w-screen-xs bg-white rounded-sm px-6 py-8 shadow-lg shadow-seaweed-700/10">
    <h1 id="recover" tabindex="-1" class="text-center font-serif text-4xl tracking-tight">
      {{ 'customer.recover_password.title' | t }}
    </h1>
    <div>
      <p class="mb-6">
        {{ 'customer.recover_password.subtext' | t }}
      </p>

      {%- form 'recover_customer_password' -%}
        {% assign recover_success = form.posted_successfully? %}
        <div class="field mb-4">
          <label for="RecoverEmail" class="label">
            {{ 'customer.login_page.email' | t }}
          </label>
          <input type="email"
            value=""
            name="email"
            id="RecoverEmail"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            {% if form.errors %}
              aria-invalid="true"
              aria-describedby="RecoverEmail-email-error"
              autofocus
            {% endif %}
            placeholder="example@domain.com"
            class="input"
          >
        </div>
        {%- if form.errors -%}
          <small id="RecoverEmail-email-error" class="flex text-coral-800 mb-4 font-book tracking-wide leading-tight gap-1.5 text-base">
            {% render 'icon-error-circle', classes: 'w-5 h-5 shrink-0', stroke_width: 2, aria_hidden: true %}
            {{ form.errors.messages['form'] }}
          </small>
        {%- endif -%}

        <button class="button button-primary w-full mb-4">
          {{ 'customer.login_page.submit' | t }}
        </button>

        <a href="#login" class="block w-full text-center underline font-bold uppercase tracking-widest">
          {{ 'customer.login_page.cancel' | t }}
        </a>
      {%- endform -%}
    </div>

    <h1 id="login" tabindex="-1" class="text-center font-serif text-4xl tracking-tight mb-6">
      {{ 'customer.login_page.title' | t }}
    </h1>
    <div>
      <div class="flex mb-6 gap-4 tracking-wide">
        <a href="#" aria-label="You are on sign in tab" class="flex-1 button button-sm button-tertiary bg-wave-200 border-wave-200">
          {{ 'customer.login_page.sign_in' | t }}
        </a>

        <a aria-label="Go to create account tab" href="{{ routes.account_register_url }}" class="flex-1 button button-sm button-white">
          {{ 'customer.login_page.create_account' | t }}
        </a>
      </div>

      {%- if recover_success == true -%}
        <h3 class="flex text-seafoam-800 mb-4 font-book tracking-wide leading-tight gap-1.5" tabindex="-1" autofocus>
          {% render 'icon-check-circle', classes: 'w-5 h-5 shrink-0', stroke_width: 2, aria_hidden: true %}
          {{- 'customer.recover_password.success' | t -}}
        </h3>
      {%- endif -%}

      {%- form 'customer_login', novalidate: 'novalidate' -%}        
        {%- if form.errors -%}
          <h2 class="flex text-coral-800 mb-4 font-book tracking-wide leading-tight gap-1.5" tabindex="-1" autofocus>
            <span class="sr-only">{{ 'accessibility.error' | t }} </span>
            {% render 'icon-error-circle', classes: 'w-5 h-5 shrink-0', stroke_width: 2, aria_hidden: true %}
            {{- form.errors | default_errors -}}
          </h2>
        {%- endif -%}

        <div class="field mb-4">
          <label for="CustomerEmail" class="label">
            {{- 'customer.login_page.email' | t -}}
          </label>     
          <input
            type="email"
            name="customer[email]"
            id="CustomerEmail"
            autocomplete="email"
            autocorrect="off"
            autocapitalize="off"
            {% if form.errors contains 'form' %}
              aria-invalid="true"
            {% endif %}
            placeholder="example@domain.com"
            class="input"
          >
        </div>

        {%- if form.password_needed -%}
          <div class="field mb-4">
            <label for="CustomerPassword" class="label">
              {{ 'customer.login_page.password' | t }}
            </label>       
            <input
              type="password"
              value=""
              name="customer[password]"
              id="CustomerPassword"
              autocomplete="current-password"
              {% if form.errors contains 'form' %}
                aria-invalid="true"
              {% endif %}
              class="input"
            >
            <a href="#recover" class="block text-sm">
              {{ 'customer.login_page.forgot_password' | t }}
            </a>
          </div>
        {%- endif -%}

        <a href="/a/loop_subscriptions/customer" class="button button-secondary">Manage Subscription</a>

        <button class="button button-primary block w-full mb-8">
          {{ 'customer.login_page.sign_in' | t }}
        </button>
      {%- endform -%}
    </div>
    
    {%- if shop.checkout.guest_login -%}
      <div>
        <hr class="border-seaweed-200 pb-8 mt-8">

        {%- form 'guest_login' -%}
          <button class="button button-secondary w-full">
            {{ 'customer.login_page.guest_title' | t }}
          </button>
        {%- endform -%}
      </div>
    {%- endif -%}
  </div>
</div>
