<div class="order bg-seafoam-100 py-6 sm:py-12">
  <div class="container">
    <div class="flex items-center gap-4 mb-8">
      <h1 class="font-serif text-4xl tracking-tight leading-tight">{% if customer.first_name == blank %}Your Account{% else %}{{ customer.first_name }}'s Account{% endif %}</h1>
      <a href="{{ routes.account_logout_url }}" class="button button-xs">
        {%- render 'icon-account', classes: 'w-4 h-4 mr-1.5 -ml-1', aria_hidden: true, stroke_width: 2.5 -%}
        {{ 'customer.log_out' | t }}
      </a>
    </div>

    <nav>
      <ul class="flex justify-between md:justify-start md:gap-4 items-center">
        <li>
          <a
            class="button button-xs sm:button-sm button-white rounded-b-0 py-2 sm:py-3 px-2 xs:px-4 sm:px-6"
            aria-current="page"
            href="#"
          >
            Orders
          </a>
        </li>
        <li>
          <a
            class="button button-xs sm:button-sm button-tertiary bg-transparent border-transparent px-0 sm:px-2 md:px-4"
            href="{{ routes.account_addresses_url }}"
          >
            Address book
            <span class="sr-only 2xs:not-sr-only">&nbsp;({{ customer.addresses_count }})</span>
          </a>
        </li>
        <li>
          <a
            class="button button-xs sm:button-sm button-tertiary bg-transparent border-transparent px-0 sm:px-2 md:px-4 gap-1 sm:gap-1.5"
            href="/a/loop_subscriptions/customer"
          >
            Subscriptions
            {% render 'icon-external',
              classes: 'w-4 h-4 -mt-0.5 hidden 2xs:block scale-90 sm:scale-100',
              aria_hidden: true,
              stroke_width: 2.25
            %}
          </a>
        </li>
      </ul>
    </nav>

    <div class="bg-white rounded-sm px-2 py-4 sm:p-4 md:p-6">
      <a class="px-4 sm:px-0 gap-1 flex items-center font-medium tracking-wide mb-6 underline underline-offset-2" href="{{ routes.account_url }}">
        {%- render 'icon-arrow', variant: 'short', classes: 'w-4 h-4 rotate-180 -ml-1', aria_hidden: true, stroke_width: 2.5 -%}
        Return to order history
      </a>
      <div>
        <div class="mb-4 px-4 sm:px-0">
          <h2 class="font-medium text-xl tracking-wide">{{ 'customer.order.title' | t: name: order.name }}</h2>
          {%- assign order_date = order.created_at | time_tag: format: "date_at_time" -%}
          <p class="mb-4">{{ 'customer.order.date_html' | t: date: order_date }}</p>
        </div>

        {%- if order.cancelled -%}
          {%- assign cancelled_at = order.cancelled_at | time_tag: format: "date_at_time" -%}
          <p>{{ 'customer.order.cancelled_html' | t: date: cancelled_at }}</p>
          <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason_label }}</p>
        {%- endif -%}

        <table role="table" class="order-details w-full border-y sm:border-x border-seaweed-200 rounded-sm tracking-wide mb-6">
          <caption class="sr-only">{{ 'customer.order.title' | t: name: order.name }}</caption>
          <thead role="rowgroup">
            <tr role="row" class="text-left th:py-2 sm:th:py-3 th:px-1 sm:th:px-2 md:th:px-4 th:border-b th:border-seaweed-200 th:leading-none sm:bg-wave-100 th:text-sm sm:th:text-base sm:th:leading-none">
              <th id="ColumnProduct" scope="col" role="columnheader">{{ 'customer.order.product' | t }}</th>
              <th id="ColumnSku" scope="col" role="columnheader">{{ 'customer.order.sku' | t }}</th>
              <th id="ColumnPrice" scope="col" role="columnheader" class="sr-only sm:not-sr-only">{{ 'customer.order.price' | t }}</th>
              <th id="ColumnQuantity" scope="col" role="columnheader">{{ 'customer.order.quantity' | t }}</th>
              <th id="ColumnTotal" scope="col" role="columnheader" class="text-right">{{ 'customer.order.total' | t }}</th>
            </tr>
          </thead>
          <tbody role="rowgroup">
            {%- for line_item in order.line_items -%}
              <tr role="row" class="td:py-3 td:px-2 2xs:td:px-1 sm:td:px-2 md:td:px-4 td:text-sm sm:td:text-base">
                <td
                  id="Row{{ line_item.key }}"
                  headers="ColumnProduct"
                  role="rowheader"
                  scope="row"
                  data-label="{{ 'customer.order.product' | t }}"
                >
                  <div class="flex flex-col sm:flex-row items-start gap-0.5 sm:gap-2 tracking-normal">
                    {%- if line_item.url != blank -%}
                      <img class="cart-item__image max-w-full w-12 sm:w-16"
                        src="{{ line_item.image | image_url: width: 120 }}"
                        alt="{{ line_item.image.alt | escape }}"
                        loading="lazy"
                        width="60"
                        height="{{ 60 | divided_by: line_item.image.aspect_ratio | ceil }}"
                      >
                    {%- endif -%}
                    <div>
                      {%- if line_item.url != blank -%}
                        <a href="{{ line_item.url }}" class="underline text-book">{{ line_item.title }}</a>
                      {%- else -%}
                        <p class="text-book">{{ line_item.title }}</p>
                      {%- endif -%}

                      {%- assign property_size = line_item.properties | size -%}
                      {%- unless line_item.selling_plan_allocation == nil and property_size == 0 -%}
                        <div class="properties text-sm">
                          {%- unless line_item.product.has_only_default_variant -%}
                            <span>
                              {{ line_item.variant.title }}
                            </span>
                          {%- endunless -%}
                          {%- unless line_item.selling_plan_allocation == nil -%}
                            <span class="flex items-center gap-1 whitespace-nowrap">
                              {%- render 'icon-recurring', classes: 'w-3 h-3 hidden 2xs:block', aria_hidden: true, stroke_width: 2.5 -%}
                              {{- line_item.selling_plan_allocation.selling_plan.name | replace: 'Delivery', 'Deliver' -}}
                            </span>
                          {%- endunless -%}
                        </div>
                      {%- endunless -%}

                      {%- if line_item.line_level_discount_allocations != blank -%}
                        <ul role="list" aria-label="{{ 'customer.order.discount' | t }}" class="text-sm">
                          {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                            <li>
                              {%- render 'icon-tag', classes: 'w-3 h-3', aria_hidden: true, stroke_width: 2 -%}
                              {{- discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money -}})
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}

                      {%- if line_item.fulfillment -%}
                        <div class="fulfillment text-sm">
                          <span class="hidden sm:block">
                            {{ line_item.fulfillment.tracking_company }}
                            {%- if line_item.fulfillment.tracking_number -%} #{{ line_item.fulfillment.tracking_number }} {%- endif -%}
                          </span>

                          {%- if line_item.fulfillment.tracking_url -%}
                            <a class="underline font-medium" href="{{ line_item.fulfillment.tracking_url }}">
                              {{ 'customer.order.track_shipment' | t }}
                            </a>
                          {%- endif -%}
                        </div>
                      {%- endif -%}
                    </div>
                  </div>
                </td>
                <td
                  headers="Row{{ line_item.key }} ColumnSku"
                  role="cell"
                  data-label="{{ 'customer.order.sku' | t }}"
                  class="tracking-normal !text-sm"
                >
                  {{- line_item.sku -}}
                </td>
                <td
                  headers="Row{{ line_item.key }} ColumnPrice"
                  role="cell"
                  data-label="{{ 'customer.order.price' | t }}"
                  class="sr-only sm:not-sr-only"
                >
                  {%- if line_item.original_price != line_item.final_price or line_item.unit_price_measurement -%}
                    <dl>
                      {%- if line_item.original_price != line_item.final_price -%}
                        <dt>
                          <span class="sr-only">{{ 'products.product.price.regular_price' | t }}</span>
                        </dt>
                        <dd class="regular-price">
                          <s>{{ line_item.original_price | money }}</s>
                        </dd>
                        <dt>
                          <span class="sr-only">{{ 'products.product.price.sale_price' | t }}</span>
                        </dt>
                        <dd>
                          <span>{{ line_item.final_price | money }}</span>
                        </dd>
                      {%- else -%}
                        <dt>
                          <span class="sr-only">{{ 'products.product.price.regular_price' | t }}</span>
                        </dt>
                        <dd>
                          {{ line_item.original_price | money }}
                        </dd>
                      {%- endif -%}
                      {%- if line_item.unit_price_measurement -%}
                        <dt>
                          <span class="sr-only">{{ 'products.product.price.unit_price' | t }}</span>
                        </dt>
                        <dd class="unit-price">
                          <span>
                            {%- capture unit_price_separator -%}
                              <span aria-hidden="true">/</span><span class="sr-only">{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                            {%- endcapture -%}
                            {%- capture unit_price_base_unit -%}
                              {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                                {{- line_item.unit_price_measurement.reference_value -}}
                              {%- endif -%}
                              {{ line_item.unit_price_measurement.reference_unit }}
                            {%- endcapture -%}
                            <span data-unit-price>{{ line_item.unit_price | money }}</span>{{- unit_price_separator -}}{{- unit_price_base_unit -}}
                          </span>
                        </dd>
                      {%- endif -%}
                    </dl>
                  {%- else -%}
                    <span>{{ line_item.final_price | money }}</span>
                  {%- endif -%}
                </td>
                <td
                  headers="Row{{ line_item.key }} ColumnQuantity"
                  role="cell"
                  data-label="{{ 'customer.order.quantity' | t }}"
                >
                  {{- line_item.quantity -}}
                </td>
                <td
                  headers="Row{{ line_item.key }} ColumnTotal"
                  role="cell"
                  data-label="{{ 'customer.order.total' | t }}"
                  class="text-right tracking-normal"
                >
                  {%- if line_item.original_line_price != line_item.final_line_price -%}
                    <dl>
                      <dt>
                        <span class="sr-only">{{ 'products.product.price.regular_price' | t }}</span>
                      </dt>
                      <dd class="regular-price">
                        <s>{{ line_item.original_line_price | money }}</s>
                      </dd>
                      <dt>
                        <span class="sr-only">{{ 'products.product.price.sale_price' | t }}</span>
                      </dt>
                      <dd>
                        <span>{{ line_item.final_line_price | money }}</span>
                      </dd>
                    </dl>
                  {%- else -%}
                    {{ line_item.original_line_price | money }}
                  {%- endif -%}
                </td>
              </tr>
            {%- endfor -%}
          </tbody>
          <tfoot role="rowgroup" class="border-t border-seaweed-200">
            <tr role="row" class="td:text-right td:px-2 2xs:td:px-1 sm:td:px-2 md:td:px-4 td:text-sm sm:td:text-base">
              <td id="RowSubtotal" role="rowheader" scope="row" colspan="4">
                {{ 'customer.order.subtotal' | t }}
              </td>
              <td headers="RowSubtotal" role="cell" data-label="{{ 'customer.order.subtotal' | t }}">{{ order.line_items_subtotal_price | money }}</td>
            </tr>
            {%- if order.cart_level_discount_applications != blank -%}
              <tr role="row" class="td:text-right td:px-2 2xs:td:px-1 sm:td:px-2 md:td:px-4 td:text-sm sm:td:text-base">
                {%- for discount_application in order.cart_level_discount_applications -%}
                  <td id="RowDiscount" role="rowheader" scope="row" colspan="4">
                    {{ 'customer.order.discount' | t }}
                    <span class="cart-discount">
                      {%- render 'icon-tag', classes: 'w-3 h-3', aria_hidden: true, stroke_width: 2 -%}
                      {{- discount_application.title -}}
                    </span>
                  </td>
                  <td headers="RowDiscount" role="cell" data-label="{{ 'customer.order.discount' | t }}">
                    <div>
                      <span>-{{ discount_application.total_allocated_amount | money }}</span>
                      <span class="cart-discount">
                        {%- render 'icon-tag', classes: 'w-3 h-3', aria_hidden: true, stroke_width: 2 -%}
                        {{- discount_application.title -}}
                      </span>
                    </div>
                  </td>
                {%- endfor -%}
              </tr>
            {%- endif -%}
            {%- for shipping_method in order.shipping_methods -%}
              <tr role="row" class="td:text-right td:px-2 2xs:td:px-1 sm:td:px-2 md:td:px-4 td:text-sm sm:td:text-base">
                <td id="RowShipping" role="rowheader" scope="row" colspan="4">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</td>
                <td headers="RowShipping" role="cell" data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</td>
              </tr>
            {%- endfor -%}
            {%- for tax_line in order.tax_lines -%}
              <tr role="row" class="td:text-right td:px-2 2xs:td:px-1 sm:td:px-2 md:td:px-4 td:text-sm sm:td:text-base">
                <td id="RowTax" role="rowheader" scope="row" colspan="4">{{ 'customer.order.tax' | t }} ({{ tax_line.title | downcase }} {{ tax_line.rate | times: 100 }}%)</td>
                <td headers="RowTax" role="cell" data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</td>
              </tr>
            {%- endfor -%}
            <tr role="row" class="td:text-right td:px-2 2xs:td:px-1 sm:td:px-2 md:td:px-4 td:text-sm sm:td:text-base">
              <td id="RowTotal" role="rowheader" scope="row" colspan="4" class="font-medium">{{ 'customer.order.total' | t }}</td>
              <td headers="RowTotal" role="cell" data-label="{{ 'customer.order.total' | t }}" class="font-medium">{{ order.total_price | money }}</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="grid grid-cols-2 gap-2 max-w-xl mx-auto px-4 sm:px-0">
        <div>
          <h2 class="font-medium text-lg sm:text-xl tracking-wide mb-2">{{ 'customer.order.billing_address' | t }}</h2>
          <p class="mb-1">
            <strong>{{ 'customer.order.payment_status' | t }}:</strong>
            {{ order.financial_status_label }}
          </p>
          {{ order.billing_address | format_address }}
        </div>
        <div>
          <h2 class="font-medium text-lg sm:text-xl tracking-wide mb-2">{{ 'customer.order.shipping_address' | t }}</h2>
          <p class="mb-1">
            <strong>{{ 'customer.order.fulfillment_status' | t }}:</strong>
            {{ order.fulfillment_status_label }}
          </p>
          {{ order.shipping_address | format_address }}
        </div>
      </div>
    </div>
  </div>
</div>
