<div class="register bg-retro-teal-light/25 py-6 sm:py-12 px-6">
  <div class="container xs:max-w-screen-xs bg-white rounded-sm px-6 py-8 shadow-lg shadow-seaweed-700/10">
    <h1 class="text-center font-ninetiesHeadliner text-4xl uppercase text-retro-purple mb-6">
      {{- 'customer.register.title' | t -}}
    </h1>
    <div class="flex mb-6 gap-4 tracking-wide">
      <a  href="{{ routes.account_login_url }}" aria-label="You are on sign in tab" class="flex-1 button button-sm button-white">
        {{ 'customer.login_page.sign_in' | t }}
      </a>

      <a aria-label="Go to create account tab" href="#" class="flex-1 button button-sm button-tertiary">
        {{ 'customer.login_page.create_account' | t }}
      </a>
    </div>
    {%- form 'create_customer', novalidate: 'novalidate' -%}
      {%- if form.errors -%}
        <h2 class="flex text-coral-800 font-medium tracking-wide leading-tight gap-2 mb-4" tabindex="-1" autofocus>
          {%- render 'icon-error-circle', classes: 'w-5 h-5 shrink-0', stroke_width: 2, aria_hidden: true -%}
          {{- 'templates.contact.form.error_heading' | t -}}
        </h2>
        <ul class="text-coral-800 tracking-wide mb-4 text-sm"> 
          {%- for field in form.errors -%}
            <li>
              {%- if field == 'form' -%}
                {{ form.errors.messages[field] }}
              {%- else -%}
                <a href="#RegisterForm-{{ field }}">
                  {{ form.errors.translated_fields[field] | capitalize }}
                  {{ form.errors.messages[field] }}
                </a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
      <div class="field mb-4">
        <label for="RegisterForm-FirstName" class="label">
          {{ 'customer.register.first_name' | t }}
        </label>   
        <input
          type="text"
          name="customer[first_name]"
          id="RegisterForm-FirstName"
          {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
          autocomplete="given-name"
          class="input"
        >
      </div>
      <div class="field mb-4">
        <label for="RegisterForm-LastName" class="label">
          {{ 'customer.register.last_name' | t }}
        </label>
        <input
          type="text"
          name="customer[last_name]"
          id="RegisterForm-LastName"
          {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
          autocomplete="family-name"
          class="input"
        >
      </div>
      <div class="field mb-4">
        <label for="RegisterForm-email" class="label{% if form.errors contains 'email' %} text-coral-800{% endif %}">
          {{ 'customer.register.email' | t }}
        </label>   
        <input
          type="email"
          name="customer[email]"
          id="RegisterForm-email"
          {% if form.email %} value="{{ form.email }}"{% endif %}
          spellcheck="false"
          autocapitalize="off"
          autocomplete="email"
          aria-required="true"
          {% if form.errors contains 'email' %}
            aria-invalid="true"
            aria-describedby="RegisterForm-email-error"
          {% endif %}
          placeholder="example@domain.com"
          class="input{% if form.errors contains 'email' %} border-coral-400 bg-coral-100{% endif %}"
        >
        {%- if form.errors contains 'email' -%}
          <span id="RegisterForm-email-error" class="flex text-coral-800 mb-4 font-book tracking-wide leading-tight gap-1.5 mt-1 text-sm">
            {%- render 'icon-error-circle', classes: 'w-4 h-4 shrink-0', stroke_width: 2.5, aria_hidden: true -%}
            {{- form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] -}}.
          </span>
        {%- endif -%}
      </div>
      <div class="field mb-6">
        <label for="RegisterForm-password" class="label{% if form.errors contains 'password' %} text-coral-800{% endif %}">
          {{ 'customer.register.password' | t }}
        </label>   
        <input
          type="password"
          name="customer[password]"
          id="RegisterForm-password"
          aria-required="true"
          {% if form.errors contains 'password' %}
            aria-invalid="true"
            aria-describedby="RegisterForm-password-error"
          {% endif %}
          class="input{% if form.errors contains 'password' %} border-coral-400 bg-coral-100{% endif %}"
        >
        {%- if form.errors contains 'password' -%}
          <span id="RegisterForm-password-error" class="flex text-coral-800 mb-4 font-book tracking-wide leading-tight gap-1.5 mt-1 text-sm">
            {%- render 'icon-error-circle', classes: 'w-4 h-4 shrink-0', stroke_width: 2.5, aria_hidden: true -%}
            {{- form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] -}}.
          </span>
        {%- endif -%}
      </div>
      <button class="button button-primary w-full">
        {{ 'customer.register.submit' | t }}
      </button>
    {%- endform -%}
  </div>
</div>
