<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}

    {%- render 'bing-uet-tag' -%}

    {{ 'checkout.css' | asset_url | stylesheet_tag }}
  
    <script>
      window.lsData = {};
      window.lsData.customer = {% if customer %}{first_name: "{{ customer.first_name }}",last_name: "{{ customer.last_name }}",email: "{{ customer.email }}",customer_id: "{{ customer.id }}",id: "{{ customer.id }}",phone: "{{ customer.phone }}"};{% else %}null;{% endif %}
      window.lsData.currency = '{{ cart.currency.iso_code }}';
      window.lsData.collection_title = '{{ collection.title }}';
      window.lsData.collection = {% if collection %}{{ collection.products | json }}{% else %}null{% endif %};
      window.lsData.product = {% if product %}{{ product | json }}{% else %}null{% endif %};
      window.lsData.cart = {% if cart %}{{ cart | json }}{% else %}null{% endif %};
      window.lsData.checkout = {% if checkout %}
        {
          currency: "{{ checkout.currency }}",
          email: "{{ checkout.email }}",
          item_count: {{ checkout.item_count }},
          shipping_address: {{ checkout.shipping_address | json }},
          total_price: {{ checkout.total_price }},
          line_items: [
            {% for line_item in checkout.line_items %}
              {
                item_id: "{{ line_item.product_id | json }}",
                item_sku: {{ line_item.sku | json }},
                item_name: {{ line_item.product.title | json }},
                item_brand: {{ line_item.vendor | json }},
                item_category: {{ line_item.product.type | json }},
                item_variant: {{ line_item.variant.title | json }},
                price: "{{ line_item.final_price | times: 0.01 | json }}",
                quantity: "{{ line_item.quantity | json }}"
              },
            {% endfor %}
          ],
        }
      {% else %}null{% endif %};
      window.lsData.order = {% if order %}{{ order | json }}{% else %}null{% endif %};
    </script>
    {% comment %}theme-check-disable RemoteAsset{% endcomment %}
    <script async src='https://sp.stape.io/widget/script?shop={{shop.domain}}&shop_id={{shop.id}}'></script>
    <script type="application/javascript" async src="https://sdk.postscript.io/integrations/sdk-min.js"></script>
    {% comment %}theme-check-enable RemoteAsset{% endcomment %}
  </head>
            
  <body>
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}
	
	<!-- PASSPORT SCRIPT -->
  {% comment %}theme-check-disable RemoteAsset{% endcomment %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" async></script>
	<script src="https://api.passportshipping.com/external/shopify/themes/utils/utils.js?ts=1680117899862" type="text/javascript" async></script>
	<script src="https://api.passportshipping.com/external/shopify/themes/taxesAndDuties/taxesAndDuties.js?ts=1680117899862" type="text/javascript" async></script>
  {% comment %}theme-check-enable RemoteAsset{% endcomment %}
	<!-- /PASSPORT SCRIPT -->
  </body>
</html>