<div class="accordion-group">
  <h1 class="sr-only">
    {{ page.title | escape }}
  </h1>
  <div class="container mx-auto px-6 flex">
    <aside>
      {%- for block in section.blocks -%}
        <a>{{ section.settings.accordion_group_heading }}</a>
      {%- endfor -%}
    </aside>
    <article>
      <h2>{{ section.settings.accordion_group_heading }}</h2>
      {%- for block in section.blocks -%}
        {% render 'accordion',
          id: "Details-{{ section.id }}-{{ block.id }}",
          summary: block.settings.accordion_summary,
          content: block.settings.accordion_content %}
      {%- endfor -%}
    </article>
  </div>
</div>

{% schema %}
{
  "name": "Accordion group",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "label": "Heading",
      "id": "accordion_group_heading"
    }
  ],
  "blocks": [
    {
      "type": "accordion",
      "name": "Accordion",
      "settings": [
        {
          "type": "html",
          "id": "accordion_summary",
          "label": "Summary"
        },
        {
          "type": "html",
          "id": "accordion_content",
          "label": "Content"
        }
      ]
    }
  ]
}
{% endschema %}
