<div class="bg-seaweed-700 flex justify-center px-4 text-sm a:link" id="AnnouncementBar">
  {% comment %} Dismissable announcement bar {% endcomment %}
  {%- if section.settings.enable_dismissable_announcement -%}
    <dismissable-announcement class="container px-0 text-white text-center leading-none pr-2 2xs:pr-3 md:px-6 py-0.5 md:flex md:items-start">
      <div id="DismissableMessage" class="sm:max-w-screen-sm mx-auto">{{ section.settings.dismissable_message }}</div>
      <div id="DismissableDefault" class="hidden tracking-wider font-book py-0.5 sm:max-w-screen-sm mx-auto">{{ section.settings.default_message }}</div>
      <button id="DismissableClose" type="button" class="absolute top-1 right-0.5 md:relative md:right-0 md:top-0">{% render 'icon-close', classes: 'text-white w-6 h-6', stroke_width: 1.5 %}</button>
    </dismissable-announcement>
  {% comment %} Slider announcement bar {% endcomment %}
  {%- elsif section.blocks.size > 1 -%}
    <glide-slider
      class="glide type-carousel gap-0 autoplay-{{ section.settings.slide_interval | times: 1000 }} max-w-xl mx-auto"
      id="slider-announcement-bar"
      data-breakpoint-limit="none"
    >
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          {%- for block in section.blocks -%}
            {%- if block.settings.text != blank -%}
              <li class="glide__slide text-white text-base font-book text-center py-0.5 tracking-wider" role="region" aria-label="{{ block.settings.text | strip_html }}">
                {{ block.settings.text }}
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
        <div class="glide__arrows" data-glide-el="controls">
          <button
            class="glide__arrow glide__arrow--left top-1 opacity-50 left-0 z-10"
            aria-label="Go to previous"
            data-glide-dir="<"
          >
            {% render 'icon-chevron', aria_hidden: true, stroke_width: 1.5, classes: 'h-6 w-6 text-white bg-seaweed-700 block' %}
          </button>
          <button
            class="glide__arrow glide__arrow--right top-1 opacity-50 right-0 z-10"
            aria-label="Go to next"
            data-glide-dir=">"
          >
            {% render 'icon-chevron', aria_hidden: true, stroke_width: 1.5, classes: 'h-6 w-6 text-white bg-seaweed-700 block rotate-180' %}
          </button>
        </div>
      </div>
    </glide-slider>
  {%- else -%}
    <div class="text-white font-book text-center py-0.5 tracking-wider" role="region" aria-label="{{ section.blocks[0].settings.text | strip_html }}">
      {{- section.blocks[0].settings.text -}}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Announcement bar",
  "class": "inset-x-0 z-30",
  "max_blocks": 12,
  "settings": [
    {
      "type": "paragraph",
      "content": "Adding more than 1 visible announcement converts text into a carousel. For best performance keep only 1 announcement active at a time."
    },
    {
      "default": 3,
      "id": "slide_interval",
      "info": "Number of seconds before slide changes when there is more than one announcement",
      "label": "Slide change interval",
      "max": 20,
      "min": 0,
      "step": 1,
      "type": "range",
      "unit": "sec"
    },
    {
      "type": "header",
      "content": "Dismissable announcement"
    },
    {
      "type": "paragraph",
      "content": "Adds a close button to announcement bar that closes the current message and reverts to a default message."
    },
    {
      "default": false,
      "type": "checkbox",
      "id": "enable_dismissable_announcement",
      "label": "Enable dismissable announcement"
    },
    {
      "type": "richtext",
      "id": "dismissable_message",
      "label": "Dismissable announcement message",
      "info": "This is the message that will be closeable."
    },
    {
      "type": "richtext",
      "id": "default_message",
      "label": "Default announcement message",
      "default": "<p>Free shipping on orders over $50</p>",
      "info": "This is the message that will be appear when the main message is dismissed."
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Free shipping on orders over $50</p>",
          "label": "Text"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
