<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

<cart-drawer class="fixed z-[2147483001] top-0 left-0 w-screen h-full invisible{% if cart == empty %} is-empty{% endif %}">
  <div id="CartDrawer">
    <div class="cart-scrim block fixed inset-0 bg-seaweed-800/50"></div>
    <div class="cart-drawer bg-white fixed right-0 inset-y-0 w-[40rem] max-w-full overflow-hidden flex flex-col"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'sections.cart.title' | t }}"
      tabindex="-1"
    >
      {%- assign cart_ids = cart.items | map: 'product_id' -%}
      <h2 class="sr-only">{{ 'sections.cart.title' | t }}: {{ cart.items.size }} items</h2>

      {% comment %} Close button {% endcomment %}
      <button
        class="cart-close absolute top-0.5 right-0 p-1 sm:p-4"
        type="button"
        onclick="this.closest('cart-drawer').close()"
        aria-label="{{ 'accessibility.close' | t }}"
      >
        {% render 'icon-close', classes: 'w-8 h-8', stroke_width: 1.5, aria_hidden: true %}
      </button>

      {%- if cart == empty -%}
        <div class="cart-empty h-full overflow-hidden flex flex-col items-center justify-center w-60 mx-auto px-1">
          <h2 class="text-lg tracking-wide font-book mb-4">{{ 'sections.cart.empty' | t }}</h2>
          {%- for link in settings.cart_empty_state_links.links -%}
            <a href="{{ link.url }}" class="button button-secondary mb-4 w-full">{{ link.title }}</a>
          {%- endfor -%}
        </div>
      {%- else -%}
        <div class="cart-drawer-body flex-grow overflow-y-auto px-4 2xs:px-6 pb-12">
          {% comment %} Cart items {% endcomment %}
          <cart-drawer-items class="block mx-auto max-w-md mb-12{% if cart == empty %} is-empty{% endif %}" data-cart-ids="{{ cart_ids | json }}">
            <form action="{{ routes.cart_url }}" id="CartDrawer-Form" class="grow flex flex-wrap" method="post">
              <div id="CartDrawer-CartItems" class="js-contents flex flex-col grow motion-safe:transition-opacity">
                {%- if cart != empty -%}
                  <div class="grow">
                    <table class="cart-items block w-full cell" role="table">
                      <thead role="rowgroup" class="hidden">
                        <tr role="row">
                          <th id="CartDrawer-ColumnImage" role="columnheader" scope="col">Image</th>
                          <th id="CartDrawer-ColumnName" role="columnheader" scope="col">Product name</th>
                          <th id="CartDrawer-ColumnSize" role="columnheader" scope="col">Size</th>
                          <th id="CartDrawer-ColumnQuantity" role="columnheader" scope="col">Quantity</th>
                          <th id="CartDrawer-ColumnTotal" role="columnheader" scope="col">Total</th>
                        </tr>
                      </thead>

                      <tbody role="rowgroup" class="block w-full">
                        {%- for item in cart.items -%}
                          <tr
                            id="CartDrawer-Item-{{ item.index | plus: 1 }}"
                            class="cart-item align-top my-6 grid grid-cols-7 grid-rows-auto [grid-template-areas:'image_name_name_name_name_name_price''image_size_size_sub_sub_sub_sub''image_quant_quant_sub_sub_sub_sub'] td:border-collapse td:border-spacing-0 td:border-0"
                            role="row"
                          >
                            <td class="cart-item__media p-0 [grid-area:image]" role="cell" headers="CartDrawer-ColumnImage">
                              {% if item.image %}
                                <div class="flex h-full items-center">
                                  <a href="{{ item.url }}"
                                    class="sr-only"
                                    tabindex="-1"
                                    aria-hidden="true"
                                  ></a>
                                  {%- liquid
                                    assign main_image_src = item.image | image_url: width: 60
                                    assign main_image_src_2x = item.image | image_url: width: 120
                                  -%}
                                  {% comment %} theme-check-disable RemoteAsset {% endcomment %}
                                  <img class="cart-item__image max-w-full"
                                    srcset="{{ main_image_src_2x }} 2x, {{ main_image_src }} 1x"
                                    src="{{ main_image_src_2x }}"
                                    alt="{{ item.image.alt | escape }}"
                                    loading="lazy"
                                    width="60"
                                    height="{{ 60 | divided_by: item.image.aspect_ratio | ceil }}"
                                  >
                                  {% comment %} theme-check-enable RemoteAsset {% endcomment %}
                                </div>
                              {% endif %}
                            </td>
                            <td class="cart-item__name p-0 [grid-area:name]" role="cell" headers="CartDrawer-ColumnName">
                              <div class="flex items-center h-full">
                                {%- if settings.show_vendor -%}
                                  <p class="text-xs text-wave-600">{{ item.product.vendor }}</p>
                                {%- endif -%}
                                <a href="{{ item.url }}" class="block leading-none 2xs:w-full w-60">
                                  {{ item.product.title | escape }}
                                </a>
                              </div>
                            </td>
                            <td class="cart-item__size p-0 [grid-area:size]{% if item.product.has_only_default_variant or item.properties.size == 0 %} h-0{% endif %}" role="cell" headers="CartDrawer-ColumnSize">
                              {%- if item.product.has_only_default_variant == false or item.properties.size != 0 -%}
                                <dl class="flex items-center h-full text-sm pb-1 gap-2">
                                  {%- if item.product.has_only_default_variant == false -%}
                                    {%- for option in item.options_with_values -%}
                                      <div class="product-option flex">
                                        <dt class="mr-1{% if item.options_with_values.size > 1 %} sr-only sm:not-sr-only sm:mr-1{% endif %}">{{ option.name }}{% unless option.name contains ':' %}:{% endunless %} </dt>
                                        <dd class="whitespace-nowrap">{{ option.value }}{% unless forloop.last %}, {% endunless %}</dd>
                                      </div>
                                    {%- endfor -%}
                                  {%- endif -%}
                                  {%- for property in item.properties -%}
                                    {%- assign property_first_char = property.first | slice: 0 -%}
                                    {%- if property.last != blank and property_first_char != '_' -%}
                                      <div class="product-option flex">
                                        <dt class="mr-1">{{ property.first }}{% unless option.name contains ':' %}:{% endunless %} </dt>
                                        <dd class="whitespace-nowrap">
                                          {%- if property.last contains '/uploads/' -%}
                                            <a href="{{ property.last }}" class="link" target="_blank" aria-describedby="a11y-new-window-message">
                                              {{ property.last | split: '/' | last }}
                                            </a>
                                          {%- else -%}
                                            {{ property.last }}
                                          {%- endif -%}
                                        </dd>
                                      </div>
                                    {%- endif -%}
                                  {%- endfor -%}
                                </dl>
                              {%- endif -%}
                            </td>
                            <td class="cart-item__quantity p-0 [grid-area:quant]" role="cell" headers="CartDrawer-ColumnQuantity">
                              <div class="flex items-center{% if item.product.has_only_default_variant or item.properties.size == 0 %} sm:mt-[-14px] -mt-2{% endif %}">
                                <quantity-input class="quantity inline-flex border border-seaweed-400 rounded-md mr-1">
                                  <button class="quantity__button no-js-hidden cursor-pointer flex items-center justify-center shrink-0 w-6 h-6 border -mt-px -mb-px -ml-px box-content border-transparent rounded-l-md hover:bg-seafoam-100 hover:border-seaweed-500 motion-safe:transition-colors" name="minus" type="button">
                                    <span class="sr-only">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                                    {% render 'icon-minus', classes: 'h-4 w-4 text-seaweed-700 pointer-events-none', stroke_width: 2, aria_hidden: true %}
                                  </button>
                                  <input
                                    class="quantity__input w-8 h-6 border-0 p-1 text-center"
                                    type="number"
                                    name="updates[]"
                                    value="{{ item.quantity }}"
                                    min="0"
                                    max="24"
                                    step="3"
                                    aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                    id="Drawer-quantity-{{ item.index | plus: 1 }}"
                                    data-index="{{ item.index | plus: 1 }}"
                                  >

                                  {% comment %} <input
                                    class="quantity__input w-8 h-10 border-0 py-1 px-0 text-xl grow text-center"
                                    type="number"
                                    name="quantity"
                                    id="Quantity-{{ section.id }}"
                                    value="{{ quantity_rule.min }}"
                                    form="{{ product_form_id }}"
                                    min="{{ quantity_rule.min }}"
                                    {% if quantity_rule.max != null %}max="{{ quantity_rule.max }}"{% endif %}
                                    step="{{ quantity_rule.increment }}"
                                  > {% endcomment %}
                                  <button
                                    class="quantity__button no-js-hidden cursor-pointer flex items-center justify-center shrink-0 w-6 h-6 border -mt-px -mb-px -mr-px box-content border-transparent rounded-r-md hover:bg-seafoam-100 hover:border-seaweed-500 motion-safe:transition-colors disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:border-transparent disabled:hover:bg-transparent"
                                    name="plus"
                                    type="button"
                                  >
                                    <span class="sr-only">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                                    {% render 'icon-plus', classes: 'h-4 w-4 text-seaweed-700 pointer-events-none', stroke_width: 2, aria_hidden: true %}
                                  </button>
                                </quantity-input>

                                <cart-remove-button
                                  id="CartDrawer-Remove-{{ item.index | plus: 1 }}"
                                  data-index="{{ item.index | plus: 1 }}"
                                  class="hidden xs:block"
                                >
                                  <button class="block button button-secondary button-sm px-2" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}" name="remove" type="button">
                                    {% render 'icon-remove', classes: 'w-4 h-4 pointer-events-none', stroke_width: 2, aria_hidden: true %}
                                  </button>
                                </cart-remove-button>
                              </div>

                              <div id="CartDrawer-LineItemError-{{ item.index | plus: 1 }}" class="absolute text-coral-800 text-sm hidden" role="alert">
                                <small class="cart-item__error-text gap-1 flex flex-row-reverse items-center"></small>
                                {% render 'icon-error-circle', classes: 'icon icon-error w-3 h-3', aria_hidden: true, stroke_width: 2 %}
                              </div>
                            </td>
                            <td class="cart-item__totals p-0 [grid-area:price]" role="cell" headers="CartDrawer-ColumnTotal">
                              <div class="flex items-center justify-end h-full">
                                <div class="loading-spinner hidden mr-2">{% render 'icon-spinner', classes: 'w-4 h-4 text-wave-800' %}</div>
                                <div class="cart-item__price-wrapper h-full flex items-center justify-end motion-safe:transition-opacity">
                                  {%- if item.original_line_price != item.final_line_price -%}
                                    <div class="flex">
                                      <span class="sr-only">{{ 'products.product.price.regular_price' | t }}</span>
                                      <s class="text-wave-600 mr-1">{{ item.original_line_price | money }}</s>
                                      <span class="sr-only">{{ 'products.product.price.sale_price' | t }}</span>
                                      <span>{{ item.final_line_price | money }}</span>
                                    </div>
                                  {%- elsif item.product.has_only_default_variant != true and item.variant.compare_at_price > item.variant.price -%}
                                    <div class="flex">
                                      <span class="sr-only">{{ 'products.product.price.regular_price' | t }}</span>
                                      <s class="text-wave-600 mr-1 whitespace-nowrap">{{ item.variant.compare_at_price | times: item.quantity | money }}</s>
                                      <span class="sr-only">{{ 'products.product.price.sale_price' | t }}</span>
                                      <span class="whitespace-nowrap">{{ item.variant.price | times: item.quantity | money }}</span>
                                    </div>
                                  {%- else -%}
                                    <span class="flex">{{ item.original_line_price | money }}</span>
                                  {%- endif -%}

                                  {%- if item.variant.available and item.unit_price_measurement -%}
                                    <div class="unit-price">
                                      <span class="sr-only">{{ 'products.product.price.unit_price' | t }}</span>
                                      {{ item.variant.unit_price | money }}
                                      <span aria-hidden="true">/</span>
                                      <span class="sr-only">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                                      {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                                        {{- item.variant.unit_price_measurement.reference_value -}}
                                      {%- endif -%}
                                      {{ item.variant.unit_price_measurement.reference_unit }}
                                    </div>
                                  {%- endif -%}
                                </div>
                              </div>
                            </td>
                          </tr>
                        {%- endfor -%}
                      </tbody>
                    </table>
                  </div>
                {%- endif -%}
                <p id="CartDrawer-LiveRegionText" class="sr-only" role="status"></p>
                <p id="CartDrawer-LineItemStatus" class="sr-only" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
              </div>
              <div id="CartDrawer-CartErrors" role="alert" class="absolute inset-x-0 top-0 w-full text-center text-coral-800 text-sm"></div>
            </form>
          </cart-drawer-items>
        </div>

        <div class="cart-drawer-footer bg-seafoam-200 flex-shrink-0 px-4 2xs:px-6 py-2">
          <div class="max-w-md mx-auto">
            {%- if settings.show_cart_note -%}
              <details id="Details-CartDrawer mb-4">
                <summary>
                  <span class="flex gap-1 items-center">{{ 'sections.cart.note' | t }}{% render 'icon-caret', classes: 'w-4 h-4' %}</span>
                </summary>
                <cart-note class="cart__note field">
                  <label class="sr-only" for="CartDrawer-Note">{{ 'sections.cart.note' | t }}</label>
                  <textarea id="CartDrawer-Note" class="text-area text-area--resize-vertical field__input" name="note" placeholder="{{ 'sections.cart.note' | t }}">{{ cart.note }}</textarea>
                </cart-note>
              </details>
            {%- endif -%}

            <!-- Subtotals-->
            <div {{ block.shopify_attributes }}>
              <div class="flex justify-between items-center w-full" role="status">
                <h3>{{ 'sections.cart.subtotal' | t }}</h3>
                <p id="CartDrawer-Total" data-total="{{ cart.total_price }}">{{ cart.total_price | money }}</p>
              </div>
              <div>
                {%- if cart.cart_level_discount_applications.size > 0 -%}
                  <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                    {%- for discount in cart.cart_level_discount_applications -%}
                      <li class="discounts__discount discounts__discount--end">
                        {%- render 'icon-discount' -%}
                        {{ discount.title }}
                        (-{{ discount.total_allocated_amount | money }})
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </div>
            </div>

            <!-- CTAs -->
            <div class="mb-2" {{ block.shopify_attributes }}>
              <noscript>
                <button type="submit" class="cart__update-button button button-primary w-full mb-2" form="CartDrawer-Form">{{ 'sections.cart.update' | t }}</button>
              </noscript>
              <button
                type="submit"
                id="CartDrawer-Checkout"
                class="cart__checkout-button button button-primary w-full"
                name="checkout"
                form="CartDrawer-Form"
                onclick="beginCheckoutDataLayer()"
                {% if cart == empty %}disabled{% endif %}>{{ 'sections.cart.checkout' | t }}</button>
            </div>
            <small class="block mx-auto text-xs leading-tight text-center max-w-md child:underline tracking-tight 2xs:tracking-normal">
              {%- if settings.cart_disclaimer != blank -%}{{ settings.cart_disclaimer }}{%- endif -%}
            </small>
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
</cart-drawer>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');
      return (msie > 0 || trident > 0);
    }
    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
      document.querySelector('#cart').submit();
    });
  });
</script>