<cart-drawer class="fixed z-[2147483637] top-0 left-0 w-screen h-full invisible{% if cart == empty %} is-empty{% endif %}">
  <div id="CartDrawer">
    {% comment %} Scrim - Page overlay {% endcomment %}
    <div class="cart-scrim block fixed z-0 inset-0 bg-seaweed-800/50"></div>

    {% comment %} Product recommendations (desktop) {% endcomment %}
    {%- liquid
      assign filtered_items = null | sort
      for item in cart.items
        assign item_collections_handles = item.product.collections | map: 'handle'
        unless item_collections_handles contains 'exclude-from-site' or item_collections_handles contains 'exclude-from-recommendations'
          assign item_array = item | sort
          assign filtered_items = filtered_items | concat: item_array
        endunless
      endfor 

      assign cart_has_bundle_item = false
      for item in cart.items
        for property in item.properties
          if property.first == '_bundleId'
            assign cart_has_bundle_item = true
            break
          endif
        endfor
      endfor
    -%}
    <cart-recommendations
      data-ids="{{ filtered_items | map: 'product_id' | escape }}"
      class="desktop-cart-recommendations hidden sm:block absolute z-10 inset-y-0 w-32 bg-wave-100 p-4 rounded-l-lg overflow-y-auto"
    >
      <h3 class="sr-only">You may also like</h3>
      <div class="cart-recommendations ul:flex ul:flex-col ul:gap-4">
      </div>
    </cart-recommendations>

    {% comment %} Drawer {% endcomment %}
    <div class="cart-drawer bg-white fixed z-20 right-0 inset-y-0 w-[32rem] max-w-full overflow-hidden flex flex-col"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'sections.cart.title' | t }}"
      tabindex="-1"
    >
      {%- assign cart_ids = cart.items | map: 'product_id' -%}

      <h2 class="sr-only">{{ 'sections.cart.title' | t }}: {{ cart.items.size }} items</h2>
      
      {% comment %} First time customer GWP {% endcomment %}
      {% render 'cart-first-time-gwp' %}

      {% comment %} Reward countdown - Free shipping + GWP {% endcomment %}
      {% render 'cart-rewards', cart: cart, cart_ids: cart_ids %}

      {% comment %} Close button {% endcomment %}
      <button
        class="cart-close absolute top-0 right-0 p-1 sm:p-2"
        type="button"
        onclick="this.closest('cart-drawer').close()"
        aria-label="{{ 'accessibility.close' | t }}"
      >
        {% render 'icon-close', classes: 'w-6 h-6', stroke_width: 2, aria_hidden: true %}
      </button>

      {%- if cart == empty -%}
        {% render 'cart-empty-state' %}
      {%- else -%}
        <div class="cart-drawer-body flex-grow overflow-y-auto px-4 2xs:px-6 pb-12 flex flex-col">
          {% comment %} Save with sets upsell / Free loyalty tote {% endcomment %}
          {% render 'cart-save-with-sets' %}

          {% comment %} Cart items {% endcomment %}
          <cart-drawer-items class="block mx-auto max-w-md mb-12{% if cart == empty %} is-empty{% endif %}" data-cart-ids="{{ cart_ids | json }}">
            <form action="{{ routes.cart_url }}" id="CartDrawer-Form" class="grow flex flex-wrap" method="post">
              <div id="CartDrawer-CartItems" class="js-contents flex flex-col grow motion-safe:transition-opacity">
                {%- if cart != empty -%}
                  <div class="grow">
                    <table class="cart-items block w-full cell" role="table">
                      <thead role="rowgroup" class="hidden">
                        <tr role="row">
                          <th id="CartDrawer-ColumnImage" role="columnheader" scope="col">Image</th>
                          <th id="CartDrawer-ColumnName" role="columnheader" scope="col">Product name</th>
                          <th id="CartDrawer-ColumnSize" role="columnheader" scope="col">Size</th>
                          <th id="CartDrawer-ColumnQuantity" role="columnheader" scope="col">Quantity</th>
                          <th id="CartDrawer-ColumnSubscribe" role="columnheader" scope="col">Subscription</th>
                          <th id="CartDrawer-ColumnTotal" role="columnheader" scope="col">Total</th>
                        </tr>
                      </thead>
                      <tbody role="rowgroup" class="LOOP_osea-malibu_bundles_drawer block w-full">
                        {%- if cart_has_bundle_item -%}
                          <tr
                            id="CartDrawer-Item-vlb-bundle"
                            class="cart-item align-top my-6 grid grid-cols-7 grid-rows-auto [grid-template-areas:'image_name_name_name_name_name_price''image_size_size_sub_sub_sub_sub''image_quant_quant_sub_sub_sub_sub'] td:border-collapse td:border-spacing-0 td:border-0"
                            role="row"
                          >
                            <td class="cart-item__media p-0 [grid-area:image]" role="cell" headers="CartDrawer-ColumnImage">
                              <div class="flex h-full items-center">
                                {% comment %} theme-check-disable RemoteAsset {% endcomment %}
                                <img class="cart-item__image max-w-full"
                                  src="https://cdn.shopify.com/s/files/1/1368/9993/files/VeganLeatherBag.jpg?v=1750863148"
                                  alt="Vegan leather bag"
                                  loading="lazy"
                                  width="60"
                                  height="76"
                                >
                                {% comment %} theme-check-enable RemoteAsset {% endcomment %}
                              </div>
                            </td>
                            <td class="cart-item__name p-0 [grid-area:name]" role="cell" headers="CartDrawer-ColumnName">
                              <div class="flex items-center h-full">
                                <a class="block leading-none 2xs:w-full w-60">Vegan Leather Bag</a>
                              </div>
                            </td>
                            <td class="cart-item__size p-0 [grid-area:size] h-0" role="cell" headers="CartDrawer-ColumnSize">
                            </td>
                            <td class="cart-item__quantity p-0 [grid-area:quant]" role="cell" headers="CartDrawer-ColumnQuantity">
                            </td>
                            <td class="cart-item__subscribe p-0 [grid-area:sub]" role="cell" headers="CartDrawer-ColumnSubscribe">
                            </td>
                            <td class="cart-item__totals p-0 [grid-area:price]" role="cell" headers="CartDrawer-ColumnTotal">
                              <div class="flex items-center justify-end h-full">
                                <div class="loading-spinner hidden mr-2">{% render 'icon-spinner', classes: 'w-4 h-4 text-wave-800' %}</div>
                                <div class="cart-item__price-wrapper h-full flex items-center justify-end motion-safe:transition-opacity">
                                  <div class="flex flex-col items-end">
                                    <span class="flex bg-seafoam-200 rounded-sm px-1 py-0.5 text-xs font-book tracking-wide whitespace-nowrap">
                                      <span>Free Gift</span>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        {%- endif -%}
                        {%- for item in cart.items -%}
                          {% comment %}
                            LOOP SUBSCRIPTIONS (https://apps.shopify.com/loop-subscriptions)
                            DO NOT modify this source code because
                            It is automatically generated from LOOP SUBSCRIPTIONS BUNDLE DESIGN
                            If you need to make change, please contact the Loop support team
                            LOOP BUNDLE CODE STARTS
                          {% endcomment %}
                            {% assign is_bundle_item = false %}
                            {%- for property in item.properties -%}
                              {% if property.first == '_bundleId' %}
                                {% assign is_bundle_item = true %}
                                {% break %}
                              {% endif %}
                            {%- endfor -%}
                            {% if is_bundle_item == true %}
                              {% continue %}
                            {% endif %}
                          {% comment %} LOOP BUNDLE CODE ENDS {% endcomment %}
                          {%- liquid
                            assign item_collections_handles = item.product.collections | map: 'handle'
                            if item_collections_handles contains 'exclude-from-site'
                              assign excluded_from_site = true
                            else
                              assign excluded_from_site = false
                            endif
                          -%}
                          <tr
                            id="CartDrawer-Item-{{ item.index | plus: 1 }}"
                            class="cart-item align-top my-6 grid grid-cols-7 grid-rows-auto [grid-template-areas:'image_name_name_name_name_name_price''image_size_size_sub_sub_sub_sub''image_quant_quant_sub_sub_sub_sub'] td:border-collapse td:border-spacing-0 td:border-0"
                            role="row"
                          >
                            <td class="cart-item__media p-0 [grid-area:image]" role="cell" headers="CartDrawer-ColumnImage">
                              {% if item.image %}
                                <div class="flex h-full items-center">
                                  <a {% unless excluded_from_site %}href="{{ item.url }}"{% endunless %}
                                    class="sr-only"
                                    tabindex="-1"
                                    aria-hidden="true"
                                  ></a>
                                  {%- liquid
                                    assign main_image_src = item.image | image_url: width: 60
                                    assign main_image_src_2x = item.image | image_url: width: 120
                                  -%}
                                  {% comment %} theme-check-disable RemoteAsset {% endcomment %}
                                  <img class="cart-item__image max-w-full"
                                    srcset="{% render 'imgix', src: main_image_src_2x %} 2x, {% render 'imgix', src: main_image_src %} 1x"
                                    src="{% render 'imgix', src: main_image_src_2x %}"
                                    alt="{{ item.image.alt | escape }}"
                                    loading="lazy"
                                    width="60"
                                    height="{{ 60 | divided_by: item.image.aspect_ratio | ceil }}"
                                  >
                                  {% comment %} theme-check-enable RemoteAsset {% endcomment %}
                                </div>
                              {% endif %}
                            </td>
                            <td class="cart-item__name p-0 [grid-area:name]" role="cell" headers="CartDrawer-ColumnName">
                              <div class="flex items-center h-full{% if item.product.type == 'Bundle' %} pr-8 pb-1{% endif %}">
                                {%- if settings.show_vendor -%}
                                  <p class="text-xs text-wave-600">{{ item.product.vendor }}</p>
                                {%- endif -%}
                                <a {% unless excluded_from_site %}href="{{ item.url }}"{% endunless %}
                                  class="block leading-none 2xs:w-full {% if item.selling_plan_allocation %}w-52{% else %}w-60{% endif %}">
                                  {{ item.product.title | replace: 'Plant Based Salicylic', 'Salicylic' | replace: 'Eye Serum', 'Serum' | replace: 'Discovery, ', '' | replace: 'AHA Treatment', '' | replace: ' - Sample', '' | replace: 'Free Gift - ', '' | escape }}
                                </a>
                              </div>
                            </td>
                            <td class="cart-item__size p-0 [grid-area:size]{% if item.product.has_only_default_variant or item.properties.size == 0 %} h-0{% endif %}" role="cell" headers="CartDrawer-ColumnSize">
                              {%- if item.product.has_only_default_variant == false or item.properties.size != 0 and excluded_from_site == false -%}
                                <dl class="flex items-center h-full text-sm pb-1 gap-2">
                                  {%- if item.product.has_only_default_variant == false -%}
                                    {%- for option in item.options_with_values -%}
                                      <div class="product-option flex">
                                        <dt class="mr-1{% if item.options_with_values.size > 1 %} sr-only sm:not-sr-only sm:mr-1{% endif %}">{{ option.name | replace: 'Number of Deliveries', 'Deliveries' }}{% unless option.name contains ':' %}:{% endunless %} </dt>
                                        <dd class="whitespace-nowrap">{{ option.value }}{% unless forloop.last %}, {% endunless %}</dd>
                                      </div>
                                    {%- endfor -%}
                                  {%- endif -%}
                                  {%- for property in item.properties -%}
                                    {%- assign property_first_char = property.first | slice: 0 -%}
                                    {%- if property.last != blank and property_first_char != '_' -%}
                                      <div class="product-option flex">
                                        <dt class="mr-1">{{ property.first }}{% unless property.first contains ':' %}:{% endunless %} </dt>
                                        <dd class="whitespace-nowrap">
                                          {%- if property.last contains '/uploads/' -%}
                                            <a href="{{ property.last }}" class="link" target="_blank" aria-describedby="a11y-new-window-message">
                                              {{ property.last | split: '/' | last }}
                                            </a>
                                          {%- else -%}
                                            {{ property.last }}
                                          {%- endif -%}
                                        </dd>
                                      </div>
                                    {%- endif -%}
                                  {%- endfor -%}
                                </dl>
                              {%- endif -%}
                            </td>
                            <td class="cart-item__quantity p-0 [grid-area:quant]" role="cell" headers="CartDrawer-ColumnQuantity">
                              <div class="flex items-center{% if excluded_from_site == false and item.product.has_only_default_variant or item.properties.size == 0 %} sm:mt-[-14px] -mt-2{% endif %}">
                                {%- unless excluded_from_site -%}
                                  <quantity-input class="quantity inline-flex border border-seaweed-400 rounded-md mr-1">
                                    <button class="quantity__button no-js-hidden cursor-pointer flex items-center justify-center shrink-0 w-6 h-6 border -mt-px -mb-px -ml-px box-content border-transparent rounded-l-md hover:bg-seafoam-100 hover:border-seaweed-500 motion-safe:transition-colors" name="minus" type="button">
                                      <span class="sr-only">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                                      {% render 'icon-minus', classes: 'h-4 w-4 text-seaweed-700 pointer-events-none', stroke_width: 2, aria_hidden: true %}
                                    </button>
                                    <input class="quantity__input w-8 h-6 border-0 p-1 text-center"
                                      type="number"
                                      name="updates[]"
                                      value="{{ item.quantity }}"
                                      min="0"
                                      aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                      id="Drawer-quantity-{{ item.index | plus: 1 }}"
                                      data-index="{{ item.index | plus: 1 }}"
                                    >
                                    <button
                                      class="quantity__button no-js-hidden cursor-pointer flex items-center justify-center shrink-0 w-6 h-6 border -mt-px -mb-px -mr-px box-content border-transparent rounded-r-md hover:bg-seafoam-100 hover:border-seaweed-500 motion-safe:transition-colors disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:border-transparent disabled:hover:bg-transparent"
                                      name="plus"
                                      type="button"
                                      {% if item.selling_plan_allocation and item.quantity > 3 %}disabled{% endif %}
                                    >
                                      <span class="sr-only">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                                      {% render 'icon-plus', classes: 'h-4 w-4 text-seaweed-700 pointer-events-none', stroke_width: 2, aria_hidden: true %}
                                    </button>
                                  </quantity-input>
                                {%- endunless -%}

                                <cart-remove-button
                                  id="CartDrawer-Remove-{{ item.index | plus: 1 }}"
                                  data-index="{{ item.index | plus: 1 }}"
                                  class="{% if excluded_from_site %}block{% else %}hidden xs:block{% endif %}"
                                >
                                  <button class="block button button-secondary button-sm px-2" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}" name="remove" type="button">
                                    {% render 'icon-remove', classes: 'w-4 h-4 pointer-events-none', stroke_width: 2, aria_hidden: true %}
                                  </button>
                                </cart-remove-button>
                              </div>

                              <div id="CartDrawer-LineItemError-{{ item.index | plus: 1 }}" class="absolute text-coral-800 text-sm hidden" role="alert">
                                <small class="cart-item__error-text"></small>
                                {% render 'icon-error-circle', classes: 'icon icon-error w-4 h-4', aria_hidden: true, stroke_width: 2 %}
                              </div>
                            </td>
                            <td class="cart-item__subscribe p-0 [grid-area:sub]" role="cell" headers="CartDrawer-ColumnSubscribe">
                              {%- liquid
                                for variant in item.product.variants
                                  if variant.id == item.id
                                    assign current_variant = variant
                                  endif
                                endfor

                                assign subscription_group = nil
                                for group in item.product.selling_plan_groups
                                  if group.name == 'Subscribe and Save'
                                    assign subscription_group = group
                                  endif
                                endfor

                                assign subscription_allocation = nil
                                for allocation in current_variant.selling_plan_allocations
                                  if allocation.selling_plan_group_id == subscription_group.id
                                    assign subscription_allocation = allocation
                                  endif
                                endfor
                              -%}
                              {%- if current_variant and subscription_allocation and subscription_group -%}
                                <div class="cart-subscibe flex flex-col items-end h-full">
                                  {%- liquid
                                    assign default_option = subscription_group.selling_plans[0].id
                                    if item.product.metafields.custom.subscription_interval != blank
                                      for plan in subscription_group.selling_plans
                                        if plan.name contains item.product.metafields.custom.subscription_interval
                                          assign default_option = plan.id
                                        endif
                                      endfor
                                    endif
                                  -%}
                                  <label for="CartSubscribeCheckbox-{{ item.index | plus: 1 }}" class="cursor-pointer flex-1 flex items-center tracking-wide text-sm relative mb-1">
                                    <input
                                      id="CartSubscribeCheckbox-{{ item.index | plus: 1 }}"
                                      type="checkbox"
                                      class="w-4 h-4 box-content mr-1 input"
                                      name="subscribe"
                                      data-index="{{ item.index | plus: 1 }}"
                                      data-default="{{ default_option }}"
                                      {% if item.selling_plan_allocation %}checked{% endif %}
                                    >
                                    <span id="CartSubscribeCheckbox-label" class="whitespace-nowrap">{% if item.selling_plan_allocation != nil %}Subscribed{% else %}Subscribe & Save 10%{% endif %}</span>
                                  </label>
                                  <div class="relative text-seaweed-700 flex-1">
                                    {%- if item.selling_plan_allocation != nil -%}
                                      <label for="CartSubscribeSelect-{{ item.index | plus: 1 }}" class="absolute left-3 top-1/2 -translate-y-1/2 text-sm pointer-events-none">Ship every</label>
                                      <select
                                        id="CartSubscribeSelect-{{ item.index | plus: 1 }}"
                                        class="input input-sm pl-[5rem] box-border"
                                        name="selling_plan"
                                        data-index="{{ item.index | plus: 1 }}"
                                      >
                                        {%- for option in subscription_group.selling_plans -%}
                                          <option value="{{ option.id }}" {%- if option.id == item.selling_plan_allocation.selling_plan.id -%}selected{%- endif -%}>
                                            {{- option.name -}}
                                          </option>
                                        {%- endfor -%}
                                      </select>
                                    {%- endif -%}
                                  </div>
                                </div>
                              {%- endif -%}
                            </td>
                            <td class="cart-item__totals p-0 [grid-area:price]" role="cell" headers="CartDrawer-ColumnTotal">
                              <div class="flex items-center justify-end h-full">
                                <div class="loading-spinner hidden mr-2">{% render 'icon-spinner', classes: 'w-4 h-4 text-wave-800' %}</div>
                                <div class="cart-item__price-wrapper h-full flex items-center justify-end motion-safe:transition-opacity">
                                  {%- if item.selling_plan_allocation != nil -%}
                                    <div class="flex">
                                      <span class="sr-only">{{ 'products.product.price.regular_price' | t }}</span>
                                      <s class="text-wave-600 mr-1 whitespace-nowrap">{{ item.selling_plan_allocation.compare_at_price | times: item.quantity | money_without_trailing_zeros }}</s>
                                      <span class="sr-only">{{ 'products.product.price.sale_price' | t }}</span>
                                      <span class="whitespace-nowrap">{{ item.selling_plan_allocation.per_delivery_price | times: item.quantity | money }}</span>
                                    </div>
                                  {%- elsif item.product.type == 'Bundle' -%}
                                    <div class="flex flex-col items-end">
                                      <div class="flex tracking-tight">
                                        <span class="sr-only">{{ 'products.product.price.regular_price' | t }}</span>
                                        <s class="text-wave-600 mr-1 whitespace-nowrap">{{ item.variant.compare_at_price | times: item.quantity | money_without_trailing_zeros }}</s>
                                        <span class="sr-only">{{ 'products.product.price.sale_price' | t }}</span>
                                        <span class="whitespace-nowrap">{{ item.variant.price | times: item.quantity | money }}</span>
                                      </div>
                                      <span class="bg-seaweed-200 rounded-sm px-1 py-0.5 text-xs font-book tracking-wide whitespace-nowrap">Bundle</span>
                                    </div>
                                  {%- elsif item.original_line_price != item.final_line_price -%}
                                    <div class="flex">
                                      <span class="sr-only">{{ 'products.product.price.regular_price' | t }}</span>
                                      <s class="text-wave-600 mr-1">{{ item.original_line_price | money }}</s>
                                      <span class="sr-only">{{ 'products.product.price.sale_price' | t }}</span>
                                      <span>{{ item.final_line_price | money }}</span>
                                    </div>
                                  {%- elsif item.product.has_only_default_variant != true and item.variant.compare_at_price > item.variant.price -%}
                                    <div class="flex">
                                      <span class="sr-only">{{ 'products.product.price.regular_price' | t }}</span>
                                      <s class="text-wave-600 mr-1 whitespace-nowrap">{{ item.variant.compare_at_price | times: item.quantity | money }}</s>
                                      <span class="sr-only">{{ 'products.product.price.sale_price' | t }}</span>
                                      <span class="whitespace-nowrap">{{ item.variant.price | times: item.quantity | money }}</span>
                                    </div>
                                  {%- else -%}
                                      {%- if item.product.type == 'Sample' -%}
                                        <span class="flex bg-sand-300 rounded-sm px-1.5 py-0.5 text-xs font-book tracking-wide whitespace-nowrap text-seaweed-600">Sample</span>
                                      {%- elsif item.product.type == 'Free Gift' -%}
                                        <div class="flex flex-col items-end">
                                          <span class="flex bg-seafoam-200 rounded-sm px-1 py-0.5 text-xs font-book tracking-wide whitespace-nowrap">
                                            {%- if item.product_id == all_products[settings.gwp_tier2_product].id -%}
                                              <span>2nd Free Gift</span>
                                            {%- elsif item.product_id == all_products[settings.gwp_tier3_product].id -%}
                                              <span>3rd Free Gift</span>
                                            {%- else -%}
                                              <span>Free Gift</span>
                                            {% endif %}
                                          </span>
                                          {%- if item.variant.compare_at_price != nil -%}
                                            <span class="whitespace-nowrap text-sm font-book">{{ item.variant.compare_at_price | money_without_trailing_zeros }} value</span>
                                          {%- endif -%}
                                        </div>
                                      {%- else -%}
                                        <span class="flex">{{ item.original_line_price | money }}</span>
                                      {%- endif -%}
                                  {%- endif -%}

                                  {%- if item.variant.available and item.unit_price_measurement -%}
                                    <div class="unit-price">
                                      <span class="sr-only">{{ 'products.product.price.unit_price' | t }}</span>
                                      {{ item.variant.unit_price | money }}
                                      <span aria-hidden="true">/</span>
                                      <span class="sr-only">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                                      {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                                        {{- item.variant.unit_price_measurement.reference_value -}}
                                      {%- endif -%}
                                      {{ item.variant.unit_price_measurement.reference_unit }}
                                    </div>
                                  {%- endif -%}
                                </div>
                              </div>
                            </td>
                          </tr>
                        {%- endfor -%}
                      </tbody>
                    </table>
                  </div>
                {%- endif -%}
                <p id="CartDrawer-LiveRegionText" class="sr-only" role="status"></p>
                <p id="CartDrawer-LineItemStatus" class="sr-only" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
              </div>
              <div id="CartDrawer-CartErrors" role="alert" class="absolute inset-x-0 top-0 w-full text-center text-coral-800 text-sm"></div>
            </form>
          </cart-drawer-items>

          {%- liquid
            assign gc_in_cart = cart.items | map: 'product' | where: 'type', 'Gift Card'
            if cart.items.size == gc_in_cart.size
              assign only_gc_in_cart = true
            else
              assign only_gc_in_cart = false
            endif
          -%}
          {% comment %} Printed gift note {% endcomment %}
          {%- if settings.enable_printed_gift_note and only_gc_in_cart == false -%}
            <printed-gift-note>
              <div class="max-w-md mx-auto mb-4">
                <input type="checkbox" id="PrintedGiftNote-Enable" class="peer mr-1" />
                <label for="PrintedGiftNote-Enable" class="inline-block leading-4 relative -bottom-0.5 tracking-wide peer-checked:hidden">Add a gift message?</label>
                <label for="PrintedGiftNote-Enable" class="hidden leading-4 relative -bottom-0.5 tracking-wide peer-checked:inline-block">This is a gift!</label>
                <div class="peer-checked:h-28 h-0 transition-height overflow-hidden flex flex-col mt-3 relative">
                  <label for="PrintedGiftNote-Message" class="text-sm font-medium mb-0.5">Your message:</label>
                  <textarea id="PrintedGiftNote-Message" maxlength="410" aria-labelledby="PrintedGiftNote-Message" aria-describedby="PrintedGiftNote-Error" class="input px-3 mb-px"></textarea>
                  <div class="flex justify-between">
                    <small id="PrintedGiftNote-Error" class="text-coral-800 font-book hidden">
                      {% render 'icon-error-circle', classes: 'icon icon-error w-4 h-4 inline mr-0.5 align-text-top', aria_hidden: true, stroke_width: 2 %}
                      <span id="PrintedGiftNote-ErrorText"></span>
                    </small>
                    <small id="PrintedGiftNote-Confirm" class="text-seafoam-800 font-book hidden">
                      {% render 'icon-check-circle', classes: 'text-seafoam-700 icon icon-error w-4 h-4 inline mr-0.5 align-text-top', aria_hidden: true, stroke_width: 2 %}
                      Message saved!
                    </small>
                    <small class="ml-auto">Max characters: 410</small>
                  </div>
                </div>
              </div>
            </printed-gift-note>
          {%- endif -%}

          {% comment %} Product recommendations (mobile) {% endcomment %}
          <cart-recommendations
            data-ids="{{ filtered_items | map: 'product_id' | escape }}"
            class="sm:hidden"
          >
            <div class="block max-w-md mx-auto bg-wave-100 py-4 pl-4 rounded-sm mb-6">
              <h3 class="tracking-wide font-medium text-sm mb-1">You may also like</h3>
              <div class="cart-recommendations overflow-x-auto ul:flex ul:gap-2 li:w-24 li:shrink-0">
              </div>
            </div>
          </cart-recommendations>

          {% comment %} Free samples {% endcomment %}
          {%- assign samples_in_cart = cart.items | map: 'product' | where: 'type', 'Sample' -%}
          {%- if samples_in_cart.size < 3 and settings.cart_samples_collection.products.size > 0 and only_gc_in_cart == false -%}
            <div class="cart-samples w-full max-w-md mx-auto bg-wave-100 pt-4 pl-4 pb-1 rounded-sm">
              <h3 class="tracking-wide font-medium text-sm mb-1">Select up to 3 free samples</h3>
              <div class="overflow-x-auto pb-3">
                <ul class="grid gap-2" style="grid-template-columns: repeat({{ settings.cart_samples_collection.products.size }}, 20%);">
                  {%- for sample in settings.cart_samples_collection.products limit: 6 -%}
                    {%- if sample.available and sample.price == 0 -%}
                      {%- unless cart_ids contains sample.id -%}
                        {% render 'product-card-mini',
                          card_product: sample,
                          section_id: section.id,
                          hide_price: true,
                          button_class: 'button-secondary',
                          disable_links: true
                        -%}
                      {%- endunless -%}
                    {%- endif -%}
                  {%- endfor -%}
                </ul>
              </div>
            </div>
          {%- endif -%}
        </div>

        <div class="cart-drawer-footer bg-seafoam-200 flex-shrink-0 px-4 2xs:px-6 py-2">
          <div class="max-w-md mx-auto">
            {%- if settings.show_cart_note -%}
              <details id="Details-CartDrawer mb-4">
                <summary>
                  <span class="flex gap-1 items-center">{{ 'sections.cart.note' | t }}{% render 'icon-caret', classes: 'w-4 h-4' %}</span>
                </summary>
                <cart-note class="cart__note field">
                  <label class="sr-only" for="CartDrawer-Note">{{ 'sections.cart.note' | t }}</label>
                  <textarea id="CartDrawer-Note" class="text-area text-area--resize-vertical" name="note" placeholder="{{ 'sections.cart.note' | t }}">{{ cart.note }}</textarea>
                </cart-note>
              </details>
            {%- endif -%}

            <!-- Subtotals-->
            <div>
              <div class="flex justify-between items-center w-full" role="status">
                <h3>{{ 'sections.cart.subtotal' | t }}</h3>
                <p id="CartDrawer-Total" data-total="{{ cart.total_price }}">{{ cart.total_price | money }}</p>
              </div>
              <div>
                {%- if cart.cart_level_discount_applications.size > 0 -%}
                  <ul class="mb-2" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                    {%- for discount in cart.cart_level_discount_applications -%}
                      <li class="flex items-center justify-end gap-2">
                        {%- render 'icon-discount', aria_hidden: true, classes: 'w-3 h-3' -%}
                        {{ discount.title }}
                        (-{{ discount.total_allocated_amount | money }})
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </div>
            </div>

            <!-- CTAs -->
            <div class="mb-2">
              <noscript>
                <button type="submit" class="cart__update-button button button-primary w-full mb-2" form="CartDrawer-Form">{{ 'sections.cart.update' | t }}</button>
              </noscript>
              <button
                type="submit"
                id="CartDrawer-Checkout"
                class="cart__checkout-button button button-primary w-full"
                name="checkout"
                form="CartDrawer-Form"
                onclick="beginCheckoutDataLayer()"
                {% if cart == empty %}disabled{% endif %}>{{ 'sections.cart.checkout' | t }}</button>
            </div>
            <small class="block mx-auto text-xs leading-tight text-center max-w-md child:underline tracking-tight 2xs:tracking-normal">
              {%- if settings.cart_disclaimer != blank -%}{{ settings.cart_disclaimer }}{%- endif -%}
            </small>
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
</cart-drawer>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');
      return (msie > 0 || trident > 0);
    }
    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
      document.querySelector('#cart').submit();
    });
  });
</script>

<script>
  //data layer begin checkout
  function beginCheckoutDataLayer() {
  var cartContents = fetch(window.Shopify.routes.root + 'cart.js')
  .then(response => response.json())
  .then(data => {
    var lineproducts = data.items;
    var contents = [];
    for (var i = 0; i < lineproducts.length; i++) {
      var subscriptionType;
      if (lineproducts[i]['properties']['_is_subscription'] == 'true') {
        subscriptionType = lineproducts[i]['selling_plan_allocation']['selling_plan']['name'];
      }
      else subscriptionType = undefined;

      contents.push({
        'item_name': lineproducts[i]['title'],
        'item_id': lineproducts[i]['product_id'],
        'item_sku': lineproducts[i]['sku'],
        'item_variant': lineproducts[i]['variant_id'],
        'price': lineproducts[i]['price'] / 100,
        'item_brand': lineproducts[i]['vendor'],
        'item_category': lineproducts[i]['product_type'],
        'quantity': lineproducts[i]['quantity'],
        'subscription': lineproducts[i]['properties']['_is_subscription'],
        'subscription_interval': subscriptionType,
      });
    }
    dataLayer.push({ ecommerce: null });
    dataLayer.push({
      'event': 'begin_checkout_additional',
      {% if customer %}
      'user_data': {
        'email' : '{{ customer.email }}',
        'first_name' : '{{ customer.first_name }}',
        'last_name' : '{{ customer.last_name }}',
        'customer_id': '{{ customer.id | remove: "'" }}',
      },
      {% endif %}
      'ecommerce': {
        'cart_quantity': data.item_count,
        'cart_total': data.total_price/100,
        'currency': data.currency,
        'items': contents
      }
    });
  });
}
</script>