<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

<cart-drawer class="fixed z-100 top-0 left-0 w-screen h-full invisible{% if cart == empty %} is-empty{% endif %}">
  <div id="CartDrawer">
    <div class="cart-scrim block fixed inset-0 bg-seaweed-800/50"></div>
    <div
      class="cart-drawer bg-white fixed right-0 inset-y-0 w-[40rem] max-w-full overflow-hidden flex flex-col"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'sections.cart.title' | t }}"
      tabindex="-1"
    >
      {%- assign cart_ids = cart.items | map: 'product_id' -%}
      <h2 class="sr-only">{{ 'sections.cart.title' | t }}: {{ cart.items.size }} items</h2>
      {% comment %} Gift with purchase {% endcomment %}
      {%- if settings.enable_gwp and settings.gwp_type == 'banner' -%}
        {%- liquid
          assign tier1_product = all_products[settings.gwp_tier1_product]
          assign tier2_product = all_products[settings.gwp_tier2_product]
          assign tier3_product = all_products[settings.gwp_tier2_product]

          assign hide_gwp = false
          assign gwp_threshold = settings.gwp_tier1_threshold | times: 100
          assign remaining_amount = gwp_threshold | minus: cart.total_price
          assign remaining_amount_money = remaining_amount | money
          assign countdown_text = settings.gwp_tier1_text | replace: 'remaining_amount', remaining_amount_money | replace: 'gift_product', tier1_product.title | replace: 'Free Gift - '
          assign gwp_button_id = tier1_product.selected_or_first_available_variant.id

          if cart_ids contains tier3_product.id
            assign hide_gwp = true
          elsif cart_ids contains tier2_product.id
            if settings.gwp_tier3_product != nil
              assign tier3_product = all_products[settings.gwp_tier3_product]
              assign gwp_threshold = settings.gwp_tier3_threshold | times: 100
              assign countdown_text = settings.gwp_tier3_text | replace: 'remaining_amount', remaining_amount_money | replace: 'gift_product', tier3_product.title | replace: 'Free Gift - '
              assign gwp_button_id = tier3_product.selected_or_first_available_variant.id
            else 
              assign hide_gwp = true
            endif
          elsif cart_ids contains tier1_product.id
            if settings.gwp_tier2_product != nil
              assign gwp_threshold = settings.gwp_tier2_threshold | times: 100
              assign countdown_text = settings.gwp_tier2_text | replace: 'remaining_amount', remaining_amount_money | replace: 'gift_product', tier2_product.title | replace: 'Free Gift - '
              assign gwp_button_id = tier2_product.selected_or_first_available_variant.id
            else
              assign hide_gwp = true
            endif
          endif
        -%}

        {%- unless settings.gwp_tier1_product == nil or hide_gwp -%}
          <gift-with-purchase class="block bg-seafoam-100">
            <figure class="flex items-center max-w-md pl-6 pr-8 xs:pr-6 mx-auto gap-2">
              <img
                srcset="{{ settings.gwp_tier1_product.featured_media | image_url: width: 128 }} 2x,
                  {{ settings.gwp_tier1_product.featured_media | image_url: width: 64 }}"
                src="{{ settings.gwp_tier1_product.featured_media | image_url: width: 128 }}"
                alt="{{ settings.gwp_tier1_product.alt | escape }}"
                loading="lazy"
                width="64"
                height="82"
              >
              <figcaption>
                <h3 class="leading-tight">
                  {%- if remaining_amount > 0 -%}
                    {{ countdown_text }}
                  {%- else -%}
                    {{ settings.gwp_success_text }}
                  {%- endif -%}
                </h3>

                {%- if remaining_amount <= 0 -%}
                  <button
                    class="button button-xs button-secondary mt-1"
                    id="GwpButton"
                    data-id="{{ gwp_button_id }}"
                  >Add to cart</button>
                {%- endif -%}
              </figcaption>
            </figure>
          </gift-with-purchase>
        {%- endunless -%}
      {%- endif -%}

      {% comment %} Shipping countdown {% endcomment %}
      <shipping-countdown data-threshold="{{ settings.shipping_countdown_threshold }}" class="block px-6 pt-4 pb-2 text-center">
        {%- assign remaining_amount = settings.shipping_countdown_threshold | times: 100 | minus: cart.total_price -%}
        <h3 class="mb-1">
          {%- if remaining_amount > 0 -%}
            {%- assign formatted_remaining_amount = remaining_amount | money %}
            {{ settings.shipping_countdown_text | replace: 'remaining_amount', formatted_remaining_amount }}
          {%- else -%}
            {{ settings.shipping_countdown_text_success }}
          {%- endif -%}
        </h3>
        <progress max="100" value="0" class="progress-bar block mx-auto max-w-md transition-all">0%</progress>
      </shipping-countdown>

      {% comment %} Close button {% endcomment %}
      <button
        class="cart-close absolute top-0.5 right-0 p-1 sm:p-4"
        type="button"
        onclick="this.closest('cart-drawer').close()"
        aria-label="{{ 'accessibility.close' | t }}"
      >
        {% render 'icon-close', classes: 'w-8 h-8', stroke_width: 1.5, aria_hidden: true %}
      </button>
      {%- if cart == empty -%}
        <div class="cart-empty h-full overflow-hidden flex flex-col items-center justify-center w-60 mx-auto">
          <h2 class="text-lg tracking-wide font-book mb-4">{{ 'sections.cart.empty' | t }}</h2>
          {%- for link in settings.cart_empty_state_links.links -%}
            <a href="{{ link.url }}" class="button button-secondary mb-4 w-full">{{ link.title }}</a>
          {%- endfor -%}
        </div>
      {%- else -%}
        {%- liquid
          for item in cart.items
            if item.product.metafields.my_fields.save_with_sets != nil and item.selling_plan_allocation == nil
              assign item_with_set = item
              assign item_with_set_line = forloop.index
            endif
          endfor

          assign first_set = item_with_set.product.metafields.my_fields.save_with_sets.value | first
          for tag in first_set.tags
            if tag contains 'badge::save'
              assign set_save_amount = tag | replace: 'badge::save', ''
            endif
          endfor
        -%}

        <div class="bg-seafoam-200 flex-shrink-0 px-6 py-4">
          <div class="max-w-md mx-auto">
            {%- if settings.show_cart_note -%}
              <details id="Details-CartDrawer">
                <summary>
                  <span class="summary__title">
                    {{ 'sections.cart.note' | t }}
                    {% render 'icon-caret' %}
                  </span>
                </summary>
                <cart-note class="cart__note field">
                  <label class="visually-hidden" for="CartDrawer-Note">{{ 'sections.cart.note' | t }}</label>
                  <textarea id="CartDrawer-Note" class="text-area text-area--resize-vertical field__input" name="note" placeholder="{{ 'sections.cart.note' | t }}">{{ cart.note }}</textarea>
                </cart-note>
              </details>
            {%- endif -%}

            <!-- Subtotals-->
            <div {{ block.shopify_attributes }}>
              <div class="flex justify-between items-center w-full" role="status">
                <h3>{{ 'sections.cart.subtotal' | t }}</h3>
                {% comment %} <p id="CartDrawer-Total" data-total="{{ cart.total_price }}">{{ cart.total_price | money }}</p> {% endcomment %}
                {%- liquid
                  assign price_split = cart.total_price | plus: 0.00001 | divided_by: 100 | round: 2 | split: "."
                  assign integral = price_split[0]
                  assign fractional = price_split[1] | append: "00" | truncate: 2, ""
                -%}
                <p id="CartDrawer-Total" data-total="{{ cart.total_price }}"><span class="system-sans">$</span>{{ integral }}.{{ fractional }}</p>
              </div>

              <div>
                {%- if cart.cart_level_discount_applications.size > 0 -%}
                  <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                    {%- for discount in cart.cart_level_discount_applications -%}
                      <li class="discounts__discount discounts__discount--end">
                        {%- render 'icon-discount' -%}
                        {{ discount.title }}
                        (-{{ discount.total_allocated_amount | money }})
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </div>
            </div>

            <!-- CTAs -->
            <div class="mb-2" {{ block.shopify_attributes }}>
              <noscript>
                <button
                  type="submit"
                  class="cart__update-button button button-primary w-full mb-2"
                  form="CartDrawer-Form"
                >
                  {{ 'sections.cart.update' | t }}
                </button>
              </noscript>
              <button
                type="submit"
                id="CartDrawer-Checkout"
                class="cart__checkout-button button button-primary w-full"
                name="checkout"
                form="CartDrawer-Form"
                {% if cart == empty %}disabled{% endif %}
              >
                {{ 'sections.cart.checkout' | t }}
              </button>
            </div>

            <small class="block mx-auto text-xs leading-tight text-center max-w-md child:underline">
              {%- if settings.cart_disclaimer != blank -%}
                {{ settings.cart_disclaimer }}
              {%- endif -%}
            </small>
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
</cart-drawer>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');
      return (msie > 0 || trident > 0);
    }
    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
      document.querySelector('#cart').submit();
    });
  });
</script>