{%- liquid
  assign matrix_product_count = collection.metafields.custom.comparison_matrix_products.value.count
  assign product_form_id = 'product-form-' | append: section.id
-%}

{%- if matrix_product_count > 0 -%}
<section class="plp-comparison-matrix container mb-8 overflow-hidden">
  <span class="anchor block" id="comparison"></span>
  <div class="text-center">
    <h2 class="font-serif text-3xl subpixel-antialiased tracking-tight">Compare Products</h2>
    {% render 'icon-arrow', variant: 'short', aria_hidden: true, stroke_width: 2, classes: 'w-4 h-4 mx-auto rotate-90 border border-seaweed-700 bg-wave-200 rounded-full my-2' %}
  </div>
  <div class="overflow-x-scroll w-full">
    <table class="max-w-screen-lg mx-auto table-fixed">
      <thead>
        <tr class="border-b border-seaweed-300">
          {%- for matrix_product in collection.metafields.custom.comparison_matrix_products.value -%}
            <th class="px-2 py-2 text-center w-1/{{ matrix_product_count }}">
              {%- liquid
                assign image_src = matrix_product.metafields.custom.product_image_transparent | image_url: width: 80
                assign image_src_2x = matrix_product.metafields.custom.product_image_transparent | image_url: width: 160
              -%}
              <a href="{{ matrix_product.url }}">
                {% comment %} theme-check-disable RemoteAsset {% endcomment %}
                <img
                  srcset="{% render 'imgix', src: image_src %} 1x, {% render 'imgix', src: image_src_2x %} 2x"
                  src="{% render 'imgix', src: image_src_2x %}"
                  loading="lazy"
                  alt="{{ matrix_product.featured_media.alt | escape }}"
                  width="{{ matrix_product.featured_media.width }}"
                  height="{{ matrix_product.featured_media.width }}"
                  class="w-20 mx-auto"
                >
                {% comment %} theme-check-enable RemoteAsset {% endcomment %}
              </a>
              <a href="{{ matrix_product.url }}" class="block text-sm leading-5 whitespace-nowrap overflow-ellipsis overflow-hidden h-5{% if matrix_product_count > 3 %} max-w-48{% endif %}">{{ matrix_product.title }}</a>
              {% comment %} <product-form class="product-form plp-matrix-form relative" data-cart-type="{{ settings.cart_type }}">
                {%- form 'product', matrix_product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ matrix_product.selected_or_first_available_variant.id }}" disabled>
                  <input type="hidden" name="properties[_is_subscription]" value="false">
                  <div class="product-form__buttons relative" id="AddToCart">
                    <button
                      type="submit"
                      name="add"
                      class="product-form__submit relative button button-neon button-xs disabled:opacity-50 disabled:bg-wave-700 disabled:border-wave-700 disabled:text-white"
                      {% if matrix_product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                    >
                        <span class="loading-spinner absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 hidden">
                          {% render 'icon-spinner', classes: 'h-4 w-4 mr-2 text-white' %}
                        </span>
                        <span class="label">
                          {%- if matrix_product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.add_to_cart' | t }}
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        </span>
                    </button>
                  </div>
                {%- endform -%}
                <div class="product-form__error-message-wrapper absolute left-0 mt-1 text-sm" role="alert" hidden>
                  <mark class="bg-white text-coral-800">
                    {% render 'icon-error-circle', classes: 'icon icon-error w-4 h-4 inline mr-1', aria_hidden: true, stroke_width: 2 %}
                    <span class="product-form__error-message leading-4 align-bottom"></span>
                  </mark>
                </div>
              </product-form> {% endcomment %}
            </th>
          {%- endfor -%}
        </tr>
      </thead>
      <tbody>
        {%- if collection.metafields.custom.comparison_matrix_dimensions.value contains 'Benefits' -%}
          <tr>
            <th colspan="{{ matrix_product_count }}" class="text-left px-2 text-sm pt-2">Benefits</th>
          </tr>
          <tr class="border-b border-seaweed-300">
            {%- for matrix_product in collection.metafields.custom.comparison_matrix_products.value -%}
              <td class="text-left px-2 align-top text-sm pb-2">
                <ul class="icon-list bullet !pl-5">
                  {%- for benefit in matrix_product.metafields.custom.benefits.value -%}
                    <li>{{ benefit }}</li>
                  {%- endfor -%}
                </ul>
              </td>
            {%- endfor -%}
          </tr>
        {%- endif -%}
        {%- if collection.metafields.custom.comparison_matrix_dimensions.value contains 'Skin Type' -%}
          <tr>
            <th colspan="{{ matrix_product_count }}" class="text-left px-2 text-sm pt-2">Skin Type</th>
          </tr>
          <tr class="border-b border-seaweed-300">
            {%- for matrix_product in collection.metafields.custom.comparison_matrix_products.value -%}
              <td class="text-left px-2 align-top text-sm pb-2">
                {%- for skin_type in matrix_product.metafields.custom.skin_types_list.value -%}
                  <span>{{ skin_type }}{% unless forloop.last %}, {% endunless %}</span>
                {%- endfor -%}
              </td>
            {%- endfor -%}
          </tr>
        {%- endif -%}
        {%- if collection.metafields.custom.comparison_matrix_dimensions.value contains 'Price' -%}
          <tr>
            <th colspan="{{ matrix_product_count }}" class="text-left px-2 text-sm pt-2">Price</th>
          </tr>
          <tr class="border-b border-seaweed-300">
            {%- for matrix_product in collection.metafields.custom.comparison_matrix_products.value -%}
              <td class="text-left px-2 align-top text-sm pb-2">
                {%- render 'price', product: matrix_product, show_price_range: true -%}
              </td>
            {%- endfor -%}
          </tr>
        {%- endif -%}
        {%- if collection.metafields.custom.comparison_matrix_dimensions.value contains 'Finish' -%}
          <tr>
            <th colspan="{{ matrix_product_count }}" class="text-left px-2 text-sm pt-2">Finish</th>
          </tr>
          <tr class="border-b border-seaweed-300">
            {%- for matrix_product in collection.metafields.custom.comparison_matrix_products.value -%}
              <td class="text-left px-2 align-top text-sm pb-2 leading-tight">
                {%- if matrix_product.metafields.custom.finish != blank -%}
                  {{ matrix_product.metafields.custom.finish.value }}
                {%- endif -%}
              </td>
            {%- endfor -%}
          </tr>
        {%- endif -%}
        {%- if collection.metafields.custom.comparison_matrix_dimensions.value contains 'Scent Profile' -%}
          <tr>
            <th colspan="{{ matrix_product_count }}" class="text-left px-2 text-sm pt-2">Scent Profile</th>
          </tr>
          <tr class="border-b border-seaweed-300">
            {%- for matrix_product in collection.metafields.custom.comparison_matrix_products.value -%}
              <td class="text-left px-2 align-top text-sm pb-2 leading-tight max-w-60">
                {%- if matrix_product.metafields.custom.scent_profile_short != blank -%}
                  {{ matrix_product.metafields.custom.scent_profile_short.value }}
                {%- elsif matrix_product.metafields.custom.scent_profile != blank -%}
                  {{ matrix_product.metafields.custom.scent_profile.value }}
                {%- endif -%}
              </td>
            {%- endfor -%}
          </tr>
        {%- endif -%}
        {%- if collection.metafields.custom.comparison_matrix_dimensions.value contains 'Key Ingredients' -%}
          <tr>
            <th colspan="{{ matrix_product_count }}" class="text-left px-2 text-sm pt-2">Key Ingredients</th>
          </tr>
          <tr>
            {%- for matrix_product in collection.metafields.custom.comparison_matrix_products.value -%}
              <td class="text-left px-2 align-top text-sm pb-2">
                <ul class="icon-list bullet !pl-5">
                  {%- for ingredient in matrix_product.metafields.custom.key_ingredients_list.value -%}
                    <li>{{ ingredient.name | split: '[' | first }}</li>
                  {%- endfor -%}
                </ul>
              </td>
            {%- endfor -%}
          </tr>
        {%- endif -%}
      </tbody>
    </table>
  </div>
  <div class="hidden overflow-x-scroll w-full">
    <div class="flex justify-center gap-2">
      {%- for matrix_product in collection.metafields.custom.comparison_matrix_products.value -%}
        <div class="{{ matrix_product.metafields.custom.product_color_light }} rounded p-2 lg:p-4 flex-1">
          <div class="text-center">
            {%- liquid
              assign image_src = matrix_product.metafields.custom.product_image_transparent | image_url: width: 80
              assign image_src_2x = matrix_product.metafields.custom.product_image_transparent | image_url: width: 160
            -%}
            {% comment %} theme-check-disable RemoteAsset {% endcomment %}
            <img
              srcset="{% render 'imgix', src: image_src %} 1x, {% render 'imgix', src: image_src_2x %} 2x"
              src="{% render 'imgix', src: image_src_2x %}"
              loading="lazy"
              alt="{{ matrix_product.featured_media.alt | escape }}"
              width="{{ matrix_product.featured_media.width }}"
              height="{{ matrix_product.featured_media.width }}"
              class="w-20 mx-auto"
            >
            {% comment %} theme-check-enable RemoteAsset {% endcomment %}
            <h3 class="block text-sm font-bold leading-5 h-5 whitespace-nowrap overflow-ellipsis overflow-hidden max-w-48">{{ matrix_product.title }}</h3>
            <product-form class="product-form plp-matrix-form relative" data-cart-type="{{ settings.cart_type }}">
              {%- form 'product', matrix_product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                <input type="hidden" name="id" value="{{ matrix_product.selected_or_first_available_variant.id }}" disabled>
                <input type="hidden" name="properties[_is_subscription]" value="false">
                <div class="product-form__buttons relative" id="AddToCart">
                  <button
                    type="submit"
                    name="add"
                    class="product-form__submit relative button button-neon button-xs disabled:opacity-50 disabled:bg-wave-700 disabled:border-wave-700 disabled:text-white"
                    {% if matrix_product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                  >
                      <span class="loading-spinner absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 hidden">
                        {% render 'icon-spinner', classes: 'h-4 w-4 mr-2 text-white' %}
                      </span>
                      <span class="label">
                        {%- if matrix_product.selected_or_first_available_variant.available -%}
                          {{ 'products.product.add_to_cart' | t }}
                        {%- else -%}
                          {{ 'products.product.sold_out' | t }}
                        {%- endif -%}
                      </span>
                  </button>
                </div>
              {%- endform -%}
              <div class="product-form__error-message-wrapper absolute left-0 mt-1 text-sm" role="alert" hidden>
                <mark class="bg-white text-coral-800">
                  {% render 'icon-error-circle', classes: 'icon icon-error w-4 h-4 inline mr-1', aria_hidden: true, stroke_width: 2 %}
                  <span class="product-form__error-message leading-4 align-bottom"></span>
                </mark>
              </div>
            </product-form>
          </div>
          <div>
            <h4>Benefits</h4>
            <ul class="icon-list bullet !pl-5">
              {%- for benefit in matrix_product.metafields.custom.benefits.value -%}
                <li>{{ benefit }}</li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
      {%- endfor -%}
    </div>
    <table class="max-w-screen-lg mx-auto table-fixed border-spacing-0">
      <thead>
        <tr>
          {%- for matrix_product in collection.metafields.custom.comparison_matrix_products.value -%}
            <th class="px-1 py-0 text-center w-1/{{ matrix_product_count }}">
              <div class="py-2 rounded-t {{ matrix_product.metafields.custom.product_color_light }}">
                {%- liquid
                  assign image_src = matrix_product.metafields.custom.product_image_transparent | image_url: width: 80
                  assign image_src_2x = matrix_product.metafields.custom.product_image_transparent | image_url: width: 160
                -%}
                {% comment %} theme-check-disable RemoteAsset {% endcomment %}
                <img
                  srcset="{% render 'imgix', src: image_src %} 1x, {% render 'imgix', src: image_src_2x %} 2x"
                  src="{% render 'imgix', src: image_src_2x %}"
                  loading="lazy"
                  alt="{{ matrix_product.featured_media.alt | escape }}"
                  width="{{ matrix_product.featured_media.width }}"
                  height="{{ matrix_product.featured_media.width }}"
                  class="w-20 mx-auto"
                >
                {% comment %} theme-check-enable RemoteAsset {% endcomment %}
                <span class="block text-sm leading-5 h-5 whitespace-nowrap overflow-ellipsis overflow-hidden max-w-48">{{ matrix_product.title }}</span>
                <product-form class="product-form plp-matrix-form relative" data-cart-type="{{ settings.cart_type }}">
                  {%- form 'product', matrix_product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                    <input type="hidden" name="id" value="{{ matrix_product.selected_or_first_available_variant.id }}" disabled>
                    <input type="hidden" name="properties[_is_subscription]" value="false">
                    <div class="product-form__buttons relative" id="AddToCart">
                      <button
                        type="submit"
                        name="add"
                        class="product-form__submit relative button button-neon button-xs disabled:opacity-50 disabled:bg-wave-700 disabled:border-wave-700 disabled:text-white"
                        {% if matrix_product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                      >
                          <span class="loading-spinner absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 hidden">
                            {% render 'icon-spinner', classes: 'h-4 w-4 mr-2 text-white' %}
                          </span>
                          <span class="label">
                            {%- if matrix_product.selected_or_first_available_variant.available -%}
                              {{ 'products.product.add_to_cart' | t }}
                            {%- else -%}
                              {{ 'products.product.sold_out' | t }}
                            {%- endif -%}
                          </span>
                      </button>
                    </div>
                  {%- endform -%}
                  <div class="product-form__error-message-wrapper absolute left-0 mt-1 text-sm" role="alert" hidden>
                    <mark class="bg-white text-coral-800">
                      {% render 'icon-error-circle', classes: 'icon icon-error w-4 h-4 inline mr-1', aria_hidden: true, stroke_width: 2 %}
                      <span class="product-form__error-message leading-4 align-bottom"></span>
                    </mark>
                  </div>
                </product-form>
              </div>
            </th>
          {%- endfor -%}
        </tr>
      </thead>
      <tbody>
        <tr>
          {%- for matrix_product in collection.metafields.custom.comparison_matrix_products.value -%}
            <td class="text-left px-1 py-0 align-top text-sm">
              <div class="p-2 {{ matrix_product.metafields.custom.product_color_light }}">
                <h3 class="font-bold text-left text-sm mb-1{% unless forloop.first %} opacity-0{% endunless %}">Benefits</h3>
                <ul class="icon-list bullet !pl-5">
                  {%- for benefit in matrix_product.metafields.custom.benefits.value -%}
                    <li>{{ benefit }}</li>
                  {%- endfor -%}
                </ul>
              </div>
            </td>
          {%- endfor -%}
        </tr>
        <tr>
          {%- for matrix_product in collection.metafields.custom.comparison_matrix_products.value -%}
            <td class="text-left px-1 py-0 align-top text-sm h-1">
              <div class="p-2 h-full {{ matrix_product.metafields.custom.product_color_light }}">
                <h3 class="font-bold text-left text-sm mb-1{% unless forloop.first %} opacity-0{% endunless %}">Skin Type</h3>
                <p>
                  {%- for skin_type in matrix_product.metafields.custom.skin_types_list.value -%}
                    <span>{{ skin_type }}{% unless forloop.last %}, {% endunless %}</span>
                  {%- endfor -%}
                </p>
              </div>
            </td>
          {%- endfor -%}
        </tr>
        <tr>
          {%- for matrix_product in collection.metafields.custom.comparison_matrix_products.value -%}
            <td class="text-left px-1 py-0 align-top text-sm h-1">
              <div class="p-2 h-full {{ matrix_product.metafields.custom.product_color_light }}">
                <h3 class="font-bold text-left text-sm mb-1{% unless forloop.first %} opacity-0{% endunless %}">Price</h3>
                {%- render 'price', product: matrix_product, show_price_range: true -%}
              </div>
            </td>
          {%- endfor -%}
        </tr>
        <tr>
          {%- for matrix_product in collection.metafields.custom.comparison_matrix_products.value -%}
            <td class="text-left px-1 py-0 align-top text-sm leading-tight h-1">
              <div class="p-2 h-full {{ matrix_product.metafields.custom.product_color_light }}">
                <h3 class="font-bold text-left text-sm mb-1{% unless forloop.first %} opacity-0{% endunless %}">Scent Profile</h3>
                {%- if matrix_product.metafields.custom.scent_profile_short != blank -%}
                  {{ matrix_product.metafields.custom.scent_profile_short.value }}
                {%- elsif matrix_product.metafields.custom.scent_profile != blank -%}
                  {{ matrix_product.metafields.custom.scent_profile.value }}
                {%- endif -%}
              </div>
            </td>
          {%- endfor -%}
        </tr>
        <tr>
          {%- for matrix_product in collection.metafields.custom.comparison_matrix_products.value -%}
            <td class="text-left px-1 py-0 align-top text-sm h-1">
              <div class="p-2 rounded-b h-full {{ matrix_product.metafields.custom.product_color_light }}">
                <h3 class="font-bold text-left text-sm mb-1{% unless forloop.first %} opacity-0{% endunless %}">Key Ingredients</h3>
                <ul class="icon-list bullet !pl-5">
                  {%- for ingredient in matrix_product.metafields.custom.key_ingredients_list.value -%}
                    <li>{{ ingredient.name | split: '[' | first }}</li>
                  {%- endfor -%}
                </ul>
              </div>
            </td>
          {%- endfor -%}
        </tr>
      </tbody>
    </table>
  </div>
</section>
{%- endif -%}