{%- liquid
  assign has_faq_content = false
  if collection.metafields.custom.faq != nil and collection.metafields.custom.faq.value != blank
    assign has_faq_content = true
  endif
-%}

{%- if has_faq_content -%}
  <div class="anchor" id="CollectionFaqs"></div>
  <div class="mb-12 container max-w-screen-lg mx-auto">
    {%- if has_faq_content -%}
      <div class="w-full">
        <h3 class="text-3xl tracking-tight font-serif mb-3 md:mb-4">{{ section.settings.header }}</h3>
        {%- for faq in collection.metafields.custom.faq.value -%}
          <div class="relative overflow-hidden{% unless forloop.last %} border-b border-seaweed-300{% endunless %}">
            <input type="checkbox" name="panel" id="faq_panel-{{ forloop.index }}" class="hidden peer">
            <label for="faq_panel-{{ forloop.index }}" class="relative block py-2 lg:py-4 before:content-[''] after:content-[''] before:absolute after:absolute before:block after:block before:w-4 after:w-4 before:h-0.5 after:h-0.5 before:rounded-full after:rounded-full before:bg-seaweed-500 after:bg-seaweed-500 before:scale-75 after:scale-75 before:my-0.5 after:my-0.5 before:top-4 after:top-4 lg:before:top-6 lg:after:top-6 before:right-0 after:right-0 after:rotate-90 peer-checked:after:rotate-0 after:motion-safe:transition-transform after:motion-safe:duration-200">
              <b class="font-medium pr-5 block leading-tight">{{ faq.question }}</b>
            </label>
            <div class="max-h-0 peer-checked:max-h-[600px] motion-safe:transition-max-height motion-safe:duration-500">
              <div class="pb-5 leading-tight">
                {%- if faq.answer != blank -%}
                  <p>{{ faq.answer }}</p>
                {%- endif -%}
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "FAQs",
  "class": "collection-faqs",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "This section shows the collection FAQs."
    },
    {
      "type": "text",
      "id": "header",
      "label": "Header",
      "default": "FAQs"
    }
  ]
}
{% endschema %}
