<div class="faq">
  <h1 class="sr-only">
    {{ page.title | escape }}
  </h1>
  {%- liquid
    assign json_data = page.metafields.custom.faqs.value
    assign categories = json_data | map: 'group' | uniq
  -%}
  <div class="container mx-auto px-6 my-12">
    <tab-controller
      id="faq-tabs"
      class="flex flex-col sm:flex-row gap-6 items-start"
    >
      <aside class="w-1/4 bg-wave-100 py-6 px-4">
        {%- if categories.size > 0 -%}
          <ul aria-controls="faq-tabs" role="tablist">
            {%- for category in categories -%}
              <li
                role="tab"
                aria-controls="tab-{{ forloop.index }}"
                tabindex="0"
                aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
                class="px-2 {% if forloop.first %} bg-wave-200{% endif %}"
              >
                <a class="block font-book tracking-wide py-2">{{ category }}</a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </aside>
      <article class="w-3/4">
        {%- if categories.size > 0 -%}
          {%- for category in categories -%}
            <div
              id="tab-{{ forloop.index }}"
              role="tabpanel"
              tabindex="0"
              aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
            >
              <h2 class="text-xl sm:text-2xl tracking-wide font-medium mb-4">
                {{- category -}}
              </h2>
              {%- assign accordion_data = json_data | where: 'group', category -%}
              <div class="accordion mb-12">
                {% render 'accordion',
                  id: "Accordion-{{ category }}",
                  items: accordion_data %}
              </div>
            </div>
          {%- endfor -%}
        {%- endif -%}
      </article>
    </tab-controller>
  </div>
</div>

{% schema %}
{
  "name": "FAQ",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "label": "Categories",
      "id": "caregories_string",
      "info": "Comma separated list of FAQ categories to include in navigation"
    }
  ]
}
{% endschema %}
