<div
  class="px-4 {{ section.settings.wrapper_classes }}"
  {% if section.settings.row_bg_image != blank %}style="background-image: url({{ section.settings.row_bg_image | image_url: width: 1420 }})"{% endif %}
>
  {%- if section.blocks.size > 1 -%}
  <tab-controller id="featured-collections-tabs">
    <ul aria-controls="featured-collections-tabs" role="tablist" class="flex justify-center mb-4">
      {%- for block in section.blocks -%}
        <li
          role="tab"
          aria-controls="tab-{{ forloop.index }}-{{ block.id }}"
          tabindex="0"
          aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
          class="button button-sm button-secondary px-3 sm:px-4{% unless forloop.last %} mr-2 xs:mr-3{% endunless %}{% if forloop.first %} bg-wave-200{% endif %}"
        >
          {%- if block.settings.collection_name != blank -%}{{ block.settings.collection_name }}{%- else -%}{{ block.settings.collection.title }}{%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

    {%- for block in section.blocks -%}
      {%- if section.blocks.size > 1 -%}
        <div
          id="tab-{{ forloop.index }}-{{ block.id }}"
          role="tabpanel"
          aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
        >
      {%- endif -%}
        <glide-slider
          class="glide relative gap-16 peek.after-124 perView-4 lg:perView-3 md:perView-2 sm:perView-1"
          data-breakpoint-limit="none"
        >
          <div class="glide__track -mr-4 w-[calc(100%+1rem)] pb-2" data-glide-el="track">
            <ul class="glide__slides min-h-full xs:w-full xs:mr-0 p-1">
              {%- for product in block.settings.collection.products limit: section.settings.products_to_show -%}
                <li class="glide__slide" data-media-id="{{ section.id }}-{{ media.id }}">
                  {%- assign section_id = section.id | append: block.id -%}
                  {%- render 'product-card',
                    card_product: product,
                    section_id: section_id,
                    show_secondary_image_on_hover: false,
                    show_reviews: true,
                    button_class: 'px-3 xl:px-5 sm:text-sm'
                  -%}
                </li>
              {%- else -%}
                {%- for i in (1..4) -%}
                  <li>
                    {% render 'product-card-placeholder' %}
                  </li>
                {%- endfor -%}
            {%- endfor -%}
            </ul>
          </div>

          <div class="glide__arrows" data-glide-el="controls">
            <button
              class="glide__arrow glide__arrow--left top-1/2"
              aria-label="Go to previous"
              data-glide-dir="<"
            >
              {% render 'icon-chevron', aria_hidden: true, stroke_width: 2, classes: 'h-10 w-10 text-seaweed-700 bg-white rounded-full block border-y-4 border-r-2 border-l-6 border-white' %}
            </button>
            <button
              class="glide__arrow glide__arrow--right top-1/2"
              aria-label="Go to next"
              data-glide-dir=">"
            >
              {% render 'icon-chevron', aria_hidden: true, stroke_width: 2, classes: 'h-10 w-10 text-seaweed-700 bg-white rounded-full block border-y-4 border-r-2 border-l-6 border-white rotate-180' %}
            </button>
          </div>

          <ol
            class="glide__bullets flex justify-center bottom-0"
            data-glide-el="controls[nav]"
          >
            {%- liquid
              assign dot_count = 6
              if block.settings.collection.products.size < 12
                assign dot_count = block.settings.collection.products.size | divided_by: 2 | round
              endif
            -%}
            {%- for dot in (1..dot_count) -%}
              <li
                class="glide__bullet p-2{% if forloop.first %} active{% endif %}"
                data-glide-dir="={{ forloop.index0 }}"
              >
                <span class="sr-only">Go to slide {{ forloop.index }}</span>
                <span class="block w-2 h-2 bg-seaweed-700 rounded-full"></span>
              </li>
            {%- endfor -%}
          </ol>
        </glide-slider>
      {%- if section.blocks.size > 1 -%}
        </div>
      {%- endif -%}
    {%- endfor -%}
  {%- if section.blocks.size > 1 -%}
    </tab-controller>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Featured collections",
  "tag": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "textarea",
      "id": "wrapper_classes",
      "label": "Wrapper classes"
    },
    {
      "type": "image_picker",
      "id": "row_bg_image",
      "label": "Background image (optional)"
    },
    {
      "type": "checkbox",
      "id": "show_reviews",
      "label": "Show reviews"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "text",
          "id": "collection_name",
          "info": "Override the default collection name.",
          "label": "Name (optional)"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured collections"
    }
  ]
}
{% endschema %}
