{% comment %}theme-check-disable UndefinedObject{% endcomment %}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

<footer>
  {%- if section.settings.footer_image != blank -%}
    <div class="relative">
      <img
        srcset="{%- if section.settings.footer_image.width >= 275 -%}{{ section.settings.footer_image | image_url: width: 275 }} 275w,{%- endif -%}
          {%- if section.settings.footer_image.width >= 550 -%}{{ section.settings.footer_image | image_url: width: 550 }} 550w,{%- endif -%}
          {%- if section.settings.footer_image.width >= 710 -%}{{ section.settings.footer_image | image_url: width: 710 }} 710w,{%- endif -%}
          {%- if section.settings.footer_image.width >= 1420 -%}{{ section.settings.footer_image | image_url: width: 1420 }} 1420w,{%- endif -%}
          {{ section.settings.footer_image | image_url: width: 5760 }} {{ section.settings.footer_image.width }}w"
        src="{{ section.settings.footer_image | image_url: width: 550 }}"
        class="h-48 lg:h-28 {{ section.settings.footer_image_classes }}"
        alt="{{ section.settings.footer_image.alt }}"
        height="{{ section.settings.footer_image.height }}"
        width="{{ section.settings.footer_image.width }}"
        loading="lazy"
      >
      {% comment %} <div class="absolute inset-0 flex items-center justify-center pb-20">
        <a href="/shop" class="button button-primary">Shop our products</a>
      </div> {% endcomment %}
      {%- if section.settings.text_ticker != blank -%}
        <div class="absolute inset-x-0 top-0 overflow-hidden h-20 flex items-center">
          <div class="inline-block whitespace-nowrap text-3xl font-serif tracking-tight pt-0.5 animate-marquee">
            <p class="inline-block">{% for i in (1..5) %}{{ section.settings.text_ticker }} {% endfor %}</p>
            <p class="inline-block ml-1">{% for i in (1..5) %}{{ section.settings.text_ticker }} {% endfor %}</p>
          </div>
        </div>
      {%- endif -%}
    </div>
  {%- endif -%}

  <div class="bg-seafoam-200 pt-32 lg:pt-12 pb-12">
    {%- if section.blocks.size > 0 -%}
      <div class="relative container max-w-lg lg:max-w-5xl mx-auto px-6 pt-8 pb-8 flex justify-between gap-2">
        {% comment %} Menus {% endcomment %}
        {%- if section.blocks.size > 0 -%}
          {%- for block in section.blocks -%}
            {%- if block.type == 'link_list' -%}
              <div class="flex-grow" {{ block.shopify_attributes }}>
                {%- if block.settings.heading != blank -%}
                  <h2 class="font-serif text-4xl tracking-tight mb-4">{{- block.settings.heading | escape -}}</h2>
                {%- endif -%}

                {%- if block.settings.menu != blank and block.settings.heading != blank -%}
                  <ul class="footer-block__details-content list-unstyled">
                    {%- for link in block.settings.menu.links -%}
                      <li>
                        <a href="{{ link.url }}" class="block tracking-wide sm:text-lg py-2{% if link.active %} list-menu__item--active{% endif %}">
                          {{ link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </div>
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
        {%- if section.settings.newsletter_enable -%}
          <div class="absolute -top-60 left-1/2 -translate-x-1/2 lg:relative lg:-top-8 lg:left-0 lg:translate-x-0 mx-auto w-full max-w-lg lg:w-5/12 px-6">
            {% comment %} Newsletter form {% endcomment %}
            <div class="bg-seafoam-300 px-4 md:px-6 py-8 flex flex-col justify-center">
              {%- if section.settings.newsletter_heading != blank -%}
                <h2 class="text-center font-serif text-4xl tracking-tight mb-1">{{ section.settings.newsletter_heading | escape }}</h2>
              {%- endif -%}
              {%- if section.settings.newsletter_paragraph != blank -%}
                <p class="text-center text-md tracking-wide leading-tight mb-5">{{ section.settings.newsletter_paragraph }}</p>
              {%- endif -%}
              {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="w-full mb-2">
                  <div class="relative">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="input w-full px-11"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                      {% endif %}
                      placeholder="{{ 'newsletter.label' | t }}"
                      required
                    >
                    <label class="hidden" for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                    <button
                      type="submit"
                      class="px-2 absolute right-0 inset-y-0"
                      name="commit"
                      id="Subscribe"
                      aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                      <span class="hidden">Sign up</span>
                      <svg
                        aria-hidden="true"
                        class="h-8 w-8"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path stroke="none" d="M0 0h24v24H0z"/>
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="15" y1="16" x2="19" y2="12" />
                        <line x1="15" y1="8" x2="19" y2="12" />
                      </svg>
                    </button>
                    <svg
                      class="h-6 w-6 text-seaweed-400 absolute top-2 left-3"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z" />
                      <polyline points="22,6 12,13 2,6" />
                    </svg>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="ContactFooter-success"
                    tabindex="-1"
                    autofocus
                  >{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
                {%- endif -%}
              {%- endform -%}
            </div>
            {% comment %} Social media icons - hidden on mobile {% endcomment %}
            {% render 'social-media-icons', classes: 'flex items-center justify-center py-6 gap-8' %}
            {% comment %} Customer service {% endcomment %}
            <p class="text-center tracking-wide hidden lg:block">Customer Support: (310) 361-0547</p>
          </div>
        {%- endif -%}
        {% comment %} Social media icons - visible on mobile {% endcomment %}
        {% render 'social-media-icons', classes: 'hidden gap-4 items-center justify-start absolute right-0 bottom-0 pb-10 pl-3 w-1/2' %}
      </div>
    {%- endif -%}

    <div class="container mx-auto px-6">
      <div class="flex items-center justify-between gap-6 mb-10 max-w-sm mx-auto">
        {%- for block in section.blocks -%}
          {%- if block.type == 'image' -%}
            <div class="{{ block.settings.image_classes }}">
              {%- if block.settings.image != blank -%}
                <img
                  srcset= "{{ block.settings.image | image_url: width: 400 }}, {{ block.settings.image | image_url: width: 800 }} 2x"
                  src="{{ block.settings.image | image_url: width: 400 }}"
                  alt="{{ block.settings.image.alt | escape }}"
                  loading="lazy"
                  width="{{ block.settings.image.width }}"
                  height="{{ block.settings.image.height }}"
                >
              {%- endif -%}
              {%- if block.settings.image_svg != blank -%}
                {{ block.settings.image_svg }}
              {%- endif -%}
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
      <div class="text-center tracking-wide">
        <small>Copyright &copy; {{ 'now' | date: "%Y" }} OSEA International. All rights reserved.</small>
      </div>
    </div>
  </div>
</footer>

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('ul'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "html",
          "id": "image_svg",
          "label": "SVG code (optional)"
        },
        {
          "type": "textarea",
          "label": "Image classes",
          "id": "image_classes"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "footer_image",
      "label": "Background image (optional)"
    },
    {
      "type": "textarea",
      "label": "Footer image classes",
      "id": "footer_image_classes"
    },
    {
      "type": "text",
      "id": "text_ticker",
      "default": "Climate Neutral • Cruelty-Free • Vegan • California Made • Clean Ingredients • ",
      "label": "Text ticker"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "html",
      "id": "newsletter_paragraph",
      "default": "Get news and exclusive offers to your inbox",
      "label": "Newsletter subheader"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
