{% comment %}theme-check-disable UndefinedObject{% endcomment %}
<footer>
  {%- unless section.settings.hide_brand_icons -%}
    <div class="relative bg-seafoam-100 pt-6 pb-28 lg:pb-6">
      <ul class="container flex justify-between sm:max-w-lg lg:max-w-4xl">
        <li class="flex-1 text-center text-sm xs:text-base font-serif leading-tight xs:leading-tight subpixel-antialiased">
          {%- render 'icon-value', icon: 'clean-ingredients', stroke_width: 4.5, aria_hidden: true, classes: "w-12 h-12 block mx-auto mb-1 overflow-visible" -%}
          <span><span class="whitespace-nowrap">Clean Beauty</span> <br />Since 1996</span>
        </li>
        <li class="flex-1 text-center text-sm xs:text-base font-serif leading-tight xs:leading-tight subpixel-antialiased">
          {%- render 'icon-value', icon: 'climate-neutral', stroke_width: 4.5, aria_hidden: true, classes: "w-12 h-12 block mx-auto mb-1 overflow-visible" -%}
          <span>Climate <br />Neutral</span>
        </li>
        <li class="flex-1 text-center text-sm xs:text-base font-serif leading-tight xs:leading-tight subpixel-antialiased">
          {%- render 'icon-value', icon: 'vegan', stroke_width: 4.5, aria_hidden: true, classes: "w-12 h-12 block mx-auto mb-1 overflow-visible" -%}
          <span>Vegan & <br /><span class="whitespace-nowrap">Cruelty-Free</span></span>
        </li>
        <li class="flex-1 text-center text-sm xs:text-base font-serif leading-tight xs:leading-tight subpixel-antialiased">
          {%- render 'icon-value', icon: 'california-made', stroke_width: 4.5, aria_hidden: true, classes: "w-12 h-12 block mx-auto mb-1 overflow-visible" -%}
          <span>Born in <br />California</span>
        </li>
        <li class="flex-1 text-center text-sm xs:text-base font-serif leading-tight xs:leading-tight subpixel-antialiased hidden lg:block">
          {%- render 'icon-value', icon: 'female-founded', stroke_width: 4.5, aria_hidden: true, classes: "w-12 h-12 block mx-auto mb-1 overflow-visible" -%}
          <span>Female <br />Founded</span>
        </li>
      </ul>
    </div>
  {%- endunless -%}

  <div class="footer-main bg-seafoam-200 pt-40 lg:pt-12 pb-12">
    {%- if section.blocks.size > 0 -%}
      <div class="relative container lg:max-w-6xl mx-auto py-8 px-12 sm:pb-12 flex justify-around">
        {% comment %} Menus {% endcomment %}
        {%- if section.blocks.size > 0 -%}
          {%- for block in section.blocks -%}
            {%- if block.type == 'link_list' -%}
              <div class="{{ block.settings.menu_classes }}" {{ block.shopify_attributes }}>
                {%- if block.settings.heading != blank -%}
                  <h2 class="font-serif text-3xl tracking-tight mb-2">{{- block.settings.heading | escape -}}</h2>
                {%- endif -%}

                {%- if block.settings.menu != blank and block.settings.heading != blank -%}
                  <ul class="footer-block__details-content list-unstyled">
                    {%- for link in block.settings.menu.links -%}
                      <li>
                        <a href="{{ link.url }}" class="block tracking-wide sm:text-lg py-2{% if link.active %} underline underline-offset-2{% endif %}{% if link.title contains 'mobile::' %} sm:hidden{% endif %}">
                          {{ link.title | replace: "mobile::", "" }} 
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </div>
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
        {%- if section.settings.newsletter_enable -%}
          <div class="absolute -top-64 left-1/2 -translate-x-1/2 w-full max-w-lg lg:px-0 lg:w-1/3 lg:relative lg:-top-6 lg:left-0 lg:translate-x-0">
            {% comment %} Newsletter form {% endcomment %}
            <div class="bg-seafoam-300 px-4 md:px-6 py-6 flex flex-col justify-center mb-6">
              {%- if section.settings.newsletter_heading != blank -%}
                <h2 class="text-center font-serif text-4xl tracking-tight">{{ section.settings.newsletter_heading | escape }}</h2>
              {%- endif -%}
              {%- if section.settings.newsletter_paragraph != blank -%}
                <p class="text-center text-md tracking-wide leading-tight mb-4">{{ section.settings.newsletter_paragraph }}</p>
              {%- endif -%}
              {%- assign newsletter_tabs = "Email,Text" | split: "," -%}
              <tab-controller id="footer-newsletter-tabs">
                <ul aria-controls="footer-newsletter-tabs" role="tablist" class="flex justify-center button-group">
                  {%- for tab in newsletter_tabs -%}
                    <li
                      role="tab"
                      aria-controls="footer-tab-{{ forloop.index }}"
                      tabindex="0"
                      aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
                      class="button button-xs button-secondary px-3 sm:px-4{% if forloop.first %} bg-wave-200{% endif %}"
                    >
                      {{ tab }}
                    </li>
                  {%- endfor -%}
                </ul>

                <div class="relative mt-1.5">
                  <div class="skeleton z-0 w-full h-10 bg-wave-400 rounded-md"></div>
                  <div class="relative z-10 -mt-10 min-h-[40px]">
                    {%- for tab in newsletter_tabs -%}
                      <div id="footer-tab-{{ forloop.index }}" role="tabpanel" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}">
                        {%- if tab == 'Email' -%}
                          <div class="klaviyo-email-form relative">
                            {% render 'icon-email',
                              aria_hidden: true,
                              classes: "h-6 w-6 text-seaweed-400 absolute top-2 left-3 z-10",
                              stroke_width: 2
                            %}
                            <div class="klaviyo-form-T3gN5Z"></div>
                          </div>
                        {%- else -%}
                          <div class="klaviyo-phone-form relative">
                            <div class="klaviyo-form-TA8JnT"></div>
                            <small class="block text-xs leading-none mt-1">*By providing your cell phone number and clicking “SUBSCRIBE” below, you are agreeing to receive recurring automated marketing text messages (e.g. cart reminders) at the phone number provided, which may be sent using an autodialer, from OSEA. The text messages may contain marketing content and will be sent in accordance with <a class="underline" href="https://oseamalibu.com/pages/sms-terms-of-service">OSEA’s Text Messaging Terms and Conditions</a> and the <a class="underline" href="https://oseamalibu.com/pages/privacy-policy">OSEA Privacy Policy</a>. Consent is not a condition of purchase. Msg & data rates may apply. Msg frequency varies. Reply HELP for help and STOP to cancel.</small>
                          </div>
                        {%- endif -%}
                      </div>
                    {%- endfor -%}
                  </div>
                </div>
              </tab-controller>
            </div>
            
            {% comment %} Social media icons {% endcomment %}
            {% render 'social-media-icons', classes: 'flex gap-8 items-center justify-center mb-4' %}
            
            {% comment %} Customer service {% endcomment %}
            <p class="text-center tracking-wide leading-none mb-2 hidden lg:block">Customer Support: <a href="mailto:support@oseamalibu.com" class="link">support@oseamalibu.com</a></p>
            <p class="text-center hidden leading-none lg:block">Skincare Studio: <a href="mailto:skincarestudio@oseamalibu.com" class="link">skincarestudio@oseamalibu.com</a></p>
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}

    <div class="container">
      <div class="flex items-center justify-between gap-6 mb-4 max-w-xs mx-auto scale-75 sm:scale-90">
        {% render 'logo-ocean-positive' %}
        {% render 'logo-climate-neutral' %}
        {% render 'logo-cruelty-free' %}
      </div>

      {% comment %} Copyright {% endcomment %}
      <small class="block text-center tracking-wide leading-tight">Copyright &copy; {{ 'now' | date: "%Y" }} OSEA International. All rights reserved.</small>
    </div>
  </div>
</footer>

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('ul'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        },
        {
          "type": "textarea",
          "id": "menu_classes",
          "label": "Menu classes"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "hide_brand_icons",
      "label": "Hide brand icons"
    },
    {
      "type": "link_list",
      "id": "legal_links",
      "label": "Legal links"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "html",
      "id": "newsletter_paragraph",
      "default": "Get news and exclusive offers to your inbox",
      "label": "Newsletter subheader"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
