<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<header class="header px-4 relative">
  <div class="py-1 flex items-center justify-between gap-2">
    <div class="flex-1 flex items-center justify-start">
      {% comment %} Hamburger menu {% endcomment %}
      {%- if section.settings.hamburger_menu != blank -%}
        {%- assign menu_link_styles = 'px-8 py-2 tracking-wide cursor-pointer text-black' -%}
        <menu-drawer id="HamburgerMenu" class="mr-2 block{% unless section.settings.enable_navbar %} lg:hidden{% endunless %}">
          <details id="Details-menu-drawer-container" class="group">
            {% comment %} Hamburger icon {% endcomment %}
            <summary class="header__icon--menu button button-primary button-sm px-3 cursor-pointer h-10 group" aria-label="{{ 'sections.header.menu' | t }}">
              <span class="flex items-center justify-center h-full group-hover:scale-[96%]">
                Menu
                {% render 'icon-hamburger', classes: 'hidden icon-hamburger h-6 w-6 block absolute opacity-100 motion-safe:transition-transform-opacity scale-100 group-open:invisible group-open:opacity-0 group-open:scale-75', aria_hidden: true, stroke_width: 1.75 %}
                {% render 'icon-close', classes: 'hidden icon-close h-7 w-7 block absolute opacity-100 motion-safe:transition-transform-opacity scale-100 invisible group-open:visible opacity-0 group-open:opacity-100 scale-75 group-open:scale-100', aria-hidden: true, stroke_width: 1.75 %}
              </span>
            </summary>
            {% comment %} Scrim - closes menu on click {% endcomment %}
            <div class="menu-scrim block fixed inset-x-0 top-0 bottom-0 bg-seaweed-800/50 opacity-0 z-50 motion-safe:transition-opacity"></div>
            {% comment %} L1 Drawer {% endcomment %}
            <div class="menu-drawer fixed invisible z-60 left-0 bottom-0 overflow-x-hidden w-11/12 sm:w-10/12 -translate-x-full bg-[#FFFEDF] top-0 overyflow-y-auto" tabindex="-1">
              <button class="menu-close button-secondary absolute top-4 right-4 z-20 group">
                {% render 'icon-close', classes: 'icon-close h-7 w-7 block text-black group-hover:scale-[94%]', aria-hidden: true, stroke_width: 1.75 %}
              </button>
              <div class="relative flex flex-col h-full">
                <nav class="py-6">
                  <ul>
                    {%- for link in section.settings.hamburger_menu.links -%}
                      <li>
                        {% comment %} Convert link with title 'Divider' into divider {% endcomment %}
                        {%- if link.title == 'Divider' -%}
                          <hr class="ml-8 my-4 fancy-divider w-24 h-2 border-0" />
                        {% comment %} Convert link with title 'Accordion' into accordion {% endcomment %}
                        {%- elsif link.title contains 'Accordion' -%}
                          <details>
                            <summary class="flex items-center justify-start {{ menu_link_styles }}">
                              <span class="mr-2">{{ link.title | replace: 'Accordion - ', '' }}</span>
                              <div class="w-6 h-6 flex items-center justify-center">
                                {% render 'icon-plus', aria_hidden: true, classes: 'absolute icon-expand h-5 w-5 motion-safe:transition-transform', stroke_width: '2' %}
                                {% render 'icon-minus', aria_hidden: true, classes: 'absolute icon-collapse h-5 w-5 motion-safe:transition-transform', stroke_width: '2' %}
                              </div>
                            </summary>
                            <ul class="px-8 pb-2">
                              {%- for childlink in link.links -%}
                                <li><a class="py-2 px-2 block tracking-wide" href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                              {%- endfor -%}
                            </ul>
                          </details>
                        {% comment %} L1 - Link with sub menu {% endcomment %}
                        {%- elsif link.links != blank -%}
                          <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                            {%- assign l1_id = "Link-" | append: link.title | replace: " ", "" -%}
                            <summary
                              class="inline-flex items-center {{ menu_link_styles }}{% if link.title == 'Shop' %} border-r-2 border-y-2 border-[blue] bg-[#DFFFF8] rounded-r-lg font-ninetiesHeadliner text-lg !text-[blue] pr-4{% endif %}"
                              aria-controls="{{ l1_id }}"
                            >
                              <span class="mr-3">{{ link.title | escape }}</span>
                              {% if link.title == 'Shop' %}
                              <img src="{{ 'icon-arrow-short-pink.png' | asset_url }}" class="w-4" width="20" height="27" alt="" aria-hidden="true" />
                              {% else %}
                              <img src="{{ 'icon-arrow-short.png' | asset_url }}" class="w-4" width="20" height="27" alt="" aria-hidden="true" />
                              {% endif %}
                            </summary>
                            {% comment %} L2 Drawer {% endcomment %}
                            <div id="{{ l1_id }}" class="menu-submenu translate-x-full invisible absolute inset-0 overflow-y-auto bg-[#FFECF8] z-10 {% if link.levels > 1 %}h-auto{% else %}h-full{% endif %}" tabindex="-1">
                              <div class="pb-10">
                                {% comment %} Back button {% endcomment %}
                                <button class="submenu-close flex items-center px-8 pt-4 pb-2 w-full text-xs leading-6 font-bold uppercase tracking-widest" aria-expanded="true">
                                  <img src="{{ 'icon-arrow-back.png' | asset_url }}" width="75" height="27" alt="Back" />
                                </button>
                                <ul tabindex="-1">
                                  {%- for childlink in link.links -%}
                                    <li>
                                      {% comment %} Convert childlinklink with title 'PromoBlock' into promo block {% endcomment %}
                                      {%- if childlink.title == 'PromoBlock' -%}
                                        <div class="px-8">
                                          <figure class="shrink-0 tracking-wide p-4 mt-6 border-2 border-[blue] bg-[#DFFFF8] rounded-lg">
                                            {%- if section.settings.promo_image != nil -%}
                                              {%- if section.settings.promo_link != nil -%}<a href="{{ section.settings.promo_link.url }}">{%- endif -%}
                                                <img
                                                  srcset="{{ section.settings.promo_image | image_url: width: 250 }} 1x, {{ section.settings.promo_image | image_url: width: 500 }} 2x"
                                                  src="{{ section.settings.promo_image | image_url: width: 250 }}"
                                                  width="250"
                                                  height="{{ 250 | divided_by: section.settings.promo_image.aspect_ratio | round }}"
                                                  alt="{{ section.settings.promo_heading }}"
                                                  loading="lazy"
                                                  class="mb-2"
                                                >
                                              {%- if section.settings.promo_link != nil -%}</a>{%- endif -%}
                                            {%- endif -%}
                                            <figcaption>
                                              {%- if section.settings.promo_heading != blank -%}
                                                <h3 class="text-xl font-medium">{{ section.settings.promo_heading }}</h3>
                                              {%- endif -%}
                                              {%- if section.settings.promo_paragraph != blank -%}
                                                {{ section.settings.promo_paragraph }}
                                              {%- endif -%}
                                              {%- if section.settings.promo_link != nil -%}
                                                <a href="{{ section.settings.promo_link.url }}" class="button button-secondary button-sm mt-2">{{ section.settings.promo_button }}</a>
                                              {%- endif -%}
                                            </figcaption>
                                          </figure>
                                        </div>
                                      {% comment %} L2 - Link without sub menu {% endcomment %}
                                      {%- elsif childlink.links == blank -%}
                                        <a href="{{ childlink.url }}" class="block {{ menu_link_styles }}{% if childlink.current %} text-seaweed-800{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                          {{ childlink.title | escape }}
                                        </a>
                                      {% comment %} L2 - Link with sub menu {% endcomment %}
                                      {%- else -%}
                                        <details class="group-child" open>
                                          <summary class="flex items-center px-8 mt-3 mb-2 text-black">
                                            {% render 'icon-caret', classes: 'w-4 h-4 mr-3 scale-90 -rotate-90 group-child-open:rotate-0 motion-safe:transition-transform' %}
                                            <span class="tracking-wide cursor-pointer font-bold">
                                              {{ childlink.title | escape }}
                                            </span>
                                          </summary>
                                          {% comment %} L3 menu {% endcomment %}
                                          <ul id="childlink-{{ childlink.title | escape }}" tabindex="-1" class="mb-6 pl-7">
                                            {%- for grandchildlink in childlink.links -%}
                                              <li>
                                                <a href="{{ grandchildlink.url }}" class="block relative -mt-1 {{ menu_link_styles }}{% if grandchildlink.current %} text-seaweed-800{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                  {{ grandchildlink.title | escape }}
                                                </a>
                                              </li>
                                            {%- endfor -%}
                                          </ul>
                                        </details>
                                      {%- endif -%}
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </div>
                            </div>
                          </details>
                        {% comment %} L1 - Link without sub menu {% endcomment %}
                        {%- else -%}
                          <a href="{{ link.url }}" class="block {{ menu_link_styles }}{% if link.current %} text-seaweed-800{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                            {{ link.title | replace: 'Popular: ', '' | escape }}
                            {%- if link.title contains 'Popular:' -%}
                              <span class="popular-badge inline-block rounded-md bg-[blue] text-white text-xs font-bold px-1 py-px ml-1 relative -top-px">Popular</span>
                            {%- endif -%}
                          </a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                </nav>
                {% comment %} Customer service menu {% endcomment %}
                <div class="px-8">
                  <div class="border-[blue] bg-[#DFFFF8] border-2 mb-24 max-w-md rounded-lg">
                    <h4 class="bg-[blue] px-4 py-1 text-center font-ninetiesHeadliner text-2xl tracking-tight text-[#FECCE1]">Customer Support</h4>
                    <div class="p-4">
                      <p class="text-center text-[#19079A]">Monday - Friday 8am - 5pm PT</p>
                      <p class="text-center mb-3 text-[#19079A]"><em>Except for major holidays</em></p>
                      <a class="block mb-3 text-center tracking-wide text-[#19079A]" href="tel:+13103610547">Call Us: <b class="font-medium">(310) 361-0547</b></a>
                      <div class="flex items-center justify-center flex-col sm:flex-row">
                        <a class="button button-primary button-sm button-icon button-icon-left w-full mr-0 mb-2 sm:mb-0 sm:mr-4 group2" href="/pages/contact-osea">
                          <span class="group2-hover:scale-[96%] flex">
                            {% render 'icon-email', classes: 'w-6 h-6', aria_hidden: true %}
                            <span>Email</span>
                          </span>
                        </a>
                        <button onclick="GorgiasChat.open()" class="button button-primary button-sm button-icon button-icon-left w-full group2">
                          <span class="group2-hover:scale-[96%] flex">
                            {% render 'icon-chat', classes: 'w-6 h-6', aria_hidden: true %}
                            <span>Chat</span>
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </details>
        </menu-drawer>
      {%- endif -%}

      {% comment %} Predictive search {% endcomment %}
      <details-modal class="header__search justify-center items-center hidden sm:flex">
        <details class="group">
          <summary
            class="header__icon--search group button button-primary px-1 cursor-pointer w-10 h-10{% unless section.settings.enable_navbar %} lg:absolute lg:right-[136px] lg:top-3{% endunless %}"
            aria-haspopup="dialog"
            aria-label="{{ 'general.search.search' | t }}"
          >
            <span class="flex items-center justify-center h-full group-hover:scale-[96%]">
              <img src="{{ 'icon-search.png' | asset_url }}" width="100" height="100">
              {% render 'icon-search', classes: 'hidden modal__toggle-open icon-search h-6 w-6', aria-hidden: true, stroke_width: 2 %}
              {% render 'icon-close', classes: 'hidden modal__toggle-close icon-close h-7 w-7', aria-hidden: true, stroke_width: 1.5 %}
            </span>
          </summary>
          <div class="search-modal absolute inset-0 z-40 opacity-0 h-full motion-safe:transition-opacity group-open:opacity-100" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
            <div class="modal-overlay fixed z-0 inset-x-0 top-0 bottom-0 bg-seaweed-800/50"></div>
            <div class="search-modal__content relative -mt-9 z-10 bg-white w-screen h-full left-1/2 -translate-x-1/2 px-4 2xs:px-6 opacity-0 group-open:opacity-100 motion-safe:transition-opacity" tabindex="-1">
              <div class="sm:container h-full flex items-center justify-center">
                <predictive-search
                  class="w-full md:relative"
                  data-loading-text="{{ 'accessibility.loading' | t }}"
                >
                  <form
                    action="{{ routes.search_url }}"
                    method="get"
                    role="search"
                    class="search w-full relative -translate-y-6 group-open:translate-y-0 tranition-transform duration-300"
                  >
                    <div class="relative flex items-center w-full">
                      <input class="border-seaweed-500 rounded-md w-full h-8 tracking-wide focus:ring focus:ring-seafoam-300 focus:border-seaweed-700 placeholder:overflow-visible motion-safe:transition-all"
                        id="Search-In-Modal"
                        type="text"
                        name="q"
                        value=""
                        placeholder="Search for products, categories, and content"
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search"
                        aria-controls="predictive-search"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false"
                      >
                      <label class="hidden" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
                      <input type="hidden" name="options[prefix]" value="last">
                      <button class="cursor-pointer w-10 h-10 flex items-center justify-center ml-2 md:ml-4 shrink-0" aria-label="{{ 'general.search.search' | t }}">
                        {% render 'icon-search', classes: 'h-6 w-6', aria-hidden: true, stroke_width: 2 %}
                      </button>
                    </div>
                    <div
                      id="predictive-search"
                      role="dialog"
                      class="predictive-search fixed top-11 left-1/2 -translate-x-1/2 bg-wave-200 z-30 max-h-0 w-screen shadow-md shadow-seaweed-700/10 motion-safe:transition-max-height overflow-y-auto"
                      tabindex="-1"
                      data-predictive-search
                    >
                      <div class="predictive-search__loading-state justify-center p-4">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>
                    <span class="predictive-search-status hidden" role="status" aria-hidden="true"></span>
                  </form>
                </predictive-search>
                <button type="button" class="cursor-pointer -mr-2 w-10 h-10 flex items-center justify-center shrink-0" aria-label="{{ 'accessibility.close' | t }}">
                  {% render 'icon-close', classes: 'h-7 w-7', aria-hidden: true, stroke_width: 1.75 %}
                </button>
              </div>
            </div>
          </div>
        </details>
      </details-modal>

      {% comment %} Inline menu {% endcomment %}
      {%- if section.settings.inline_menu != blank -%}
        {%- unless section.settings.enable_navbar -%}
          <nav class="header__inline-menu flex-1 hidden lg:flex">
            <ul class="header__menu -ml-4 mr-0 my-0 p-0 flex">
              {%- for link in section.settings.inline_menu.links -%}
                <li>
                  {%- if link.links != blank -%}
                    <details-disclosure>
                      <details class="relative group" id="Details-HeaderMenu-{{ forloop.index }}">
                        <summary class="tracking-wide leading-6 py-3 pl-4 pr-8 font-book">
                          <span {%- if link.child_active %} class="underline"{% endif %}>{{ link.title | escape }}</span>
                        </summary>
                        <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="opacity-0 -translate-y-6 group-open:opacity-100 group-open:translate-y-0 absolute bg-wave-200 motion-safe:transition-transform-opacity" tabindex="-1">
                          {%- for childlink in link.links -%}
                            <li>
                              {%- if childlink.links == blank -%}
                                <a href="{{ childlink.url }}" class="header__menu-item caption-large{% if childlink.current %} underline underline-offset-2{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                  {{ childlink.title | escape }}
                                </a>
                              {%- else -%}
                                <details class="group-child" id="Details-HeaderSubMenu-{{ forloop.index }}">
                                  <summary class="header__menu-item caption-large">
                                    {{ childlink.title | escape }}
                                    {% render 'icon-caret', classes: 'w-6 h-6' %}
                                  </summary>
                                  <ul id="HeaderMenu-SubMenuList-{{ forloop.index }}" class="opacity-0 -translate-y-6 group-child-open:opacity-100 group-child-open:translate-y-0 motion-safe:transition-transform-opacity">
                                    {%- for grandchildlink in childlink.links -%}
                                      <li>
                                        <a href="{{ grandchildlink.url }}" class="header__menu-item{% if grandchildlink.current %} underline underline-offset-2{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                          {{ grandchildlink.title | escape }}
                                        </a>
                                      </li>
                                    {%- endfor -%}
                                  </ul>
                                </details>
                              {%- endif -%}
                            </li>
                          {%- endfor -%}
                        </ul>
                      </details>
                    </details-disclosure>
                  {%- else -%}
                    <a href="{{ link.url }}" class="block tracking-wide leading-6 py-3 pl-4 pr-8 font-book whitespace-nowrap"{% if link.current %} aria-current="page"{% endif %}>
                      <span {%- if link.current %} class="underline"{% endif %}>{{ link.title | escape }}</span>
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </nav>
        {%- endunless -%}
      {%- endif -%}
    </div>

    {% comment %} OSEA logo {% endcomment %}
    <a href="{{ routes.root_url }}" class="cursor-pointer flex-initial shrink-0" aria-label="OSEA Malibu">
      <span class="sr-only">OSEA Malibu</span>
      {% comment %} {% render 'logo-retro', variant: 'notag', classes: 'mx-auto h-16 w-44 relative -right-4 text-retro-teal' %} {% endcomment %}
      {% comment %} theme-check-disable ImgLazyLoading, ImgWidthAndHeight
      <img src="{{ 'logo-retro-distressed-teal.png' | asset_url }}" class="mx-auto w-32 sm:w-40 relative" />
       theme-check-enable ImgLazyLoading, ImgWidthAndHeight {% endcomment %}

      <svg class="main-logo mx-auto h-14 w-28 motion-safe:transition-colors text-[#2FF9CC]" width="316" height="156" viewBox="0 0 316 156" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M76.6855 156L75.5465 145.173C77.7705 144.941 80.0971 144.015 82.5641 143.035C83.4439 142.683 84.3562 142.321 85.2631 141.953C108.254 133.584 114.289 121.095 116.529 103.675C117.824 93.666 116.691 81.9679 115.59 70.6542C112.891 42.9165 109.851 11.4816 144.038 -0.00543213L147.482 10.3123C121.484 19.0493 123.757 42.4726 126.386 69.5986C127.546 81.5078 128.739 93.8393 127.282 105.077C124.945 123.136 118.688 141.346 89.004 152.173C88.2105 152.465 87.3846 152.785 86.5587 153.126C83.6653 154.273 80.3832 155.578 76.6855 155.973"/>
        <path d="M13.3873 103.865C21.4953 110.938 30.6433 114.475 40.8313 114.475C52.3473 114.475 62.1754 110.494 70.3158 102.533C78.4561 94.572 82.5101 84.9219 82.4777 73.5829C82.4777 62.2727 78.4417 52.5865 70.3698 44.5244C62.2978 36.4622 52.6568 32.4311 41.4467 32.4311C30.0639 32.4311 20.3185 36.4279 12.2105 44.4215C4.10256 52.4151 0.0323887 61.9786 0 73.1119C0 85.7898 4.46244 96.039 13.3873 103.859V103.865ZM20.4912 52.2545C26.1484 46.5164 33.0814 43.6474 41.2901 43.6474C49.4989 43.6474 56.4157 46.5164 62.0405 52.2545C67.6581 57.9637 70.4687 65.0371 70.4723 73.4746C70.4723 81.8111 67.6275 88.8826 61.9379 94.6893C56.2483 100.427 49.2632 103.296 40.9825 103.296C33.3495 103.296 26.6217 100.478 20.7989 94.8408C14.9762 89.2038 12.0468 82.0132 12.0108 73.2689C12.0108 64.9324 14.8376 57.9276 20.4912 52.2545Z"/>
        <path d="M168.848 34.185V113.311H212.389V102.089H180.756V79.2614H211.466V68.0397H180.756V45.4067H212.389V34.185H168.848Z"/>
        <path d="M278.138 57.1102L289.835 82.8667H265.873L278.138 57.1102ZM239.298 113.311H252.124L260.912 94.0938H294.694L302.969 113.311H316L278.391 34.185L239.298 113.311Z"/>
      </svg>
    </a>

    <div class="flex-1 flex justify-end items-center">
      {% comment %} Accounts link {% endcomment %}
      {%- if shop.customer_accounts_enabled -%}
        <a
          href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
          class="hidden button button-primary px-1 h-10 w-10 justify-center items-center ml-1 sm:flex md:ml-4 group"
        >
          <img src="{{ 'icon-user.png' | asset_url }}" width="100" height="100" class="group-hover:scale-[96%]">
          {%- render 'icon-account', classes: 'hidden h-6 w-6', aria_hidden: true, stroke_width: 1.75 -%}
          <span class="sr-only">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      {% comment %} Cart menu {% endcomment %}
      <a href="{{ routes.cart_url }}" class="header__icon--cart button button-primary button-sm px-1 cursor-pointer h-10 ml-1 md:ml-2 group" id="cart-icon-bubble">
        <span class="relative group-hover:scale-[96%] flex gap-1 justify-center items-center">
          <span>Cart</span>
          <div class="relative w-6 h-6 rounded-full flex justify-center items-center bg-[radial-gradient(circle_at_6px_6px,_var(--tw-gradient-stops))] from-retro-teal to-retro-teal-dark border border-retro-teal-dark/50 before:content-[''] before:block before:w-1 before:h-1 before:rounded-full before:bg-white before:absolute before:top-1 before:left-1 before:opacity-50">
            <span aria-hidden="true" class="leading-8 font-book text-lg">{{ cart.item_count }}</span>
          </div>
        </span>
      </a>
    </div>
  </div>
</header>

{% comment %} Navbar menu {% endcomment %}
{%- if section.settings.enable_navbar and section.settings.navbar_menu != blank -%}
  <nav class="hidden 2xl:block overflow-x-auto sm:overflow-x-hidden scrollbar-hide -mt-1">
    <ul class="flex md:justify-center">
      {%- for link in section.settings.navbar_menu.links -%}
        <li class="first:pl-1{% if link.links != blank %} group{% endif %}">
          <a
            href="{{ link.url }}"
            class="block whitespace-nowrap text-xs font-mono py-1 px-2 lg:px-3 tracking-wide{% if link.title contains 'Mobile' %} hidden sm:block{% endif %}"
            {% if link.current %} aria-current="page"{% endif %}
          >
            {{- link.title | replace: 'Mobile - ', '' | escape -}}
          </a>
          {%- if link.links != blank -%}
            {% comment %} theme-check-disable UnclosedHTMLElement {% endcomment %}
            {%- if link.levels >= 2 -%}
              <ul class="invisible group-hover:visible hidden sm:flex absolute z-100 bg-sand-200 py-4 shadow-md shadow-seaweed-400/10 flex-col sm:flex-row justify-center gap-4 sm:gap-6 mx-auto px-6 inset-x-0">
            {%- else -%}
              <ul class="invisible group-hover:visible hidden sm:block absolute z-100 bg-sand-200 py-2 shadow-md shadow-seaweed-400/10 px-2{% if forloop.last %} right-0 md:right-auto{% endif %}">
            {%- endif -%}
              {%- for childlink in link.links -%}
                {%- if childlink.links != blank -%}
                  <li>
                    <h2 class="tracking-wide font-medium text-lg leading-none mb-2">
                      {{- childlink.title | escape -}}
                    </h2>
                    <ul>
                      {%- for grandchildlink in childlink.links -%}
                        <li>
                          <a
                            href="{{ grandchildlink.url }}"
                            class="block px-3 py-1 -ml-3 rounded-md leading-snug hover:bg-sand-300 motion-safe:transition-colors"
                            {% if childlink.current %} aria-current="page"{% endif %}
                          >
                            {{- grandchildlink.title | escape -}}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </li>
                {%- else -%}
                  <li>
                    <a
                      href="{{ childlink.url }}"
                      class="block px-4 py-1.5 rounded-md leading-snug hover:bg-sand-300 motion-safe:transition-colors"
                      {% if childlink.current %} aria-current="page"{% endif %}
                    >
                      {{- childlink.title | escape -}}
                    </a>
                  </li>
                {%- endif -%}
              {%- endfor -%}
              {%- if link.levels >= 2 -%}
                <li class="shrink-0">
                  <figure class="tracking-wide">
                    {%- if section.settings.promo_image != nil -%}
                      {%- if section.settings.promo_link != nil -%}<a href="{{ section.settings.promo_link.url }}">{%- endif -%}
                        <img
                          srcset="{{ section.settings.promo_image | image_url: width: 250 }} 1x, {{ section.settings.promo_image | image_url: width: 500 }} 2x"
                          src="{{ section.settings.promo_image | image_url: width: 250 }}"
                          width="250"
                          height="{{ 250 | divided_by: section.settings.promo_image.aspect_ratio | round }}"
                          alt="{{ section.settings.promo_heading }}"
                          loading="lazy"
                          class="w-full mb-2"
                        >
                      {%- if section.settings.promo_link != nil -%}</a>{%- endif -%}
                    {%- endif -%}
                    <figcaption>
                      {%- if section.settings.promo_heading != blank -%}
                        <h3 class="text-xl font-medium">{{ section.settings.promo_heading }}</h3>
                      {%- endif -%}
                      {%- if section.settings.promo_paragraph != blank -%}
                        {{ section.settings.promo_paragraph }}
                      {%- endif -%}
                      {%- if section.settings.promo_link != nil -%}
                        <a href="{{ section.settings.promo_link.url }}" class="button button-secondary button-sm mt-2">{{ section.settings.promo_button }}</a>
                      {%- endif -%}
                    </figcaption>
                  </figure>
                </li>
              {%- endif -%}
            </ul>
            {% comment %} theme-check-enable UnclosedHTMLElement {% endcomment %}
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  </nav>
{%- endif -%}

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification' -%}
{%- endif -%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {%- if section.settings.logo -%}
      {%- assign image_size = section.settings.logo.width -%}
      "logo": {{ section.settings.logo | image_url: width: image_size | prepend: "https:" | json }},
    {%- endif -%}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "inset-x-0 z-40",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "header",
      "content": "Menus"
    },
    {
      "type": "link_list",
      "id": "inline_menu",
      "default": "main-menu",
      "label": "Inline menu"
    },
    {
      "type": "link_list",
      "id": "hamburger_menu",
      "default": "main-menu",
      "label": "Hamburger Menu"
    },
    {
      "type": "checkbox",
      "id": "enable_navbar",
      "default": false,
      "label": "Enable navbar layout"
    },
    {
      "type": "link_list",
      "id": "navbar_menu",
      "default": "main-menu",
      "label": "Navbar Menu"
    },
    {
      "type": "header",
      "content": "Promo block"
    },
    {
      "type": "image_picker",
      "id": "promo_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "promo_heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "promo_paragraph",
      "label": "Paragraph"
    },
    {
      "type": "url",
      "id": "promo_link",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "promo_button",
      "default": "Shop now",
      "label": "Button text"
    }
  ]
}
{% endschema %}
