<div id="Banner-{{ section.id }}" class="relative {{ section.settings.banner_classes }}">
  {%- if section.settings.image != blank -%}
    <picture>
      {%- if section.settings.image_mobile != blank -%}
        <source
          srcset="{{ section.settings.image_mobile | image_url: width: 400 }} 1x,
            {{ section.settings.image_mobile | image_url: width: 800 }} 2x"
          media="(max-width: 640px)"
        >
      {%- endif %}
      <img
        srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
          {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
          {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
          {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
          {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
          {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
          {{ section.settings.image | image_url: width: 5760 }} {{ section.settings.image.width }}w"
        src="{{ section.settings.image | image_url: width: 1500 }}"
        loading="lazy"
        alt="{{ section.settings.image.alt | escape }}"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
        class="{{ section.settings.image_classes }}"
      >
    </picture>
  {%- endif -%}
  <div class="absolute {{ section.settings.text_block_classes }}">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'heading' -%}
          <h2 class="{{ block.settings.heading_classes }}" {{ block.shopify_attributes }}>
            <span>{{ block.settings.heading }}</span>
          </h2>
        {%- when 'paragraph' -%}
          <div class="{{ block.settings.paragraph_classes }}" {{ block.shopify_attributes }}>
            <span>{{ block.settings.paragraph }}</span>
          </div>
        {%- when 'button' -%}
          {%- if block.settings.button_label != blank -%}
            <a{% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %}href="{{ block.settings.button_link }}"{% endif %} class="button {{ block.settings.button_classes }}" {{ block.shopify_attributes }}>{{ block.settings.button_label | escape }}</a>
          {%- endif -%}
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Banner settings"
    },
    {
      "type": "image_picker",
      "id": "image",
      "info": "Recommended image size: 1600 x 800px (height is flexible)",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "info": "Recommended image size: 800 x 1000px (height is flexible)",
      "label": "Image (mobile)"
    },
    {
      "type": "textarea",
      "default": "container mx-auto xs:px-6",
      "id": "banner_classes",
      "label": "Wrapper classes"
    },
    {
      "type": "textarea",
      "default": "w-full",
      "id": "image_classes",
      "label": "Image classes"
    },
    {
      "type": "header",
      "content": "Text block settings"
    },
    {
      "type": "textarea",
      "default": "max-w-md top-1/3",
      "id": "text_block_classes",
      "label": "Text block classes"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "html",
          "id": "heading",
          "label": "Heading text"
        },
        {
          "type": "textarea",
          "id": "heading_classes",
          "label": "Heading classes"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "Paragraph",
      "settings": [
        {
          "type": "html",
          "id": "paragraph",
          "label": "Paragraph text"
        },
        {
          "type": "textarea",
          "id": "paragraph_classes",
          "label": "Paragraph classes"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Shop now",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "textarea",
          "id": "button_classes",
          "default": "button-primary",
          "label": "Button classes"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
