<div id="IngredientGlossary-{{ section.id }}" class="relative {{ section.settings.wrapper_classes }}">
  <div class="{{ section.settings.container_classes }}">    
    {%- liquid
      assign items_per_page = 50
      assign all_categories = '' | split: ''
    
      for ingredient in shop.metaobjects.ingredient_glossary.values
        assign all_categories = all_categories | concat: ingredient.category.value
      endfor

      assign all_categories = all_categories | uniq | sort
    -%}

    <ingredient-glossary class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4">
      <div class="sm:col-span-1">
        <div class="mb-4">
          <p><strong>Filter by category:</strong></p>
          <form id="category-filter-form">
            <ul>
              <li><label><input type="checkbox" value="" checked> All</label></li>
              {% for category in all_categories %}
                <li>
                  <label>
                    <input type="checkbox" name="category" value="{{ category }}">
                    {{ category }}
                  </label>
                </li>
              {% endfor %}
            </ul>
          </form>
        </div>
      </div>
      <div class="sm:col-span-2 lg:col-span-3">
        {% paginate shop.metaobjects.ingredient_glossary.values by items_per_page %}
          <!-- Iterate over the paginated items -->
          {% for item in shop.metaobjects.ingredient_glossary.values %}
            <div class="mb-4">
              <p><b>{{ item.name }}</b></p>
              {%- if item.common_name -%}<em>{{ item.common_name }}</em>{%- endif -%}
              <p>{{ item.definition }}</p>
            </div>
          {% endfor %}
        
          <!-- Display pagination links -->
          <div class="pagination">
            {% if paginate.previous %}
              <a href="{{ paginate.previous.url }}">Previous</a>
            {% endif %}
        
            {% for part in paginate.parts %}
              {% if part.is_link %}
                <a href="{{ part.url }}">{{ part.title }}</a>
              {% else %}
                <span>{{ part.title }}</span>
              {% endif %}
            {% endfor %}
        
            {% if paginate.next %}
              <a href="{{ paginate.next.url }}">Next</a>
            {% endif %}
          </div>
        {% endpaginate %}
      </div>
    </ingredient-glossary>
  </div>
</div>

{% schema %}
  {
    "name": "Ingredient glossary",
    "tag": "section",
    "settings": [
      {
        "type": "textarea",
        "id": "wrapper_classes",
        "label": "Wrapper classes"
      },
      {
        "type": "textarea",
        "id": "container_classes",
        "label": "Container classes"
      }
    ],
    "presets": [
      {
        "name": "Ingredient glossary"
      }
    ]
  }
{% endschema %}