<script src="{{ 'ingredient-glossary.min.js' | asset_url }}" defer></script>

<div id="IngredientGlossary-{{ section.id }}" class="relative {{ section.settings.wrapper_classes }}">
  <div class="{{ section.settings.container_classes }}">    
    {%- liquid
      assign items_per_page = 10
      assign all_categories = '' | split: ''
    
      for ingredient in shop.metaobjects.ingredient_glossary.values
        assign all_categories = all_categories | concat: ingredient.category.value
      endfor

      assign all_categories = all_categories | uniq | sort
    -%}

    <ingredient-glossary class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 sm:gap-6 lg:gap-10 pb-12 sm:pb-8">
      <div class="sm:col-span-1">
        {%- assign form_header_class = 'block font-bold text-sm sm:mb-1' -%}
        {%- assign checkbox_class = 'flex py-1 leading-none items-center gap-1' -%}
        <section class="sm:mb-4 relative" aria-labelledby="filter-sort-title">
          <h2 class="sr-only sm:!not-sr-only" id="filter-sort-title">
            <span class="block border-b border-seaweed-700 mb-2 pb-2 font-bold">Filter and sort</span>
          </h2>
          <div class="absolute top-0 left-0 -mt-7 z-10 sm:relative sm:!mt-0 grid grid-cols-2 gap-2 w-66 sm:w-full sm:max-w-full">
            <form id="search-form" class="sm:pt-2 lg:pt-4 col-span-2">
              <label for="searchbyname" class="{{ form_header_class }}">Search</label>
              <div class="flex items-center gap-1 w-full">
                <input id="searchbyname" value="" placeholder="Search by ingredient name" type="text" class="input input-sm grow-1 lg:grow-0 sm:min-w-36 lg:w-40">
                <button type="submit" class="button button-tertiary px-2 py-1">
                  {% render 'icon-search', classes: "w-4 h-4", stroke_width: 2.5, aria_hidden: true %}
                  <span class="sr-only">Search</span>
                </button>
              </div>
            </form>
            <form id="sort-form" class="sm:pt-2 lg:pt-4 col-start-2 row-start-2 sm:col-span-2 sm:!col-start-1">
              <label for="sortby" class="{{ form_header_class }}">Sort by</label>
              <select id="sortby" class="input input-sm w-full lg:w-40">
                <option value="az">Name (A-Z)</option>
                <option value="za">Name (Z-A)</option>
              </select>
            </form>
            <form id="filter-form" class="sm:pt-2 lg:pt-4 relative col-start-1 row-start-2 sm:col-span-2 sm:row-start-3">
              <h3 class="{{ form_header_class }}">Category</h3>
              <input type="checkbox" class="hidden peer" id="mobile-category-dropdown">
              <label
                aria-hidden="true"
                for="mobile-category-dropdown"
                class="w-full lg:w-40 flex justify-between items-center gap-1 input input-sm tracking-normal pr-1 xs:pr-1.5 cursor-pointer sm:hidden"
              >
                <span class="category-dropdown-text block text-sm leading-4 overflow-hidden text-elipsis whitespace-nowrap">All</span>
                {% render 'icon-chevron', aria_hidden: true, classes: 'w-4 h-4 -rotate-90 -mb-px shrink-0', stroke_width: 2 %}
              </label>
              <label for="mobile-category-dropdown" class="fixed inset-0 hidden peer-checked:block"></label>
              <div class="absolute sm:relative z-20 hidden peer-checked:block sm:block pt-1 sm:pt-0">
                <fieldset class="w-60 sm:w-auto bg-white rounded border sm:border-none border-seaweed-400 px-3 py-2 sm:p-0 shadow-md sm:shadow-none">
                  <legend class="sr-only">Category</legend>
                  <ul role="list">
                    <li><label class="{{ checkbox_class }}"><input type="checkbox" value="all" checked> All</label></li>
                    {% for category in all_categories %}
                      <li>
                        <label class="{{ checkbox_class }}">
                          <input type="checkbox" name="category" value="{{ category }}">
                          {{ category }}
                        </label>
                      </li>
                    {% endfor %}
                  </ul>
                </fieldset>
              </div>
            </form>
          </div>
        </section>
      </div>
      <section class="sm:col-span-2 lg:col-span-3 relative z-0 pt-12 sm:pt-0 mt-12 sm:mt-0" aria-labelledby="ingredient-glossary-title">
        {% paginate shop.metaobjects.ingredient_glossary.values by items_per_page %}
          <h2 class="sr-only sm:!not-sr-only" id="ingredient-glossary-title">
            <span class="block border-b border-seaweed-700 mb-2 pb-2 font-bold">Ingredients</span>
          </h2>
          <em class="results-count w-20 h-6 text-right absolute top-0 right-0" aria-live="polite">
              <div class="absolute inset-0 skeleton bg-wave-400 rounded-md"></div>
          </em>
          
          <div class="skeleton-list hidden">
            {% for i in (1..items_per_page) %}
              <div class="border-b border-seaweed-300 flex flex-col justify-center min-h-32 py-3">
                <div class="skeleton bg-wave-400 rounded-md w-1/4 h-5 mb-1"></div>
                <div class="skeleton bg-wave-400 rounded-md w-1/2 h-5"></div>
                <div class="flex gap-1 mt-2">
                  <div class="skeleton bg-wave-400 rounded-full w-16 h-3 mb-1"></div>
                  <div class="skeleton bg-wave-400 rounded-full w-24 h-3 mb-1"></div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="ingredient-list">
            <!-- Iterate over the paginated items -->
            {% for ingredient in shop.metaobjects.ingredient_glossary.values %}
              <div class="border-b border-seaweed-300 flex flex-col justify-center min-h-32 py-3">
                <h3><b>{{ ingredient.name }}</b></h3>
                {%- if ingredient.common_name -%}<em>{{ ingredient.common_name }}</em>{%- endif -%}
                <p class="font-book">{{ ingredient.definition }}</p>
                <div class="flex flex-wrap gap-1 mt-2">
                  {%- for category in ingredient.category.value -%}
                    <div class="rounded-full px-2 py-0.5 bg-wave-200 text-xs font-book">{{ category }}</div>
                  {%- endfor -%}
                </div>
              </div>
            {% endfor %}
          </div>

          <div class="flex justify-between pt-4">
            <!-- Display list  count -->
            <fieldset id="list-count" class="inline-flex items-center">
              <legend class="font-bold text-sm" style="display: contents">Show:</legend>
              {% assign list_counts = '10,50,100' | split: ',' %}
              {% for list_count in list_counts %}
                <input
                  type="radio"
                  name="list-count"
                  id="{{ list_count }}"
                  value="{{ list_count }}"
                  class="hidden"
                  {% if list_count == '10' %} checked{% endif %}
                >
                <label
                  for="{{ list_count }}"
                  class="cursor-pointer px-1{% if list_count == '10' %} font-bold{% endif %}"
                >{{ list_count }}</label>
              {% endfor %}
            </fieldset>
            
            <!-- Display pagination links -->
            <div class="pagination flex items-center gap-2 text-center w-full sm:w-auto justify-center absolute sm:relative -bottom-8 sm:bottom-0">
              {% if paginate.previous %}
                <a href="{{ paginate.previous.url }}" class="px-1" tabindex="0" aria-label="Go to previous page">
                  {%- render 'icon-chevron', classes: 'w-5 h-5 text-seaweed-700 rotate-180', stroke_width: 2 -%}
                </a>
              {% endif %}
          
              {% for part in paginate.parts %}
                {% if part.is_link %}
                  <a href="{{ part.url }}" class="w-4 link" tabindex="0" aria-label="Go to page {{ part.title }}">{{ part.title }}</a>
                {% else %}
                  <b class="w-4">{{ part.title }}</b>
                {% endif %}
              {% endfor %}
          
              {% if paginate.next %}
                <a href="{{ paginate.next.url }}" class="px-1" tabindex="0" aria-label="Go to next page">
                  {%- render 'icon-chevron', classes: 'w-5 h-5 text-seaweed-700 rotate-180', stroke_width: 2 -%}
                </a>
              {% endif %}
            </div>
            
            <!-- Display current count -->
            <div class="current-count w-44 text-right relative" aria-live="polite">
              <div class="absolute inset-0 skeleton bg-wave-400 rounded-md"></div>
            </div>
          </div>
        {% endpaginate %}
      </section>
    </ingredient-glossary>
  </div>
</div>

{% stylesheet %}
  .col-start-1 {
    grid-column-start: 1;
  }
  .col-start-2 {
    grid-column-start: 2;
  }
  .row-start-2 {
    grid-row-start: 2;
  }
  .min-h-32 {
    min-height: 8rem;
  }
  .-mt-7 {
    margin-top: -28px;
  }
  .grow-1 {
    flex-grow: 1;
  }
  .w-66 {
    width: 17rem;
  }
  @media (min-width: 640px) {
    .sm\:border-none {
      border: none;
    }
    .sm\:row-start-3 {
      grid-row-start: 3;
    }
    .sm\:min-w-36 {
      min-width: 9rem;
    }
  }
  @media (min-width: 1024px) {
    .lg\:grow-0 {
      flex-grow: 0;
    }
  }
{% endstylesheet %}

{% schema %}
  {
    "name": "Ingredient glossary",
    "tag": "section",
    "settings": [
      {
        "type": "textarea",
        "id": "wrapper_classes",
        "label": "Wrapper classes"
      },
      {
        "type": "textarea",
        "id": "container_classes",
        "label": "Container classes"
      }
    ],
    "presets": [
      {
        "name": "Ingredient glossary"
      }
    ]
  }
{% endschema %}