<div id="IngredientGlossary-{{ section.id }}" class="relative {{ section.settings.wrapper_classes }}">
  <div class="{{ section.settings.container_classes }}">
    {% for ingredient in shop.metaobjects.ingredient_glossary.values %}
      <p><b>{{ ingredient.name.value }}</b></p>
      <p>{{ ingredient.definition.value }}</p>
    {% endfor %}
    
    {% assign items_per_page = 50 %}

    {% paginate shop.metaobjects.ingredient_glossary.values by items_per_page %}
      <!-- Iterate over the paginated items -->
      {% for item in shop.metaobjects.ingredient_glossary.values %}
        <p>{{ item.name }}</p>
      {% endfor %}
    
      <!-- Display pagination links -->
      <div class="pagination">
        {% if paginate.previous %}
          <a href="{{ paginate.previous.url }}">Previous</a>
        {% endif %}
    
        {% for part in paginate.parts %}
          {% if part.is_link %}
            <a href="{{ part.url }}">{{ part.title }}</a>
          {% else %}
            <span>{{ part.title }}</span>
          {% endif %}
        {% endfor %}
    
        {% if paginate.next %}
          <a href="{{ paginate.next.url }}">Next</a>
        {% endif %}
      </div>
    {% endpaginate %}
  </div>
</div>

{% schema %}
  {
    "name": "Ingredient glossary",
    "tag": "section",
    "settings": [
      {
        "type": "textarea",
        "id": "wrapper_classes",
        "label": "Wrapper classes"
      },
      {
        "type": "textarea",
        "id": "container_classes",
        "label": "Container classes"
      }
    ],
    "presets": [
      {
        "name": "Ingredient glossary"
      }
    ]
  }
{% endschema %}