{% comment %} theme-check-disable TemplateLength {% endcomment %}
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<section id="main-product">
  <div class="product flex flex-col md:flex-row md:container md:mx-auto md:px-6 md:gap-6 md:py-6 md:items-start xl:gap-10 xl:max-w-screen-lg">
    <a class="sr-only button button-secondary button-sm focus:not-sr-only focus:py-1 focus:px-2 focus:border focus:fixed focus:top-4 focus:left-4 focus:z-100" href="#ProductInfo-{{ section.id }}">
      {{ "accessibility.skip_to_product_info" | t }}
    </a>
    {%- if product.media.size > 1 -%}
      <div class="md:flex-1 relative md:sticky md:top-[120px] overflow-hidden">
        <glide-slider
          class="glide type-carousel gap-4 sm:peek.after-120 md:peek.after-120 sm:perView-1 md:perView-2 perView-1 mb-6 overflow-hidden max-w-full xl:flex xl:flex-row-reverse xl:gap-2"
          id="Product-Slider"
          data-breakpoint-limit="none"
        >
          {% render 'product-badge', product: product, classes: 'z-10 left-1 !right-auto md:!left-auto md:!right-1' %}
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides min-h-full">
              {%- for media in product.media limit: section.settings.gallery_limit -%}
                <li class="glide__slide{% if forloop.first %} bg-wave-100{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
                  {%- if media.media_type == 'image' -%}
                    {%- liquid
                      assign main_image_src = media | image_url: width: 400, height: 500, crop: 'center'
                      assign main_image_src_2x = media | image_url: width: 800, height: 1000, crop: 'center'
                    -%}
                    {% comment %} theme-check-disable RemoteAsset {% endcomment %}
                    <img
                      {% if product.selected_or_first_available_variant.featured_media != null and forloop.first %}id="Product-VariantImage"{% endif %}
                      srcset="{{ main_image_src }} 1x, {{ main_image_src_2x }} 2x"
                      src="{{ main_image_src_2x }}"
                      loading="lazy"
                      alt="{{ media.alt | escape }}"
                      width="{{ media.width }}"
                      height="{{ media.width | divided_by: 0.8 | round }}"
                      class="min-h-full object-cover"
                    >
                    {% comment %} theme-check-enable RemoteAsset {% endcomment %}
                  {%- elsif media.media_type == 'video' -%}
                    <deferred-media class="relative deferred-media no-js-hidden w-full h-full" data-media-id="{{ section.id }}">
                      <button
                        id="Deferred-Poster-Modal-{{ section.id }}"
                        class="absolute w-full h-full deferred-media__poster"
                        type="button"
                      >
                        <img
                          srcset="{{ media.preview_image | image_url: width: 400, height: 500, crop: 'center' }} 1x, {{ media.preview_image | image_url: width: 800, height: 1000, crop: 'center' }} 2x"
                          src="{{ media.preview_image | image_url: width: 400, height: 500, crop: 'center' }}"
                          alt="Loading product video"
                          loading="lazy"
                          width="1280"
                          height="1000"
                        >
                        <span class="deferred-media__poster-button bg-white/50 rounded-full flex items-center justify-center h-20 w-20 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 scale-100 z-10 motion-safe:transition-transform hover:scale-110">
                          {%- render 'icon-play', classes: 'w-8 h-8 text-white -mr-1 ml-1' -%}
                        </span>
                      </button>
                      <template>
                        <video class="h-full w-full object-cover" playsinline autoplay muted loop controls poster="{{ media.preview_image | image_url: width: 400, height: 500, crop: 'center' }}">
                          {%- for source in media.sources -%}
                            <source src="{{ source.url }}" type="video/{{ source.format }}" />
                          {%- endfor -%}
                          <img
                            src="{{ media.preview_image | image_url: width: 480, height: 500, crop: 'center' }}"
                            alt=""
                            width="{{ media.preview_image.width }}"
                            height="{{ media.preview_image.width | divided_by: media.preview_image.aspect_ratio | round }}"
                            loading=lazy
                          >
                        </video>
                      </template>
                    </deferred-media>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </div>
          <div class="glide__bullets flex absolute bottom-0 left-0 md:relative md:gap-2 xl:flex-col xl:shrink-0" data-glide-el="controls[nav]">
            {%- for media in product.media limit: section.settings.gallery_limit -%}
              <button class="glide__bullet relative p-2 md:px-0 xl:py-0" data-glide-dir="={{ forloop.index0 }}">
                <span class="sr-only">Go to slide {{ forloop.index }}</span>
                {%- if media.media_type == 'image' -%}
                  <span class="block w-2 h-2 bg-seaweed-700 rounded-full md:hidden"></span>
                {%- elsif media.media_type == 'video' -%}
                  <div class="absolute z-10 w-5 h-5 md:w-8 md:h-8 rounded-full bg-transparent md:bg-white/50 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                    {%- render 'icon-play', classes: 'absolute inset-0 scale-75 md:text-white md:ml-0.5' -%}
                  </div>
                {%- endif -%}
                {%- liquid
                  assign thumb_image_src = media | image_url: width: 48
                  assign thumb_image_src_2x = media | image_url: width: 96
                -%}
                {% comment %} theme-check-disable RemoteAsset {% endcomment %}
                <img
                  srcset="{{ thumb_image_src }} 1x, {{ thumb_image_src_2x }} 2x"
                  src="{{ thumb_image_src_2x }}"
                  loading="lazy"
                  alt="{{ media.alt | escape }}"
                  width="{{ media.width }}"
                  height="{{ media.width | divided_by: media.aspect_ratio | round }}"
                  class="hidden md:block w-14 h-20 object-cover"
                >
                {% comment %} theme-check-enable RemoteAsset {% endcomment %}
              </button>
            {%- endfor -%}
          </div>
        </glide-slider>
      </div>
    {%- else -%}
      <div class="bg-wave-100 mb-6 md:flex-1 relative md:sticky md:top-[148px] max-w-full">
        {%- liquid
          assign main_image_src = product.media[0] | image_url: width: 300, height: 375, crop: 'center'
          assign main_image_src_2x = product.media[0] | image_url: width: 600, height: 750, crop: 'center'
        -%}
        {% render 'product-badge', product: product, classes: 'z-10' %}
        {% comment %} theme-check-disable RemoteAsset {% endcomment %}
        <img
          class="mx-auto"
          srcset="{{ main_image_src }} 1x, {{ main_image_src_2x }} 2x"
          src="{{ main_image_src_2x }}"
          loading="lazy"
          alt="{{ product.media[0].alt | escape }}"
          width="{{ product.media[0].width }}"
          height="{{ product.media[0].width | divided_by: 0.8 | round }}"
        >
        {% comment %} theme-check-enable RemoteAsset {% endcomment %}
      </div>
    {%- endif -%}
    <div class="container md:px-0 md:flex-1">
      <div id="ProductInfo-{{ section.id }}" class="{{ section.settings.product_info_classes }}">
        {%- liquid
          assign product_form_id = 'product-form-' | append: section.id
          assign quantity_classes = 'no-js-hidden cursor-pointer flex items-center justify-center 2xs:shrink-0 w-8 h-8 border py-1 -mt-px -mb-px box-content border-transparent hover:bg-seafoam-100 hover:border-seaweed-500 motion-safe:transition-colors disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:border-transparent disabled:hover:bg-transparent'
          assign quantity_rule = product.selected_or_first_available_variant.quantity_rule
          assign travel_sizes = '1.7 oz, 1 oz, 0.6 oz, 0.22 oz, Scented / 1 oz' | split: ', '
        -%}

        {%- for block in section.blocks -%}
          {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'text' -%}
            <p class="{{ block.settings.text_classes }}" {{ block.shopify_attributes }}>
              {{- block.settings.text -}}
            </p>
          {%- when 'title' -%}
            <h1 class="{{ block.settings.title_classes }}" {{ block.shopify_attributes }}>
              {{- product.title | replace: 'Eye Serum', 'Serum' | replace: '™', '<sup class="text-[60%] -mr-1 -left-0.5">™</sup>' -}}
            </h1>
          {%- when 'price' -%}
            <div class="no-js-hidden main-price flex {{ block.settings.price_classes }}" id="price-{{ section.id }}" role="status">
              {%- render 'price', product: product, use_variant: true -%}
              {%- if product.metafields.custom.set_value -%}
                <span class="ml-2 self-center text-sm bg-seafoam-200 text-seaweed-700 font-medium px-1.5 py-px tracking-wide whitespace-nowrap">${{ product.metafields.custom.set_value }} value</span>
              {%- endif -%}
            </div>
          {%- when 'description' -%}
            {%- if product.description != blank -%}
              <div class="{{ block.settings.description_classes }}">
                {%- if block.settings.is_collapsible -%}
                  {%- assign description_id = "Details-" | append: block.id | append: "-" | append: section.id -%}
                  {% render 'accordion-item',
                    id: description_id,
                    summary: "Product description",
                    content: product.description,
                    default_open: true,
                    content_classes: 'max-h-80 overflow-y-auto'
                  %}
                {%- else -%}
                  {{ product.description }}
                {%- endif -%}
              </div>
            {%- endif -%}
          {%- when 'collapsible_tab' -%}
            {%- if block.settings.content != blank -%}
              <div class="{{ block.settings.tab_classes }}">
                {%- assign tab_id = "Details-" | append: block.id | append: "-" | append: section.id -%}
                {%- render 'accordion-item',
                  id: tab_id,
                  summary: block.settings.heading,
                  content: block.settings.content,
                  default_open: block.settings.default_open
                  content_classes: 'max-h-80 overflow-y-auto a:link b:font-bold p:mb-4'
                -%}
              </div>
            {%- endif -%}
          {%- when 'quantity_selector' -%}
            <div class="{{ block.settings.qty_classes }}" {{ block.shopify_attributes }}>
              <label class="sr-only" for="Quantity-{{ section.id }}">
                {{ 'products.product.quantity.label' | t }}
              </label>
              <quantity-input class="quantity pdp-quantity inline-flex border border-seaweed-400 rounded-md w-full">
                <button
                  class="{{ quantity_classes }} rounded-l-md -ml-px"
                  name="minus"
                  type="button"
                >
                  <span class="sr-only">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                  {% render 'icon-minus', classes: 'h-5 w-5 text-seaweed-700 pointer-events-none', stroke_width: 2, aria_hidden: true %}
                </button>
                <input
                  class="quantity__input w-8 h-10 border-0 py-1 px-0 text-xl grow text-center"
                  type="number"
                  name="quantity"
                  id="Quantity-{{ section.id }}"
                  value="{{ quantity_rule.min }}"
                  form="{{ product_form_id }}"
                  min="{{ quantity_rule.min }}"
                  {% if quantity_rule.max != null %}max="{{ quantity_rule.max }}"{% endif %}
                  step="{{ quantity_rule.increment }}"
                >
                <button
                  class="{{ quantity_classes }} rounded-r-md -mr-px"
                  name="plus"
                  type="button"
                >
                  <span class="sr-only">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                  {% render 'icon-plus', classes: 'h-5 w-5 text-seaweed-700 pointer-events-none', stroke_width: 2, aria_hidden: true %}
                </button>
              </quantity-input>
            </div>
          {%- when 'variant_picker' -%}
            <div class="{{ block.settings.variant_classes }}">
              {%- unless product.has_only_default_variant -%}
                {%- if product.variants.size == 1 -%}
                  {%- for option in product.options_with_values -%}
                    <strong class="block font-medium tracking-wide text-sm{% if block.settings.hide_label %} sr-only{% endif %}">{{ option.name }}</strong>
                    {%- for value in option.values -%}
                      <div class="button button-xs button-secondary rounded-full lowercase bg-wave-200 mr-2 mb-2">
                        {{ value }}
                      </div>
                    {%- endfor -%}
                  {%- endfor -%}
                {%- else -%}
                  <variant-radios class="no-js-hidden block" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                    {%- for option in product.options_with_values -%}
                      <fieldset class="js group">
                        <div class="flex flex-wrap items-center mb-2 group-last-of-type:mb-0">
                          <legend class="font-medium tracking-wide text-sm mr-1.5{% if block.settings.hide_label and product.options_with_values.size < 2 %} sr-only{% endif %}">{{ option.name }}:</legend>
                          {%- for value in option.values -%}
                            <div>
                              {%- assign normalized_option_value = value | replace: 'fl ', '' -%}
                              <input type="radio"
                                id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                class="peer hidden{% if travel_sizes contains normalized_option_value %} travel-input{% endif %}"
                                name="{{ option.name }}"
                                value="{{ value | escape }}"
                                form="{{ product_form_id }}"
                                {% if option.selected_value == value %}checked{% endif %}
                              >
                              <label
                                class="button button-xs button-secondary rounded-full peer-checked:bg-wave-200 mr-2 mb-1 peer-disabled:opacity-50 {% if option.name == 'Scent' %}normal-case tracking-wide{% else %}lowercase{% endif %}"
                                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                              >
                                {{ value }}
                              </label>
                            </div>
                          {%- endfor -%}
                        </div>
                      </fieldset>
                    {%- endfor -%}
                    <script type="application/json">
                      {{ product.variants | json }}
                    </script>
                  </variant-radios>
                {%- endif -%}
              {%- endunless -%}

              <noscript class="product-form__noscript-wrapper-{{ section.id }}">
                <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                  <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                  <div class="select">
                    <select name="id" id="Variants-{{ section.id }}" class="select__select" form="{{ product_form_id }}">
                      {%- for variant in product.variants -%}
                        <option
                          {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                          {% if variant.available == false %}disabled{% endif %}
                          value="{{ variant.id }}"
                        >
                          {{ variant.title }}
                          {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                          - {{ variant.price | money | strip_html }}
                        </option>
                      {%- endfor -%}
                    </select>
                    {% render 'icon-caret', classes: 'w-4 h-4' %}
                  </div>
                </div>
              </noscript>
            </div>
          {%- when 'buy_buttons' -%}
            <div class="w-full grow {{ block.settings.atc_classes }}" {{ block.shopify_attributes }}>
              <product-form class="product-form pdp-product-form" data-cart-type="{{ settings.cart_type }}">
                <div class="product-form__error-message-wrapper absolute left-0 !mt-10 text-coral-800 text-sm" role="alert" hidden>
                  {% render 'icon-error-circle', classes: 'icon icon-error w-4 h-4 inline mr-1', aria_hidden: true, stroke_width: 2 %}
                  <span class="product-form__error-message leading-4 align-bottom"></span>
                </div>

                {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                  <div class="product-form__buttons relative grid grid-cols-2 gap-2" id="AddToCart">
                    <button
                      type="submit"
                      name="add"
                      class="product-form__submit relative button button-primary button-md w-full disabled:opacity-50 col-span-2"
                      {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                    >
                        <span class="loading-spinner absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 hidden">
                          {% render 'icon-spinner', classes: 'h-4 w-4 mr-2 text-white' %}
                        </span>
                        <span class="label">
                          {%- if product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.add_to_cart' | t }}
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        </span>
                        {%- if block.settings.atc_show_price -%}
                          {%- render 'price', product: product, use_variant: true, price_class: 'main-price ml-auto' -%}
                        {%- endif -%}
                    </button>
                  </div>
                  {%- assign product_collection_handles = product.collections | map: 'handle' -%}
                  {%- if product_collection_handles contains 'skincare-sets-1' -%}
                    <div id="PayInstallments" class="mb-10 sm:mb-8 transition-opacity">
                      <div class="absolute inset-x-0 leading-tight py-2 text-sm">
                        {{ form | payment_terms }}
                      </div>
                    </div>
                  {%- endif -%}
                {%- endform -%}
              </product-form>
            </div>
          {%- when 'link' -%}
            <a class="{{ block.settings.url_classes }}" href="{{ block.settings.url.url }}" target="_blank">
              {%- render 'icon-external-link', classes: 'w-10 h-10 text-seaweed-700', aria_hidden: true -%}
              <span>{{ block.settings.url_label }}</span>
            </a>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
  <product-sticky-atc class="fixed z-40 inset-x-0 bottom-0 py-2.5 bg-white border-t border-seaweed-300 invisible opacity-0 transition-visibility">
    <div class="flex gap-2 justify-between items-center pl-4 sm:pl-6 pr-20 md:pr-24 xl:max-w-screen-xl xl:mx-auto min-[1400px]:pr-6">
      <h3 class="tracking-wide leading-none text-lg sr-only sm:!not-sr-only">{{- product.title | escape -}}</h3>
      <div class="relative w-full sm:w-96">
        <button
          type="submit"
          name="add"
          class="product-form__submit button button-primary button-md w-full disabled:opacity-50"
          {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
          form="{{ product_form_id }}"
        >
            <span class="loading-spinner relative -ml-6 hidden">
              {% render 'icon-spinner', classes: 'h-4 w-4 mr-2 text-white' %}
            </span>
            <span>
              {%- if product.selected_or_first_available_variant.available -%}
                {{ 'products.product.add_to_cart' | t }}
              {%- else -%}
                {{ 'products.product.sold_out' | t }}
              {%- endif -%}
            </span>
        </button>
      </div>
    </div>
  </product-sticky-atc>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
    {%- if product.selected_or_first_available_variant.featured_media -%}
      {%- assign media_size = product.selected_or_first_available_variant.featured_media.preview_image.width -%}
      "image": [
        {{ product.selected_or_first_available_variant.featured_media | image_url: width: media_size | prepend: "https:" | json }}
      ],
    {%- endif -%}
    "description": {{ product.description | strip_html | json }},
    {%- if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif -%}
    "brand": {
      "@type": "Brand",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ shop.url | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "textarea",
          "id": "text_classes",
          "label": "Text classes"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "title_classes",
          "label": "Title classes"
        }
      ]
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "price_classes",
          "label": "Price classes"
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "qty_classes",
          "label": "Quantity classes"
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "variant_classes",
          "label": "Variant classes"
        },
        {
          "type": "checkbox",
          "id": "hide_label",
          "label": "Hide label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "atc_classes",
          "label": "ATC button classes"
        },
        {
          "type": "checkbox",
          "id": "atc_show_price",
          "label": "Show price in button"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "description_classes",
          "label": "Description classes"
        },
        {
          "type": "checkbox",
          "id": "is_collapsible",
          "label": "Is collapsible tab"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible tab",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "text",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "textarea",
          "id": "tab_classes",
          "label": "Collapsible tab classes"
        },
        {
          "type": "checkbox",
          "id": "default_open",
          "label": "Open by default"
        }
      ]
    },
    {
      "type": "link",
      "name": "Link",
      "settings": [
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "type": "text",
          "id": "url_label",
          "label": "Link text"
        },
        {
          "type": "textarea",
          "id": "url_classes",
          "label": "URL classes"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "textarea",
      "id": "product_info_classes",
      "label": "Product info wrapper classes"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "number",
      "id": "gallery_limit",
      "default": 6,
      "label": "Image gallery limit"
    }
  ]
}
{% endschema %}
{% comment %} theme-check-enable TemplateLength {% endcomment %}
