{{ 'component-card.css' | asset_url | stylesheet_tag }}

{%- paginate blog.articles by 6 -%}

  <div class="blog">
    <h1 class="sr-only">{{ blog.title | escape }}</h1>

    <div class="bg-seafoam-200 mb-6">
      {%- liquid
        if section.settings.main_featured_article == blank
          assign main_featured_article = blog.articles.first
        else
          assign main_featured_article = section.settings.main_featured_article
        endif
      -%}
      <div class="container py-6">
        {%- render 'article-card',
          article: main_featured_article,
          show_image: true,
          card_classes: 'flex flex-col text-center',
          image_classes: 'mb-3',
          title_classes: 'font-serif text-3xl tracking-tight text-center mb-2',
          date_classes: 'sr-only',
          author_classes: 'sr-only',
          excerpt_classes: 'text-sm leading-snug mb-4',
          link_classes: 'button button-primary button-sm',
          exceprt_length: 15
        -%}
        {%- liquid
          assign secondary_featured_articles = '' | split: ''
          if section.settings.featured_article_one != blank
            assign secondary_featured_articles = secondary_featured_articles | concat: section.settings.featured_article_one
          endif
        -%}
        {%- for featured_article in secondary_featured_articles -%}
          {{ featured_article.title }}
        {%- endfor -%}
        <glide-slider
          class="glide{% if section.settings.slider_breakpoint_limit != 'none' %} {{ section.settings.slider_breakpoint_limit }}:pb-0{% endif %}{% if section.settings.slider_classes != '' %} {{ section.settings.slider_classes }}{% endif %}"
          id="slider-{{ section.id }}"
          data-breakpoint-limit="{{ section.settings.slider_breakpoint_limit }}"
        >
          <div class="glide__track {{ section.settings.container_classes }}" data-glide-el="track">
            <ul
              class="{% if section.settings.is_slider %}glide__slides{% else %}flex md:flex-shrink-0 {{ section.settings.container_classes }}{% endif %}"
              role="presentation"
            >
            </ul>
          </div>
        </glide-slider>
      </div>
    </div>

    <div class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
      {%- for article in blog.articles -%}
        <div class="blog-articles__article article">
          {%- render 'article-card',
            article: article,
            show_image: true,
            
          -%}
        </div>
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Featured articles"
    },
    {
      "type": "article",
      "id": "main_featured_article",
      "label": "Main featured article",
      "info": "This overrides the default (most recent post)"
    },
    {
      "type": "paragraph",
      "content": "Choose up to 3 posts to feature in header of blog landing page."
    },
    {
      "type": "article",
      "id": "featured_article_one",
      "label": "Featured article 1"
    },
    {
      "type": "article",
      "id": "featured_article_two",
      "label": "Featured article 2"
    },
    {
      "type": "article",
      "id": "featured_article_three",
      "label": "Featured article 3"
    },
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    }
  ]
}
{% endschema %}
