{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

{% comment %} {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
  {{ 'component-facets.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>

  <div class="container mx-auto px-6 relative z-10" id="main-collection-filters" data-id="{{ section.id }}">
    {% render 'facets',
      results: collection,
      enable_filtering: section.settings.enable_filtering,
      enable_sorting: section.settings.enable_sorting,
      collapse_on_larger_devices: section.settings.collapse_on_larger_devices
    %}
  </div>
{%- endif -%} {% endcomment %}

<div id="ProductGridContainer" class="container mx-auto px-6">
  {% assign subcollections = collection.metafields.my_fields.subcollections %}
  {% if subcollections and subcollections.value.size > 0 %}
    {% for subcollection in subcollections.value %}
      {%- liquid
        assign summary = collections[subcollection].title | replace: "Section: ", ""
        capture subcollection_grid
          render 'collection-product-grid', collection: collections[subcollection], id: section.id
        endcapture

        if collection.metafields.my_fields.featured_products == nil and forloop.first
          assign is_default_open = true
        else
          assign is_default_open = false
        endif
      -%}
      {% render 'accordion',
        id: "Subcollection-{{ collections[subcollection].id }}",
        summary: summary,
        content: subcollection_grid,
        default_open: is_default_open,
        transition_duration: 800
      %}
    {% endfor %}
  {% else %}
    {% render 'collection-product-grid', collection: collection, id: section.id %}
  {% endif %}
</div>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "collapse_on_larger_devices",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.collapse_on_larger_devices.label"
    }
  ]
}
{% endschema %}
