{% comment %} theme-check-disable TemplateLength {% endcomment %}
<section id="main-product">
  <style>
    /* Scoped to this PDP only */
    .pdp {
      --p-surface: {{ product.metafields.theme.surface | default: '#f1f5f4' }};
      --p-core: {{ product.metafields.theme.core | default: '#c4d5b6' }};
      --p-inverse: {{ product.metafields.theme.inverse | default: '#1d4d41' }};
      --p-accent: {{ product.metafields.theme.accent | default: '#dcf5ab' }};

      background-color: var(--p-surface);
      background-color: oklab(from var(--p-surface) l calc(a * 0.6) calc(b * 0.6));
      
    }
  </style>
  <div class="flex flex-col product md:flex-row md:container md:mx-auto md:px-6 md:gap-6 md:py-6 md:items-start lg:gap-0 lg:mb-6">
    <a class="sr-only button button-secondary button-sm focus:not-sr-only focus:py-1 focus:px-2 focus:border focus:fixed focus:top-4 focus:left-4 focus:z-100" href="#ProductInfo-{{ section.id }}">
      {{ "accessibility.skip_to_product_info" | t }}
    </a>
    {%- if product.media.size > 1 -%}
      <div class="md:w-1/2 lg:w-3/5 relative md:sticky md:top-[88px] overflow-hidden mb-6 md:mb-0 lg:pr-4 xl:pr-10">
        {% comment %} New image-slider snippet {% endcomment %}
        {% render 'product-image-slider', section: section, product: product, classes: 'overflow-hidden gap-0 mb-6 max-w-full glide type-carousel sm:perView-1 md:perView-2 perView-1 lg:flex lg:flex-row-reverse lg:gap-2' %}
      </div>
    {%- else -%}
      <div class="bg-wave-100 mb-6 md:w-1/2 lg:w-2/5 relative md:sticky md:top-[148px] max-w-full">
        {%- liquid
          assign main_image_src = product.media[0] | image_url: width: 300, height: 375, crop: 'center'
          assign main_image_src_2x = product.media[0] | image_url: width: 600, height: 750, crop: 'center'
        -%}
        {% comment %} theme-check-disable RemoteAsset {% endcomment %}
        <img
          class="mx-auto"
          srcset="{% render 'imgix', src: main_image_src %} 1x, {% render 'imgix', src: main_image_src_2x %} 2x"
          src="{% render 'imgix', src: main_image_src_2x %}"
          loading="lazy"
          alt="{{ product.media[0].alt | escape }}"
          width="{{ product.media[0].width }}"
          height="{{ product.media[0].width | divided_by: 0.8 | round }}"
        >
        {% comment %} theme-check-enable RemoteAsset {% endcomment %}
      </div>
    {%- endif -%}
    <div class="container md:px-0 md:flex-1">
      {%- assign info_block_classes = 'bg-white rounded-xl p-4 lg:p-6 xl:p-8 mb-6' -%}
      <div id="ProductInfo-{{ section.id }}" class="{{ info_block_classes }} 2xl:py-10 {{ section.settings.product_info_classes }}">
        {%- liquid
          assign product_form_id = 'product-form-' | append: section.id
          assign quantity_classes = 'no-js-hidden cursor-pointer flex items-center justify-center 2xs:shrink-0 w-8 h-8 border py-1 -mt-px -mb-px -ml-px box-content border-transparent hover:bg-seafoam-100 hover:border-seaweed-500 motion-safe:transition-colors disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:border-transparent disabled:hover:bg-transparent'
          assign mini_size_array = '1.7 oz, 1.5 oz, 1 oz, 0.6 oz, 0.22 oz, Scented / 1 oz' | split: ', '
          assign jumbo_size_array = '9.6 oz, 9.2 oz' | split: ', '
          assign set_products = collections['skincare-sets'].products | map: 'handle'

          assign product_collections_handles = product.collections | map: 'handle'
          if product_collections_handles contains 'exclude-from-site'
            assign excluded_from_site = true
          else
            assign excluded_from_site = false
          endif
        -%}

        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'text' -%}
              {%- if block.settings.text != blank -%}
                <div class="{{ block.settings.text_block_classes }}" {{ block.shopify_attributes }}>
                  {{- block.settings.text -}}
                </div>
              {%- endif -%}
            {%- when 'title' -%}
              <h1 class="{{ block.settings.title_classes }}" {{ block.shopify_attributes }}>
                {{- product.title | replace: 'Eye Serum', 'Serum' | replace: '™', '<sup class="text-[60%] -mr-1 -left-0.5">™</sup>' | replace: '®', '<sup class="text-[60%] -mr-1 -left-0.5">®</sup>' | replace: ' v2', '' -}}
              </h1>
            {%- when 'tags' -%}
              {%  render 'product-tags', block: block %}
            {%- when 'price' -%}
              <div class="no-js-hidden main-price flex {{ block.settings.price_classes }}" id="price-{{ section.id }}" role="status">
                {%- render 'price', product: product, use_variant: true -%}
                {%- if product.metafields.custom.set_value -%}
                  <span class="self-center px-1.5 py-px ml-2 text-sm font-medium tracking-wide whitespace-nowrap bg-seafoam-200 text-seaweed-700">${{ product.metafields.custom.set_value }} value</span>
                {%- endif -%}
              </div>
            {%- when 'rating' -%}
              <div class="{{ block.settings.rating_classes }} flex gap-2 items-center">
                {%- unless excluded_from_site -%}
                  <a href="#reviews">
                    {% render 'product-rating', product: product %}
                  </a>
                {%- endunless -%}
                {% comment %} {%- if product.metafields.custom.faq != nil -%}
                  <a href="#ProductFaqs" class="text-xs link">Product FAQs</a>
                {%- endif -%} {% endcomment %}
              </div>
            {%- when 'info_tabs' -%}
              {% comment %} product tabs snippet {% endcomment %}
              {% render 'product-info-tabs', block: block, product: product %}
            {%- when 'free_gift_info' -%}
              {%- liquid
                assign loyalty_only = settings.is_loyalty_gwp
                if settings.enable_gwp and settings.gwp_type == 'banner' or settings.gwp_type == 'auto'
                  if loyalty_only and customer
                    assign free_gifts_active = true 
                  elsif loyalty_only == false
                    assign free_gifts_active = true
                  else
                    assign free_gifts_active = false
                  endif
                else
                  assign free_gifts_active = false
                endif
              -%}
              {%- if free_gifts_active -%}
                <div class="{{ block.settings.free_gift_info_classes }}">
                  {%- if settings.gwp_tier1_product != blank -%}
                    {% render 'product-free-gift-info', product: settings.gwp_tier1_product, threshold: settings.gwp_tier1_threshold %}
                  {%- endif -%}
                  {%- if settings.gwp_tier2_product != blank -%}
                    {% render 'product-free-gift-info', product: settings.gwp_tier2_product, threshold: settings.gwp_tier2_threshold %}
                  {%- endif -%}
                  {%- if settings.gwp_tier3_product != blank -%}
                    {% render 'product-free-gift-info', product: settings.gwp_tier3_product, threshold: settings.gwp_tier3_threshold %}
                  {%- endif -%}
                </div>
              {%- endif -%}
              
            {%- when 'quantity_selector' -%}
              {% comment %} quantity_selector snippet {% endcomment %}
              {% render 'product-quantity-selector', block: block, section_id: section.id, quantity_classes: quantity_classes, product_form_id: product_form_id %}
            {%- when 'variant_picker' -%}
              {% comment %} variant_picker snippet {% endcomment %}
              {% render 'product-variant-picker', block: block, section: section, product: product, set_products: set_products, mini_size_array: mini_size_array, jumbo_size_array: jumbo_size_array, product_form_id: product_form_id %}
            {%- when 'subscription_picker' -%}
              {% comment %} subscription_picker snippet {% endcomment %}
              {% render 'product-subscription-picker', block: block, section: section, product: product, product_form_id: product_form_id %}
            {%- when 'buy_buttons' -%}
              {%- unless excluded_from_site -%}
                <div class="w-full grow {{ block.settings.atc_classes }}" {{ block.shopify_attributes }}>
                  <product-form class="product-form pdp-product-form" data-cart-type="{{ settings.cart_type }}">
                    {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                      <input type="hidden" name="properties[_is_subscription]" value="false">
                      {% if product.type contains 'Gift Card' %}
                        <input type="hidden" id="sktcgc_to" name="properties[To]" value="" />
                        <input type="hidden" id="sktcgc_from" name="properties[_From]" value="" />
                        <input type="hidden" id="sktcgc_msg" name="properties[_Msg]" value="" />
                      {%- endif -%}
                      <div class="grid relative grid-cols-2 gap-2 product-form__buttons" id="AddToCart">
                        {%- liquid
                          if product.selected_or_first_available_variant.available
                            assign atc_label = 'products.product.add_to_cart' | t
                          else
                            assign atc_label = 'products.product.sold_out' | t
                          endif

                          if product.selected_or_first_available_variant.available
                            assign atc_disabled = false
                          else
                            assign atc_disabled = true
                          endif
                        -%}
                        {% render 'component-button',
                          classes: 'relative col-span-2 w-full product-form__submit button-neon md:button-primary button-md disabled:opacity-50 disabled:bg-wave-700 disabled:border-wave-700 disabled:text-white',
                          label: atc_label,
                          element: 'button',
                          type: 'submit',
                          name: 'add',
                          disabled: atc_disabled,
                          price: block.settings.atc_show_price,
                          product: product,
                          use_variant: true,
                          price_class: 'main-price ml-auto',
                          slashed_price_color: 'md:text-white text-seaweed-800',
                          show_spinner: true
                        %}
                        {%- unless product.selected_or_first_available_variant.available -%}
                          {%- if product.handle == 'ocean-glow-body-trio' %}
                            <a class="button button-md gap-4 w-full col-span-2 bg-[#F37830] border-[#F37830] z-20 h-11" target="_blank" href="https://www.ulta.com/p/ocean-glow-body-trio-pimprod2051657?sku=2638931">
                              <span class="text-white">Shop now on ULTA</span>
                            </a>
                          {%- elsif product.handle == 'cleanse-glow-body-set' -%}
                            <a class="cgbs-nordstrom-button button button-md button-black gap-4 w-full col-span-2 z-20 h-11" target="_blank" href="https://www.nordstrom.com/s/cleanse-glow-body-set-104-value/8356995">
                              <span class="text-white">Shop now on Nordstrom</span>
                            </a>
                          {%- else -%}
                            <div class="z-0 w-full h-11 rounded-md skeleton bg-wave-400"></div>
                            <div class="z-0 w-full h-11 rounded-md skeleton bg-wave-400"></div>
                          {%- endif -%}
                        {%- endunless -%}
                      </div>
                    {%- endform -%}
                    {%- if product.selected_or_first_available_variant.available -%}
                      {%- if product.metafields.custom.limited_availability_badge or product.selected_or_first_available_variant.inventory_quantity <= settings.low_stock_threshold -%}
                        <div class="my-1 font-bold tracking-wide text-center text-coral-800">Limited stock available!</div>
                      {%- else -%}
                        <div class="my-1 text-sm font-book">
                          <ul>
                            <li class="flex items-center gap-1">
                              {% render 'icon-award', classes: 'w-3 h-3 inline-block', stroke_width: 2.5 %}
                              <span>30 Day Money Back Guarantee</span>
                            </li>
                            <li>
                              <shipping-countdown threshold="{{ settings.shipping_countdown_threshold }}" class="flex items-center gap-1">
                                {% render 'icon-truck', classes: 'w-3 h-3 inline-block', stroke_width: 2.5 %}
                                <span class="shipping-countdown-text">Free Shipping{% if settings.shipping_countdown_threshold > 0 %} on Orders {{ settings.shipping_countdown_threshold | times: 100 | money_without_trailing_zeros }}+{% endif %}</span>
                                <button type="button" class="calc-link underline ml-1">Calculate shipping<span class="sr-only sm:!not-sr-only"> time</span></button>
                              </shipping-countdown>
                              <shipping-calculator
                                id="pdp-shipcalc"
                                data-collapsed="true"
                              >
                                <div class="flex gap-2 items-end pl-4">
                                  <form class="relative mt-2">
                                    <label for="shippingzip" class="block font-medium mb-1">Estimated shipping time:</label>
                                    <input class="py-2 w-60 input input-sm" id="shippingzip" name="shippingzip" type="text" placeholder="Zipcode">
                                    <input class="absolute right-1 bottom-1 px-2 py-0.5 button button-tertiary button-sm" type="submit" value="Submit">
                                  </form>
                                  <div
                                    id="transitTimeOutput"
                                    data-transition-end="opacity-100 translate-x-0"
                                    data-transition-start="-translate-x-4 opacity-0"
                                    class="inline-flex px-2 mt-2 font-bold leading-8 rounded-md opacity-0 duration-300 -translate-x-4 pointer-events-none transition-transform-opacity bg-p-surface border border-p-core"
                                  ></div>
                                </div>
                              </shipping-calculator>
                            </li>
                          </ul>
                        </div>
                      {%- endif -%}
                    {%- endif -%}
                    <div class="absolute left-0 mt-1 text-sm product-form__error-message-wrapper text-coral-800" role="alert" hidden>
                      {% render 'icon-error-circle', classes: 'icon icon-error w-4 h-4 inline mr-1', aria_hidden: true, stroke_width: 2 %}
                      <span class="leading-4 align-bottom product-form__error-message"></span>
                    </div>
                  </product-form>
                </div>
              {%- endunless -%}
            {%- when 'upsells' -%}
              {%- if product.metafields.my_fields.save_with_sets != nil or product.metafields.my_fields.pair_with_product != nil -%}
                {%- liquid
                  if product.metafields.my_fields.save_with_sets != nil and product.metafields.my_fields.pair_with_product != nil
                    assign upsell_count = product.metafields.my_fields.save_with_sets.value.count | plus: product.metafields.my_fields.pair_with_product.value.count
                  elsif product.metafields.my_fields.save_with_sets != nil
                    assign upsell_count = product.metafields.my_fields.save_with_sets.value.count
                  elsif product.metafields.my_fields.pair_with_product != nil
                    assign upsell_count = product.metafields.my_fields.pair_with_product.value.count
                  endif
                -%}
                {%- if upsell_count > 1 -%}
                  <input aria-hidden="true" id="collapsible" class="hidden peer" type="checkbox" />
                {%- endif -%}
                <div class="{{ block.settings.upsell_classes }}{% if upsell_count > 1 %} max-h-[140px] overflow-hidden peer-checked:max-h-[1000px] motion-safe:transition-max-height{% endif %}" {{ block.shopify_attributes }}>
                  {%- if block.settings.upsell_enable_sets and product.metafields.my_fields.save_with_sets != nil -%}
                    <div class="mt-2 upsell-sets">
                      <h2 class="mb-1 font-medium tracking-wide">Save with Sets</h2>
                      {%- for set in product.metafields.my_fields.save_with_sets.value -%}
                        {%- render 'product-upsell', product: set -%}
                      {%- endfor -%}
                    </div>
                  {%- endif -%}
                  {%- if block.settings.upsell_enable_partner and product.metafields.my_fields.pair_with_product != nil -%}
                    <div class="upsell-partner {% if product.metafields.my_fields.save_with_sets != nil %}mt-4{% else %}mt-2{% endif %}">
                      <h2 class="mb-1 font-medium tracking-wide">Pairs Well With</h2>
                      {%- for pair_with_product in product.metafields.my_fields.pair_with_product.value -%}
                        {%- render 'product-upsell', product: pair_with_product -%}
                      {%- endfor -%}
                    </div>
                  {%- endif -%}
                  {%- if block.settings.upsell_enable_routine and product.metafields.custom.upsell_complete_routine != nil -%}
                    <div class="mt-4 upsell-routine">
                      <h2 class="mb-1 font-medium tracking-wide">Complete Your Routine</h2>
                      {%- for step in product.metafields.custom.upsell_complete_routine.value -%}
                        {%- render 'product-upsell', product: step, button_style: 'link', step_number: forloop.index -%}
                      {%- endfor -%}
                    </div>
                  {% endif %}
                </div>
                {%- if upsell_count > 1 -%}
                  <label aria-hidden="true" for="collapsible" class="block col-span-12 mt-1 text-sm link peer-checked:hidden">View more {% render 'icon-arrow', variant: 'short', classes: 'rotate-90 w-4 h-4 inline-block ml-1' %}</label>
                  <label aria-hidden="true" for="collapsible" class="hidden col-span-12 mt-1 text-sm link peer-checked:block">View less {% render 'icon-arrow', variant: 'short', classes: '-rotate-90 w-4 h-4 inline-block ml-1' %}</label>
                {%- endif -%}
              {%- endif -%}
            {%- when 'set_includes' -%}
              {%- if set_products contains product.handle and product.metafields.custom.set_contains.value.count > 0 -%}
                <div class="{{ block.settings.set_includes_classes }}">
                  <h2 class="mb-2 font-medium tracking-wide">Set includes</h2>
                  <ul>
                    {%- for product_in_set in product.metafields.custom.set_contains.value -%}
                      {%- render 'product-in-set', product: product_in_set -%}
                    {%- endfor -%}
                  </ul>
                </div>
              {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
      <div class="{{ info_block_classes }} md:mb-0">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'collapsible_tab' -%}
              {% comment %} accordion item snippet {% endcomment %}
              {% render 'product-collapsible-tab', block: block, product: product, mini_size_array: mini_size_array %}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
  {%- if excluded_from_site == false and product.type != 'Gift Card' and product.type != 'Subscription Gift' -%}
    <product-sticky-atc class="fixed inset-x-0 bottom-0 invisible z-40 py-2.5 bg-white opacity-0 motion-safe:transition-visibility" style="box-shadow: 0 0 5px rgba(11, 46, 37, 0.15);">
      <div class="container flex flex-row gap-2 px-4 sm:px-6">
        {%- liquid
          if product.selected_or_first_available_variant.featured_media != blank
            assign sticky_image_src = product.selected_or_first_available_variant.featured_media | image_url: width: 192
            assign sticky_image_src_2x = product.selected_or_first_available_variant.featured_media | image_url: width: 252
          else
            assign sticky_image_src = product.featured_image | image_url: width: 192
            assign sticky_image_src_2x = product.featured_image | image_url: width: 252
          endif
        -%}
        {% comment %} theme-check-disable RemoteAsset {% endcomment %}
        <img
          srcset="{% render 'imgix', src: sticky_image_src %} 1x, {% render 'imgix', src: sticky_image_src_2x %} 2x"
          src="{% render 'imgix', src: sticky_image_src_2x %}"
          loading="lazy"
          alt="{{ product.selected_or_first_available_variant.featured_media.alt | escape }}"
          width="120"
          height="150"
          class="object-cover w-auto h-16 sm:h-12"
        >
        {% comment %} theme-check-enable RemoteAsset {% endcomment %}
        <div class="flex flex-col gap-1 justify-between items-center w-full sm:flex-row sm:gap-2">
          <div class="flex flex-col justify-between w-full">
            <h3 class="h-5 text-lg font-medium tracking-wide leading-none truncate">
              {{- product.title | replace: 'Eye Serum', 'Serum' | escape -}}
            </h3>
            <p class="text-sm font-book sr-only sm:!not-sr-only">
              {{- product.metafields.custom_fields.short_description -}}
            </p>
          </div>
          <div class="relative w-full sm:w-60 md:w-80 shrink-0">
            <button
              type="submit"
              name="add"
              class="gap-3 w-full product-form__submit button button-neon button-md disabled:opacity-50"
              {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
              form="{{ product_form_id }}"
            >
                <span class="hidden relative -ml-6 loading-spinner">
                  {% render 'icon-spinner', classes: 'h-4 w-4 mr-2 text-white' %}
                </span>
                <span>
                  {%- if product.selected_or_first_available_variant.available -%}
                    {{ 'products.product.add_to_cart' | t }}
                  {%- else -%}
                    {{ 'products.product.sold_out' | t }}
                  {%- endif -%}
                </span>
                {%- render 'price', product: product, use_variant: true, price_class: 'main-price ml-auto' -%}
            </button>
          </div>
        </div>
      </div>
    </product-sticky-atc>
  {%- endif -%}
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const sheet = new CSSStyleSheet;
    sheet.replaceSync(`.ProductPageContainer__Spacer { margin-bottom: 0; margin-top: 12px }`);
    const host = document.querySelector('delivery-promise-wc');
    host.shadowRoot.adoptedStyleSheets.push(sheet);


    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
    {%- if product.selected_or_first_available_variant.featured_media -%}
      {%- assign media_size = product.selected_or_first_available_variant.featured_media.preview_image.width -%}
      "image": [
        {%- if product.metafields.my_fields.white_image_bg != blank -%}
          {{ product.metafields.my_fields.white_image_bg | image_url: width: 1200 | prepend: "https:" | json }}
        {%- else -%}
          {{ product.selected_or_first_available_variant.featured_media | image_url: width: media_size | prepend: "https:" | json }}
        {%- endif -%}
      ],
    {%- endif -%}
    "description": {{ product.description | strip_html | json }},
    {%- if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif -%}
    {%- if product.metafields.okendo.summaryData.reviewCount > 0 -%}
      "aggregateRating": {
        "@type": "AggregateRating",
        "description": "Okendo Reviews",
        "ratingValue": "{{ product.metafields.okendo.summaryData.reviewAverageValue }}",
        "ratingCount": "{{ product.metafields.okendo.summaryData.reviewCount }}"
      },
    {%- elsif product.metafields.okendo.ReviewCount > 0 -%}
      "aggregateRating": {
        "@type": "AggregateRating",
        "description": "Okendo Reviews",
        "ratingValue": "{{ product.metafields.okendo.ReviewAverageValue }}",
        "ratingCount": "{{ product.metafields.okendo.ReviewCount }}"
      },
    {%- endif -%}
    "brand": {
      "@type": "Brand",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ shop.url | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text content"
        },
        {
          "type": "textarea",
          "id": "text_block_classes",
          "label": "Text block classes"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "title_classes",
          "label": "Title classes"
        }
      ]
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "price_classes",
          "label": "Price classes"
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "qty_classes",
          "label": "Quantity classes"
        }
      ]
    },
    {
      "type": "tags",
      "name": "Tags",
      "settings": [
        {
          "type": "text",
          "id": "tags",
          "label": "Tags",
          "info": "Enter tag data separated by commas"
        },
        {
          "type": "textarea",
          "id": "tag_block_classes",
          "label": "Tag block classes"
        }
      ]
    },
    {
      "type": "free_gift_info",
      "name": "Free gift info",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "free_gift_info_classes",
          "label": "Free gift info classes"
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "variant_classes",
          "label": "Variant classes"
        },
        {
          "type": "checkbox",
          "id": "hide_label",
          "label": "Hide label"
        }
      ]
    },
    {
      "type": "subscription_picker",
      "name": "Subscription picker",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "subscription_classes",
          "label": "Subscription classes"
        },
        {
          "type": "header",
          "content": "Subscription information modal"
        },
        {
          "type": "text",
          "default": "Subscribe & Save 10%",
          "id": "subscription_modal_heading",
          "label": "Modal heading"
        },
        {
          "type": "html",
          "id": "subscription_modal_content",
          "label": "Modal content"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "atc_classes",
          "label": "ATC button classes"
        },
        {
          "type": "checkbox",
          "id": "atc_show_price",
          "label": "Show price in button"
        }
      ]
    },
    {
      "type": "info_tabs",
      "name": "Info tabs",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "info_tab_wrapper_classes",
          "label": "Wrapper classes"
        },
        {
          "type": "textarea",
          "id": "info_tab_label_classes",
          "label": "Label classes"
        },
        {
          "type": "textarea",
          "id": "info_tab_content_classes",
          "label": "Content classes"
        },
        {
          "type": "header",
          "content": "Description"
        },
        {
          "type": "checkbox",
          "id": "enable_info_tab_description",
          "label": "Enable description tab",
          "default": true
        },
        {
          "type": "text",
          "id": "info_tab_description_label",
          "label": "Description tab label",
          "default": "Description"
        },
        {
          "type": "header",
          "content": "How To Use"
        },
        {
          "type": "checkbox",
          "id": "enable_info_tab_howto",
          "label": "Enable how to tab",
          "default": true
        },
        {
          "type": "text",
          "id": "info_tab_howto_label",
          "label": "How to tab label",
          "default": "How To Use"
        },
        {
          "type": "header",
          "content": "Sustainability"
        },
        {
          "type": "checkbox",
          "id": "enable_info_tab_sustainability",
          "label": "Enable sustainability tab",
          "default": true
        },
        {
          "type": "text",
          "id": "info_tab_sustainability_label",
          "label": "Sustainability tab label",
          "default": "Recycling"
        },
        {
          "type": "header",
          "content": "Care"
        },
        {
          "type": "checkbox",
          "id": "enable_info_tab_care",
          "label": "Enable care tab",
          "default": true
        },
        {
          "type": "text",
          "id": "info_tab_care_label",
          "label": "Care tab label",
          "default": "Care"
        },
        {
          "type": "header",
          "content": "Articles"
        },
        {
          "type": "checkbox",
          "id": "enable_info_tab_articles",
          "label": "Enable articles tab",
          "default": true
        },
        {
          "type": "text",
          "id": "info_tab_articles_label",
          "label": "Articles tab label",
          "default": "Learn"
        },
        {
          "type": "header",
          "content": "Custom tab"
        },
        {
          "type": "checkbox",
          "id": "enable_info_tab_custom",
          "label": "Enable custom tab",
          "default": true
        },
        {
          "type": "text",
          "id": "info_tab_custom_tab_label",
          "label": "Custom tab label"
        },
        {
          "type": "text",
          "id": "info_tab_custom_tab_content",
          "label": "Custom tab content"
        },
        {
          "type": "textarea",
          "id": "info_tab_custom_tab_handles",
          "label": "Handles to include custom tab on",
          "info": "Format: Comma seperated list"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible tab",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "text",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "textarea",
          "id": "tab_classes",
          "label": "Collapsible tab classes"
        },
        {
          "type": "checkbox",
          "id": "default_open",
          "label": "Open by default"
        }
      ]
    },
    {
      "type": "rating",
      "name": "Star rating",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.rating.settings.paragraph.content"
        },
        {
          "type": "textarea",
          "id": "rating_classes",
          "label": "Rating classes"
        }
      ]
    },
    {
      "type": "upsells",
      "name": "Product upsells",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "upsell_classes",
          "label": "Upsell classes"
        },
        {
          "type": "checkbox",
          "id": "upsell_enable_sets",
          "label": "Save with sets"
        },
        {
          "type": "checkbox",
          "id": "upsell_enable_partner",
          "label": "Pair with product"
        },
        {
          "type": "checkbox",
          "id": "upsell_enable_routine",
          "label": "Complete your routine"
        }
      ]
    },
    {
      "type": "set_includes",
      "name": "Set includes",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "This section will only appear if the product is in the 'Gifts & Sets' collection, and the product has content in the 'Set Includes' metafield."
        },
        {
          "type": "textarea",
          "id": "set_includes_classes",
          "label": "Set includes classes"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "textarea",
      "id": "product_info_classes",
      "label": "Product info wrapper classes"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "number",
      "id": "gallery_limit",
      "default": 6,
      "label": "Image gallery limit"
    }
  ]
}
{% endschema %}
{% comment %} theme-check-enable TemplateLength {% endcomment %}