<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<div class="container mb-12">
  {%- paginate collection.products by section.settings.products_per_page -%}
    <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
    {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
      <aside
        class="facets-wrapper relative z-20"
        id="main-collection-filters"
        data-id="{{ section.id }}"
      >
        {% render 'facets',
          results: collection,
          enable_filtering: section.settings.enable_filtering,
          enable_sorting: section.settings.enable_sorting,
          filter_type_mobile: section.settings.filter_type_mobile,
          filter_type_desktop: section.settings.filter_type_desktop,
          paginate: paginate
        %}
      </aside>
    {%- endif -%}

    {%- if paginate.current_page == 1 -%}
      {%- assign featured_products = collection.metafields.my_fields.featured_products -%}
      {%- if featured_products.value.count > 0 -%}
        {%- capture featured_products_grid -%}
          <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-x-2 gap-y-8 sm:gap-x-4">
            {%- if collection.metafields.custom.promo_tile_image != blank or collection.metafields.custom.promo_tile_video_portrait != blank -%}
              <li class="relative">
                {%- render 'collection-promo-tile',
                  promo_tile_image: collection.metafields.custom.promo_tile_image,
                  promo_tile_video_portrait: collection.metafields.custom.promo_tile_video_portrait,
                  promo_tile_video_landscape: collection.metafields.custom.promo_tile_video_landscape,
                  promo_tile_url: collection.metafields.custom_fields.promo_tile_url
                -%}
              </li>
            {%- endif -%}
            {%- for product in featured_products.value -%}
              {%- liquid
                if forloop.index < 4 and collection.metafields.custom.promo_tile_image != blank or collection.metafields.custom.promo_tile_video_portrait != blank
                  assign remove_lazy_loading = true
                elsif forloop.index < 5
                  assign remove_lazy_loading = true
                else
                  assign remove_lazy_loading = false
                endif
              -%}
              <li>
                {% render 'product-card',
                  card_product: product,
                  section_id: section.id,
                  button_class: 'flex-col h-10 sm:h-auto sm:flex-row py-1 sm:py-2 button-sm sm:button-md leading-none sm:leading-normal md:px-3 md:tracking-wider lg:px-4',
                  show_reviews: section.settings.show_reviews,
                  remove_lazy_loading: remove_lazy_loading,
                  plp_card: true
                %}
              </li>
            {%- endfor -%}
          </ul>
        {%- endcapture -%}

        {% render 'accordion-item',
          id: 'Featured',
          classes: 'subcollection',
          summary: 'Featured',
          summary_classes: 'py-2 text-lg',
          content: featured_products_grid,
          content_classes: 'pb-6',
          default_open: true,
          transition_duration: 800,
          icon_type: 'caret'
        %}
      {%- endif -%}
    {%- endif -%}
  
    <div id="ProductGridContainer" class="relative z-10">
      {%- if collection.products.size == 0 -%}
        <div class="container text-center" id="product-grid" data-id="{{ section.id }}">
          <div class="loading-overlay gradient"></div>
          <div class="title-wrapper center">
            <h2 class="title title--primary">
              {{ 'sections.collection_template.empty' | t -}}
              <br>
              {{
                'sections.collection_template.use_fewer_filters_html'
                | t: link: collection.url, class: 'underlined-link link'
              }}
            </h2>
          </div>
        </div>
      {%- else -%}
        <div class="collection relative">
          <div class="loading-overlay skeleton absolute z-10 inset-0 bg-white hidden"></div>
          <ul
            id="product-grid"
            data-id="{{ section.id }}"
            class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-x-2 gap-y-8 sm:gap-x-4"
          >
            {%- liquid
              if collection.handle == 'exclude-from-site'
                assign hide_atc = true
                assign remove_linking = true
              else
                assign hide_atc = false
                assign remove_linking = false
              endif

              assign promo_tile_image = collection.metafields.custom.promo_tile_image
              assign promo_tile_video_portrait = collection.metafields.custom.promo_tile_video_portrait
              assign promo_tile_video_landscape = collection.metafields.custom.promo_tile_video_landscape
              assign promo_tile_url = collection.metafields.custom_fields.promo_tile_url
  
              if promo_tile_image != blank or promo_tile_video_portrait != blank
                assign has_promo_content = true
              else
                assign has_promo_content = false
              endif
            -%}
            <script>console.log("has_promo_content", {{ has_promo_content }})</script>
            {%- if has_promo_content and featured_products.value.count == 0 -%}
              <li class="relative overflow-hidden">
                {%- render 'collection-promo-tile',
                  promo_tile_image: promo_tile_image,
                  promo_tile_video_portrait: promo_tile_video_portrait,
                  promo_tile_video_landscape: promo_tile_video_landscape,
                  promo_tile_url: promo_tile_url
                -%}
              </li>
            {%- endif -%}
            {%- for product in collection.products -%}
              {% assign remove_lazy_loading = false %}
              {%- if forloop.index < 3 -%}
                {%- assign remove_lazy_loading = true -%}
              {%- endif -%}
              <li>
                {%- render 'product-card',
                  card_product: product,
                  section_id: collection.id,
                  button_class: 'h-10 sm:h-auto flex-col sm:flex-row py-1 sm:py-2 button-sm sm:button-md leading-none sm:leading-normal md:px-3 md:tracking-wider lg:px-4'
                  default_to_mini: collection.metafields.my_fields.default_to_mini,
                  subscription: collection.metafields.custom.default_to_subscription,
                  show_reviews: section.settings.show_reviews,
                  hide_atc: hide_atc,
                  remove_linking: remove_linking,
                  remove_lazy_loading: remove_lazy_loading
                -%}
              </li>
            {%- endfor -%}
          </ul>

          {%- if paginate.pages > 1 -%}
            {% render 'pagination', paginate: paginate, anchor: '' %}
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  {%- endpaginate -%}

  {%- if collection.metafields.custom.seo_description != nil -%}
    <div class="!mt-10 max-w-screen-md mx-auto">
      {%- if collection.metafields.custom.seo_description.value.size > 400 -%}
        <input aria-hidden="true" id="collapsible" class="hidden peer" type="checkbox" />
      {%- endif -%}
      <div class="a:link p:mb-4 h2:font-medium h2:mb-2{% if collection.metafields.custom.seo_description.value.size > 400 %} overflow-hidden max-h-[4.5rem] peer-checked:max-h-screen transition-max-height leading-6{% endif %}">
        {{ collection.metafields.custom.seo_description }}
      </div>
      {%- if collection.metafields.custom.seo_description.value.size > 400 -%}
        <label aria-hidden="true" for="collapsible" class="link mt-1.5 block peer-checked:hidden">Read more</label>
        <label aria-hidden="true" for="collapsible" class="link mt-1.5 hidden peer-checked:block">Read less</label>
      {%- endif -%}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "info": "Hidden on collections with sections.",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "select",
      "id": "filter_type_mobile",
      "options": [
        {
          "value": "inline",
          "label": "Inline"
        },
        {
          "value": "drawer",
          "label": "Drawer"
        }
      ],
      "default": "inline",
      "label": "Filter type (mobile)"
    },
    {
      "type": "select",
      "id": "filter_type_desktop",
      "options": [
        {
          "value": "inline",
          "label": "Inline"
        },
        {
          "value": "drawer",
          "label": "Drawer"
        }
      ],
      "default": "inline",
      "label": "Filter type (desktop)"
    },
    {
      "type": "checkbox",
      "id": "show_reviews",
      "label": "Show product reviews"
    }
  ]
}
{% endschema %}
