{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<section id="main-product">
  <div class="product flex flex-col md:flex-row md:container md:mx-auto md:px-6 md:gap-6 md:py-6 md:items-start xl:gap-10 xl:max-w-screen-lg">
    <a class="sr-only button button-secondary focus:not-sr-only focus:py-1 focus:px-2 focus:border focus:fixed focus:top-4 focus:left-4 focus:z-100" href="#ProductInfo-{{ section.id }}">
      {{ "accessibility.skip_to_product_info" | t }}
    </a>
    <glide-slider
      class="glide type-carousel md:flex-1 relative gap-4 sm:peek.after-120 md:peek.after-120 sm:perView-1 md:perView-2 perView-1 md:sticky md:top-[148px] mb-6 overflow-hidden max-w-full xl:flex xl:flex-row-reverse xl:gap-2"
      id="Product-Slider"
      data-breakpoint-limit="none"
    >
      {% render 'product-badge', product: product, classes: 'z-10 xl:left-[70px]' %}
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          {%- for media in product.media limit: section.settings.gallery_limit -%}
            <li class="glide__slide{% if forloop.first %} bg-wave-100{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
              <img
                id="{%- if product.selected_or_first_available_variant.featured_media != null and forloop.first -%}Product-VariantImage{%- endif -%}"
                srcset="{{ media | image_url: width: 294 }} 1x, {{ media | image_url: width: 588 }} 2x"
                src="{{ media | image_url: width: 588 }}"
                loading="lazy"
                alt="{{ media.alt | escape }}"
                width="{{ media.width }}"
                height="{{ media.width | divided_by: media.aspect_ratio }}"
              >
            </li>
          {%- endfor -%}
        </ul>
      </div>
      <div class="glide__bullets flex absolute bottom-0 left-0 md:relative md:gap-2 xl:flex-col xl:shrink-0" data-glide-el="controls[nav]">
        {%- for media in product.media limit: section.settings.gallery_limit -%}
          <button class="glide__bullet p-2 md:px-0 xl:py-0" data-glide-dir="={{ forloop.index0 }}">
            <span class="sr-only">Go to slide {{ forloop.index }}</span>
            <span class="block w-2 h-2 bg-seaweed-700 rounded-full md:hidden"></span>
            <img
              id="{%- if product.selected_or_first_available_variant.featured_media != null and forloop.first -%}Product-VariantImage{%- endif -%}"
              srcset="{{ media | image_url: width: 48 }} 1x, {{ media | image_url: width: 96 }} 2x"
              src="{{ media | image_url: width: 48 }}"
              loading="lazy"
              alt="{{ media.alt | escape }}"
              width="{{ media.width }}"
              height="{{ media.width | divided_by: media.aspect_ratio }}"
              class="hidden md:block w-14 h-20 object-cover"
            >
          </button>
        {%- endfor -%}
      </div>
    </glide-slider>
    <div class="container mx-auto px-6 md:px-0 md:flex-1">
      <div id="ProductInfo-{{ section.id }}" class="{{ section.settings.product_info_classes }}">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}

        {%- for block in section.blocks -%}
          {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'text' -%}
            <p class="{{ block.settings.text_classes }}" {{ block.shopify_attributes }}>
              {{- block.settings.text -}}
            </p>
          {%- when 'title' -%}
            <h1 class="{{ block.settings.title_classes }}" {{ block.shopify_attributes }}>
              {{ product.title | escape }}
            </h1>
          {%- when 'price' -%}
            <div class="no-js-hidden main-price {{ block.settings.price_classes }}" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
              {%- render 'price', product: product, use_variant: true -%}
            </div>
          {%- when 'rating' -%}
            {%- if product.metafields.reviews.rating.value != blank -%}
              {% render 'product-rating', product: product, classes: block.settings.rating_classes %}
            {%- endif -%}
          {%- when 'benefits' -%}
            {%- if product.metafields.custom.benefits.value.size > 0 -%}
              <div class="{{ block.settings.benefits_classes }}">
                <h2 class="font-medium tracking-wide mb-2{% if block.settings.hide_label %} sr-only{% endif %}">Benefits</h2>
                <ul class="flex justify-between max-w-sm">
                  {%- for benefit in product.metafields.custom.benefits.value limit: 4 -%}
                    <li class="w-1/5 flex flex-col items-center">
                      {%- assign benefit_icon = benefit | handle -%}
                      {%- render 'icon-benefit', icon: benefit_icon, stroke_width: 4, classes: 'w-14 h-14 block mb-1', aria_hidden: true -%}
                      {%- assign benefit_title_array = benefit | split: ' ' -%}
                      <span class="text-center text-sm font-book leading-none tracking-wide">
                        {%- for string in benefit_title_array -%}
                          {{ string }}{%- unless forloop.last -%}<br/>{%- endunless -%}
                        {%- endfor -%}
                      </span>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            {%- endif -%}
          {%- when 'description' -%}
            {%- if product.description != blank -%}
              <div class="{{ block.settings.description_classes }}">
                {%- if block.settings.is_collapsible -%}
                  {%- assign description_id = "Details-{{ block.id }}-{{ section.id }}" -%}
                  {% render 'accordion-item',
                    id: description_id,
                    summary: "Product description",
                    content: product.description,
                    default_open: true,
                    content_classes: 'max-h-80 overflow-y-auto pr-4'
                  %}
                {%- else -%}
                  {{ product.description }}
                {%- endif -%}
              </div>
            {%- endif -%}
          {%- when 'collapsible_tab' -%}
            {%- if block.settings.content != blank -%}
              <div class="{{ block.settings.tab_classes }}" {{ block.shopify_attributes }}>
                {%- capture p_tag_open -%}<p class="mb-4">{%- endcapture -%}
                {%- capture p_tag_close -%}</p>{%- endcapture -%}
                {%- capture em_tag_open -%}<em>{%- endcapture -%}
                {%- capture em_tag_close -%}</em>{%- endcapture -%}
                {%- capture br_tag -%}<br />{%- endcapture -%}
                {%- assign content_html = block.settings.content | strip_html | strip | replace: '&lt;p&gt;', p_tag_open | replace: '&lt;/p&gt;', p_tag_close | replace: '&lt;em&gt;', em_tag_open | replace: '&lt;/em&gt;', em_tag_close | replace: '&lt;br /&gt;', br_tag | replace: '&amp;', '&' -%}
                {%- assign tab_id = "Details-{{ block.id }}-{{ section.id }}" -%}
                {%- render 'accordion-item',
                  id: tab_id,
                  summary: block.settings.heading,
                  content: content_html,
                  default_open: block.settings.default_open
                  content_classes: 'max-h-80 overflow-y-auto pr-4'
                -%}
              </div>
            {%- endif -%}
          {%- when 'quantity_selector' -%}
            <div class="{{ block.settings.qty_classes }}" {{ block.shopify_attributes }}>
              <label class="sr-only" for="Quantity-{{ section.id }}">
                {{ 'products.product.quantity.label' | t }}
              </label>
              <quantity-input class="quantity inline-flex border border-seaweed-400 rounded-sm w-full">
                <button class="quantity__button no-js-hidden cursor-pointer flex items-center justify-center 2xs:shrink-0 w-8 h-8 border py-1 -mt-px -mb-px -ml-px box-content border-transparent rounded-sm hover:bg-seafoam-100 hover:border-seaweed-500 motion-safe:transition-colors" name="minus" type="button">
                  <span class="sr-only">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                  {% render 'icon-minus', classes: 'h-5 w-5 text-seaweed-700 pointer-events-none', stroke_width: 2, aria_hidden: true %}
                </button>
                <input class="quantity__input w-8 h-10 border-0 py-1 px-0 text-xl grow text-center "
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    min="1"
                    value="1"
                    form="{{ product_form_id }}"
                  >
                <button class="quantity__button no-js-hidden cursor-pointer flex items-center justify-center 2xs:shrink-0 w-8 h-8 border py-1 -mt-px -mb-px -mr-px box-content border-transparent rounded-sm hover:bg-seafoam-100 hover:border-seaweed-500 motion-safe:transition-colors" name="plus" type="button">
                  <span class="sr-only">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                  {% render 'icon-plus', classes: 'h-5 w-5 text-seaweed-700 pointer-events-none', stroke_width: 2, aria_hidden: true %}
                </button>
              </quantity-input>
            </div>
          {%- when 'variant_picker' -%}
            {%- unless product.has_only_default_variant -%}
              <variant-radios class="no-js-hidden block {{ block.settings.variant_classes }}" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                {%- for option in product.options_with_values -%}
                  <fieldset class="js flex">
                    <legend class="font-medium tracking-wide text-sm{% if block.settings.hide_label %} sr-only{% endif %}">{{ option.name }}</legend>
                    {%- for value in option.values -%}
                      <div>
                        <input type="radio"
                          id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                          class="peer hidden"
                          name="{{ option.name }}"
                          value="{{ value | escape }}"
                          form="{{ product_form_id }}"
                          {% if option.selected_value == value %}checked{% endif %}
                        >
                        <label
                          class="button button-xs lowercase button-secondary peer-checked:border-seaweed-4 peer-checked:bg-wave-200 mr-2{% if value == '9.6 oz Holiday' %} tracking-wide{% endif %}"
                          for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                        >
                          {{ value }}
                        </label>
                      </div>
                    {%- endfor -%}
                  </fieldset>
                {%- endfor -%}
                <script type="application/json">
                  {{ product.variants | json }}
                </script>
              </variant-radios>
            {%- endunless -%}

            <noscript class="product-form__noscript-wrapper-{{ section.id }}">
              <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                <div class="select">
                  <select name="id" id="Variants-{{ section.id }}" class="select__select" form="{{ product_form_id }}">
                    {%- for variant in product.variants -%}
                      <option
                        {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                        {% if variant.available == false %}disabled{% endif %}
                        value="{{ variant.id }}"
                      >
                        {{ variant.title }}
                        {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                        - {{ variant.price | money | strip_html }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              </div>
            </noscript>
          {%- when 'subscription_picker' -%}
            {%- liquid
              assign hide_subscription = false
              if product.handle == 'dayglow-face-oil' or product.handle == 'essential-hydrating-oil-1'
                if product.selected_or_first_available_variant.title == '0.34oz'
                  assign hide_subscription = true
                endif
              else
                assign travel_sizes = '1.7 oz, 1 oz, 0.6 oz, 9.6 oz Holiday' | split: ', '
                if travel_sizes contains product.selected_or_first_available_variant.title
                  assign hide_subscription = true
                endif
              endif
            -%}
            {%- unless product.selling_plan_groups.size == 0 -%}
              {%- assign purchase_options = 'onetime, autodeliver' | split: ', ' -%}
              <subscription-radios
                class="subscription transition-height overflow-hidden {{ block.settings.subscription_classes }}{% if hide_subscription %} h-0{% endif %}"
                data-recommended-interval="{{ product.metafields.custom.subscription_interval }}"
              >
                <fieldset>
                  <legend class="sr-only">Purchase options</legend>
                  {%- for option in purchase_options -%}
                    <label class="relative block w-full pl-9 2xs:pl-10 py-3 pr-2 2xs:pr-3 xs:pr-4 motion-safe:transition-colors duration-200 {% if option == 'onetime' %}bg-wave-200{% else %}bg-white{% endif %}{% if forloop.last %} mb-4{% endif %}">
                      <span class="flex justify-between">
                        <span class="block leading-5 font-bold tracking-widest uppercase text-sm">{%- if option == 'onetime' -%}One-time purchase{%- else -%}Subscribe & save 10%{%- endif -%}</span>
                        {%- if option == 'onetime' -%}
                          {% render 'price', product: product, use_variant: true, price_class: 'text-sm font-medium' %}
                        {%- else -%}
                          {% render 'price', product: product, use_variant: true, subscription: true, price_class: 'text-sm font-medium' %}
                        {%- endif -%}
                      </span>
                      <input type="radio"
                        name="purchase_option"
                        class="sr-only peer bg-white"
                        value="{{ option }}"
                        {%- if option == 'onetime' -%}checked{%- endif -%}
                      >
                      <div class="absolute left-2 top-3 cursor-pointer w-5 h-5 border-2 border-seaweed-700 bg-white rounded-full flex justify-center items-center peer-checked:border-seaweed-500 peer-checked:child:scale-100 motion-safe:transition-colors">
                        <div class="absolute top-0.5 left-0.5 w-3 h-3 bg-seaweed-700 rounded-full scale-0 motion-safe:transition-transform"></div>
                      </div>
                      {%- if option == 'autodeliver' -%}
                        <span class="text-xs 2xs:tracking-wide block leading-tight mt-1">
                          Skip or cancel anytime, free US shipping.
                          <modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#SubscriptionPopup-{{ block.id }}" {{ block.shopify_attributes }}>
                            <button class="product-popup-modal__button underline" type="button" aria-haspopup="dialog">Learn more</button>
                          </modal-opener>
                        </span>
                        <div class="overflow-hidden max-h-0 peer-checked:max-h-20 motion-safe:transition-max-height">
                          <fieldset class="js flex mt-3 mb-2">
                            <legend class="text-sm font-medium">Delivery every</legend>
                            {%- for value in product.selling_plan_groups[0].selling_plans -%}
                              <div class="block grow{% unless forloop.last %} mr-1{% endunless %}">
                                <input type="radio"
                                  id="{{ block.id }}-{{ forloop.index0 }}"
                                  class="peer sr-only"
                                  name="selling_plan"
                                  value="{{ value.id | escape }}"
                                  form="{{ product_form_id }}"
                                >
                                <label
                                  class="w-full button button-xs lowercase tracking-wide button-secondary px-1 peer-checked:border-seaweed-500 peer-checked:bg-wave-200"
                                  for="{{ block.id }}-{{ forloop.index0 }}"
                                >
                                  {{ value.name | replace: "Delivery every", "" }}
                                </label>
                              </div>
                            {%- endfor -%}
                          </fieldset>
                        </div>
                      {%- endif -%}
                    </label>
                  {%- endfor -%}
                </fieldset>
                <modal-dialog id="SubscriptionPopup-{{ block.id }}" {{ block.shopify_attributes }}>
                  <div role="dialog" aria-label="{{ block.settings.text }}" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
                    <button id="ModalClose-{{ block.id }}" type="button" aria-label="{{ 'accessibility.close' | t }}">
                      {%- render 'icon-close', classes: 'w-8 h-8', stroke_width: 1, aria_hidden: true -%}
                    </button>
                    <div class="w-full">
                      <h1 class="font-serif text-3xl tracking-tight mb-2">{{ block.settings.subscription_modal_heading }}</h1>
                      {{ block.settings.subscription_modal_content }}
                    </div>
                  </div>
                </modal-dialog>
              </subscription-radios>
            {%- endunless -%}
          {%- when 'buy_buttons' -%}
            <div class="w-full grow {{ block.settings.atc_classes }}" {{ block.shopify_attributes }}>
              <product-form class="product-form" data-cart-type="{{ settings.cart_type }}">
                <div class="product-form__error-message-wrapper" role="alert" hidden>
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                    <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                    <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                    <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                    <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                  </svg>
                  <span class="product-form__error-message"></span>
                </div>

                {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                  <div class="product-form__buttons">
                    <button
                      type="submit"
                      name="add"
                      class="product-form__submit button button-primary button-md w-full"
                      {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                    >
                        <span>
                          {%- if product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.add_to_cart' | t }}
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        </span>
                        <div class="loading-overlay__spinner hidden">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>
                    </button>
                  </div>
                {%- endform -%}
              </product-form>
            </div>
          {%- when 'upsells' -%}
            {%- if product.metafields.my_fields.save_with_sets != nil or product.metafields.my_fields.pair_with_product != nil -%}
              <div class="{{ block.settings.upsell_classes }}" {{ block.shopify_attributes }}>
                {%- if block.settings.upsell_enable_sets and product.metafields.my_fields.save_with_sets != nil -%}
                  {%- for set in product.metafields.my_fields.save_with_sets.value -%}
                    {%- if forloop.first %}<h2 class="font-medium tracking-wide mb-1">Save with sets</h2>{%- endif -%}
                    {%- render 'product-upsell', product: set -%}
                  {%- endfor -%}
                {%- endif -%}
                {%- if block.settings.upsell_enable_partner and product.metafields.my_fields.pair_with_product != nil -%}
                  <h2 class="font-medium tracking-wide mb-1">Pairs well with</h2>
                  {%- render 'product-upsell', product: product.metafields.my_fields.pair_with_product.value -%}
                {%- endif -%}
              </div>
            {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
    {%- if product.selected_or_first_available_variant.featured_media -%}
      {%- assign media_size = product.selected_or_first_available_variant.featured_media.preview_image.width -%}
      "image": [
        {{ product.selected_or_first_available_variant.featured_media | image_url: width: media_size | prepend: "https:" | json }}
      ],
    {%- endif -%}
    "description": {{ product.description | strip_html | json }},
    {%- if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif -%}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ shop.url | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "textarea",
          "id": "text_classes",
          "label": "Text classes"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "title_classes",
          "label": "Title classes"
        }
      ]
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "price_classes",
          "label": "Price classes"
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "qty_classes",
          "label": "Quantity classes"
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "variant_classes",
          "label": "Variant classes"
        },
        {
          "type": "checkbox",
          "id": "hide_label",
          "label": "Hide label"
        }
      ]
    },
    {
      "type": "subscription_picker",
      "name": "Subscription picker",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "subscription_classes",
          "label": "Subscription classes"
        },
        {
          "type": "header",
          "content": "Subscription information modal"
        },
        {
          "type": "text",
          "default": "Subscribe & Save 10%",
          "id": "subscription_modal_heading",
          "label": "Modal heading"
        },
        {
          "type": "html",
          "id": "subscription_modal_content",
          "label": "Modal content"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "atc_classes",
          "label": "ATC button classes"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "description_classes",
          "label": "Description classes"
        },
        {
          "type": "checkbox",
          "id": "is_collapsible",
          "label": "Is collapsible tab"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible tab",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "textarea",
          "id": "tab_classes",
          "label": "Collapsible tab classes"
        },
        {
          "type": "checkbox",
          "id": "default_open",
          "label": "Open by default"
        }
      ]
    },
    {
      "type": "rating",
      "name": "Star rating",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.rating.settings.paragraph.content"
        },
        {
          "type": "textarea",
          "id": "rating_classes",
          "label": "Rating classes"
        }
      ]
    },
    {
      "type": "benefits",
      "name": "Benefits",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "benefits_classes",
          "label": "Benefits classes"
        },
        {
          "type": "checkbox",
          "id": "hide_label",
          "label": "Hide label"
        }
      ]
    },
    {
      "type": "upsells",
      "name": "Product upsells",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "upsell_classes",
          "label": "Upsell classes"
        },
        {
          "type": "checkbox",
          "id": "upsell_enable_sets",
          "label": "Save with sets"
        },
        {
          "type": "checkbox",
          "id": "upsell_enable_partner",
          "label": "Pair with product"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "textarea",
      "id": "product_info_classes",
      "label": "Product info wrapper classes"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "number",
      "id": "gallery_limit",
      "default": 6,
      "label": "Image gallery limit"
    }
  ]
}
{% endschema %}
