{%- paginate blog.articles by 11 -%}

  <div class="blog mb-6">
    <h1 class="sr-only">{{ blog.title | escape }}</h1>

    {%- assign category_color = current_tags.first | replace: 'How-To', 'bg-wave-200' | replace: 'Ingredients', 'bg-sand-300' | replace: 'Inside-Osea', 'bg-seaweed-200' | replace: 'Products', 'bg-shell-200' | replace: 'Profiles', 'bg-coral-100' | replace: 'Wellness', 'bg-seafoam-200' -%}
    <div class="{% if category_color != blank %}{{ category_color }}{% else %}bg-seafoam-200{% endif %} mb-8">
      {%- liquid
        if section.settings.main_featured_article == blank
          assign main_featured_article = blog.articles.first
        else
          assign main_featured_article = section.settings.main_featured_article
        endif
      -%}
      <div class="container lg:max-w-screen-lg py-6 px-0 flex flex-col lg:flex-row">
        <div class="px-6 lg:pr-0 lg:w-3/5">
          {%- render 'article-card',
            article: main_featured_article,
            unique_id: '-main_featured',
            show_image: true,
            large_image: true,
            card_classes: 'flex flex-col text-center',
            image_aspect: 'pt-[80%]',
            image_classes: 'rounded-md',
            title_classes: 'font-serif text-3xl tracking-tight mb-2 mt-3 lg:text-4xl',
            tag_classes: 'sr-only',
            date_classes: 'sr-only',
            author_classes: 'sr-only',
            excerpt_classes: 'text-sm leading-snug mb-4 lg:text-lg lg:max-w-md lg:mx-auto',
            link_classes: 'button button-primary button-sm lg:button-md',
            exceprt_length: 15
          -%}
        </div>
        {%- liquid
          assign secondary_featured_articles = '' | split: ''
          if section.settings.featured_article_one != blank
            assign first_article = section.settings.featured_article_one | sort
            assign secondary_featured_articles = secondary_featured_articles | concat: first_article
          endif
          if section.settings.featured_article_two != blank
            assign second_article = section.settings.featured_article_two | sort
            assign secondary_featured_articles = secondary_featured_articles | concat: second_article
          endif
          if section.settings.featured_article_three != blank
            assign third_article = section.settings.featured_article_three | sort
            assign secondary_featured_articles = secondary_featured_articles | concat: third_article
          endif
        -%}
        {%- if secondary_featured_articles.size > 0 -%}
          <div class="lg:w-2/5 lg:flex">
            <div class="container lg:max-w-none lg:w-auto lg:px-0">
              <div class="border-t border-seaweed-400 pt-6 mt-6 lg:shrink lg:border-t-0 lg:border-l lg:pl-8 lg:ml-8 lg:pt-0 lg:mt-0 lg:h-full"></div>
            </div>
            <div class="pl-6 xs:pr-6 lg:px-0 lg:grow">
              <h2 class="mb-2 font-serif text-3xl tracking-tight lg:mb-6 lg:mt-4">Featured Journals</h2>
              <glide-slider
                class="glide sm:peek.after-120 sm:perView-1 perView-3 peek.after-0 bound-true"
                id="featured-slider-{{ section.id }}"
                data-breakpoint-limit="sm"
              >
                <div class="glide__track" data-glide-el="track">
                  <ul
                    class="glide__slides sm:grid sm:grid-cols-3 sm:gap-2 lg:grid-cols-1 lg:gap-6"
                    role="presentation"
                  >
                    {%- for featured_article in secondary_featured_articles -%}
                      <li>
                        {%- render 'article-card',
                          article: featured_article,
                          unique_id: '-secondary_featured',
                          show_image: true,
                          card_classes: 'flex flex-col whitespace-normal lg:grid lg:grid-cols-2 lg:gap-4',
                          image_classes: 'mb-1 rounded-md',
                          image_aspect: 'pt-[100%]',
                          title_classes: 'tracking-wide font-medium mb-0.5 leading-tight mt-1',
                          tag_classes: 'inline-block text-xs scale-90 uppercase tracking-widest font-bold origin-left mt-1',
                          date_classes: 'sr-only',
                          author_classes: 'sr-only',
                          excerpt_classes: 'sr-only',
                          link_classes: 'link font-bold uppercase tracking-widest text-xs'
                        -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
                <div
                  class="glide__bullets flex justify-center sm:hidden mt-1"
                  data-glide-el="controls[nav]"
                >
                  {%- for dot in (1..3) -%}
                    <button
                      class="glide__bullet p-2{% if forloop.first %} active{% endif %}"
                      data-glide-dir="={{ forloop.index0 }}"
                    >
                      <span class="sr-only">Go to slide {{ forloop.index }}</span>
                      <span class="block w-2 h-2 bg-seaweed-700 rounded-full"></span>
                    </button>
                  {%- endfor -%}
                </div>
              </glide-slider>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>

    <div>
      <a class="anchor" id="nav"></a>
      <h2 class="mb-3 font-serif text-3xl tracking-tight text-center">Browse by Category</h2>
      <nav class="mb-6">
        <ul class="flex sm:justify-center items-center tracking-wide font-book overflow-x-auto px-2 pb-1.5">
          {%- for tag in blog.all_tags -%}
            {%- assign tag_handle = tag | handle -%}
            <li>
              <a
                href="{% if tag == 'All' %}{{ blog.url | append: '#nav' }}{% else %}{{ blog.url | append: '/tagged/' | append: tag_handle | append: '#nav' }}{% endif %}"
                class="block py-1 px-3 tracking-wide whitespace-nowrap hover:text-seaweed-500 motion-safe:transition-colors{% if current_tags contains tag %} {{ category_color }} font-medium{% endif %}{% if current_tags == nil and tag == 'All' %} bg-seafoam-200 font-medium{% endif %}"
              >
                {{- tag | replace: '-', ' ' | replace: 'How To', 'How-To' | replace: 'Osea', 'OSEA' -}}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </nav>
    </div>

    <ul class="blog-articles container mb-12 lg:max-w-screen-lg grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3">
      {%- liquid
        assign brand_articles = '' | split: ''
        if section.settings.brand_article_one != blank
          assign first_article = section.settings.brand_article_one | sort
          assign brand_articles = brand_articles | concat: first_article
        endif
        if section.settings.brand_article_two != blank
          assign second_article = section.settings.brand_article_two | sort
          assign brand_articles = brand_articles | concat: second_article
        endif
        assign brand_article_handles = brand_articles | map: 'handle'
      -%}
      {%- for article in blog.articles -%}
        {%- unless current_tags == nil and section.settings.main_featured_article == blank and forloop.first or brand_article_handles contains article.handle -%}
          <li class="article order-{{ forloop.index }}">
            {% assign image_classes = 'mb-1 rounded-md ' | append: article.metafields.custom.tile_image_class %}
            {%- render 'article-card',
              article: article,
              show_image: true,
              card_classes: 'flex flex-col whitespace-normal w-full',
              image_classes: image_classes,
              image_aspect: 'pt-[100%]',
              title_classes: 'tracking-wide mb-1.5 mt-1 leading-tight text-xl',
              tag_classes: 'inline-block text-xs scale-90 uppercase tracking-widest font-bold origin-left mt-2',
              date_classes: 'sr-only',
              author_classes: 'sr-only',
              excerpt_classes: 'sr-only',
              link_classes: 'link font-bold uppercase tracking-widest text-xs'
            -%}
          </li>
        {%- endunless -%}
        {%- if forloop.index == 3 and current_page == 1 -%}
          {%- if brand_articles.size > 0 -%}
            <li class="bg-sand-200 -mx-4 2xs:-mx-6 py-8 order-3 sm:mx-0 sm:px-6 sm:order-6 sm:col-span-2 md:px-8 md:order-8 md:col-span-3">
              <h3 class="mb-4 font-serif text-3xl tracking-tight text-center px-6">About Our Brand</h3>
              <glide-slider
                class="pl-6 sm:pr-6 glide sm:peek.after-120 sm:perView-1 perView-3 peek.after-0 bound-true"
                id="brand-slider-{{ section.id }}"
                data-breakpoint-limit="sm"
              >
                <div class="glide__track" data-glide-el="track">
                  <ul
                    class="glide__slides sm:grid sm:grid-cols-2 sm:gap-4 md:gap-6 md:mx-auto lg:max-w-screen-md lg:gap-20"
                    role="presentation"
                  >
                    {%- for brand_article in brand_articles -%}
                      <li>
                        {%- render 'article-card',
                          article: brand_article,
                          unique_id: '-brand_featured',
                          show_image: true,
                          card_classes: 'flex flex-col whitespace-normal',
                          image_classes: 'rounded-md',
                          image_aspect: 'pt-[100%]',
                          title_classes: 'tracking-wide font-medium mb-1 leading-tight mt-2',
                          tag_classes: 'sr-only',
                          date_classes: 'sr-only',
                          author_classes: 'sr-only',
                          excerpt_classes: 'text-sm leading-tight mb-2',
                          exceprt_length: 10,
                          link_classes: 'link font-bold uppercase tracking-widest text-xs'
                        -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
                <div
                  class="glide__bullets flex justify-center sm:hidden mt-1"
                  data-glide-el="controls[nav]"
                >
                  {%- for dot in (1..2) -%}
                    <button
                      class="glide__bullet p-2{% if forloop.first %} active{% endif %}"
                      data-glide-dir="={{ forloop.index0 }}"
                    >
                      <span class="sr-only">Go to slide {{ forloop.index }}</span>
                      <span class="block w-2 h-2 bg-seaweed-700 rounded-full"></span>
                    </button>
                  {%- endfor -%}
                </div>
              </glide-slider>
            </li>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    </ul>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Featured articles"
    },
    {
      "type": "article",
      "id": "main_featured_article",
      "label": "Main featured article",
      "info": "This overrides the default (most recent post)"
    },
    {
      "type": "paragraph",
      "content": "Choose up to 3 posts to feature in header of blog landing page."
    },
    {
      "type": "article",
      "id": "featured_article_one",
      "label": "Featured article 1"
    },
    {
      "type": "article",
      "id": "featured_article_two",
      "label": "Featured article 2"
    },
    {
      "type": "article",
      "id": "featured_article_three",
      "label": "Featured article 3"
    },
    {
      "type": "header",
      "content": "Brand section"
    },
    {
      "type": "article",
      "id": "brand_article_one",
      "label": "Brand article 1"
    },
    {
      "type": "article",
      "id": "brand_article_two",
      "label": "Brand article 2"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    }
  ]
}
{% endschema %}
