{%- unless settings.cart_type == 'drawer' -%}
  <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}
{%- assign cart_ids = cart.items | map: 'product_id' -%}
<cart-items data-cart-ids="{{ cart_ids | json }}" class="block container pt-12">
  <div class="flex justify-between items-center mb-6">
    <h1 class="font-serif text-4xl tracking-tight">{{ 'sections.cart.title' | t }}</h1>
    <a class="button button-secondary button-sm px-2 sm:px-4" href="/collections/shop">{{ 'general.continue_shopping' | t }}</a>
  </div>

  <div class="cart__warnings mb-8 {% if cart == empty %} block{% else %}hidden{% endif %}">
    <h1 class="font-medium text-lg">{{ 'sections.cart.empty' | t }}</h1>

    {%- if shop.customer_accounts_enabled -%}
      <h2>{{ 'sections.cart.login.title' | t }}</h2>
      <p class="cart__login-paragraph">
        {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
      </p>
    {%- endif -%}
  </div>

  <form action="{{ routes.cart_url }}" class="cart__contents{% if cart == empty %} hidden{% else %}block{% endif %}" method="post" id="cart">
    <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}">
      <div class="js-contents">
        {%- if cart != empty -%}
          <table class="cart-items w-full tracking-wide">
            <thead>
              <tr class="th:border-b th:border-seaweed-300 th:py-1">
                <th class="text-left" colspan="2" scope="col">{{ 'sections.cart.headings.product' | t }}</th>
                <th class="text-left opacity-0 sm:opacity-100" colspan="1" scope="col">{{ 'sections.cart.headings.quantity' | t }}</th>
                <th class="text-right" colspan="1" scope="col">{{ 'sections.cart.headings.total' | t }}</th>
              </tr>
            </thead>

            <tbody>
              {%- for item in cart.items -%}
                <tr class="cart-item td:py-2 relative" id="CartItem-{{ item.index | plus: 1 }}">
                  <td class="cart-item__media shrink-0">
                    {% if item.image %}
                      {% if item.url %}<a href="{{ item.url }}" aria-label="{{ item.title }}" tabindex="-1">{% endif %}
                        <img class="cart-item__image shrink-0"
                          src="{{ item.image | image_url: width: 120 }}"
                          alt="{{ item.image.alt | escape }}"
                          loading="lazy"
                          width="60"
                          height="{{ 60 | divided_by: item.image.aspect_ratio | ceil }}"
                        >
                      {% if item.url %}</a>{% endif %}
                    {% endif %}
                  </td>

                  <td class="cart-item__details">
                    <a href="{{ item.url }}" class="cart-item__name link leading-tight block mb-1">{{ item.product.title | escape }}</a>

                    {%- if item.original_price != item.final_price -%}
                      <div class="cart-item__discounted-prices flex">
                        <span class="sr-only">
                          {{ 'products.product.price.regular_price' | t }}
                        </span>
                        <s class="cart-item__old-price text-seaweed-500">
                          {{- item.original_price | money -}}
                        </s>
                        <span class="sr-only">
                          {{ 'products.product.price.sale_price' | t }}
                        </span>
                        <strong class="cart-item__final-price">
                          {{ item.final_price | money }}
                        </strong>
                      </div>
                    {%- else -%}
                      <div>
                        {{ item.original_price | money }}
                      </div>
                    {%- endif -%}

                    {%- if item.product.has_only_default_variant == false or item.properties.size != 0 -%}
                      <dl>
                        {%- if item.product.has_only_default_variant == false -%}
                          {%- for option in item.options_with_values -%}
                            <div class="flex gap-1">
                              <dt>{{ option.name }}: </dt>
                              <dd>{{ option.value }}</dd>
                            </div>
                          {%- endfor -%}
                        {%- endif -%}

                        {%- for property in item.properties -%}
                          {%- assign property_first_char = property.first | slice: 0 -%}
                          {%- if property.last != blank and property_first_char != '_' -%}
                            <div class="flex gap-1">
                              <dt>{{ property.first }}: </dt>
                              <dd>
                                {%- if property.last contains '/uploads/' -%}
                                  <a href="{{ property.last }}" class="link" target="_blank">
                                    {{ property.last | split: '/' | last }}
                                  </a>
                                {%- else -%}
                                  {{ property.last }}
                                {%- endif -%}
                              </dd>
                            </div>
                          {%- endif -%}
                        {%- endfor -%}
                      </dl>
                    {%- endif -%}

                    {%- if item.discounts.size > 0 -%}
                      <ul class="discounts" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                        {%- for discount in item.discounts -%}
                          <li class="flex gap-1">
                            {%- render 'icon-tag', classes: 'w-4 h-4', aria_hidden: true, stroke_width: 2 -%}
                            {{ discount.title }}
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  </td>

                  <td class="cart-item__quantity align-top">
                    <div class="flex items-center absolute sm:relative -right-2 top-10 sm:top-0 sm:right-0">
                      {%- unless item.product.type == 'Sample' or item.product.type == 'Free Gift' -%}
                        <label class="sr-only" for="Quantity-{{ item.index | plus: 1 }}">
                          {{ 'products.product.quantity.label' | t }}
                        </label>
                        <quantity-input class="quantity inline-flex border border-seaweed-400 rounded-md mr-2">
                          <button class="quantity__button no-js-hidden cursor-pointer flex items-center justify-center shrink-0 w-6 h-6 border -mt-px -mb-px -ml-px box-content border-transparent rounded-l-md hover:bg-seafoam-100 hover:border-seaweed-500 motion-safe:transition-colors" name="minus" type="button">
                            <span class="sr-only">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                            {% render 'icon-minus', classes: 'h-4 w-4 text-seaweed-700 pointer-events-none', stroke_width: 2, aria_hidden: true %}
                          </button>
                          <input class="quantity__input w-8 h-6 border-0 p-1 text-center"
                            type="number"
                            name="updates[]"
                            value="{{ item.quantity }}"
                            min="0"
                            aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                            id="Quantity-{{ item.index | plus: 1 }}"
                            data-index="{{ item.index | plus: 1 }}"
                          >
                          <button class="quantity__button no-js-hidden cursor-pointer flex items-center justify-center shrink-0 w-6 h-6 border -mt-px -mb-px -mr-px box-content border-transparent rounded-r-md hover:bg-seafoam-100 hover:border-seaweed-500 motion-safe:transition-colors" name="plus" type="button">
                            <span class="sr-only">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                            {% render 'icon-plus', classes: 'h-4 w-4 text-seaweed-700 pointer-events-none', stroke_width: 2, aria_hidden: true %}
                          </button>
                        </quantity-input>
                      {%- endunless -%}

                      <cart-remove-button class="hidden sm:block" id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                        <a href="{{ item.url_to_remove }}" class="block button button-secondary button-sm px-2" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                          {% render 'icon-remove', classes: 'w-4 h-4 pointer-events-none', stroke_width: 2, aria_hidden: true %}
                        </a>
                      </cart-remove-button>
                    </div>
                    <div class="cart-item__error text-coral-800 hidden" id="Line-item-error-{{ item.index | plus: 1 }}" role="alert">
                      <small class="cart-item__error-text"></small>
                      {% render 'icon-error-circle', classes: 'icon icon-error w-4 h-4', aria_hidden: true, stroke_width: 2 %}
                    </div>
                  </td>

                  <td class="cart-item__totals flex flex-row justify-end items-center text-right relative">
                    <div class="loading-spinner hidden mr-2 -ml-6">
                      {% render 'icon-spinner', classes: 'w-4 h-4' %}
                    </div>

                    <div class="cart-item__price-wrapper">
                      {%- if item.original_line_price != item.final_line_price -%}
                        <dl class="cart-item__discounted-prices">
                          <dt class="sr-only">
                            {{ 'products.product.price.regular_price' | t }}
                          </dt>
                          <dd>
                            <s class="cart-item__old-price price price--end">
                              {{ item.original_line_price | money }}
                            </s>
                          </dd>
                          <dt class="sr-only">
                            {{ 'products.product.price.sale_price' | t }}
                          </dt>
                          <dd class="price price--end">
                            {{ item.final_line_price | money }}
                          </dd>
                        </dl>
                      {%- else -%}
                        <span class="price price--end">
                          {{ item.original_line_price | money }}
                        </span>
                      {%- endif -%}

                      {%- if item.variant.available and item.unit_price_measurement -%}
                        <div class="unit-price caption">
                          <span class="sr-only">{{ 'products.product.price.unit_price' | t }}</span>
                          {{ item.variant.unit_price | money }}
                          <span aria-hidden="true">/</span>
                          <span class="sr-only">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                          {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                            {{- item.variant.unit_price_measurement.reference_value -}}
                          {%- endif -%}
                          {{ item.variant.unit_price_measurement.reference_unit }}
                        </div>
                      {%- endif -%}
                    </div>
                  </td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
        {%- endif -%}
      </div>
    </div>

    <p class="sr-only" id="cart-live-region-text" aria-live="polite" role="status"></p>
    <p class="sr-only" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
  </form>
</cart-items>

{% schema %}
{
  "name": "t:sections.main-cart-items.name"
}
{% endschema %}
