{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
  {{ 'component-facets.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>

  <div class="container mx-auto px-6 relative z-10" id="main-collection-filters" data-id="{{ section.id }}">
    {% render 'facets',
      results: collection,
      enable_filtering: section.settings.enable_filtering,
      enable_sorting: section.settings.enable_sorting
    %}
  </div>
{%- endif -%}

<div id="ProductGridContainer" class="container mx-auto px-6 mb-12">
  {%- liquid
    assign subcollections = collection.metafields.my_fields.subcollections
    assign featured_products = collection.metafields.my_fields.featured_products
  -%}
  {%- if subcollections and subcollections.value.size > 0 -%}
    <div class="flex overflow-x-auto scrollbar mb-4">
      {%- if featured_products -%}
        <a href="#Featured" aria-label="Jump to featured products section" class="button button-xs button-secondary mr-2">Featured</a>
      {%- endif -%}
      {%- for subcollection in subcollections.value -%}
        {%- assign subcollection_title = collections[subcollection].title | replace: "Section: ", "" -%}
        <a href="#{{ subcollection_title | handle }}" aria-label="Jump to {{ subcollection_title }} section" class="button button-xs button-secondary mr-2">{{ subcollection_title }}</a>
      {%- endfor -%}
    </div>
  {%- endif -%}
  {%- if featured_products -%}
    {%- capture featured_products_grid -%}
      <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-3 gap-y-8 sm:gap-x-4">
        {%- for product in featured_products.value -%}
          <li>
            {% render 'product-card',
              product_card_product: product,
              button_class: 'flex-col sm:flex-row py-1 sm:py-2 button-sm sm:button-md leading-none sm:leading-normal',
              badge_class: 'scale-[0.8] sm:scale-100 origin-top-left'
            %}
          </li>
        {%- endfor -%}
      </ul>
    {%- endcapture -%}
    {% render 'accordion',
      id: 'Featured',
      summary: 'Featured',
      content: featured_products_grid,
      default_open: true,
      transition_duration: 800
    %}
  {%- endif -%}
  {%- if subcollections and subcollections.value.size > 0 -%}
    {%- for subcollection in subcollections.value -%}
      {%- liquid
        assign summary = collections[subcollection].title | replace: "Section: ", ""
        assign summary_handle = summary | handle

        capture subcollection_grid
          render 'collection-product-grid', products: collections[subcollection].value, id: section.id, url: collection.url
        endcapture

        comment
        if collection.metafields.my_fields.featured_products == nil and forloop.first
          assign is_default_open = true
        else
          assign is_default_open = false
        endif
        endcomment
      -%}
      {% render 'accordion',
        id: summary_handle,
        summary: summary,
        content: subcollection_grid,
        default_open: true,
        transition_duration: 800
      %}
    {%- endfor -%}
  {%- else -%}
    {% render 'collection-product-grid', products: collection, id: section.id, url: collection.url %}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "info": "Does not appear on pages with sections.",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "enable_anchors",
      "info": "Only available on collections with sections.",
      "default": false,
      "label": "Enable section anchor links"
    }
  ]
}
{% endschema %}
