{% comment %}theme-check-disable PaginationSize{% endcomment %}
<article class="container lg:max-w-screen-lg" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="md:grid md:grid-cols-5">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          <div>
            {% render block %}
          </div>

        {%- when 'featured_image'-%}
          {%- if article.image -%}
            <div class="{{ block.settings.image_classes }}" {{ block.shopify_attributes }}>
              <div class="w-full" itemprop="image">
                <picture class="block relative pt-[80%]">
                  <source
                    srcset="{{ article.image | image_url: width: 400 }} 1x, {{ article.image | image_url: width: 800 }} 2x"
                    media="(min-width: 0)"
                  >
                  <source
                    srcset="{{ article.image | image_url: width: 800 }} 1x, {{ article.image | image_url: width: 1600 }} 2x"
                    media="(min-width: 800px)"
                  >
                  <img
                    srcset="{{ article.image | image_url: width: 400 }} 1x, {{ article.image | image_url: width: 800 }} 2x"
                    src="{{ article.image | image_url: width: 800 }}"
                    loading="lazy"
                    width="{{ article.image.width }}"
                    height="{{ article.image.height }}"
                    alt="{{ article.image.alt | escape }}"
                    class="absolute inset-0 object-cover min-w-full min-h-full"
                  >
                </picture>
              </div>
            </div>
          {%- endif -%}

        {%- when 'title'-%}
          {%- assign bg_color = article.tags.first | replace: 'How-To', 'bg-wave-200' | replace: 'Ingredients', 'bg-sand-300' | replace: 'Inside-Osea', 'bg-seaweed-200' | replace: 'Products', 'bg-shell-200' | replace: 'Profiles', 'bg-coral-100' | replace: 'Wellness', 'bg-seafoam-200' -%}
          <header class="{{ bg_color }} {{ block.settings.header_classes }}" {{ block.shopify_attributes }}>
            <span class="{{ block.settings.tag_classes }}">
              {{ article.tags | join: ', ' }}
            </span>
            <h1 class="{{ block.settings.title_classes }}" itemprop="headline">{{ article.title | escape }}</h1>
            <span class="{{ block.settings.date_classes }}" itemprop="dateCreated pubdate datePublished">{{ article.published_at | time_tag: format: 'date' }}</span>
            <span class="{{ block.settings.author_classes }}" itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span itemprop="name">{{ article.author }}</span>
            </span>
          </header>

        {%- when 'content'-%}
          <div class="{{ block.settings.content_classes }}">
            <div class="rte mb-8" itemprop="articleBody" {{ block.shopify_attributes }}>
              {%- liquid
                assign new_content = article.content
                paginate collections['shop'].products by 80
                  for product in collections['shop'].products
                    if article.content contains product.handle
                      assign product_tag = '[product-block product="' | append: product.handle | append: '"]'
                      capture product_card
                        render 'product-card', card_product: all_products[product.handle], section_id: 'article_body', variant_picker_type: 'none', card_class: 'flex flex-col relative max-w-2xs w-full mx-auto', button_class: 'flex-col h-10 sm:h-auto sm:flex-row py-1 sm:py-2 button-sm sm:button-md leading-none sm:leading-normal md:px-3 md:tracking-wider lg:px-4'
                      endcapture
                      assign new_content = new_content | replace: product_tag, product_card
                    endif
                  endfor
                endpaginate
              -%}
              {{ new_content }}
            </div>
            <aside class="md:w-80 md:shrink-0">
              <div class="md:sticky top-36">
                <div class="hidden md:block bg-seafoam-100 px-4 pt-4 pb-6 mb-8">
                  <h3 class="font-serif text-3xl tracking-tight text-center mb-2">Connect With Us</h3>
                  {%- assign newsletter_tabs = "Email,Text" | split: "," -%}
                  <tab-controller id="article-newsletter-tabs">
                    <ul aria-controls="article-newsletter-tabs" role="tablist" class="flex justify-center button-group">
                      {%- for tab in newsletter_tabs -%}
                        <li
                          role="tab"
                          aria-controls="article-aside-tab-{{ forloop.index }}"
                          tabindex="0"
                          aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
                          class="button button-xs button-secondary px-3 sm:px-4{% if forloop.first %} bg-wave-200{% endif %}"
                        >
                          {{ tab }}
                        </li>
                      {%- endfor -%}
                    </ul>

                    <div class="relative">
                      {%- for tab in newsletter_tabs -%}
                        <div class="absolute z-10 inset-0" id="article-aside-tab-{{ forloop.index }}" role="tabpanel" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}">
                          {%- if tab == 'Email' -%}
                            <div class="klaviyo-email-form relative">
                              {% render 'icon-email',
                                aria_hidden: true,
                                classes: "h-6 w-6 text-seaweed-400 absolute top-2 left-3 z-10",
                                stroke_width: 2
                              %}
                              <div class="klaviyo-form-T3gN5Z"></div>
                            </div>
                          {%- else -%}
                            <div class="klaviyo-phone-form relative">
                              <div class="klaviyo-form-TA8JnT"></div>
                            </div>
                          {%- endif -%}
                        </div>
                      {%- endfor -%}
                      <div class="skeleton z-0 w-full h-10 bg-wave-400 rounded-md mt-1.5"></div>
                    </div>
                  </tab-controller>
                </div>

                {%- if article.metafields.custom.shop_the_story.value != blank -%}
                  <div class="bg-sand-200 px-6 py-6">
                    <h3 class="font-serif text-3xl tracking-tight text-center mb-2">Shop the Story</h3>
                    <ul class="grid grid-cols-2 gap-6">
                      {%- for product in article.metafields.custom.shop_the_story.value -%}
                        {% render 'product-card-mini', card_product: product, section_id: 'article_aside' button_class: 'button-secondary' %}
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- endif -%}
              </div>
            </aside>
          </div>

        {%- when 'share' -%}
          <div class="{{ block.settings.share_classes }}" {{ block.shopify_attributes }}>
            <share-button class="share-button" {{ block.shopify_attributes }}>
              <button class="share-button__button hidden">
                {% render 'icon-share' %}
                {{ block.settings.share_label | escape }}
              </button>
              <details id="Details-{{ block.id }}-{{ section.id }}">
                <summary class="share-button__button">
                  {% render 'icon-share' %}
                  {{ block.settings.share_label | escape }}
                </summary>
                <div id="Article-share-{{ section.id }}" class="share-button__fallback motion-reduce">
                  <div class="field">
                    <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status">
                    </span>
                    <input type="text"
                          id="url"
                          value="{{ shop.url | append: article.url }}"
                          placeholder="{{ 'general.share.share_url' | t }}"
                          onclick="this.select();"
                          readonly
                    >
                    <label class="field__label" for="url">{{ 'general.share.share_url' | t }}</label>
                  </div>
                  <button class="share-button__close hidden no-js-hidden">
                    {% render 'icon-close' %}
                    <span class="sr-only">{{ 'general.share.close' | t }}</span>
                  </button>
                  <button class="share-button__copy no-js-hidden">
                    {% render 'icon-clipboard' %}
                    <span class="sr-only">{{ 'general.share.copy_to_clipboard' | t }}</span>
                  </button>
                </div>
              </details>
            </share-button>
            <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>

  <div class="my-12">
    <a href="{{ blog.url }}" class="button button-secondary button-sm">
      {% render 'icon-arrow', variant: 'long', classes: 'w-5 h-5 rotate-180 -ml-1.5 mr-1.5', aria_hidden: true, stroke_width: 2 %}
      {{ 'blogs.article.back_to_blog' | t: title: blog.title }}
    </a>
  </div>
  {%- if blog.comments_enabled? -%}
    <div class="article-template__comment-wrapper">
      <div id="comments" class="container">
        {%- if article.comments_count > 0 -%}
          {%- assign anchorId = '#Comments-' | append: article.id -%}

          <h2 id="Comments-{{ article.id }}" tabindex="-1">{{ 'blogs.article.comments' | t: count: article.comments_count }}</h2>
          {% paginate article.comments by 5 %}
            <div class="article-template__comments">
              {%- if comment.status == 'pending' and comment.content -%}
                <article id="{{ comment.id }}" class="article-template__comments-comment">
                  {{ comment.content }}
                  <footer class="right">
                    <span>{{ comment.author }}</span>
                  </footer>
                </article>
              {%- endif -%}

              {%- for comment in article.comments -%}
                <article id="{{ comment.id }}" class="article-template__comments-comment">
                  {{ comment.content }}
                  <footer class="right">
                    <span>{{ comment.author }}</span><span>{{ comment.created_at | time_tag: format: 'date' }}</span>
                  </footer>
                </article>
              {%- endfor -%}
              {% render 'pagination', paginate: paginate, anchor: anchorId %}
            </div>
          {% endpaginate %}
        {%- endif -%}
        {% form 'new_comment', article %}
          {%- liquid
            assign post_message = 'blogs.article.success'
            if blog.moderated? and comment.status == 'unapproved'
              assign post_message = 'blogs.article.success_moderated'
            endif
          -%}
          <h2>{{ 'blogs.article.comment_form_title' | t }}</h2>
          {%- if form.errors -%}
            <div class="form__message" role="alert">
              <h3 class="form-status caption-large font-sans" tabindex="-1" autofocus>
                {% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}
              </h3>
            </div>
            <ul class="form-status-list caption-large">
              {%- for field in form.errors -%}
                <li>
                  <a href="#CommentForm-{{ field }}" class="link">
                    {%- if form.errors.translated_fields[field] contains 'author' -%}
                      {{ 'blogs.article.name' | t }}
                    {%- elsif form.errors.translated_fields[field] contains 'body'-%}
                     {{ 'blogs.article.message' | t }}
                    {%- else -%}
                      {{ form.errors.translated_fields[field] }}
                    {%- endif -%}
                    {{ form.errors.messages[field] }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- elsif form.posted_successfully? -%}
            <div class="form-status-list form__message" role="status">
              <h3 class="form-status" tabindex="-1" autofocus>{% render 'icon-success' %} {{ post_message | t }}</h3>
            </div>
          {%- endif -%}

          <div{% if blog.moderated? == false %} class="article-template__comments-fields"{% endif %}>
            <div class="article-template__comment-fields">
              <div class="field field--with-error">
                <input
                  type="text"
                  name="comment[author]"
                  id="CommentForm-author"
                  autocomplete="name"
                  value="{{ form.author }}"
                  aria-required="true"
                  {% if form.errors contains 'author' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-author-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.name' | t }}"
                >
                <label class="field__label" for="CommentForm-author">{{ 'blogs.article.name' | t }} <span aria-hidden="true">*</span></label>
                {%- if form.errors contains 'author' -%}
                  <small id="CommentForm-author-error">
                    <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.name' | t }} {{ form.errors.messages['author'] }}.</span>
                  </small>
                {%- endif -%}
              </div>
              <div class="field field--with-error">
                <input
                  type="email"
                  name="comment[email]"
                  id="CommentForm-email"
                  autocomplete="email"
                  value="{{ form.email }}"
                  autocorrect="off"
                  autocapitalize="off"
                  aria-required="true"
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-email-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.email' | t }}"
                >
                <label class="field__label" for="CommentForm-email">{{ 'blogs.article.email' | t }} <span aria-hidden="true">*</span></label>
                {%- if form.errors contains 'email' -%}
                  <small id="CommentForm-email-error">
                    <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.email' | t }} {{ form.errors.messages['email'] }}.</span>
                  </small>
                {%- endif -%}
              </div>
            </div>
            <div class="field field--with-error">
              <textarea
                rows="5"
                name="comment[body]"
                id="CommentForm-body"
                class="text-area"
                aria-required="true"
                {% if form.errors contains 'body' %}
                  aria-invalid="true"
                  aria-describedby="CommentForm-body-error"
                {% endif %}
                placeholder="{{ 'blogs.article.message' | t }}"
              >{{ form.body }}</textarea>
                <label class="form__label field__label" for="CommentForm-body">{{ 'blogs.article.message' | t }} <span aria-hidden="true">*</span></label>
            </div>
            {%- if form.errors contains 'body' -%}
              <small id="CommentForm-body-error">
                <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.message' | t }} {{ form.errors.messages['body'] }}.</span>
              </small>
            {%- endif -%}
          </div>
          {%- if blog.moderated? -%}
            <p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
          {%- endif -%}
          <input type="submit" class="button" value="{{ 'blogs.article.post' | t }}">
        {% endform %}
      </div>
    </div>
  {%- endif -%}
</article>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ shop.url | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      {% assign image_size = article.image.width %}
      "image": [
        {{ article | image_url: width: image_size | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        {% assign image_size = settings.share_image.width %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | image_url: width: image_size | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
</script>


{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "image_classes",
          "label": "Image classes",
          "default": "-mx-4 2xs:-mx-6 xs:mx-0 col-span-1 md:col-span-3 md:mb-6 md:order-2"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "header_classes",
          "label": "Wrapper classes",
          "default": "-mx-4 2xs:-mx-6 xs:mx-0 px-6 pt-6 pb-8 text-center mb-6 col-span-1 md:col-span-2 md:order-1 md:flex md:flex-col md:items-center md:justify-center"
        },
        {
          "type": "textarea",
          "id": "date_classes",
          "label": "Date classes",
          "default": "sr-only"
        },
        {
          "type": "textarea",
          "id": "author_classes",
          "label": "Author classes",
          "default": "sr-only"
        },
        {
          "type": "textarea",
          "id": "tag_classes",
          "label": "Tag classes",
          "default": "block uppercase font-bold tracking-widest mb-3"
        },
        {
          "type": "textarea",
          "id": "title_classes",
          "label": "Title classes",
          "default": "text-4xl font-serif tracking-tight"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "content_classes",
          "label": "Image classes",
          "default": "md:col-span-5 md:order-3 flex flex-col md:flex-row md:gap-6"
        }
      ]
    },
    {
      "type": "share",
      "name": "t:sections.main-article.blocks.share.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-article.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "textarea",
          "id": "share_classes",
          "label": "Share classes",
          "default": "md:col-span-5 md:order-4"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.title_info.content"
        }
      ]
    }
  ]
}
{% endschema %}
