{% comment %} theme-check-disable TemplateLength {% endcomment %}
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<section id="main-product">
  <div class="product flex flex-col md:flex-row md:container md:mx-auto md:px-6 md:gap-6 md:py-6 md:items-start lg:gap-10 lg:max-w-screen-lg">
    <a class="sr-only button button-secondary button-sm focus:not-sr-only focus:py-1 focus:px-2 focus:border focus:fixed focus:top-4 focus:left-4 focus:z-100" href="#ProductInfo-{{ section.id }}">
      {{ "accessibility.skip_to_product_info" | t }}
    </a>
    {%- if product.media.size > 1 -%}
      <div class="md:flex-1 relative md:sticky md:top-[120px] overflow-hidden">
        <glide-slider
          class="glide type-carousel gap-4 sm:peek.after-120 md:peek.after-120 sm:perView-1 md:perView-2 perView-1 mb-6 overflow-hidden max-w-full lg:flex lg:flex-row-reverse lg:gap-2"
          id="Product-Slider"
          data-breakpoint-limit="none"
        >
          {% render 'product-badge', product: product, classes: 'z-10 left-1 !right-auto md:!left-auto md:!right-1' %}
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides min-h-full">
              {%- for media in product.media limit: section.settings.gallery_limit -%}
                <li class="glide__slide" data-media-id="{{ section.id }}-{{ media.id }}">
                  {%- if media.media_type == 'image' -%}
                    {%- liquid
                      assign main_image_src = media | image_url: width: 400, height: 500, crop: 'center'
                      assign main_image_src_2x = media | image_url: width: 800, height: 1000, crop: 'center'
                    -%}
                    {% comment %} theme-check-disable RemoteAsset {% endcomment %}
                    <img
                      {% if product.selected_or_first_available_variant.featured_media != null and forloop.first %}id="Product-VariantImage"{% endif %}
                      srcset="{% render 'imgix', src: main_image_src %} 1x, {% render 'imgix', src: main_image_src_2x %} 2x"
                      src="{% render 'imgix', src: main_image_src_2x %}"
                      loading="lazy"
                      alt="{{ media.alt | escape }}"
                      width="{{ media.width }}"
                      height="{{ media.width | divided_by: 0.8 | round }}"
                      class="min-h-full object-cover"
                    >
                    {% comment %} theme-check-enable RemoteAsset {% endcomment %}
                  {%- elsif media.media_type == 'video' -%}
                    <deferred-media class="relative deferred-media no-js-hidden w-full h-full" data-media-id="{{ section.id }}">
                      <button
                        id="Deferred-Poster-Modal-{{ section.id }}"
                        class="absolute w-full h-full deferred-media__poster"
                        type="button"
                      >
                        <img
                          srcset="{{ media.preview_image | image_url: width: 400, height: 500, crop: 'center' }} 1x, {{ media.preview_image | image_url: width: 800, height: 1000, crop: 'center' }} 2x"
                          src="{{ media.preview_image | image_url: width: 400, height: 500, crop: 'center' }}"
                          alt="Loading product video"
                          loading="lazy"
                          width="1280"
                          height="1000"
                        >
                        <span class="deferred-media__poster-button bg-white/50 rounded-full flex items-center justify-center h-20 w-20 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 scale-100 z-10 motion-safe:transition-transform hover:scale-110">
                          {%- render 'icon-play', classes: 'w-8 h-8 text-white -mr-1 ml-1' -%}
                        </span>
                      </button>
                      <template>
                        <video class="h-full w-full object-cover" playsinline autoplay muted loop controls poster="{{ media.preview_image | image_url: width: 400, height: 500, crop: 'center' }}">
                          {%- for source in media.sources -%}
                            {%- comment -%} theme-check-disable RemoteAsset {%- endcomment -%}
                            <source src="{{ source.url }}" type="video/{{ source.format }}" />
                            {%- comment -%} theme-check-enable RemoteAsset {%- endcomment -%}
                          {%- endfor -%}
                          <img
                            src="{{ media.preview_image | image_url: width: 480, height: 500, crop: 'center' }}"
                            alt=""
                            width="{{ media.preview_image.width }}"
                            height="{{ media.preview_image.width | divided_by: media.preview_image.aspect_ratio | round }}"
                            loading=lazy
                          >
                        </video>
                      </template>
                    </deferred-media>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </div>
          <div class="glide__bullets flex absolute bottom-0 left-0 md:relative md:gap-2 lg:gap-1 lg:flex-col lg:shrink-0 lg:h-[520px] lg:overflow-y-auto" data-glide-el="controls[nav]">
            {%- for media in product.media limit: section.settings.gallery_limit -%}
              <button class="glide__bullet relative p-2 md:px-0 lg:py-0" data-glide-dir="={{ forloop.index0 }}">
                <span class="sr-only">Go to slide {{ forloop.index }}</span>
                {%- if media.media_type == 'image' -%}
                  <span class="block w-2 h-2 bg-seaweed-700 rounded-full md:hidden"></span>
                {%- elsif media.media_type == 'video' -%}
                  <div class="absolute z-10 w-5 h-5 md:w-8 md:h-8 rounded-full bg-transparent md:bg-white/50 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                    {%- render 'icon-play', classes: 'absolute inset-0 scale-75 md:text-white md:ml-0.5' -%}
                  </div>
                {%- endif -%}
                {%- liquid
                  assign thumb_image_src = media | image_url: width: 48
                  assign thumb_image_src_2x = media | image_url: width: 96
                -%}
                {% comment %} theme-check-disable RemoteAsset {% endcomment %}
                <img
                  srcset="{% render 'imgix', src: thumb_image_src %} 1x, {% render 'imgix', src: thumb_image_src_2x %} 2x"
                  src="{% render 'imgix', src: thumb_image_src_2x %}"
                  loading="lazy"
                  alt="{{ media.alt | escape }}"
                  width="{{ media.width }}"
                  height="{{ media.width | divided_by: media.aspect_ratio | round }}"
                  class="hidden md:block w-14 h-20 object-cover"
                >
                {% comment %} theme-check-enable RemoteAsset {% endcomment %}
              </button>
            {%- endfor -%}
          </div>
        </glide-slider>
      </div>
    {%- else -%}
      <div class="bg-wave-100 mb-6 md:flex-1 relative md:sticky md:top-[148px] max-w-full">
        {%- liquid
          assign main_image_src = product.media[0] | image_url: width: 300, height: 375, crop: 'center'
          assign main_image_src_2x = product.media[0] | image_url: width: 600, height: 750, crop: 'center'
        -%}
        {% render 'product-badge', product: product, classes: 'z-10' %}
        {% comment %} theme-check-disable RemoteAsset {% endcomment %}
        <img
          class="mx-auto"
          srcset="{% render 'imgix', src: main_image_src %} 1x, {% render 'imgix', src: main_image_src_2x %} 2x"
          src="{% render 'imgix', src: main_image_src_2x %}"
          loading="lazy"
          alt="{{ product.media[0].alt | escape }}"
          width="{{ product.media[0].width }}"
          height="{{ product.media[0].width | divided_by: 0.8 | round }}"
        >
        {% comment %} theme-check-enable RemoteAsset {% endcomment %}
      </div>
    {%- endif -%}
    <div class="container md:px-0 md:flex-1">
      <div id="ProductInfo-{{ section.id }}" class="{{ section.settings.product_info_classes }}">
        {%- liquid
          assign product_form_id = 'product-form-' | append: section.id
          assign quantity_classes = 'no-js-hidden cursor-pointer flex items-center justify-center 2xs:shrink-0 w-8 h-8 border py-1 -mt-px -mb-px -ml-px box-content border-transparent hover:bg-seafoam-100 hover:border-seaweed-500 motion-safe:transition-colors disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:border-transparent disabled:hover:bg-transparent'
          assign travel_sizes = '1.7 oz, 1 oz, 0.6 oz, 0.22 oz, Scented / 1 oz' | split: ', '
          assign set_products = collections['skincare-sets-1'].products | map: 'handle'
          assign normalized_variant_title = product.selected_or_first_available_variant.title | replace: 'fl ', ''

          assign is_fragrance_free = false
          if product.options contains 'Scent' and normalized_variant_title contains 'Fragrance free'
            assign is_fragrance_free = true
          endif

          assign product_collections_handles = product.collections | map: 'handle'
          if product_collections_handles contains 'exclude-from-site'
            assign excluded_from_site = true
          else
            assign excluded_from_site = false
          endif
        -%}

        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'text' -%}
              {%- if block.settings.text != blank -%}
                <div class="{{ block.settings.text_block_classes }}" {{ block.shopify_attributes }}>
                  {{- block.settings.text -}}
                </div>
              {%- endif -%}
            {%- when 'title' -%}
              <h1 class="{{ block.settings.title_classes }}" {{ block.shopify_attributes }}>
                {{- product.title | replace: 'Eye Serum', 'Serum' | replace: '™', '<sup class="text-[60%] -mr-1 -left-0.5">™</sup>' | replace: '®', '<sup class="text-[60%] -mr-1 -left-0.5">®</sup>' -}}
              </h1>
            {%- when 'price' -%}
              <div class="no-js-hidden main-price flex {{ block.settings.price_classes }}" id="price-{{ section.id }}" role="status">
                {%- render 'price', product: product, use_variant: true -%}
                {%- if product.metafields.custom.set_value -%}
                  <span class="ml-2 self-center text-sm bg-seafoam-200 text-seaweed-700 font-medium px-1.5 py-px tracking-wide whitespace-nowrap">${{ product.metafields.custom.set_value }} value</span>
                {%- endif -%}
              </div>
            {%- when 'rating' -%}
              {% render 'product-rating', product: product, classes: block.settings.rating_classes %}
              {%- if product.metafields.custom.set_value -%}
                <div class="col-span-12 relative -bottom-2">
                  <span class="self-center text-sm bg-seafoam-200 text-seaweed-700 font-medium px-1.5 py-px tracking-wide whitespace-nowrap">${{ product.metafields.custom.set_value }} value</span>
                </div>
              {%- endif -%}
            {%- when 'benefits' -%}
              {%- if product.metafields.custom.benefits.value.size > 0 -%}
                <div class="{{ block.settings.benefits_classes }}">
                  <h2 class="{{ block.settings.benefits_label_classes }}">Benefits</h2>
                  <ul class="{{ block.settings.benefits_content_classes }}">
                    {%- if is_fragrance_free -%}
                      {%- if block.settings.benefits_hide_icons -%}
                        <li>Fragrance free</li>
                      {%- else -%}
                        <li class="w-24 flex flex-start">
                          <div class="flex flex-col items-center">
                            {%- render 'icon-benefit-mini', icon: 'fragrance-free', stroke_width: 10, classes: 'w-4 h-4 block mr-2', aria_hidden: true -%}
                            <span class="text-sm font-book leading-none">Fragrance free</span>
                          </div>
                        </li>
                      {%- endif -%}
                    {%- endif -%}
                    {%- liquid
                      assign benefit_limit = 4
                      if is_fragrance_free
                        assign benefit_limit = 3
                      endif
                    -%}
                    {%- for benefit in product.metafields.custom.benefits.value limit: benefit_limit -%}
                      {%- if block.settings.benefits_hide_icons -%}
                        <li>{{ benefit }}</li>
                      {%- else -%}
                        {%- assign benefit_icon = benefit | handle -%}
                        <li class="flex">
                          <div class="flex flex-row items-center">
                            {%- render 'icon-benefit-mini', icon: benefit_icon, stroke_width: 10, classes: 'w-4 h-4 block mr-2', aria_hidden: true -%}
                            <span class="text-sm font-book leading-none{% unless benefit.size > 12 %} tracking-wide{% endunless %}">
                              {{ benefit }}
                            </span>
                          </div>
                        </li>
                      {%- endif -%}
                    {%- endfor -%}
                  </ul>
                </div>
              {%- endif -%}
            {%- when 'skin_types' -%}
              {%- if product.metafields.custom.skin_types_list != blank or product.metafields.custom_fields.skin_types != blank -%}
                <div class="{{ block.settings.skin_types_classes }}{% if product.metafields.custom.scent_profile == blank and product.metafields.custom.scent_profile_short == blank %} -mr-4{% endif %}">
                  <h2 class="{{ block.settings.skin_types_label_classes }}">Skin types</h2>
                  {%- if product.metafields.custom.skin_types_list != blank -%}
                    <ul class="icon-list bullet !pl-5 {{ block.settings.skin_types_content_classes }}">
                      {%- for skin_type in product.metafields.custom.skin_types_list.value -%}
                        {%- if skin_type == 'Not for sensitive' -%}
                          <li class="flex items-start before:!hidden">
                            {% render 'icon-close', classes: 'w-4 h-4 mr-1 -ml-5 shrink-0', stroke_width: 2 %}
                            <span>{{ skin_type }}</span>
                          </li>
                        {%- else -%}
                          <li>{{ skin_type }}</li>
                        {%- endif -%}
                      {%- endfor -%}
                    </ul>
                  {%- elsif product.metafields.custom_fields.skin_types != blank -%}
                    <p class="{{ block.settings.skin_types_content_classes }}">{{ product.metafields.custom_fields.skin_types }}</p>
                  {%- endif -%}
                </div>
              {%- endif -%}
            {%- when 'scent_profile' -%}
              {%- if product.metafields.custom.scent_profile != blank or product.metafields.custom.scent_profile_short != blank -%}
                <div class="{{ block.settings.scent_profile_classes }}">
                  <h2 class="{{ block.settings.scent_profile_label_classes }}">Scent profile</h2>
                  {%- if product.metafields.custom.scent_profile_short -%}
                    <div class="{{ block.settings.scent_profile_content_classes }}">{{ product.metafields.custom.scent_profile_short }}</div>
                  {%- else -%}
                    <div class="{{ block.settings.scent_profile_content_classes }}">{{ product.metafields.custom.scent_profile }}</div>
                  {%- endif -%}
                </div>
              {%- endif -%}
            {%- when 'info_tabs' -%}
              {%- liquid
                assign tabs = 'Description' | sort
                assign how_to_use = product.metafields.custom.how_to_use
                assign custom_tab_handles = block.settings.info_tab_custom_tab_handles | split: ', '

                if how_to_use != blank or product.metafields.custom_fields.how_it_works != blank
                  assign how_to_use_array = 'How to Use' | sort
                  assign tabs = tabs | concat: how_to_use_array
                endif

                if block.settings.info_tab_custom_tab_label != blank and custom_tab_handles contains product.handle
                  assign custom_tab_array = 'Custom' | sort
                  assign tabs = tabs | concat: custom_tab_array
                endif

                if product.metafields.custom.recycling != blank
                  assign recycling_array = 'Recycling' | sort
                  assign tabs = tabs | concat: recycling_array
                endif

                if product.handle == 'limited-edition-90s-crewneck'
                  assign custom_tab_array = 'Size Chart' | sort
                  assign tabs = tabs | concat: custom_tab_array
                endif
              -%}
              <tab-controller id="pdp-info-tabs" data-active-class="z-10 !bg-white" class="{{ block.settings.info_tab_wrapper_classes }}">
                <ul aria-controls="featured-collections-tabs" role="tablist" class="flex justify-start items-bottom">
                  {%- for tab in tabs -%}
                    <li
                      role="tab"
                      aria-controls="tab-{{ forloop.index }}-{{ block.id }}"
                      tabindex="0"
                      aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
                      class="relative rounded-t border-x border-t border-seaweed-300 bg-wave-100 px-2 2xs:px-3 py-1 cursor-pointer whitespace-nowrap {% unless forloop.last %} mr-1{% endunless %}{% if forloop.first %} z-10 !bg-white{% endif %} {{ block.settings.info_tab_label_classes }}"
                    >
                      {%- if tab == 'Custom' -%}
                        {{ block.settings.info_tab_custom_tab_label }}
                      {%- else -%}
                        {{ tab }}
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
                {%- for tab in tabs -%}
                  <div
                    id="tab-{{ forloop.index }}-{{ block.id }}"
                    role="tabpanel"
                    aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                    class="relative border border-seaweed-300 rounded-r rounded-bl p-4 z-0 -mt-px {{ block.settings.info_tab_content_classes }}"
                  >
                    {%- case tab -%}
                      {%- when 'Description' -%}
                        <div>{{ product.metafields.custom_fields.description }}</div>
                      {%- when 'How to Use' -%}
                        {%- if how_to_use != blank or product.metafields.custom_fields.how_it_works != blank -%}
                          {%- capture how_to_html -%} 
                            {%- if product.metafields.custom.how_to_use != blank -%}
                              <table>
                                <tr class="align-top td:pb-2">
                                  <td><b class="mr-1">How:</b></td>
                                  <td>{{ how_to_use.value.how }}</td>
                                </tr>
                                <tr class="align-top td:pb-2">
                                  <td><b class="mr-1">When:</b></td>
                                  <td>{{ how_to_use.value.when }}</td>
                                </tr>
                                {%- if how_to_use.value.pro_tip != nil -%}
                                  <tr class="align-top{% if how_to_use.value.warnings.size > 0 %} td:pb-2{% endif %}">
                                    <td><b class="mr-1 whitespace-nowrap">Pro tip:</b></td>
                                    <td>{{ how_to_use.value.pro_tip }}</td>
                                  </tr>
                                {%- endif -%}
                                {%- if how_to_use.value.warnings.size > 0 -%}
                                  <tr class="align-top">
                                    <td><b class="sr-only">Warnings:</b></td>
                                    <td>
                                      <ul class="text-sm">
                                        {%- for warning in how_to_use.value.warnings -%}
                                          <li class="mb-2 last:mb-0"><em>{{ warning }}</em></li>
                                        {%- endfor -%}
                                      </ul>
                                    </td>
                                  </tr>
                                {%- endif -%}
                              </table>
                            {%- elsif product.metafields.custom_fields.how_it_works != blank -%}
                              <div class="p:mb-3">{{ product.metafields.custom_fields.how_it_works }}</div>
                            {%- endif -%}
                          {%- endcapture -%}
                          <div>
                            {{ how_to_html }}
                          </div>
                        {%- endif -%}
                      {%- when 'Custom' -%}
                        <div>{{ block.settings.info_tab_custom_tab_content }}</div>
                      {%- when 'Recycling' -%}
                        <div class="recycling">
                          <table>
                            {%- if product.metafields.custom.recycling.value.packaging != nil -%}
                              <tr class="align-top">
                                <td><b class="mr-1 whitespace-nowrap">Packaging:</b></td>
                                <td>{{ product.metafields.custom.recycling.value.packaging }}</td>
                              </tr>
                            {%- endif -%}
                            {%- if product.metafields.custom.recycling.value.recycling != nil -%}
                              <tr class="align-top">
                                <td><b class="mr-1 whitespace-nowrap">Recycling:</b></td>
                                <td>{{ product.metafields.custom.recycling.value.recycling }}</td>
                              </tr>
                            {%- endif -%}
                          </table>
                          {%- if product.metafields.custom.recycling.value.disclaimer != nil -%}
                            <small class="block leading-tight mt-2">{{ product.metafields.custom.recycling.value.disclaimer }}</small>
                          {%- endif -%}
                        </div>
                      {%- when 'Size Chart' -%}
                        <div>
                          <b class="block mb-2">Unisex fit</b>
                          <table class="border-collapse border border-seaweed-400 bg-wave-200">
                            <thead>
                              <tr>
                                <th class="border border-seaweed-400 px-2 py-0.5 bg-wave-200 leading-none"><span class="sr-only">Size</span></th>
                                <th class="border border-seaweed-400 px-2 py-0.5 bg-wave-200 leading-none">Body Length</th>
                                <th class="border border-seaweed-400 px-2 py-0.5 bg-wave-200 leading-none">Chest Width</th>
                                <th class="border border-seaweed-400 px-2 py-0.5 bg-wave-200 leading-none">Sleeve Length</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="bg-wave-200 border border-seaweed-400 px-2 py-0.5 font-bold">XS</td>
                                <td class="border border-seaweed-400 px-2 py-0.5 bg-white">25.5 in.</td>
                                <td class="border border-seaweed-400 px-2 py-0.5 bg-white">18 in.<br></td>
                                <td class="border border-seaweed-400 px-2 py-0.5 bg-white">23 in.</td>
                              </tr>
                              <tr>
                                <td class="bg-wave-200 border border-seaweed-400 px-2 py-0.5 font-bold">S</td>
                                <td class="border border-seaweed-400 px-2 py-0.5 bg-white">26.5 in.</td>
                                <td class="border border-seaweed-400 px-2 py-0.5 bg-white">20 in.</td>
                                <td class="border border-seaweed-400 px-2 py-0.5 bg-white">23.5 in.</td>
                              </tr>
                              <tr>
                                <td class="bg-wave-200 border border-seaweed-400 px-2 py-0.5 font-bold">M</td>
                                <td class="border border-seaweed-400 px-2 py-0.5 bg-white">28 in.</td>
                                <td class="border border-seaweed-400 px-2 py-0.5 bg-white">22 in.</td>
                                <td class="border border-seaweed-400 px-2 py-0.5 bg-white">24 in.</td>
                              </tr>
                              <tr>
                                <td class="bg-wave-200 border border-seaweed-400 px-2 py-0.5 font-bold">L</td>
                                <td class="border border-seaweed-400 px-2 py-0.5 bg-white">29 in.</td>
                                <td class="border border-seaweed-400 px-2 py-0.5 bg-white">24 in.</td>
                                <td class="border border-seaweed-400 px-2 py-0.5 bg-white">24.5 in.</td>
                              </tr>
                              <tr>
                                <td class="bg-wave-200 border border-seaweed-400 px-2 py-0.5 font-bold">XL</td>
                                <td class="border border-seaweed-400 px-2 py-0.5 bg-white">30 in.</td>
                                <td class="border border-seaweed-400 px-2 py-0.5 bg-white">26 in.</td>
                                <td class="border border-seaweed-400 px-2 py-0.5 bg-white">25 in.</td>
                              </tr>
                              <tr>
                                <td class="bg-wave-200 border border-seaweed-400 px-2 py-0.5 font-bold">2XL</td>
                                <td class="border border-seaweed-400 px-2 py-0.5 bg-white">31 in.</td>
                                <td class="border border-seaweed-400 px-2 py-0.5 bg-white">28 in.</td>
                                <td class="border border-seaweed-400 px-2 py-0.5 bg-white">25.5 in.</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    {%- endcase -%}
                  </div>
                {%- endfor -%}
              </tab-controller>
            {%- when 'collapsible_tab' -%}
              {%- if block.settings.content != blank -%}
                <div class="{{ block.settings.tab_classes }}">
                  {%- assign tab_id = "Details-" | append: block.id | append: "-" | append: section.id -%}
                  {%- render 'accordion-item',
                    id: tab_id,
                    summary: block.settings.heading,
                    content: block.settings.content,
                    default_open: block.settings.default_open
                    content_classes: 'max-h-80 overflow-y-auto a:link b:font-bold p:mb-4'
                  -%}
                </div>
              {%- endif -%}
            {%- when 'quantity_selector' -%}
              {%- unless excluded_from_site -%}
                <div class="{{ block.settings.qty_classes }}" {{ block.shopify_attributes }}>
                  <label class="sr-only" for="Quantity-{{ section.id }}">
                    {{ 'products.product.quantity.label' | t }}
                  </label>
                  <quantity-input class="quantity pdp-quantity inline-flex border border-seaweed-400 rounded-md w-full">
                    <button
                      class="{{ quantity_classes }} rounded-l-md"
                      name="minus"
                      type="button"
                    >
                      <span class="sr-only">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                      {% render 'icon-minus', classes: 'h-5 w-5 text-seaweed-700 pointer-events-none', stroke_width: 2, aria_hidden: true %}
                    </button>
                    <input
                      class="quantity__input w-8 h-10 border-0 py-1 px-0 text-xl grow text-center"
                      type="number"
                      name="quantity"
                      id="Quantity-{{ section.id }}"
                      min="1"
                      value="1"
                      form="{{ product_form_id }}"
                    >
                    <button
                      class="{{ quantity_classes }} rounded-r-md"
                      name="plus"
                      type="button"
                    >
                      <span class="sr-only">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                      {% render 'icon-plus', classes: 'h-5 w-5 text-seaweed-700 pointer-events-none', stroke_width: 2, aria_hidden: true %}
                    </button>
                  </quantity-input>
                </div>
              {%- endunless -%}
            {%- when 'variant_picker' -%}
              <div class="{{ block.settings.variant_classes }}">
                {%- unless product.has_only_default_variant -%}
                  {%- if product.variants.size == 1 -%}
                    {%- for option in product.options_with_values -%}
                      <strong class="block font-medium tracking-wide text-sm{% if block.settings.hide_label %} sr-only{% endif %}">{{ option.name }}</strong>
                      {%- for value in option.values -%}
                        <div class="button button-xs button-secondary rounded-full lowercase bg-wave-200 mr-2 mb-2">
                          {{ value }}
                        </div>
                      {%- endfor -%}
                    {%- endfor -%}
                  {%- else -%}
                    <variant-radios
                      class="no-js-hidden block"
                      data-section="{{ section.id }}"
                      data-url="{{ product.url }}"
                    >
                      {%- for option in product.options_with_values -%}
                        <fieldset class="js group">
                          <div class="flex flex-wrap items-center mb-2 group-last-of-type:mb-0">
                            <legend class="font-medium tracking-wide text-sm mr-1.5{% if block.settings.hide_label and product.options_with_values.size < 2 %} sr-only{% endif %}">{{ option.name }}:</legend>
                            {%- for value in option.values -%}
                              <div>
                                {%- assign normalized_option_value = value | replace: 'fl ', '' -%}
                                <input type="radio"
                                  id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                  class="peer hidden{% if travel_sizes contains normalized_option_value %} travel-input{% endif %}"
                                  name="{{ option.name }}"
                                  value="{{ value | escape }}"
                                  form="{{ product_form_id }}"
                                  {% if option.selected_value == value %}checked{% endif %}
                                >
                                <label
                                  class="button button-xs button-secondary rounded-full peer-checked:bg-wave-200 mr-2 mb-1 peer-disabled:opacity-50 tracking-wide {% if option.name == 'Scent' %}normal-case{% else %}lowercase{% endif %}"
                                  for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                >
                                  {{ value }}
                                </label>
                              </div>
                            {%- endfor -%}
                          </div>
                        </fieldset>
                      {%- endfor -%}
                      <script type="application/json" class="variant-data">
                        {{ product.variants | json }}
                      </script>
                    </variant-radios>
                  {%- endif -%}
                {%- endunless -%}

                <noscript class="product-form__noscript-wrapper-{{ section.id }}">
                  <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                    <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                    <div class="select">
                      <select name="id" id="Variants-{{ section.id }}" class="select__select" form="{{ product_form_id }}">
                        {%- for variant in product.variants -%}
                          <option
                            {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                            {% if variant.available == false %}disabled{% endif %}
                            value="{{ variant.id }}"
                          >
                            {{ variant.title }}
                            {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                            - {{ variant.price | money | strip_html }}
                          </option>
                        {%- endfor -%}
                      </select>
                      {% render 'icon-caret', classes: 'w-4 h-4' %}
                    </div>
                  </div>
                </noscript>
              </div>
              {% if product.type contains 'Gift Card' %}
                <!-- ShopKeeper Gift Card -->
                <gift-card-fields class="col-span-12">
                  <div id="skt-fields">
                    <div>
                      <label for="gc_to" class="text-sm font-medium">To Name:</label>
                      <input id="gc_to" type="text" value="" class="input w-full mb-2" />
                    </div>
                    <div>
                      <label for="gc_from" class="text-sm font-medium">From Name:</label>
                      <input id="gc_from" type="text" value="" class="input w-full mb-2" />
                    </div>
                    <div class="mb-2">
                      <label for="gc_msg" class="text-sm font-medium">Message:</label>
                      <textarea id="gc_msg" class="input w-full block" maxlength="400"></textarea>
                      <small class="text-right block">Max characters: 400</small>
                    </div>
                  </div>
                </gift-card-fields>
                <!-- End ShopKeeper -->
              {% endif %}
            {%- when 'subscription_picker' -%}
              {%- unless product.selling_plan_groups.size == 0 -%}
                {%- assign purchase_options = 'onetime, autodeliver' | split: ', ' -%}
                <subscription-radios
                  class="subscription motion-safe:transition-max-height overflow-hidden {{ block.settings.subscription_classes }} {% if product.selected_or_first_available_variant.selling_plan_allocations.size == 0 %}max-h-0{% else %}max-h-52{% endif %}"
                  data-recommended-interval="{{ product.metafields.custom.subscription_interval }}"
                >
                  <fieldset class="border border-seaweed-400 rounded-lg overflow-hidden mt-2">
                    <legend class="sr-only">Purchase options</legend>
                    {%- for option in purchase_options -%}
                      <div class="purchase-option {{ option }} relative block w-full motion-safe:transition-colors duration-200 {% if option == 'onetime' %}bg-wave-200 border-b border-seaweed-400{% else %}bg-white{% endif %}">
                        <input type="radio"
                          name="purchase_option"
                          id="purchase_option-{{ option }}"
                          class="sr-only peer bg-white"
                          value="{{ option }}"
                          {% if option == 'onetime' %}checked{% endif %}
                        />
                        <span class="absolute pointer-events-none left-2 2xs:left-3 top-3 cursor-pointer w-5 h-5 border-2 border-seaweed-700 bg-white rounded-full flex justify-center items-center peer-checked:border-seaweed-500 peer-checked:child:scale-100 motion-safe:transition-colors">
                          <span class="absolute top-0.5 left-0.5 w-3 h-3 bg-seaweed-700 rounded-full scale-0 motion-safe:transition-transform"></span>
                        </span>
                        <label for="purchase_option-{{ option }}" class="block py-3 pl-9 2xs:pl-10 pr-2 2xs:pr-3 xs:pr-4">
                          <span class="flex justify-between">
                            <strong class="block leading-5 font-bold tracking-wide xs:tracking-widest md:tracking-wide lg:tracking-widest uppercase text-sm">
                              {%- if option == 'onetime' -%}
                                <span>One-time purchase</span>
                              {%- else -%}
                                <span>Subscribe & save 10%</span>
                                <span class="popular-badge hidden normal-case bg-neon-green text-seaweed-700 rounded font-bold tracking-normal text-xs px-1 h-4">Popular</span>
                              {%- endif -%}
                            </strong>
                            {%- if option == 'onetime' -%}
                              {% render 'price', product: product, use_variant: true, price_class: 'text-sm font-medium' %}
                            {%- else -%}
                              {% render 'price', product: product, subscription: true, price_class: 'text-sm font-medium' %}
                            {%- endif -%}
                          </span>
                        </label>
                        {%- if option == 'autodeliver' -%}
                          <span class="text-xs 2xs:tracking-wide md:tracking-normal lg:tracking-wide block leading-tight -mt-2 pl-9 2xs:pl-10 pr-2 2xs:pr-3 xs:pr-4 mb-3">
                            {% comment %} <b class="font-medium">FREE US shipping</b>, skip or cancel anytime. {% endcomment %}
                            Limited time only: Save 19% on your first subscription order with code SAVE19 at checkout.
                            <modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#SubscriptionPopup-{{ block.id }}" {{ block.shopify_attributes }}>
                              <button class="product-popup-modal__button underline cursor-pointer md:tracking-tight lg:tracking-wide" type="button" aria-haspopup="dialog">Learn more</button>
                            </modal-opener>
                          </span>
                          <div class="overflow-hidden max-h-0 pl-9 2xs:pl-10 pr-2 2xs:pr-3 xs:pr-4 peer-checked:max-h-20 motion-safe:transition-max-height">
                            <fieldset class="selling-plan-options js flex mb-2 pb-3">
                              <legend class="text-sm font-medium">Delivery every</legend>
                              {%- for selling_plan in product.selected_or_first_available_variant.selling_plan_allocations -%}
                                {%- liquid
                                  for group in product.selling_plan_groups
                                    if group.id == selling_plan.selling_plan_group_id
                                      assign selling_plan_group = group
                                    endif
                                  endfor
                                -%}
                                <div class="block grow{% unless forloop.last %} mr-1{% endunless %}">
                                  <input type="radio"
                                    id="{{ selling_plan.selling_plan.id }}"
                                    class="peer sr-only"
                                    name="selling_plan"
                                    value="{{ selling_plan.selling_plan.id }}"
                                    form="{{ product_form_id }}"
                                  />
                                  <label
                                    class="w-full button button-xs lowercase tracking-wide button-secondary px-1 peer-checked:border-seaweed-500 peer-checked:bg-wave-100 peer-checked:outline peer-checked:outline-neon-green"
                                    for="{{ selling_plan.selling_plan.id }}"
                                  >
                                    {{- selling_plan_group.name | replace: "Delivery every", "" -}}
                                  </label>
                                </div>
                              {%- endfor -%}
                              <div class="sr-only shrink">
                                <input type="radio"
                                  id="{{ block.id }}-none"
                                  name="selling_plan"
                                  value=""
                                  form="{{ product_form_id }}"
                                  checked
                                />
                                <label for="{{ block.id }}-none">None</label>
                              </div>
                            </fieldset>
                          </div>
                        {%- endif -%}
                      </div>
                    {%- endfor -%}
                  </fieldset>
                  <modal-dialog id="SubscriptionPopup-{{ block.id }}" {{ block.shopify_attributes }}>
                    <div role="dialog" aria-label="{{ block.settings.text }}" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
                      <button id="ModalClose-{{ block.id }}" type="button" aria-label="{{ 'accessibility.close' | t }}">
                        {%- render 'icon-close', classes: 'w-8 h-8', stroke_width: 1, aria_hidden: true -%}
                      </button>
                      <div class="w-full">
                        <h2 class="font-serif text-3xl tracking-tight mb-2">{{ block.settings.subscription_modal_heading }}</h2>
                        {{ block.settings.subscription_modal_content }}
                      </div>
                    </div>
                  </modal-dialog>
                </subscription-radios>
              {%- endunless -%}
            {%- when 'buy_buttons' -%}
              {%- unless excluded_from_site -%}
                <div class="w-full grow {{ block.settings.atc_classes }}" {{ block.shopify_attributes }}>
                  <product-form class="product-form pdp-product-form" data-cart-type="{{ settings.cart_type }}">
                    {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                      <input type="hidden" name="properties[_is_subscription]" value="false">
                      {% if product.type contains 'Gift Card' %}
                        <input type="hidden" id="sktcgc_to" name="properties[To]" value="" />
                        <input type="hidden" id="sktcgc_from" name="properties[_From]" value="" />
                        <input type="hidden" id="sktcgc_msg" name="properties[_Msg]" value="" />
                      {%- endif -%}
                      <div class="product-form__buttons relative grid grid-cols-2 gap-2" id="AddToCart">
                        <button
                          type="submit"
                          name="add"
                          class="product-form__submit relative button button-neon md:button-primary button-md w-full col-span-2 disabled:opacity-50 disabled:bg-wave-700 disabled:border-wave-700 disabled:text-white"
                          {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                        >
                            <span class="loading-spinner absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 hidden">
                              {% render 'icon-spinner', classes: 'h-4 w-4 mr-2 text-white' %}
                            </span>
                            <span class="label">
                              {%- if product.selected_or_first_available_variant.available -%}
                                {{ 'products.product.add_to_cart' | t }}
                              {%- else -%}
                                {{ 'products.product.sold_out' | t }}
                              {%- endif -%}
                            </span>
                            {%- if block.settings.atc_show_price -%}
                              {%- render 'price', product: product, use_variant: true, price_class: 'main-price ml-auto' -%}
                            {%- endif -%}
                        </button>
                        {%- unless product.selected_or_first_available_variant.available -%}
                          <div class="skeleton z-0 w-full h-10 bg-wave-400 rounded-md"></div>
                          <div class="skeleton z-0 w-full h-10 bg-wave-400 rounded-md"></div>
                        {%- endunless -%}
                      </div>
                      {%- assign product_collection_handles = product.collections | map: 'handle' -%}
                      {%- if product_collection_handles contains 'skincare-sets-1' -%}
                        <div id="PayInstallments" class="mb-10 sm:mb-8 transition-opacity">
                          <div class="absolute inset-x-0 leading-tight py-2 text-sm">
                            {{ form | payment_terms }}
                          </div>
                        </div>
                      {%- endif -%}
                    {%- endform -%}
                    <div class="product-form__error-message-wrapper absolute left-0 mt-1 text-coral-800 text-sm" role="alert" hidden>
                      {% render 'icon-error-circle', classes: 'icon icon-error w-4 h-4 inline mr-1', aria_hidden: true, stroke_width: 2 %}
                      <span class="product-form__error-message leading-4 align-bottom"></span>
                    </div>
                  </product-form>
                </div>
              {%- endunless -%}
            {%- when 'upsells' -%}
              {%- if product.metafields.my_fields.save_with_sets != nil or product.metafields.my_fields.pair_with_product != nil -%}
                <div class="{{ block.settings.upsell_classes }}" {{ block.shopify_attributes }}>
                  {%- if block.settings.upsell_enable_sets and product.metafields.my_fields.save_with_sets != nil -%}
                    {%- for set in product.metafields.my_fields.save_with_sets.value -%}
                      {%- if forloop.first %}<h2 class="font-medium tracking-wide mb-1">Save with Sets</h2>{%- endif -%}
                      {%- render 'product-upsell', product: set -%}
                    {%- endfor -%}
                  {%- endif -%}
                  {%- if block.settings.upsell_enable_partner and product.metafields.my_fields.pair_with_product != nil -%}
                    <h2 class="font-medium tracking-wide mb-1">Pairs Well With</h2>
                    {%- render 'product-upsell', product: product.metafields.my_fields.pair_with_product.value -%}
                  {%- endif -%}
                </div>
              {%- endif -%}
            {%- when 'set_includes' -%}
              {%- if set_products contains product.handle and product.metafields.custom.set_contains.value.count > 0 -%}
                <div class="{{ block.settings.set_includes_classes }}">
                  <h2 class="font-medium tracking-wide mb-2">Set includes</h2>
                  <ul>
                    {%- for product_in_set in product.metafields.custom.set_contains.value -%}
                      {%- render 'product-in-set', product: product_in_set -%}
                    {%- endfor -%}
                  </ul>
                </div>
              {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
  {%- if excluded_from_site == false and product.type != 'Gift Card' and product.type != 'Subscription Gift' -%}
    <product-sticky-atc class="fixed z-40 inset-x-0 bottom-0 py-2.5 bg-white border-t border-seaweed-300 invisible opacity-0 transition-visibility">
      <div class="flex gap-2 justify-between items-center pl-4 sm:pl-6 pr-20 md:pr-24 xl:max-w-screen-xl xl:mx-auto min-[1400px]:pr-6">
        <h3 class="tracking-wide leading-none text-lg sr-only sm:!not-sr-only">{{- product.title | escape -}}</h3>
        <div class="relative w-full sm:w-96">
          <button
            type="submit"
            name="add"
            class="product-form__submit button button-neon button-md w-full disabled:opacity-50"
            {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
            form="{{ product_form_id }}"
          >
              <span class="loading-spinner relative -ml-6 hidden">
                {% render 'icon-spinner', classes: 'h-4 w-4 mr-2 text-white' %}
              </span>
              <span>
                {%- if product.selected_or_first_available_variant.available -%}
                  {{ 'products.product.add_to_cart' | t }}
                {%- else -%}
                  {{ 'products.product.sold_out' | t }}
                {%- endif -%}
              </span>
          </button>
        </div>
      </div>
    </product-sticky-atc>
  {%- endif -%}
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
    {%- if product.selected_or_first_available_variant.featured_media -%}
      {%- assign media_size = product.selected_or_first_available_variant.featured_media.preview_image.width -%}
      "image": [
        {%- if product.metafields.my_fields.white_image_bg != blank -%}
          {{ product.metafields.my_fields.white_image_bg | image_url: width: 1200 | prepend: "https:" | json }}
        {%- else -%}
          {{ product.selected_or_first_available_variant.featured_media | image_url: width: media_size | prepend: "https:" | json }}
        {%- endif -%}
      ],
    {%- endif -%}
    "description": {{ product.description | strip_html | json }},
    {%- if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif -%}
    {%- if product.metafields.okendo.summaryData.reviewCount > 0 -%}
      "aggregateRating": {
        "@type": "AggregateRating",
        "description": "Okendo Reviews",
        "ratingValue": "{{ product.metafields.okendo.summaryData.reviewAverageValue }}",
        "ratingCount": "{{ product.metafields.okendo.summaryData.reviewCount }}"
      },
    {%- elsif product.metafields.okendo.ReviewCount > 0 -%}
      "aggregateRating": {
        "@type": "AggregateRating",
        "description": "Okendo Reviews",
        "ratingValue": "{{ product.metafields.okendo.ReviewAverageValue }}",
        "ratingCount": "{{ product.metafields.okendo.ReviewCount }}"
      },
    {%- endif -%}
    "brand": {
      "@type": "Brand",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ shop.url | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text content"
        },
        {
          "type": "textarea",
          "id": "text_block_classes",
          "label": "Text block classes"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "title_classes",
          "label": "Title classes"
        }
      ]
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "price_classes",
          "label": "Price classes"
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "qty_classes",
          "label": "Quantity classes"
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "variant_classes",
          "label": "Variant classes"
        },
        {
          "type": "checkbox",
          "id": "hide_label",
          "label": "Hide label"
        }
      ]
    },
    {
      "type": "subscription_picker",
      "name": "Subscription picker",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "subscription_classes",
          "label": "Subscription classes"
        },
        {
          "type": "header",
          "content": "Subscription information modal"
        },
        {
          "type": "text",
          "default": "Subscribe & Save 10%",
          "id": "subscription_modal_heading",
          "label": "Modal heading"
        },
        {
          "type": "html",
          "id": "subscription_modal_content",
          "label": "Modal content"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "atc_classes",
          "label": "ATC button classes"
        },
        {
          "type": "checkbox",
          "id": "atc_show_price",
          "label": "Show price in button"
        }
      ]
    },
    {
      "type": "info_tabs",
      "name": "Info tabs",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "info_tab_wrapper_classes",
          "label": "Wrapper classes"
        },
        {
          "type": "textarea",
          "id": "info_tab_label_classes",
          "label": "Label classes"
        },
        {
          "type": "textarea",
          "id": "info_tab_content_classes",
          "label": "Content classes"
        },
        {
          "type": "header",
          "content": "Custom tab"
        },
        {
          "type": "text",
          "id": "info_tab_custom_tab_label",
          "label": "Custom tab label"
        },
        {
          "type": "text",
          "id": "info_tab_custom_tab_content",
          "label": "Custom tab content"
        },
        {
          "type": "textarea",
          "id": "info_tab_custom_tab_handles",
          "label": "Handles to include custom tab on",
          "info": "Format: Comma seperated list"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible tab",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "text",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "textarea",
          "id": "tab_classes",
          "label": "Collapsible tab classes"
        },
        {
          "type": "checkbox",
          "id": "default_open",
          "label": "Open by default"
        }
      ]
    },
    {
      "type": "rating",
      "name": "Star rating",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.rating.settings.paragraph.content"
        },
        {
          "type": "textarea",
          "id": "rating_classes",
          "label": "Rating classes"
        }
      ]
    },
    {
      "type": "benefits",
      "name": "Benefits",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "benefits_classes",
          "label": "Wrapper classes"
        },
        {
          "type": "checkbox",
          "id": "benefits_hide_icons",
          "label": "Hide icons"
        },
        {
          "type": "textarea",
          "id": "benefits_label_classes",
          "label": "Label classes"
        },
        {
          "type": "textarea",
          "id": "benefits_content_classes",
          "label": "Content classes"
        }
      ]
    },
    {
      "type": "skin_types",
      "name": "Skin types",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "skin_types_classes",
          "label": "Wrapper classes"
        },
        {
          "type": "textarea",
          "id": "skin_types_label_classes",
          "label": "Label classes"
        },
        {
          "type": "textarea",
          "id": "skin_types_content_classes",
          "label": "Content classes"
        }
      ]
    },
    {
      "type": "scent_profile",
      "name": "Scent profile",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "scent_profile_classes",
          "label": "Wrapper classes"
        },
        {
          "type": "textarea",
          "id": "scent_profile_label_classes",
          "label": "Label classes"
        },
        {
          "type": "textarea",
          "id": "scent_profile_content_classes",
          "label": "Content classes"
        }
      ]
    },
    {
      "type": "upsells",
      "name": "Product upsells",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "upsell_classes",
          "label": "Upsell classes"
        },
        {
          "type": "checkbox",
          "id": "upsell_enable_sets",
          "label": "Save with sets"
        },
        {
          "type": "checkbox",
          "id": "upsell_enable_partner",
          "label": "Pair with product"
        }
      ]
    },
    {
      "type": "set_includes",
      "name": "Set includes",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "This section will only appear if the product is in the 'Gifts & Sets' collection, and the product has content in the 'Set Includes' metafield."
        },
        {
          "type": "textarea",
          "id": "set_includes_classes",
          "label": "Set includes classes"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "textarea",
      "id": "product_info_classes",
      "label": "Product info wrapper classes"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "number",
      "id": "gallery_limit",
      "default": 6,
      "label": "Image gallery limit"
    }
  ]
}
{% endschema %}
{% comment %} theme-check-enable TemplateLength {% endcomment %}
