{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{%- liquid
  assign subcollections = collection.metafields.my_fields.subcollections
  assign featured_products = collection.metafields.my_fields.featured_products
-%}

{%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
  {%- unless subcollections or subcollections.value.size > 0 -%}
    {{ 'component-facets.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>

    <div class="container mb-6" id="main-collection-filters" data-id="{{ section.id }}">
      {% render 'facets',
        results: collection,
        enable_filtering: section.settings.enable_filtering,
        enable_sorting: section.settings.enable_filtering
      %}
    </div>
  {%- endunless -%}
{%- else -%}
  <div class="sr-only container whitespace-nowrap leading-relaxed mb-0.5">{{ collection.products_count }} items</div>
{%- endif -%}

<div id="ProductGridContainer" class="container mb-12">
  {%- if section.settings.enable_anchors and subcollections and subcollections.value.size > 0 -%}
    <div class="flex overflow-x-auto scrollbar mb-4">
      {%- if featured_products -%}
        <a href="#Featured" aria-label="Jump to featured products section" class="button button-xs button-secondary mr-2">Featured</a>
      {%- endif -%}
      {%- for subcollection in subcollections.value -%}
        {%- assign subcollection_title = collections[subcollection].title | replace: "Section: ", "" -%}
        <a href="#{{ subcollection_title | handle }}" aria-label="Jump to {{ subcollection_title }} section" class="button button-xs button-secondary mr-2">{{ subcollection_title }}</a>
      {%- endfor -%}
    </div>
  {%- endif -%}
  
  {%- if featured_products -%}
    {%- capture featured_products_grid -%}
      <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-x-2 gap-y-8 sm:gap-x-4">
        {%- if collection.metafields.custom.promo_tile_image != blank -%}
          <li class="relative overflow-hidden">
            {%- if collection.metafields.custom_fields.promo_tile_url != blank -%}
              <a href="{{ collection.metafields.custom_fields.promo_tile_url }}" class="block">
            {%- else -%}
              <div>
            {%- endif -%}
            <img
              srcset="{{ collection.metafields.custom.promo_tile_image | image_url: width: 300 }} 1x, {{ collection.metafields.custom.promo_tile_image | image_url: width: 600 }} 2x"
              src="{{ collection.metafields.custom.promo_tile_image | image_url: width: 600 }}"
              alt="{{ collection.metafields.custom.promo_tile_image.value.alt }}"
              width="{{ collection.metafields.custom.promo_tile_image.value.width }}"
              height="{{ collection.metafields.custom.promo_tile_image.value.width | divided_by: collection.metafields.custom.promo_tile_image.value.aspect_ratio }}"
              loading=lazy
              class="absolute inset-0 object-cover object-center min-h-full"
            >
            {%- if collection.metafields.custom_fields.promo_tile_url != blank -%}
              </a>
            {%- else -%}
              </div>
            {%- endif -%}
          </li>
        {%- endif -%}
        {%- for product in featured_products.value -%}
          <li>
            {% render 'product-card',
              card_product: product,
              section_id: section.id,
              image_class: 'pt-4',
              button_class: 'flex-col h-10 sm:h-auto sm:flex-row py-1 sm:py-2 button-sm sm:button-md leading-none sm:leading-normal md:px-3 md:tracking-wider lg:px-4',
              badge_class: 'scale-[0.8] sm:scale-100 origin-top-left'
            %}
          </li>
        {%- endfor -%}
      </ul>
    {%- endcapture -%}

    {% render 'accordion-item',
      id: 'Featured',
      summary: 'Featured',
      content: featured_products_grid,
      default_open: true,
      transition_duration: 800
    %}
  {%- endif -%}

  {%- if subcollections and subcollections.value.size > 0 -%}
    {%- for subcollection in subcollections.value -%}
      {%- liquid
        assign summary = collections[subcollection].title | replace: "Section: ", ""
        assign summary_handle = summary | handle

        capture subcollection_grid
          render 'collection-product-grid', collection: collections[subcollection], products_per_page: 200, is_subcollection: true, is_first_subcollection: forloop.first, parent_collection: collection
        endcapture
      -%}
      {% render 'accordion-item',
        id: summary_handle,
        summary: summary,
        content: subcollection_grid,
        default_open: true,
        transition_duration: 800
      %}
    {%- endfor -%}
  {%- else -%}
    {% render 'collection-product-grid', collection: collection, products_per_page: section.settings.products_per_page %}
  {%- endif -%}

  {%- if collection.metafields.custom.seo_description != nil -%}
    <div class="mt-10 max-w-screen-md md:text-justify mx-auto">
      {%- if collection.metafields.custom.seo_description.value.size > 124 -%}
        <input aria-hidden="true" id="collapsible" class="hidden peer" type="checkbox">
      {%- endif -%}
      <div class="{% if collection.metafields.custom.seo_description.value.size > 124 %}overflow-hidden max-h-52 peer-checked:max-h-screen transition-max-height leading-6{% endif %}">
        {{ collection.metafields.custom.seo_description }}
      </div>
      {%- if collection.metafields.custom.seo_description.value.size > 124 -%}
        <label aria-hidden="true" for="collapsible" class="link mt-1.5 block peer-checked:hidden">Read more</label>
        <label aria-hidden="true" for="collapsible" class="link mt-1.5 hidden peer-checked:block">Read less</label>
      {%- endif -%}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "info": "Hidden on collections with sections.",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "enable_anchors",
      "info": "Shows on collections with sections.",
      "default": false,
      "label": "Enable section anchor links"
    }
  ]
}
{% endschema %}
