<div class="{{ section.settings.section_classes }}">
  {%- if section.settings.image != blank and section.settings.is_text_only == false -%}
    <picture>
      {%- liquid
        assign mobile_image_src = section.settings.image | image_url: width: 400
        assign mobile_image_src_2x = section.settings.image | image_url: width: 800
        assign mobile_image_src_4x = section.settings.image | image_url: width: 1600
        assign desktop_image_src = section.settings.image_desktop | image_url: width: 800
        assign desktop_image_src_2x = section.settings.image_desktop | image_url: width: 1600
      -%}
      {%- if section.settings.image_desktop == blank -%}
        <source
          srcset="{{ mobile_image_src_2x }} 1x, {{ mobile_image_src_4x }} 2x"
          media="(min-width: 640px)"
        >
      {%- else -%}
        <source
          srcset="{{ desktop_image_src }} 1x, {{ desktop_image_src_2x }} 2x"
          media="(min-width: 640px)"
        >
      {%- endif %}
      <source
        srcset="{{ mobile_image_src }} 1x, {{ mobile_image_src_2x }} 2x"
        media="(max-width: 639px)"
      >
      {% comment %} theme-check-disable ImgLazyLoading, RemoteAsset {% endcomment %}
      <img
        srcset="{{ mobile_image_src }} 1x, {{ mobile_image_src_2x }} 2x"
        src="{{ mobile_image_src_2x }}"
        {% if section.settings.is_lazy %}loading="lazy"{% endif %}
        alt="{{ section.settings.image.alt | escape }}"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio | round }}"
        class="{{ section.settings.image_classes }}"
      >
      {% comment %} theme-check-enable ImgLazyLoading, RemoteAsset {% endcomment %}
    </picture>
  {%- endif -%}
  <div class="{% if section.settings.is_text_only %}py-6 text-center{% else %}{{ section.settings.text_block_classes }}{% endif %}">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'heading' -%}
          <h1 class="{% if section.settings.is_text_only %}font-serif tracking-tight text-3xl sm:text-4xl{% else %}{{ block.settings.heading_classes }}{% endif %}" {{ block.shopify_attributes }}>
            {%- if block.settings.heading == blank -%}
              {{- page.title -}}
            {%- else -%}
              {{- block.settings.heading -}}
            {%- endif -%}
          </h1>
        {%- when 'paragraph' -%}
          <div class="{{ block.settings.paragraph_classes }}" {{ block.shopify_attributes }}>
            {{- block.settings.paragraph -}}
          </div>
        {%- when 'button' -%}
          {%- if block.settings.button_label != blank -%}
            <a{% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="button {{ block.settings.button_classes }}" {{ block.shopify_attributes }}>{{ block.settings.button_label | escape }}</a>
          {%- endif -%}
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Page banner",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "is_text_only",
      "label": "Title only (no image)",
      "default": false
    },
    {
      "type": "header",
      "content": "Image settings"
    },
    {
      "type": "image_picker",
      "id": "image",
      "info": "Recommended image size: 800 x 1000px (height is flexible)",
      "label": "Image (mobile)"
    },
    {
      "type": "image_picker",
      "id": "image_desktop",
      "info": "Recommended image size: 1600 x 800px (height is flexible)",
      "label": "Image (desktop)"
    },
    {
      "type": "checkbox",
      "id": "is_lazy",
      "label": "Lazy load image"
    },
    {
      "type": "paragraph",
      "content": "The following settings are overrides for special use-cases only. Do not alter the default values for normal use."
    },
    {
      "type": "textarea",
      "default": "relative container px-0 xs:px-6",
      "id": "section_classes",
      "label": "Section classes"
    },
    {
      "type": "textarea",
      "default": "block object-cover object-top h-[460px] overflow-hidden min-w-full",
      "info": "Normal height: h-80, Tall height: h-[460px]",
      "id": "image_classes",
      "label": "Image classes"
    },
    {
      "type": "textarea",
      "default": "absolute top-6 inset-x-0 px-6 text-center",
      "id": "text_block_classes",
      "label": "Text block classes"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Page title",
      "settings": [
        {
          "type": "paragraph",
          "content": "The following settings are overrides for special use-cases only. Do not alter the default values for normal use."
        },
        {
          "type": "html",
          "id": "heading",
          "label": "Heading text"
        },
        {
          "type": "textarea",
          "id": "heading_classes",
          "label": "Heading classes",
          "default": "tracking-widest font-bold uppercase text-xl lg:text-2xl"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "Subtitle",
      "settings": [
        {
          "type": "paragraph",
          "content": "The following settings are overrides for special use-cases only. Do not alter the default values for normal use."
        },
        {
          "type": "html",
          "id": "paragraph",
          "label": "Subtitle text"
        },
        {
          "type": "textarea",
          "id": "paragraph_classes",
          "label": "Paragraph classes",
          "default": "mb-2  font-book tracking-wide"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Sign up",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "textarea",
          "id": "button_classes",
          "default": "button-primary",
          "label": "Button classes"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Page banner",
      "blocks": [
        {
          "type": "heading"
        }
      ]
    }
  ]
}
{% endschema %}
