{%- if predictive_search.performed -%}
  {%- assign excluded = settings.predictive_search_exclude_page | split: ", " -%}
  {%- assign pageList = null | sort -%}
  {%- for page in predictive_search.resources.pages -%}
    {%- unless excluded contains page.handle -%}
      {%- assign pageItem = page | sort -%}
      {%- assign pageList = pageList | concat: pageItem -%}
    {%- endunless -%}
  {%- endfor -%}

  <div id="predictive-search-results" class="page-width">
    <div class="predictive-search__row">
      <div class="predictive-search__column block-list">
        {%- if predictive_search.resources.products.size > 0 -%}
          <h2 id="predictive-search-products" class="predictive-search__heading h6">
            {{ predictive_search.resources.products.size }} product results
            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </h2>
          <ul id="predictive-search-results-list" class="predictive-search__results-list list-unstyled" role="listbox" aria-labelledby="predictive-search-products">
            {%- for product in predictive_search.resources.products -%}
              <li id="predictive-search-product-{{ forloop.index }}" class="predictive-search__list-item" role="option" aria-selected="false">
                <a href="{{ product.url }}" class="predictive-search__item predictive-search__item--link" tabindex="-1">
                  {%- if product.featured_media != blank -%}
                    <img class="predictive-search__image"
                      loading="lazy"
                      srcset="{{ product.featured_media | img_url: '260x260' }} 1x, {{ product.featured_media | img_url: '520x520' }} 2x"
                      src="{{ product.featured_media | img_url: '260x260' }}"
                      alt="{{ product.featured_media.alt }}"
                      width="260"
                      height="260"
                    >
                  {%- endif -%}
                  <div class="predictive-search__item-content">
                    <h3 class="predictive-search__item-heading text-sm font-sans bold">{{ product.title }}</h3>
                    <p class="predictive-search__item-description text-sm font-sans">{{ product.metafields.custom_fields["short_description"] }}</p>
                    {% render 'price', product: product, use_variant: true, show_badges: false %}
                  </div>
                </a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
        {%- if predictive_search.resources.articles.size > 0 -%}
          <h2 id="predictive-search-products" class="predictive-search__heading h6">
            {{ predictive_search.resources.articles.size }} journal results
            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </h2>
          <ul id="predictive-search-results-list" class="predictive-search__results-list list-unstyled" role="listbox" aria-labelledby="predictive-search-products">
            {%- for article in predictive_search.resources.articles -%}
              <li id="predictive-search-article-{{ forloop.index }}" class="predictive-search__list-item" role="option" aria-selected="false">
                <a href="{{ article.url }}" class="predictive-search__item predictive-search__item--link" tabindex="-1">
                  {%- if article.image != blank -%}
                    <img class="predictive-search__image"
                      loading="lazy"
                      srcset="{{ article.image | img_url: '260x260', crop: 'center' }} 1x, {{ article.image | img_url: '520x520', crop: 'center' }} 2x"
                      src="{{ article.image | img_url: '260x260', crop: 'center' }}"
                      alt="{{ article.image.alt }}"
                      width="260"
                      height="260"
                    >
                  {%- endif -%}
                  <div class="predictive-search__item-content">
                    <h3 class="predictive-search__item-heading text-sm font-sans bold">{{ article.title }}</h3>
                    <p class="predictive-search__item-description text-sm font-sans">{{ article.excerpt | truncate: 80 }}</p>
                  </div>
                </a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
      <div class="predictive-search__column text-list">
        {%- if predictive_search.resources.collections.size > 0 -%}
          <h2 id="predictive-search-products" class="predictive-search__heading h6">
            Categories
          </h2>
          <ul class="predictive-search__results-list list-unstyled" role="listbox" aria-labelledby="predictive-search-products">
            {%- for collection in predictive_search.resources.collections -%}
              <li id="predictive-search-page-{{ forloop.index }}" class="predictive-search__list-item" role="option" aria-selected="false">
                <a href="{{ collection.url }}" class="predictive-search__item predictive-search__item--link" tabindex="-1">
                  {{ collection.title | highlight: predictive_search.terms }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
        {%- if pageList.size > 0 -%}
          <h2 id="predictive-search-products" class="predictive-search__heading h6">
            Pages
          </h2>
          <ul class="predictive-search__results-list list-unstyled" role="listbox" aria-labelledby="predictive-search-products">
            {%- for page in pageList -%}
              <li id="predictive-search-page-{{ forloop.index }}" class="predictive-search__list-item" role="option" aria-selected="false">
                <a href="{{ page.url }}" class="predictive-search__item predictive-search__item--link" tabindex="-1">
                  {{ page.title | highlight: predictive_search.terms }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
    </div>

    <div class="predictive-search__loading-state" aria-hidden="true">
      <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
      </svg>
    </div>
  </div>

  <span class="hidden" data-predictive-search-live-region-count-value>
    {%- if search.results_count == 0 -%}
      {{ 'templates.search.no_results' | t: terms: predictive_search.terms }}
    {%- else -%}
      {{ 'templates.search.results_with_count' | t: terms: predictive_search.terms, count: predictive_search.resources.products.size }}
    {%- endif -%}
  </span>
{%- endif -%}
