{%- if predictive_search.performed -%}
  {%- liquid
    assign excludedPages = settings.predictive_search_exclude_page | split: ", "
    assign pageList = null | sort
    for page in predictive_search.resources.pages
      unless excludedPages contains page.handle
        assign pageItem = page | sort
        assign pageList = pageList | concat: pageItem
      endunless
    endfor

    assign productList = null | sort
    for product in predictive_search.resources.products
      unless product.metafields.settings.hide_from_search
        assign productItem = product | sort
        assign productList = productList | concat: productItem
      endunless
    endfor

    assign collectionList = null | sort
    for collection in predictive_search.resources.collections
      unless collection.metafields.custom.hide_from_search
        assign collectionItem = collection | sort
        assign collectionList = collectionList | concat: collectionItem
      endunless
    endfor

    assign allResults = pageList | concat: productList | concat: predictive_search.resources.articles | concat: collectionList
    
    assign article_title = article.title | truncate: 55
    assign article_description = article.excerpt | truncate: 75

    assign header_styles = 'font-sans font-book text-xl tracking-wide py-4 flex items-center'
    assign grid_styles = 'grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 lg:gap-4 mb-6'
    assign link_styles = 'block w-full pt-1 pb-2 text-lg leading-tight'
  -%}
<script>console.log("collectionList", {{ collectionList | json }});</script>
  <div id="predictive-search-results" class="px-6 container mx-auto">
    {%- if allResults.size > 0 -%}
      <div class="flex flex-col mb-6 sm:flex-row-reverse">
          {% comment %} Result tiles column {% endcomment %}
          <div class="block w-full">
            {%- if productList.size > 0 -%}
              <h2 id="predictive-search-products" class="{{ header_styles }}">
                <span class="block mr-3">{{ predictive_search.resources.products.size }} product results</span>
                {% render 'icon-spinner', classes: 'loading-spinner h-5 w-5' %}
              </h2>
              <ul id="predictive-search-results-list" class="{{ grid_styles }}" role="listbox" aria-labelledby="predictive-search-products">
                {%- for product in productList -%}
                  {% comment %} Product result list item {% endcomment %}
                  <li id="predictive-search-product-{{ forloop.index }}" role="option" aria-selected="false" class="w-full">
                    {%- liquid 
                      if product.metafields.custom.redirect_url != blank
                        assign product_url = product.metafields.custom.redirect_url
                      else
                        assign product_url = product.url
                      endif
                      if product.metafields.custom.product_image_transparent != blank
                        assign image_object = product.metafields.custom.product_image_transparent
                      else
                        assign image_object = product.featured_media
                      endif
                    -%}
                    {% render 'search-card',
                      url: product_url,
                      image: image_object,
                      title: product.title,
                      description: product.metafields.custom_fields["short_description"],
                      product: product
                    %}
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
            {%- if predictive_search.resources.articles.size > 0 -%}
              <h2 id="predictive-search-articles" class="{{ header_styles }}">
                <span class="block mr-3">{{ predictive_search.resources.articles.size }} journal results</span>
                {% render 'icon-spinner', classes: 'loading-spinner h-5 w-5' %}
              </h2>
              <ul id="predictive-search-results-list" class="{{ grid_styles }}" role="listbox" aria-labelledby="predictive-search-articles">
                {%- for article in predictive_search.resources.articles -%}
                  {% comment %} Article result list item {% endcomment %}
                  <li id="predictive-search-article-{{ forloop.index }}" class="w-full" role="option" aria-selected="false">
                    {%- liquid
                      assign article_title = article.title | truncate: 55
                      assign article_description = article.excerpt | truncate: 75
                    -%}
                    {% render 'search-card',
                      url: article.url,
                      image: article.image,
                      title: article_title,
                      description: article_description
                    %}
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>
          {% comment %} Result links column {% endcomment %}
          <div class="block sm:mr-4 md:min-w-[220px] lg:min-w-[240px]">
            {%- if collectionList.size > 0 -%}
              <h2 id="predictive-search-collections" class="{{ header_styles }}">
                Collections
              </h2>
              <ul class="mb-6" role="listbox" aria-labelledby="predictive-search-collections">
                {%- for collection in collectionList -%}
                  <li id="predictive-search-page-{{ forloop.index }}" role="option" aria-selected="false">
                    <a href="{{ collection.url }}" class="{{ link_styles }}" tabindex="-1">
                      {{ collection.title | highlight: predictive_search.terms }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
            {%- if pageList.size > 0 -%}
              <h2 id="predictive-search-pages" class="{{ header_styles }}">
                Pages
              </h2>
              <ul role="listbox" aria-labelledby="predictive-search-pages">
                {%- for page in pageList -%}
                  <li id="predictive-search-page-{{ forloop.index }}" role="option" aria-selected="false">
                    <a href="{{ page.url }}" class="{{ link_styles }}" tabindex="-1">
                      {{ page.title | highlight: predictive_search.terms }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>
      </div>
    {%- else -%}
      <div class="mt-4 mb-8">
        <h2 class="{{ header_styles }} justify-center">
          <span class="block mr-4">Sorry, your search for <b>“{{ predictive_search.terms }}”</b> returned no results.</span>
          {% render 'icon-spinner', classes: 'loading-spinner h-5 w-5 -mr-5' %}
        </h2>
        <hr class="border-transparent my-4">
        {%- if settings.predictive_search_popular_searches.links.size > 0 -%}
          <div class="py-4">
            <h5 class="tracking-wide font-book mb-2">Try one of these popular searches:</h5>
              {%- for link in settings.predictive_search_popular_searches.links -%}
                <button data-term="{{ link.title | escape }}" class="button-popular-search button button-secondary button-sm lowercase mr-2 mb-2">{{ link.title | escape }}</button>
              {%- endfor -%}
          </div>
        {%- endif -%}
        <div class="py-4">
          <h5 class="tracking-wide font-book mb-2">Trending products:</h5>
          <ul class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-3 lg:gap-4">
            {%- for product in collections['bestsellers'].products limit: 10 -%}
              {%- liquid
                if product.metafields.custom.product_image_transparent != blank
                  assign image_object = product.metafields.custom.product_image_transparent
                else
                  assign image_object = product.featured_media
                endif
              -%}
              <li>
                {% render 'search-card',
                  url: product.url,
                  image: image_object,
                  title: product.title,
                  description: product.metafields.custom_fields["short_description"],
                  product: product
                %}
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
    {%- endif -%}
  </div>

  <span class="sr-only" data-predictive-search-live-region-count-value>
    {%- if search.results_count == 0 -%}
      {{ 'templates.search.no_results' | t: terms: predictive_search.terms }}
    {%- else -%}
      {{ 'templates.search.results_with_count' | t: terms: predictive_search.terms, count: predictive_search.resources.products.size }}
    {%- endif -%}
  </span>
{%- endif -%}