{%- if product.metafields.custom.ugc_videos != blank -%}
<div class="product-ugc-videos mb-12 {{ section.settings.section_classes }}">
  <div class="container lg:max-w-screen-lg">
    {% if section.settings.header != blank %}<h3 class="relative text-3xl md:text-4xl tracking-tight font-serif leading-none mb-2">{{ section.settings.header }}</h3>{% endif %}
    {% if section.settings.subheader != blank %}<p class="relative text-sm leading-tight tracking-wide mb-5">{{ section.settings.subheader }}</p>{% endif %}
    <horizontal-scroll-box class="relative">
      <div class="scroll-box flex gap-3 snap-x overflow-x-auto pb-3">
        {%- for video in product.metafields.custom.ugc_videos.value -%}
          <div class="w-64 shrink-0">
            <video
              poster="{{ video.preview_image.src | image_url }}"
              controls
              playsinline
              preload="none"
              loading="lazy"
              width="100%"
              class="rounded-lg"
            >
              {% comment %} theme-check-disable RemoteAsset {% endcomment %}
              {% for source in video.sources %}
                <source src="{{ source.url }}" type="{{ source.mime_type }}">
              {% endfor %}
              <source src="video1.mp4" type="video/mp4">
              Your browser does not support the video tag.
              {% comment %} theme-check-enable RemoteAsset {% endcomment %}
            </video>
          </div>
        {%- endfor -%}
      </div>
      <nav>
        <button class="next nav-hide absolute top-1/2 -right-3 bottom-3 z-10 bg-white w-8 h-8 -mt-7 rounded-full shadow-md shadow-seaweed-700/10 flex items-center justify-center motion-safe:transition-opacity" aria-label="Next">
          {% render 'icon-arrow', variant: 'short', classes: 'w-6 h-6', stroke_width: 1.5 %}
        </button>
        <button class="prev nav-hide absolute top-1/2 -left-7 bottom-3 z-10 bg-white w-8 h-8 -mt-7 rounded-full shadow-md shadow-seaweed-700/10 flex items-center justify-center motion-safe:transition-opacity" aria-label="Previous">
          {% render 'icon-arrow', variant: 'short', classes: 'w-6 h-6 rotate-180', stroke_width: 1.5 %}
        </button>
      </nav>
    </horizontal-scroll-box>
  </div>
</div>
{%- endif -%}

{% schema %}
{
  "name": "UGC Videos",
  "tag": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "section_classes",
      "label": "Section classes"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Header",
      "default": "What our customers are saying"
    },
    {
      "type": "text",
      "id": "subheader",
      "label": "Subheader",
      "default": "Check out these reviews from real OSEA customers"
    }
  ],
  "presets": [
    {
      "name": "UGC Videos"
    }
  ]
}
{% endschema %}
