<product-recently-viewed class="product-recently-viewed hidden {{ section.settings.section_classes }}">
  <div class="{{ section.settings.container_classes }}">
      <h2 class="{{ section.settings.heading_classes }}">{{ section.settings.heading | escape }}</h2>
      <ul class="{{ section.settings.wrapper_classes }}" role="list">
      </ul>
  </div>
</product-recently-viewed>

{% javascript %}
  class ProductRecentlyViewed extends HTMLElement {
    constructor() {
      super();

      const handleIntersection = (entries, observer) => {
        if (!entries[0].isIntersecting) return;
        observer.unobserve(this);

        fetch(this.dataset.url)
          .then(response => response.text())
          .then(text => {
            const html = document.createElement('div');
            html.innerHTML = text;
            const recommendations = html.querySelector('product-recommendations');
            if (recommendations && recommendations.innerHTML.trim().length) {
              this.innerHTML = recommendations.innerHTML;
            }
          })
          .catch(e => {
            console.error(e);
          });
      }

      new IntersectionObserver(handleIntersection.bind(this), {rootMargin: '0px 0px 200px 0px'}).observe(this);
    }
  }

  customElements.define('product-recently-viewed', ProductRecentlyViewed);
{% endjavascript %}

{% schema %}
{
  "name": "Recently Viewed",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.product-recommendations.settings.paragraph__1.content"
    },
    {
      "type": "textarea",
      "id": "section_classes",
      "label": "Section classes"
    },
    {
      "type": "textarea",
      "id": "container_classes",
      "label": "Container classes"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "You may also like",
      "label": "t:sections.product-recommendations.settings.heading.label"
    },
    {
      "type": "textarea",
      "id": "heading_classes",
      "label": "Heading classes"
    },
    {
      "type": "header",
      "content": "t:sections.product-recommendations.settings.header__2.content"
    },
    {
      "type": "textarea",
      "id": "wrapper_classes",
      "label": "Product cards wrapper classes"
    }
  ]
}
{% endschema %}
