{%- if product.metafields.custom.scent_profile_metaobject -%}
  {%- assign scent_object = product.metafields.custom.scent_profile_metaobject.value -%}

  <div class="product-scent-profile container mb-6 lg:mb-12 {{ section.settings.wrapper_classes }}">
    <div class="w-full flex flex-col lg:flex-row gap-y-5 lg:gap-0 justify-between">

      <!-- IMAGE COLUMN -->
      <div class="w-full lg:block lg:basis-[calc(50%-12px)] overflow-hidden rounded-xl h-max top-20 sticky">
        <div class="relative w-full lg:h-[calc(100vh-180px)]">

          {%- liquid
            if product.metafields.custom.scent_profile_image != blank
              assign image_obj = product.metafields.custom.scent_profile_image
            else
              assign image_obj = scent_object.image
            endif

            assign image_master = image_obj | image_url
            assign sizes_attr = '(min-width: 1024px) 50vw, 100vw'
          -%}

          {% comment %}theme-check-disable RemoteAsset {% endcomment %}
          <img
            class="w-full h-full object-cover"
            src="{% render 'imgix', src: image_master, w: 640, h: 640, fit: 'crop', crop: 'center' %}"
            srcset="
              {% render 'imgix', src: image_master, w: 320, h: 320, fit: 'crop', crop: 'center' %} 320w,
              {% render 'imgix', src: image_master, w: 480, h: 480, fit: 'crop', crop: 'center' %} 480w,
              {% render 'imgix', src: image_master, w: 640, h: 640, fit: 'crop', crop: 'center' %} 640w,
              {% render 'imgix', src: image_master, w: 800, h: 800, fit: 'crop', crop: 'center' %} 800w,
              {% render 'imgix', src: image_master, w: 960, h: 960, fit: 'crop', crop: 'center' %} 960w,
              {% render 'imgix', src: image_master, w: 1200, h: 1200, fit: 'crop', crop: 'center' %} 1200w,
              {% render 'imgix', src: image_master, w: 1500, h: 1500, fit: 'crop', crop: 'center' %} 1500w
            "
            sizes="{{ sizes_attr }}"
            loading="lazy"
            alt="{{ image_obj.alt | escape }}"
            width="750"
            height="750"
          >
          {% comment %}theme-check-enable RemoteAsset {% endcomment %}

        </div>
      </div>

      <!-- CONTENT COLUMN -->
      <div class="w-full lg:basis-[calc(50%-12px)] relative overflow-hidden h-full p-8 lg:p-12 xl:px-20 xl:pt-24 xl:pb-36 bg-white rounded-xl">

        <div class="flex flex-col items-start justify-center py-2 mx-auto mb-6 lg:mb-8 xl:mb-10">
          <h2 class="font-serif text-4xl mb-4 underline decoration-wavy decoration-2 decoration-p-core underline-offset-4">
            {{ scent_object.name }}
          </h2>
          <div class="text-lg lg:text-xl">
            {{ scent_object.description }}
          </div>
        </div>

        {%- if scent_object.products.value and scent_object.products.value.count > 1 -%}

          <h3 class="text-xl font-bold mb-4">
            {{ scent_object.custom_label.value | default: 'Shop the Scent' }}
          </h3>

          <horizontal-scroll-box class="relative block w-full max-w-full">
            <div class="scroll-box w-full max-w-full flex gap-4 snap-x snap-mandatory overflow-x-auto pb-3">
              {%- for scent_product in scent_object.products.value -%}
                {%- unless scent_product.handle == product.handle -%}
                  {% render 'product-card',
                    card_product: scent_product,
                    section_id: section.id,
                    card_class: 'snap-start flex flex-col relative w-52 shrink-0',
                    button_class: 'flex-col py-1 leading-none md:px-3 xl:px-4',
                    variant_picker_classes: 'xs:!mr-1.5 xs:!px-2.5'
                  %}
                {%- endunless -%}
              {%- endfor -%}
            </div>

            <nav>
              <button class="next nav-hide absolute top-1/2 -right-4 bottom-3 z-10 bg-white w-8 h-8 -mt-7 rounded-full shadow-md shadow-seaweed-700/10 flex items-center justify-center motion-safe:transition-opacity" aria-label="Next">
                {% render 'icon-arrow', variant: 'short', classes: 'w-6 h-6', stroke_width: 1.5 %}
              </button>

              <button class="prev nav-hide absolute top-1/2 -left-4 bottom-3 z-10 bg-white w-8 h-8 -mt-7 rounded-full shadow-md shadow-seaweed-700/10 flex items-center justify-center motion-safe:transition-opacity" aria-label="Previous">
                {% render 'icon-arrow', variant: 'short', classes: 'w-6 h-6 rotate-180', stroke_width: 1.5 %}
              </button>
            </nav>
          </horizontal-scroll-box>

        {%- elsif product.metafields.custom.scent_profile_testimonials != blank -%}

          <div class="flex gap-3 flex-col">
            {%- for testimonial in product.metafields.custom.scent_profile_testimonials.value -%}
              <div class="bg-p-surface [--tw-bg-opacity:0.5] p-4 rounded-xl flex flex-col sm:flex-row items-start gap-3">
                <div class="flex flex-col">
                  <p><b>{{ testimonial.name }}</b></p>
                  <div class="flex gap-1 bg-seaweed-700 rounded-full pr-0.5 py-0.5 pl-1.5">
                    <span class="text-white text-xs leading-none whitespace-nowrap">Verified Buyer</span>
                  </div>
                </div>
                <div class="text-xl leading-tight tracking-wide max-w-prose mx-auto w-full">
                  <p>{{ testimonial.quote }}</p>
                </div>
              </div>
            {%- endfor -%}

            <a href="#reviews" class="flex mt-4 gap-1 items-center justify-center">
              <span class="link">Read more reviews</span>
              {% render 'icon-arrow', variant: 'short', classes: 'w-5 h-5 rotate-90', stroke_width: 1.5 %}
            </a>
          </div>

        {%- endif -%}

      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Scent Profile",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Scent profile"
    },
    {
      "type": "paragraph",
      "content": "Powered by the 'Scent Profile' product metafield."
    },
    {
      "type": "header",
      "content": "Fallback content"
    },
    {
      "type": "textarea",
      "id": "wrapper_classes",
      "label": "Wrapper classes"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Scent Profile"
    },
    {
      "type": "text",
      "id": "body",
      "label": "Body"
    }
  ]
}
{% endschema %}