<div class="product-clinicals hidden mb-12 {{ section.settings.section_classes }}">
  <div class="container lg:max-w-screen-lg">
    <div class="{% if product.metafields.custom.product_color_light != blank %}{{ product.metafields.custom.product_color_light }}{% else %}bg-wave-200{% endif %} py-4 pl-4 sm:py-6 sm:pl-6">
      <h3 class="relative text-2xl md:text-3xl tracking-wide"><em>{{ section.settings.header }}</em></h3>
      <p class="relative text-sm leading-tight tracking-wide mb-3 md:mb-4">{{ section.settings.subheader }}</p>
      <script>console.log({{ product.metafields.custom.clinical_results }});</script>
      {%- for clinical_result in product.metafields.custom.clinical_results.value -%}
        <div class="mb-2">
          <h4 class="font-medium mb-2">{{ clinical_result.title }}</h4>
          <div class="relative">
            <div class="flex gap-3 snap-x overflow-x-auto pb-3 sm:overflow-x-hidden">
              {%- for stat in clinical_result.stats -%}
                <div class="snap-start w-40 lg:w-52 shrink-0 sm:shrink bg-white rounded-xl p-4{% if forloop.last %} mr-6{% endif %}">
                  <h5 class="whitespace-nowrap">
                    <span class="text-5xl">{{ stat.value }}</span>
                    <sub class="text-2xl bottom-0">{% if stat.value_type == 'percent' %}%{% else %}hours{% endif %}</sub></h5>
                  <p class="text-sm lg:text-base leading-snug lg:leading-snug">{{ stat.description }}</p>
                </div>
              {%- endfor -%}
            </div>
            <div class="absolute top-1/2 -right-3 bottom-3 z-10 bg-white w-8 h-8 -mt-7 rounded-full shadow-md shadow-seaweed-700/10 flex items-center justify-center sm:hidden">
              {% render 'icon-arrow', variant: 'short', classes: 'w-6 h-6', stroke_width: 1.5 %}
            </div>
          </div>
          {%- if clinical_result.citations != blank -%}
            <cite class="block mt-4 text-xs pr-4 sm:pr-6">{{ clinical_result.citations }}</cite>
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Clinicals",
  "tag": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "section_classes",
      "label": "Section classes"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Header",
      "default": "Results You Can Sea"
    },
    {
      "type": "text",
      "id": "subheader",
      "label": "Subheader",
      "default": "Our products are clinically proven to ensure the highest levels of efficacy."
    }
  ]
}
{% endschema %}
