{%- if section.settings.founder_image and section.settings.founder_body != blank -%}
  <div class="product-jp-quote container mb-6 lg:mb-12 {{ section.settings.wrapper_classes }}">
    <div class="w-full flex flex-col md:flex-row-reverse gap-y-5 md:gap-x-4 lg:gap-x-6 justify-between md:max-h-[372px] items-stretch">
      {%- liquid
        assign image_src = section.settings.founder_image | image_url: width: 750, height: 750, crop: 'center'
        assign image_src_2x = section.settings.founder_image | image_url: width: 1500, height: 1500, crop: 'center'
      -%}
    
      <!-- Image column -->
      <div class="flex-1 md:basis-0 min-w-0 overflow-hidden rounded-xl">
        {% comment %} theme-check-disable RemoteAsset {% endcomment %}
        <img
          class="w-full h-full object-cover"
          srcset="{% render 'imgix', src: image_src %} 1x, {% render 'imgix', src: image_src_2x %} 2x"
          src="{% render 'imgix', src: image_src_2x %}"
          loading="lazy"
          alt="{{ section.settings.founder_image.alt | escape }}"
          width="{{ section.settings.founder_image.width }}"
          height="{{ section.settings.founder_image.height }}"
        >
        {% comment %} theme-check-enable RemoteAsset {% endcomment %}
      </div>
    
      <!-- Content column -->
      <div class="flex-1 md:basis-0 min-w-0 bg-white/75 rounded-xl flex flex-col items-center justify-center overflow-hidden">
        <div class="p-4 sm:p-6 lg:p-10">
          <div class="flex flex-col items-start justify-center border-l-4 border-p-core pl-4 sm:pl-6 pt-2 md:max-w-sm xl:max-w-md mx-auto">
            <div class="text-xl lg:text-xl p:mb-4 text-serif">{{ section.settings.founder_body }}</div>
            <cite class="text-lg lg:text-xl p:mb-4 text-right">{{ section.settings.founder_name }}</cite>
          </div>
        </div>
      </div>
    </div>    
  </div>
{% endif %}

{% schema %}
{
  "name": "Founder Quote",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Founder quote"
    },
    {
      "type": "textarea",
      "id": "wrapper_classes",
      "label": "Wrapper classes"
    },
    {
      "type": "richtext",
      "id": "founder_body",
      "label": "Quote"
    },
    {
      "type": "text",
      "id": "founder_name",
      "label": "Name"
    },
    {
      "type": "image_picker",
      "id": "founder_image",
      "label": "Image"
    }
  ]
}
{% endschema %}

