{%- if product.metafields.custom.scent_profile_metaobject -%}
  {%- assign scent_object = product.metafields.custom.scent_profile_metaobject.value -%}
  <div class="product-scent-profile container mb-6 lg:mb-12 {{ section.settings.wrapper_classes }}">
    <div class="w-full flex flex-col lg:flex-row gap-y-5 lg:gap-0 justify-between">
      <div class="w-full lg:block lg:basis-[calc(50%-12px)] overflow-hidden rounded-xl h-max top-20 sticky">
        <div class="relative w-full lg:h-[calc(100vh-180px)]">
          {%- liquid
            if product.metafields.custom.scent_profile_image != blank
              assign image_src = product.metafields.custom.scent_profile_image | image_url: width: 750, height: 750, crop: 'center'
              assign image_src_2x = product.metafields.custom.scent_profile_image | image_url: width: 1500, height: 1500, crop: 'center'
            else
              assign image_src = scent_object.image | image_url: width: 750, height: 750, crop: 'center'
              assign image_src_2x = scent_object.image | image_url: width: 1500, height: 1500, crop: 'center'
            endif
          -%}
          {% comment %} theme-check-disable RemoteAsset {% endcomment %}
          <img
            class="w-full h-full object-cover"
            srcset="{% render 'imgix', src: image_src %} 1x, {% render 'imgix', src: image_src_2x %} 2x"
            src="{% render 'imgix', src: image_src_2x %}"
            loading="lazy"
            alt="{{ scent_object.image.alt | escape }}"
            width="{{ scent_object.image.width }}"
            height="{{ scent_object.image.height }}"
          >
          {% comment %} theme-check-enable RemoteAsset {% endcomment %}
        </div>
      </div>
      <div class="w-full lg:basis-[calc(50%-12px)] relative overflow-hidden h-full p-8 lg:p-12 xl:px-20 xl:pt-24 xl:pb-36 bg-white rounded-xl">
        <div class="flex flex-col items-start justify-center {% comment %} border-l-4 border-p-surface pl-6 {% endcomment %} py-2 mx-auto mb-6 lg:mb-8 xl:mb-10">
          <h2 class="font-serif text-4xl mb-4 underline decoration-wavy decoration-2 decoration-p-core underline-offset-4">{{ scent_object.name }}</h2>
          <div class="text-lg lg:text-xl">{{ scent_object.description }}</div>
        </div>
        {%- if scent_object.products.value and scent_object.products.value.count > 1 -%}
          <h3 class="text-xl font-bold mb-4">Shop the Scent</h3>
          <horizontal-scroll-box class="relative block w-full max-w-full">
            <div class="scroll-box w-full max-w-full flex gap-4 snap-x snap-mandatory overflow-x-auto pb-3">
              {%- for scent_product in scent_object.products.value -%}
                {%- unless scent_product.handle == product.handle -%}
                  {% render 'product-card',
                    card_product: scent_product,
                    section_id: section.id,
                    card_class: 'snap-start flex flex-col relative w-52 shrink-0',
                    button_class: 'flex-col py-1 leading-none md:px-3 xl:px-4',
                    variant_picker_classes: 'xs:!mr-1.5 xs:!px-2.5'
                  %}
                {%- endunless -%}
              {%- endfor -%}
            </div>
            <nav>
              <button class="next nav-hide absolute top-1/2 -right-4 bottom-3 z-10 bg-white w-8 h-8 -mt-7 rounded-full shadow-md shadow-seaweed-700/10 flex items-center justify-center motion-safe:transition-opacity" aria-label="Next">
                {% render 'icon-arrow', variant: 'short', classes: 'w-6 h-6', stroke_width: 1.5 %}
              </button>
              <button class="prev nav-hide absolute top-1/2 -left-4 bottom-3 z-10 bg-white w-8 h-8 -mt-7 rounded-full shadow-md shadow-seaweed-700/10 flex items-center justify-center motion-safe:transition-opacity" aria-label="Previous">
                {% render 'icon-arrow', variant: 'short', classes: 'w-6 h-6 rotate-180', stroke_width: 1.5 %}
              </button>
            </nav>
          </horizontal-scroll-box>
        {%- elsif product.metafields.custom.scent_profile_testimonials != blank -%}
          <div class="flex gap-3 flex-col">
            {%- for testimonial in product.metafields.custom.scent_profile_testimonials.value -%}
              <div class="bg-p-surface [--tw-bg-opacity:0.5] p-4 rounded-xl flex flex-col sm:flex-row items-start gap-3">
                <div class="flex flex-col">
                  <svg xmlns="http://www.w3.org/2000/svg" width="151" height="37" viewbox="0 0 151 37" fill="none" class="w-20 h-5">
                    <path d="M16.5979 5.8541C17.1966 4.01148 19.8034 4.01148 20.4021 5.8541L22.2045 11.4012C22.4722 12.2253 23.2401 12.7832 24.1066 12.7832H29.9392C31.8766 12.7832 32.6822 15.2624 31.1147 16.4012L26.3961 19.8295C25.6951 20.3388 25.4018 21.2415 25.6695 22.0656L27.4719 27.6127C28.0706 29.4553 25.9617 30.9876 24.3942 29.8488L19.6756 26.4205C18.9746 25.9112 18.0254 25.9112 17.3244 26.4205L12.6058 29.8488C11.0383 30.9876 8.92938 29.4553 9.52809 27.6127L11.3305 22.0656C11.5982 21.2415 11.3049 20.3388 10.6039 19.8295L5.88525 16.4012C4.31782 15.2624 5.12337 12.7832 7.06082 12.7832H12.8934C13.7599 12.7832 14.5278 12.2253 14.7955 11.4012L16.5979 5.8541Z" fill="#FACF17"></path>
                    <path d="M45.093 6.03209C45.6819 4.16925 48.3181 4.16925 48.907 6.03209L50.5996 11.3861C50.8625 12.2178 51.6342 12.7832 52.5065 12.7832H58.0979C60.0221 12.7832 60.8363 15.2344 59.2946 16.3857L54.6776 19.8333C53.9958 20.3425 53.7108 21.2273 53.9673 22.0387L55.7084 27.5462C56.294 29.3985 54.1614 30.9139 52.6048 29.7516L48.1966 26.4599C47.4869 25.93 46.5131 25.93 45.8034 26.4599L41.3952 29.7516C39.8386 30.9139 37.706 29.3985 38.2916 27.5462L40.0327 22.0387C40.2892 21.2273 40.0042 20.3425 39.3224 19.8333L34.7054 16.3857C33.1637 15.2344 33.9779 12.7832 35.902 12.7832H41.4935C42.3658 12.7832 43.1375 12.2178 43.4004 11.3861L45.093 6.03209Z" fill="#FACF17"></path>
                    <path d="M73.5979 5.8541C74.1966 4.01148 76.8034 4.01148 77.4021 5.8541L79.2045 11.4012C79.4722 12.2253 80.2401 12.7832 81.1066 12.7832H86.9392C88.8766 12.7832 89.6822 15.2624 88.1147 16.4012L83.3961 19.8295C82.6951 20.3388 82.4018 21.2415 82.6695 22.0656L84.4719 27.6127C85.0706 29.4553 82.9617 30.9876 81.3942 29.8488L76.6756 26.4205C75.9746 25.9112 75.0254 25.9112 74.3244 26.4205L69.6058 29.8488C68.0383 30.9876 65.9294 29.4553 66.5281 27.6127L68.3305 22.0656C68.5982 21.2415 68.3049 20.3388 67.6039 19.8295L62.8853 16.4012C61.3178 15.2624 62.1234 12.7832 64.0608 12.7832H69.8934C70.7599 12.7832 71.5278 12.2253 71.7955 11.4012L73.5979 5.8541Z" fill="#FACF17"></path>
                    <path d="M102.093 6.03209C102.682 4.16925 105.318 4.16925 105.907 6.03209L107.6 11.3861C107.863 12.2178 108.634 12.7832 109.507 12.7832H115.098C117.022 12.7832 117.836 15.2344 116.295 16.3857L111.678 19.8333C110.996 20.3425 110.711 21.2273 110.967 22.0387L112.708 27.5462C113.294 29.3985 111.161 30.9139 109.605 29.7516L105.197 26.4599C104.487 25.93 103.513 25.93 102.803 26.4599L98.3952 29.7516C96.8386 30.9139 94.706 29.3985 95.2916 27.5462L97.0327 22.0387C97.2892 21.2273 97.0042 20.3425 96.3224 19.8333L91.7054 16.3857C90.1637 15.2344 90.9779 12.7832 92.902 12.7832H98.4935C99.3658 12.7832 100.137 12.2178 100.4 11.3861L102.093 6.03209Z" fill="#FACF17"></path>
                    <path d="M130.598 5.8541C131.197 4.01148 133.803 4.01148 134.402 5.8541L136.204 11.4012C136.472 12.2253 137.24 12.7832 138.107 12.7832H143.939C145.877 12.7832 146.682 15.2624 145.115 16.4012L140.396 19.8295C139.695 20.3388 139.402 21.2415 139.67 22.0656L141.472 27.6127C142.071 29.4553 139.962 30.9876 138.394 29.8488L133.676 26.4205C132.975 25.9112 132.025 25.9112 131.324 26.4205L126.606 29.8488C125.038 30.9876 122.929 29.4553 123.528 27.6127L125.33 22.0656C125.598 21.2415 125.305 20.3388 124.604 19.8295L119.885 16.4012C118.318 15.2624 119.123 12.7832 121.061 12.7832H126.893C127.76 12.7832 128.528 12.2253 128.796 11.4012L130.598 5.8541Z" fill="#FACF17"></path>
                  </svg>
                    
                  <p><b>{{ testimonial.name }}</b></p>
                    
                  <div class="flex gap-1 bg-seaweed-700 rounded-full pr-0.5 py-0.5 pl-1.5">
                    <span class="text-white text-xs leading-none whitespace-nowrap">Verified Buyer</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="23" viewbox="0 0 24 23" fill="none" class="w-3 h-3">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M12 23C18.3513 23 23.5 17.8513 23.5 11.5C23.5 5.14873 18.3513 0 12 0C5.64873 0 0.5 5.14873 0.5 11.5C0.5 17.8513 5.64873 23 12 23ZM17.6133 6.5L19.5 8.38467L9.57067 18.5L3.5 12.4267L5.38667 10.54L9.57133 14.73L17.6133 6.5Z" fill="#A7ED1E"></path>
                    </svg>
                  </div>
                </div>
                <div class="text-xl leading-tight tracking-wide max-w-prose mx-auto w-full">
                  <p>{{ testimonial.quote }}</p>
                </div>
              </div>
            {%- endfor -%}
            <a href="#reviews" class="flex mt-4 gap-1 items-center justify-center">
              <span class="link">Read more reviews</span>
              {% render 'icon-arrow', variant: 'short', classes: 'w-5 h-5 rotate-90', stroke_width: 1.5 %}
            </a>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Scent Profile",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Scent profile"
    },
    {
      "type": "paragraph",
      "content": "Powered by the 'Scent Profile' product metafield."
    },
    {
      "type": "header",
      "content": "Fallback content"
    },
    {
      "type": "textarea",
      "id": "wrapper_classes",
      "label": "Wrapper classes"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Scent Profile"
    },
    {
      "type": "text",
      "id": "body",
      "label": "Body"
    }
  ]
}
{% endschema %}