{%- if product.metafields.custom.clinical_results != blank -%}
<div class="product-clinicals mb-12 {{ section.settings.section_classes }}">
  <div class="container lg:max-w-screen-lg">
    <div class="{% if product.metafields.custom.product_color_light != blank %}{{ product.metafields.custom.product_color_light }}{% else %}bg-wave-200{% endif %} py-4 pl-4 sm:py-6 sm:pl-6">
      <h3 class="relative text-3xl md:text-4xl tracking-tight font-serif">{{ section.settings.header }}</h3>
      <p class="relative text-sm leading-tight tracking-wide mb-5">{{ section.settings.subheader }}</p>
      {%- for clinical_result in product.metafields.custom.clinical_results.value -%}
        <div class="mb-2">
          <h4 class="font-medium mb-2">{{ clinical_result.title }}</h4>
          <horizontal-scroll-box class="relative">
            <div class="scroll-box flex gap-3 snap-x overflow-x-auto pb-3">
              {%- for stat in clinical_result.stats -%}
                <div class="snap-start w-40 lg:w-52 shrink-0 sm:shrink bg-white rounded-xl p-4{% if forloop.last %} mr-6{% endif %}">
                  {%- if stat.value != nil -%}
                    <h5 class="whitespace-nowrap">
                      <span class="{% if stat.value_type == 'text' %}text-3xl block mt-2.5 mb-0.5 font-medium{% else %}text-5xl{% endif %}">{{ stat.value }}</span>
                      {%- unless stat.value_type == 'text' -%}
                        <sub class="text-2xl bottom-0">{% if stat.value_type == 'percent' %}%{% else %}hours{% endif %}</sub>
                      {%- endunless -%}
                    </h5>
                  {%- endif -%}
                  <p class="text-sm lg:text-base leading-snug lg:leading-snug{% if stat.value == nil %} font-book{% endif %}">{{ stat.description }}</p>
                </div>
              {%- endfor -%}
            </div>
            <nav>
              <button class="next nav-hide absolute top-1/2 -right-3 bottom-3 z-10 bg-white w-8 h-8 -mt-7 rounded-full shadow-md shadow-seaweed-700/10 flex items-center justify-center motion-safe:transition-opacity">
                {% render 'icon-arrow', variant: 'short', classes: 'w-6 h-6', stroke_width: 1.5 %}
              </button>
              <button class="prev nav-hide absolute top-1/2 -left-7 bottom-3 z-10 bg-white w-8 h-8 -mt-7 rounded-full shadow-md shadow-seaweed-700/10 flex items-center justify-center motion-safe:transition-opacity">
                {% render 'icon-arrow', variant: 'short', classes: 'w-6 h-6 rotate-180', stroke_width: 1.5 %}
              </button>
            </nav>
          </horizontal-scroll-box>
          {%- if clinical_result.citations != blank -%}
            {%- assign citations_array = clinical_result.citations | split: '<br />' -%}
            <cite class="block mt-4 text-xs pr-4 sm:pr-6">
              <ul class="pl-4 leading-tight">
                {%- for citation in citations_array -%}
                  <li class="mb-1 last:mb-0 -indent-4 span:inline-block span:w-4 span:text-right span:pr-1">{{ citation | replace: '*', '<span>*</span>' | replace: '<span>*</span><span>*</span>', '<span>**</span>' }}</li>
                {%- endfor -%}
              </ul>
            </cite>
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
{%- endif -%}

{% schema %}
{
  "name": "Clinicals",
  "tag": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "section_classes",
      "label": "Section classes"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Header",
      "default": "Results You Can Sea"
    },
    {
      "type": "text",
      "id": "subheader",
      "label": "Subheader",
      "default": "Our products are clinically proven to ensure the highest levels of efficacy."
    }
  ]
}
{% endschema %}
