{% comment %}theme-check-disable RemoteAsset{% endcomment %}
{{ 'video-section.css' | asset_url | stylesheet_tag }}

{%- assign video_sources = product.metafields.my_fields.pdp_video -%}
{%- if video_sources.value.size > 0 -%}
  <div class="video-section {{ section.settings.wrapper_classes }}">
    {%- liquid
      for source in video_sources.value
        if source contains 'mp4'
          assign source_mp4 = source
        elsif source contains 'webm'
          assign source_webm = source
        elsif source contains 'jpg'
          assign source_jpg = source
        endif
      endfor
    -%}
    <noscript>
      <div class="relative"
        {% if source_jpg != nil %} style="padding-bottom: 56%;"{% endif %}
      >
        <a href="{{ source_webm }}" class="absolute w-full h-full media media--transparent media--landscape{% if source_jpg == blank %} video-section__placeholder{% endif %}">
          {%- if source_jpg != nil -%}
            <img
              srcset="{{ source_jpg | append: '&width=375' }} 375w,
                {{ source_jpg | append: '&width=750' }} 750w,
                {{ source_jpg | append: '&width=1100' }} 1100w,
                {{ source_jpg | append: '&width=1500' }} 1500w,
                {{ source_jpg | append: '&width=1780' }} 1780w,
                {{ source_jpg | append: '&width=2000' }} 2000w"
              src="{{ source_jpg | append: '&width=1280' }}"
              alt="Loading {{ section.settings.description | escape }}"
              loading="lazy"
              width="1280"
              height="1000"
            >
          {%- else -%}
            {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
          {%- endif -%}
        </a>
      </div>
    </noscript>
    <deferred-media class="relative deferred-media no-js-hidden overflow-visible" data-media-id="{{ section.id }}"
      {% if source_jpg != nil %} style="padding-bottom: 56%;"{% endif %}
    >
      <button
        id="Deferred-Poster-Modal-{{ section.id }}"
        class="absolute w-full h-full deferred-media__poster"
        type="button"
      >
        {%- if source_jpg != nil -%}
          <img
            srcset="{{ source_jpg | append: '&width=375' }} 375w,
              {{ source_jpg | append: '&width=750' }} 750w,
              {{ source_jpg | append: '&width=1100' }} 1100w,
              {{ source_jpg | append: '&width=1500' }} 1500w,
              {{ source_jpg | append: '&width=1780' }} 1780w,
              {{ source_jpg | append: '&width=2000' }} 2000w"
            src="{{ source_jpg | append: '&width=1280' }}"
            alt="Loading {{ section.settings.description | escape }}"
            loading="lazy"
            width="1280"
            height="1000"
          >
        {%- else -%}
          {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        {%- endif -%}
        <span class="deferred-media__poster-button">
          {%- render 'icon-play' -%}
        </span>
      </button>
      <template>
        <video autoplay controls loop muted playsinline poster="{{ source_jpg }}" class="bg-wave-200 border-0 absolute w-full h-full">
          <source src="{{ source_mp4 }}">
          <source src="{{ source_webm }}">
        </video>
      </template>
    </deferred-media>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.video.name",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "If the metafield 'PDP Video' has URLs added, the video displays here. This section cannot be removed, to remove the video for a product, remove the URLs from the metafield. When adding video URLs to the metafield, include and mp4, webm, and jpg poster file."
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.video.settings.description.label",
      "info": "t:sections.video.settings.description.info"
    },
    {
      "type": "textarea",
      "id": "wrapper_classes",
      "label": "Section classes",
      "default": "container mx-auto px-6"
    }
  ]
}
{% endschema %}
