{% comment %}theme-check-disable RemoteAsset{% endcomment %}
<h2 class="sr-only">Product Video</h2>
{%- assign video_sources = product.metafields.my_fields.pdp_video -%}
{%- if video_sources.value.size > 0 -%}
  <div class="video-section {{ section.settings.wrapper_classes }}">
    {%- liquid
      for source in video_sources.value
        if source contains 'mp4'
          assign source_mp4 = source
        elsif source contains 'webm'
          assign source_webm = source
        elsif source contains 'jpg'
          assign source_jpg = source
        endif
      endfor
    -%}
    <noscript>
      <div class="relative"
        {% if source_jpg != nil %} style="padding-bottom: 56%;"{% endif %}
      >
        <a href="{{ source_webm }}" class="absolute w-full h-full media media-transparent media-landscape{% if source_jpg == blank %} video-section__placeholder{% endif %}">
          {%- if source_jpg != nil -%}
            <picture>
              <source
                srcset="{{ source_jpg | append: '&width=976' }} 1x,
                  {{ source_jpg | append: '&width=1400' }} 2x"
                media="(min-width: 640px)"
              >
              <source
                srcset="{{ source_jpg | append: '&width=366' }} 1x,
                  {{ source_jpg | append: '&width=732' }} 2x"
                media="(min-width: 0)"
              >
              <img
                srcset="{{ source_jpg | append: '&width=366' }} 1x,
                  {{ source_jpg | append: '&width=732' }} 2x"
                src="{{ source_jpg | append: '&width=732' }}"
                alt="Loading {{ section.settings.description | escape }}"
                loading="lazy"
                width="1280"
                height="1000"
              >
            </picture>
          {%- else -%}
            {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
          {%- endif -%}
        </a>
      </div>
    </noscript>
    <deferred-media class="relative deferred-media no-js-hidden overflow-visible" data-media-id="{{ section.id }}"
      {% if source_jpg != nil %} style="padding-bottom: 56%;"{% endif %}
    >
      <button
        id="Deferred-Poster-Modal-{{ section.id }}"
        class="absolute w-full h-full deferred-media__poster"
        type="button"
      >
        {%- if source_jpg != nil -%}
          <picture>
            <source
              srcset="{{ source_jpg | append: '&width=976' }} 1x,
                {{ source_jpg | append: '&width=1400' }} 2x"
              media="(min-width: 640px)"
            >
            <source
              srcset="{{ source_jpg | append: '&width=366' }} 1x,
                {{ source_jpg | append: '&width=732' }} 2x"
              media="(min-width: 0)"
            >
            <img
              srcset="{{ source_jpg | append: '&width=366' }} 1x,
                {{ source_jpg | append: '&width=732' }} 2x"
              src="{{ source_jpg | append: '&width=732' }}"
              alt="Loading {{ section.settings.description | escape }}"
              loading="lazy"
              width="1280"
              height="1000"
              class="rounded-xl"
            >
          </picture>
        {%- else -%}
          {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        {%- endif -%}
        <span class="deferred-media__poster-button bg-white/50 rounded-full flex items-center justify-center h-20 w-20 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 scale-100 z-10 motion-safe:transition-transform hover:scale-110">
          {%- render 'icon-play', classes: 'w-8 h-8 text-white -mr-1 ml-1' -%}
        </span>
      </button>
      <template>
        <video autoplay controls loop muted playsinline poster="{{ source_jpg }}" class="bg-wave-200 border-0 absolute w-full h-full rounded-xl">
          <source src="{{ source_mp4 }}" type="video/mp4">
          <source src="{{ source_webm }}" type="video/webm">
          {%- if source_jpg -%}
            <img
              src="{{ source_jpg | append: '&width=976' }}"
              alt=""
              width="{{ source_jpg.width }}"
              height="{{ source_jpg.height }}"
              loading="lazy"
            >
          {%- endif -%}
        </video>
      </template>
    </deferred-media>
  </div>
{%- else -%}
  <p class="sr-only">This product has no video</p>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.video.name",
  "class": "product-video",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "If the metafield 'PDP Video' has URLs added, the video displays here. This section cannot be removed, to remove the video for a product, remove the URLs from the metafield. When adding video URLs to the metafield, include and mp4, webm, and jpg poster file."
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.video.settings.description.label",
      "info": "t:sections.video.settings.description.info"
    },
    {
      "type": "textarea",
      "id": "wrapper_classes",
      "label": "Section classes",
      "default": "container"
    }
  ]
}
{% endschema %}
