<product-recently-viewed class="product-recently-viewed hidden {{ section.settings.section_classes }}">
  <div class="{{ section.settings.container_classes }}">
    <h2 class="{{ section.settings.heading_classes }}">{{ section.settings.heading | escape }}</h2>
    <ul class="{{ section.settings.wrapper_classes }}" role="list">
    </ul>
  </div>
</product-recently-viewed>

{% javascript %}
  class ProductRecentlyViewed extends HTMLElement {
    constructor() {
      super();

      this.displayRecentlyViewedProducts();
    }

    displayRecentlyViewedProducts() {
      let recentlyViewed = JSON.parse(localStorage.getItem('osea.recentlyViewed')) || [];
      
      if (recentlyViewed.length > 0) {
        recentlyViewed.forEach(function (productId) {
          // Fetch product details via AJAX or Liquid and display
          fetch(`/products/${productId}.js`)
            .then(response => response.json())
            .then(product => {
              console.log("product", product);
              // Add product details to a section on the page
              let productHtml = `<li>
                                   <a href="${product.url}">
                                     <img src="${product.featured_image}" alt="${product.title}">
                                     <p class="text-sm 2xs:text-base font-bold 2xs:font-medium !leading-[1.1] hover:underline mb-1">${product.title}</p>
                                     <p>${product.price / 100} ${Shopify.currency.active}</p>
                                     <a href="${product.url}" class="link">
                                       <span>View product</span>
                                     </a>
                                   </a>
                                 </li>`;
              document.querySelector('.product-recently-viewed ul').innerHTML += productHtml;
            });
        });
      }
    }
  }

  customElements.define('product-recently-viewed', ProductRecentlyViewed);
{% endjavascript %}

{% schema %}
{
  "name": "Recently Viewed",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.product-recommendations.settings.paragraph__1.content"
    },
    {
      "type": "textarea",
      "id": "section_classes",
      "label": "Section classes"
    },
    {
      "type": "textarea",
      "id": "container_classes",
      "label": "Container classes"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "You may also like",
      "label": "t:sections.product-recommendations.settings.heading.label"
    },
    {
      "type": "textarea",
      "id": "heading_classes",
      "label": "Heading classes"
    },
    {
      "type": "header",
      "content": "t:sections.product-recommendations.settings.header__2.content"
    },
    {
      "type": "textarea",
      "id": "wrapper_classes",
      "label": "Product cards wrapper classes"
    }
  ]
}
{% endschema %}
