<div class="product-routine {{ section.settings.section_classes }}">
  <div class="{{ section.settings.container_classes }}">
    <h2 class="{{ section.settings.heading_classes }}">{{ section.settings.heading | escape }}</h2>
    <ul class="{{ section.settings.wrapper_classes }}" role="list">
      {% for routine_product in product.metafields.custom.upsell_complete_routine.value %}
        <li class="{{ section.settings.card_classes }}">
          {%  assign product_color = product.metafields.custom.product_color_light %}
          <b class="{% if product_color != blank %}{{ product_color }}{% else %}bg-wave-200{% endif %} px-1 py-0.5 rounded-t uppercase w-full block text-center">Step {{ forloop.index }}</b>
          {% render 'product-card',
            card_product: routine_product,
            section_id: section.id
          %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Complete Your Routine",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "Powered by the 'Complete Your Routine' product metafield."
    },
    {
      "type": "textarea",
      "id": "section_classes",
      "label": "Section classes"
    },
    {
      "type": "textarea",
      "id": "container_classes",
      "label": "Container classes"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "You may also like",
      "label": "t:sections.product-recommendations.settings.heading.label"
    },
    {
      "type": "textarea",
      "id": "heading_classes",
      "label": "Heading classes"
    },
    {
      "type": "header",
      "content": "t:sections.product-recommendations.settings.header__2.content"
    },
    {
      "type": "textarea",
      "id": "wrapper_classes",
      "label": "Product cards wrapper classes"
    },
    {
      "type": "textarea",
      "id": "card_classes",
      "label": "Product card classes"
    }
  ]
}
{% endschema %}