{%- liquid
  if product.metafields.custom.product_color_light != blank
    assign product_color = product.metafields.custom.product_color_light
  else
    assign product_color = 'bg-wave-200'
  endif
-%}
{%- if product.metafields.custom.clinical_results != blank -%}
<div class="product-clinicals mb-12 {{ section.settings.section_classes }}">
  <div class="container">
    <div class="{{ product_color }} p-4 lg:p-6">
      <div class="flex flex-col sm:flex-row gap-4 lg:gap-8 relative">
        {%- if product.metafields.custom.clinical_images.value.count == 1 -%}
          {%- liquid
            assign first_image = product.metafields.custom.clinical_images.value | first
            assign image_src = first_image | image_url: width: 400, height: 500, crop: 'center'
            assign image_src_2x = first_image | image_url: width: 800, height: 1000, crop: 'center'
          -%}
          {% comment %} theme-check-disable RemoteAsset {% endcomment %}
          <img
            class="w-full h-80 sm:w-96 sm:h-96 object-cover rounded-lg sm:hidden lg:block"
            srcset="{% render 'imgix', src: image_src %} 1x, {% render 'imgix', src: image_src_2x %} 2x"
            src="{% render 'imgix', src: image_src_2x %}"
            loading="lazy"
            alt="{{ first_image.alt | escape }}"
            width="{{ first_image.width }}"
            height="{{ first_image.width | divided_by: 0.8 | round }}"
          >
          {% comment %} theme-check-enable RemoteAsset {% endcomment %}
        {%- endif -%}
        <div>
          <h3 class="relative font-bold text-2xl">{{ section.settings.header | replace: '®', '<sup>®</sup>' }}</h3>
          <p class="relative leading-tight tracking-wide mb-4">{{ section.settings.subheader }}</p>
          {%- for clinical_result in product.metafields.custom.clinical_results.value -%}
            <div class="{% unless forloop.last %}mb-4{% endunless %}">
              <h4 class="font-bold text-xs tracking-widest uppercase mb-1">{{ clinical_result.title }}</h4>
              <ul class="icon-list">
                {%- for stat in clinical_result.stats -%}
                  <li class="{% if product.metafields.custom.clinical_results.value.size > 1 %}mb-1{% else %}my-2{% endif %} before:content-['\2013'] before:mr-1">
                    {%- if stat.value != nil -%}
                      {%- if stat.value_type == 'text' -%}
                        <b class="font-bold text-lg leading-normal">{{ stat.value }}&nbsp;</b>
                      {%- else -%}
                        <b class="font-medium text-2xl leading-none">
                          {{- stat.value -}}
                          <small class="font-bold">{% if stat.value_type == 'percent' %}%{% else %}&nbsp;hours{% endif %}</small>
                        </b>
                      {%- endif -%}
                    {%- endif -%}
                    <span>{{ stat.description }}</span>
                  </li>
                {%- endfor -%}
              </ul>
              {%- if clinical_result.citations != blank -%}
                {%- assign citations_array = clinical_result.citations | split: '<br />' -%}
                <cite class="block mt-4 text-xs pr-4 sm:pr-6">
                  <ul class="leading-tight">
                    {%- for citation in citations_array -%}
                      <li>{{ citation }}</li>
                    {%- endfor -%}
                  </ul>
                </cite>
              {%- endif -%}
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
{%- endif -%}

{% schema %}
{
  "name": "Clinicals",
  "tag": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "section_classes",
      "label": "Section classes"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Header",
      "default": "Results You Can Sea"
    },
    {
      "type": "text",
      "id": "subheader",
      "label": "Subheader",
      "default": "Our products are clinically proven to ensure the highest levels of efficacy."
    }
  ]
}
{% endschema %}
