{{ 'section-product-reviews.css' | asset_url | stylesheet_tag }}

{%- if product.type != 'Sample' and product.type != 'Free Gift' -%}
  <div class="{{ section.settings.wrapper_classes }}">
    <span class="block relative -top-32 invisible" id="reviews"></span>
    <div class="container xl:max-w-screen-lg tracking-tight">
      <h2 class="text-center font-serif text-4xl mb-2">{{ section.settings.heading }}</h2>
      {%- if product.metafields.my_fields.reformulation_date != blank -%}
        <div class="bg-seaweed-400/10 p-6 leading-tight tracking-wide max-w-2xl mx-auto mb-5">
          <h3 class="font-medium mb-2">This product’s formula was upgraded on {{ product.metafields.my_fields.reformulation_date | date: "%B %e, %Y" }}</h3>
          {%- if product.metafields.my_fields.reformulation_details != blank -%}
            <p>{{ product.metafields.my_fields.reformulation_details }}</p>
          {%- endif -%}
        </div>
      {%- endif -%}
      <div data-oke-widget data-oke-reviews-product-id="shopify-{{ product.id }}">{{ product.metafields.okendo.ReviewsWidgetSnippet }}</div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Reviews",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "Reviews widget"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Customer Reviews"
    },
    {
      "type": "textarea",
      "id": "wrapper_classes",
      "label": "Section classes"
    }
  ]
}
{% endschema %}
