<div class="{{ section.settings.wrapper_classes }}">
  <h2 class="product-reviews__title h2">{{ section.settings.heading }}</h2>
  {%- if product.metafields.my_fields.reformulation_date != blank -%}
    <div class="product-reviews__reform">
      <h3>This product’s formula was upgraded on {{ product.metafields.my_fields.reformulation_date | date: "%B %d, %Y" }}</h3>
      {%- if product.metafields.my_fields.reformulation_details != blank -%}
        <p>{{ product.metafields.my_fields.reformulation_details }}</p>
      {%- endif -%}
    </div>
  {%- endif -%}
  <div
    id="stamped-main-widget"
    data-product-id="{{ product.id }}"
    data-name="{{ product.title | escape }}"
    data-url="{{ shop.url }}{{ product.url }}"
    data-image-url="{{ product.featured_image | image_url: "large" | replace: '?', '%3F' | replace: '&', '%26' }}"
    data-description="{{ product.description | escape }}"
    data-product-sku="{{ product.handle }}"
    data-product-title="{{ product.title }}"
    data-product-type="{{ product.type }}">
    {% if product.metafields.stamped.reviews != blank %}
      {{ product.metafields.stamped.reviews }}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Reviews",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "Stamped reviews widget"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Customer Reviews"
    },
    {
      "type": "textarea",
      "id": "wrapper_classes",
      "label": "Section classes",
      "default": "container mx-auto px-6"
    }
  ]
}
{% endschema %}
