{% if section.settings.section_heading != blank %}<h2 class="sr-only">{{ section.settings.section_heading }}</h2>{% endif %}
<div class="{{ section.settings.section_classes }}">
  <div
    class="{{ section.settings.container_classes }}"
    {% if section.settings.bg_image != blank %}
      style="background-image: url({{ section.settings.bg_image | image_url: width: 1420 }})"
    {% endif %}
  >
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'heading' -%}
          <h2 class="{{ block.settings.heading_classes }}" {{ block.shopify_attributes }}>{{ block.settings.heading_text }}</h2>
          {% if block.settings.subheading_text != blank %}<h3 class="{{ block.settings.subheading_classes }}" {{ block.shopify_attributes }}>{{ block.settings.subheading_text }}</h3>{% endif %}
        {%- when 'paragraph' -%}
          <div class="{{ block.settings.paragraph_classes }}" {{ block.shopify_attributes }}>{{ block.settings.paragraph_text }}</div>
        {%- when 'button' -%}
          <a
            {% if block.settings.button_link == blank %}role="link" aria-disabled="true"
            {% else %}href="{{ block.settings.button_link }}"{% endif %}
            {% if block.settings.target_blank %}target="_blank"{% endif %}
            {% if block.settings.button_aria_label != blank %}aria-label="{{ block.settings.button_aria_label }}"{% endif %}
            class="{{ block.settings.button_classes }}"
            {{ block.shopify_attributes }}
            
          >
            {{ block.settings.button_label | escape }}
            {%- if block.settings.button_icon -%}
              {{- block.settings.button_icon -}}
            {%- endif -%}
          </a>
        {%- when 'image' -%}
          {%- if block.settings.image_mobile != blank -%}
            {%- if block.settings.image_link != blank -%}
              <a
                href="{{ block.settings.image_link }}"
                class="block"
                aria-label="{{ block.settings.image_aria_label }}"
              >
            {%- endif -%}
              {% comment %}theme-check-disable ImgLazyLoading, RemoteAsset {% endcomment %}
              {%- liquid
                assign mobile_image_src = block.settings.image_mobile | image_url: width: 400
                assign mobile_image_src_2x = block.settings.image_mobile | image_url: width: 800
                assign desktop_image_src = block.settings.image_desktop | image_url: width: 800
                assign desktop_image_src_2x = block.settings.image_desktop | image_url: width: 1600
              -%}
              {%- if block.settings.image_mobile contains '.gif' -%}
                <img
                  srcset="{{ mobile_image_src }} 1x, {{ mobile_image_src_2x }} 2x"
                  src="{{ mobile_image_src }}"
                  alt="{{ block.settings.image.alt }}"
                  height="{{ block.settings.image.height }}"
                  width="{{ block.settings.image.width }}"
                  class="{{ block.settings.image_classes }}"
                  {% if block.settings.is_lazy %}loading="lazy"{% endif %}
                >
              {%- else -%}
                <picture>
                  {%- if block.settings.image_mobile != blank -%}
                    <source
                      srcset="{{ mobile_image_src }} 1x, {{ mobile_image_src_2x }} 2x"
                      media="(max-width: 639px)"
                    >
                  {%- endif %}
                  {%- if block.settings.image_desktop != blank -%}
                    <source
                      srcset="{{ desktop_image_src }} 1x, {{ desktop_image_src_2x }} 2x"
                      media="(min-width: 640px)"
                    >
                  {%- endif %}
                  <img
                    srcset="{{ mobile_image_src }} 1x, {{ mobile_image_src_2x }} 2x"
                    src="{{ mobile_image_src_2x }}"
                    {% if block.settings.is_lazy %}loading="lazy"{% endif %}
                    alt="{{ block.settings.image_mobile.alt | escape }}"
                    width="{{ block.settings.image_mobile.width }}"
                    height="{{ block.settings.image_mobile.width | divided_by: block.settings.image_mobile.aspect_ratio | round }}"
                    class="{{ block.settings.image_classes }} block"
                  >
                </picture>
              {%- endif -%}
              {% comment %}theme-check-enable ImgLazyLoading, RemoteAsset {% endcomment %}
            {%- if block.settings.image_link != blank -%}
              </a>
            {%- endif -%}
          {%- endif -%}
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Rich text",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section heading"
    },
    {
      "type": "textarea",
      "id": "section_classes",
      "label": "Section classes"
    },
    {
      "type": "textarea",
      "id": "container_classes",
      "label": "Container classes"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background image (optional)"
    },
    {
      "type": "paragraph",
      "content": "For documentation and a full list of available utility classes click here."
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "header",
          "content": "Main Heading"
        },
        {
          "type": "html",
          "info": "This field takes HTML",
          "id": "heading_text",
          "label": "Text"
        },
        {
          "type": "textarea",
          "id": "heading_classes",
          "label": "Classes"
        },
        {
          "type": "header",
          "content": "Subheading"
        },
        {
          "type": "html",
          "info": "This field takes HTML",
          "id": "subheading_text",
          "label": "Text"
        },
        {
          "type": "textarea",
          "id": "subheading_classes",
          "label": "Classes"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "Paragraph",
      "settings": [
        {
          "type": "html",
          "id": "paragraph_text",
          "info": "This field takes HTML",
          "label": "Text"
        },
        {
          "type": "textarea",
          "id": "paragraph_classes",
          "label": "Classes"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "text",
          "id": "button_aria_label",
          "label": "ARIA label"
        },
        {
          "type": "checkbox",
          "id": "target_blank",
          "label": "Open in new tab"
        },
        {
          "type": "html",
          "id": "button_icon",
          "info": "Format: SVG",
          "label": "Button icon"
        },
        {
          "default": "button button-primary",
          "type": "textarea",
          "id": "button_classes",
          "label": "Classes"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image (mobile)"
        },
        {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "Image (desktop)"
        },
        {
          "type": "checkbox",
          "default": true,
          "id": "is_lazy",
          "label": "Lazy load image"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Image link"
        },
        {
          "type": "text",
          "id": "image_aria_label",
          "label": "ARIA label",
          "info": "This is required if your image is linked. Describe the destination on click. Ex: 'Go to shop page'"
        },
        {
          "type": "textarea",
          "default": "w-full",
          "id": "image_classes",
          "label": "Image classes"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rich text",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
