<div class="background">
  <div class="{{ section.settings.section_classes }}">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'heading' -%}
          <h2 class="{{ block.settings.heading_classes }}" {{ block.shopify_attributes }}>{{ block.settings.heading_text | escape }}</h2>
        {%- when 'paragraph_text' -%}
          <div class="{{ block.settings.paragraph_classes }}" {{ block.shopify_attributes }}>{{ block.settings.paragraph_text }}</div>
        {%- when 'button' -%}
          <a {% if block.settings.button_link == blank %}role="link" aria-disabled="true"{% else %}href="{{ block.settings.button_link }}"{% endif %} class="{{ block.settings.button_classes }}" {{ block.shopify_attributes }}>
            {{ block.settings.button_label | escape }}
          </a>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Rich text",
  "tag": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "section_classes",
      "label": "Classes"
    },
    {
      "type": "paragraph",
      "content": "For documentation and a full list of available utility classes click here."
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "html",
          "info": "This field takes HTML",
          "id": "heading_text",
          "label": "Text"
        },
        {
          "type": "textarea",
          "id": "heading_classes",
          "label": "Classes"
        }
      ]
    },
    {
      "type": "paragraph_text",
      "name": "Paragraph",
      "settings": [
        {
          "type": "html",
          "id": "paragraph_text",
          "info": "This field takes HTML",
          "label": "Text"
        },
        {
          "type": "textarea",
          "id": "paragraph_classes",
          "label": "Classes"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "default": "button button-primary",
          "type": "textarea",
          "id": "button_classes",
          "label": "Classes"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rich text",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
