<div class="{{ section.settings.section_classes }}">
  <div class="{{ section.settings.container_classes }}">
    <h2 class="text-center mb-4 uppercase tracking-widest font-medium">{{ section.settings.title }}</h2>
    <div id="events" class="relative py-6">
      {%- for block in section.blocks -%}
        {%- if block.settings.image != blank -%}
          <img
            srcset="{{ block.settings.image | image_url: width: 400 }} 1x,
              {{ block.settings.image | image_url: width: 800 }} 2x"
            src="{{ block.settings.image | image_url: width: 800 }}"
            loading="lazy"
            alt="{{ block.settings.image.alt | escape }}"
            width="{{ block.settings.image.width }}"
            height="{{ block.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
            class="{{ block.settings.image_classes }}"
          >
        {%- endif -%}
    {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Timeline",
  "tag": "section",
  "settings": [
    {
      "default": "Our Timeline",
      "id": "title",
      "label": "Title",
      "type": "text"
    },
    {
      "id": "section_classes",
      "label": "Section classes",
      "type": "textarea"
    },
    {
      "id": "container_classes",
      "label": "Container classes",
      "type": "textarea"
    }
  ],
  "blocks": [
    {
      "name": "Event",
      "type": "event",
      "settings": [
        {
          "content": "Image settings",
          "type": "header"
        },
        {
          "id": "image",
          "info": "Image size: 800w",
          "label": "Image",
          "type": "image_picker"
        },
        {
          "id": "image_classes",
          "label": "Image classes",
          "type": "textarea"
        },
        {
          "content": "Text settings",
          "type": "header"
        },
        {
          "id": "date",
          "label": "Date",
          "type": "text"
        },
        {
          "id": "paragraph",
          "info": "This field takes HTML",
          "label": "Paragraph text",
          "type": "html"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Timeline"
    }
  ]
}
{% endschema %}
