{% if section.settings.section_heading != blank %}<h2 class="sr-only">{{ section.settings.section_heading }}</h2>{% endif %}
{%- if section.settings.video_mp4 != nil or section.settings.video_webm != nil -%}
  <div class="video-section {{ section.settings.section_classes }}">
    <noscript>
      <div class="relative {{ section.settings.container_classes }}"
        {% if section.settings.cover_image != nil %} style="padding-bottom: 44%;"{% endif %}
      >
        <a href="{{ section.settings.video_mp4.sources.first.url }}" class="absolute w-full h-full media media-transparent media-landscape{% if section.settings.cover_image == blank %} video-section__placeholder{% endif %}">
          {%- if section.settings.cover_image != nil -%}
            <picture>
              <source
                srcset="{{ section.settings.cover_image | image_url: width: 976 }} 1x,
                  {{ section.settings.cover_image | image_url: width: 1400 }} 2x"
                media="(min-width: 640px)"
              >
              <source
                srcset="{{ section.settings.cover_image | image_url: width: 366 }} 1x,
                  {{ section.settings.cover_image | image_url: width: 732 }} 2x"
                media="(min-width: 0)"
              >
              <img
                srcset="{{ section.settings.cover_image | image_url: width: 366 }} 1x,
                  {{ section.settings.cover_image | image_url: width: 732 }} 2x"
                src="{{ section.settings.cover_image | image_url: width: 732 }}"
                alt="Loading {{ section.settings.description | escape }}"
                loading="lazy"
                width="1280"
                height="1000"
              >
            </picture>
          {%- else -%}
            {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
          {%- endif -%}
        </a>
      </div>
    </noscript>
    <div class="{{ section.settings.container_classes }}">
      <deferred-media class="relative deferred-media no-js-hidden overflow-visible" data-media-id="{{ section.id }}"
        {% if section.settings.cover_image != nil %} style="padding-bottom: 44%;"{% endif %}
      >
        <button
          id="Deferred-Poster-Modal-{{ section.id }}"
          class="absolute w-full h-full deferred-media__poster"
          type="button"
        >
          {%- if section.settings.cover_image != nil -%}
            <picture>
              <source
                srcset="{{ section.settings.cover_image | image_url: width: 976 }} 1x,
                  {{ section.settings.cover_image | image_url: width: 1400 }} 2x"
                media="(min-width: 640px)"
              >
              <source
                srcset="{{ section.settings.cover_image | image_url: width: 366 }} 1x,
                  {{ section.settings.cover_image | image_url: width: 732 }} 2x"
                media="(min-width: 0)"
              >
              <img
                srcset="{{ section.settings.cover_image | image_url: width: 366 }} 1x,
                  {{ section.settings.cover_image | image_url: width: 732 }} 2x"
                src="{{ section.settings.cover_image | image_url: width: 732 }}"
                alt="Loading {{ section.settings.description | escape }}"
                loading="lazy"
                width="1280"
                height="1000"
                class="object-cover"
              >
            </picture>
          {%- else -%}
            {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
          {%- endif -%}
          <span class="deferred-media__poster-button bg-white/50 rounded-full flex items-center justify-center h-20 w-20 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 scale-100 z-10 motion-safe:transition-transform hover:scale-110">
            {%- render 'icon-play', classes: 'w-8 h-8 text-white -mr-1 ml-1' -%}
          </span>
        </button>
        <template>
          <video autoplay controls loop playsinline poster="{{ section.settings.cover_image }}" class="bg-wave-200 border-0 absolute w-full h-full border-none object-cover">
            {% assign video_poster_url = section.settings.video_mp4.preview_image | image_url: width: 1200 %}
            <source src="{{ section.settings.video_mp4.sources.first.url }}" type="video/mp4">
            <source src="{{ section.settings.video_webm.sources.first.url }}" type="video/webm">
            {% comment %} theme-check-disable RemoteAsset {% endcomment %}
            <img
              src="{{ video_poster_url }}"
              alt=""
              width="{{ section.settings.video_mp4.preview_image.width }}"
              height="{{ section.settings.video_mp4.preview_image.height }}"
              loading="lazy"
            >
            {% comment %} theme-check-enable RemoteAsset {% endcomment %}
          </video>
        </template>
      </deferred-media>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.video.name",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section heading"
    },
    {
      "type": "textarea",
      "id": "section_classes",
      "label": "Section classes"
    },
    {
      "type": "textarea",
      "id": "container_classes",
      "label": "Container classes"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.video.settings.cover_image.label"
    },
    {
      "type": "paragraph",
      "content": "Video files must be optimized outside shopify."
    },
    {
      "type": "video",
      "id": "video_mp4",
      "label": "Video (mp4)"
    },
    {
      "type": "video",
      "id": "video_webm",
      "label": "Video (webm)"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.video.settings.description.label",
      "info": "t:sections.video.settings.description.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.video.presets.name"
    }
  ]
}
{% endschema %}
